<%= simple_form_for(@nfc_request) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :id %>
    <%= f.input :qiwo_product_id %>
    <%= f.input :qiwo_enterprise_id %>
    <%= f.input :sys_user_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
