<h1>Listing nfc_requests</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Qiwo product</th>
    <th>Qiwo enterprise</th>
    <th>Sys user</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @nfc_requests.each do |nfc_request| %>
  <tr>
    <td><%= nfc_request.id %></td>
    <td><%= nfc_request.qiwo_product_id %></td>
    <td><%= nfc_request.qiwo_enterprise_id %></td>
    <td><%= nfc_request.sys_user_id %></td>
    <td><%= link_to 'Show', nfc_request %></td>
    <td><%= link_to 'Edit', edit_nfc_request_path(nfc_request) %></td>
    <td><%= link_to 'Destroy', nfc_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Nfc request', new_nfc_request_path %>
