<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @nfc_request.id %>
</p>

<p>
  <b>Qiwo product:</b>
  <%= @nfc_request.qiwo_product_id %>
</p>

<p>
  <b>Qiwo enterprise:</b>
  <%= @nfc_request.qiwo_enterprise_id %>
</p>

<p>
  <b>Sys user:</b>
  <%= @nfc_request.sys_user_id %>
</p>


<%= link_to 'Edit', edit_nfc_request_path(@nfc_request) %> |
<%= link_to 'Back', nfc_requests_path %>
