    <%= render "shared/topmenu" %>
	<!-- END HEADER -->
	<!-- BEGIN CONTAINER -->
<div class="clearfix"></div>
	<div class="page-container">
		<!-- BEGIN SIDEBAR -->
	   <%= render "shared/leftmenu" %>	
		<!-- END SIDEBAR -->
		<!-- BEGIN PAGE -->
		<div class="page-content">
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<%= render "shared/colorsettings" %>
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<!-- BEGIN PAGE CONTAINER-->
			<div class="container-fluid">
				<!-- BEGIN PAGE HEADER-->
				<div class="row-fluid">
					<div class="span12">
						<!-- BEGIN STYLE CUSTOMIZER -->
						
						<!-- END BEGIN STYLE CUSTOMIZER -->    
						<!-- BEGIN PAGE TITLE & BREADCRUMB-->
						<h3 class="page-title">
							Coinless clientes <small>Administre las cotizaciones de sus clientes</small>
						</h3>
						<ul class="breadcrumb">
							<li>
								<i class="icon-home"></i>
								<a href="index.html">Inicio</a> 
								<i class="icon-angle-right"></i>
							</li>
							<li><a href="#">Mis clientes</a></li>
							
						</ul>
						<!-- END PAGE TITLE & BREADCRUMB-->
					</div>
				</div>
				 <div class="row">
                  <div class="col-lg-12 news-blocks">
                        <span>Instrucciones</span>
                        
                        <i class="icon-tags"></i>
                        <p>En esta sección, podrás hacer cotizaciones, ajustar precio de venta, ingresar número de guía, revisar el estatus y detalle de las ventas y comunicarte con tus clientes.
                        Todos los comentarios y notificaciones de las transacciones, se realizan a través de Facebook Messenger.
                        Recuerda que Coinless no te cobra comisión por venta concluida.
                        </p>
                        
                        
                   <img src="/white_logo_transparent.png" alt="Qiwo" class="top-news-icon" style="width:50px;height:50px" />
                        <a class="fancybox-media" href="" id="welcome-video"><h4><i class="icon-youtube-play"></i> Video introductorio como comunicarte con tu comprador y recibir pagos</h4></a>
                     </div>   
                     </div>
				<!-- END PAGE HEADER-->
				<div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-advance table-hover">
                        <thead>
                           <tr>
                              <th><i class="icon-tag"></i> Producto</th>
                              <th class="hidden-xs"><i class="icon-table"></i> Cantidad</th>
                              <th><i class="icon-truck"></i> Costo de envio</th>
                              <th><i class="icon-barcode"></i> Número de guía del envio</th>
                               <th><i class="icon-money"></i> Total de la transacción</th>
                               <th><i class="icon-info"></i> Estatus de la transacción</th>
                               <th><i class="icon-calendar"></i> Fecha cotización</th>
                               <th><i class="icon-comment"></i> Centro de mensajes</th>
                               <th><i class="icon-rocket"></i> Acciones</th>
                              
                           </tr>
                        </thead>
                        <tbody>
                        <% hayGuiasDisponibles=ShippingGuide.where(:id_from=>session[:activeUser].id).where(:id_to=>nil) %>
                        <% @qiwo_clients.each do |qiwo_client| %>
                        <% if qiwo_client.kart_state==4 %>
                          <tr class="danger">
                        <% else %>
                          <tr>
                        <% end %>
                           
                               <% producto=QiwoProduct.find_by_id(qiwo_client.qiwo_product_id) %>
                               <% if producto==nil 
                                next 
                                end 
                                userClient=Sys_User.where(:id=>qiwo_client.user_id).last%>

                              <td><a href="/searches/<%= qiwo_client.qiwo_product_id  %>/edit"  data-target="#ajax-results-<%= qiwo_client.qiwo_product_id  %>" data-toggle="modal" id="modal-href-<%= qiwo_client.qiwo_product_id  %>" class="popovers" data-html="true" data-trigger="hover" data-placement="right" data-content='<img class="avatar img-responsive" alt="" src="<%= userClient.avatar %>" />Comprado por: <%= userClient.name %> <%= userClient.last_name %></br>Folio de compra: <%= qiwo_client.id %></br>Fecha: <%= qiwo_client.created_at.strftime("%d/%m/%Y tiempo %I:%M%p")%>'><%= producto.name %></a></td>

                              <td class="hidden-xs"><%= qiwo_client.quantity %></td>
                              <td>$<a href="#" class="shippingcost" id="shipping-cost-<%= qiwo_client.id %>" data-type="text" data-pk="1" data-placement="right" data-placeholder="Required" data-original-title="Ingresa el costo del envio"><%= qiwo_client.shipping_cost %></a>
                              </td>

                              <td class="hidden-xs"><a href="#" id="shipping-guide-<%= qiwo_client.id %>" class="shippingguide" data-type="text" data-pk="1" data-placement="right" data-placeholder="Required" data-original-title="Ingresa la guia del envio">
                              <%= qiwo_client.shipping_guide %><br>
                              <% if qiwo_client.shipping_guide=="SIN GUIA" and qiwo_client.kart_state>1 and qiwo_client.kart_state<4 and hayGuiasDisponibles.length>0 and foliosEnviosId().index(qiwo_client.id)==nil%>
                              <a href="javascript:generateGuide(<%= qiwo_client.id %>)" class="btn blue btn-sm" data-confirm="Se va a generar una guia de redpack de las que tienes asignadas, primero debes introducir la dirección de donde va a salir este envio en el menú de recolección, tu cliente debe introducir la dirección de recepción también en ese menú, no te preocupes si alguno de los dos no la tiene, le notificaremos a su FB inbox para que la completen antes de generar la guia. ¿Deseas continuar?" id="gen-btn-<%= qiwo_client.id %>">Generar guia Redpack</a>
                              <% end %>
                              </a>
                              </td>
                               <% if producto.sale_price!=nil %>
<% #identificamos el mayoreo en esta parte
                              if producto.major_quantity==nil or producto.major_quantity==""
                                producto.major_quantity=0
                                producto.save
                              end
                              if qiwo_client.quantity>=producto.major_quantity and producto.major_quantity>0 %>
                              
                            <td>$<%= (producto.major_price+(producto.tax==1? getTax(producto.sale_price) : 0))*qiwo_client.quantity.to_i %> <i class="icon-dropbox"></i> MAYOREO<span class="label label-sm label-success label-mini"></span></td>    
                              <% else %>
                              
                            <td>$<%= (producto.sale_price+(producto.tax==1? getTax(producto.sale_price) : 0))*qiwo_client.quantity.to_i %> <span class="label label-sm label-success label-mini"></span></td>
                              <% end %>

                               <% else %>
                               <td>-SIN PRECIO-<span class="label label-sm label-success label-mini"></span></td>
                               <% end %>
                            <td><% if qiwo_client.kart_state==1 %>
                            <span class="label label-sm label-danger">No completada</span>
                            <% elsif qiwo_client.kart_state==3 %>
                            <span class="label label-sm label-success">Aprobada</span>
                            <% elsif qiwo_client.kart_state==2 %>
                            <span class="label label-sm label-warning">Deposito detectado</span>
                            <% elsif qiwo_client.kart_state==4 %>
                            <span class="label label-sm label-danger">Cancelada</span>
                            <% end %> 
                            <span class="label label-sm label-success label-mini"></span></td>
                              <td><%= qiwo_client.created_at %></td>
                              <td><a href="/qiwo_reviews/<%= qiwo_client.id %>/edit" class="btn btn-info" data-target="#ajax-comments-internal-<%= qiwo_client.id %>" data-toggle="modal"></i><span class="badge badge-warning"><%= QiwoReview.find_all_by_sale_id(qiwo_client.id).count %></span> <i class="icon-envelope"> Contactar comprador</a></td>

                               <td>
                               <% if qiwo_client.kart_state<3 %>
                               <a href="javascript:saleCompleted(<%= qiwo_client.id %>);" class="btn green btn-xs blue-stripe" rel="nofollow" data-confirm="Si continua la compra se va a marcar como completada">Marcar como completa <i class="icon-ok"></i></a>
                               <% end %>
                               <% facturasEnlazadas=QiwoFacturas.where(:qiwo_log_kart_id=>qiwo_client.id) 
                               estaCancelada=false %>
                               <% facturasEnlazadas.each do |singleFacturaEnlazada|  %>
                               <% if singleFacturaEnlazada.status==2 
                                  estaCancelada=true 
                                  end %>
                                <% if singleFacturaEnlazada.status==1 or singleFacturaEnlazada.status==2 %>
                                      <a href="https://coinless.network.mx/qiwo_log_karts/descargarXML?facturaId=<%= singleFacturaEnlazada.token %>" class="btn green btn-xs popovers" data-toggle="modal" data-trigger="hover" data-placement="top" data-content="Descargar XML."><i class="icon-arrow-down"></i> Factura XML</a>
                                      <a href="https://coinless.network.mx/qiwo_log_karts/descargarPDF?facturaId=<%= singleFacturaEnlazada.token %>" class="btn green btn-xs popovers" data-toggle="modal" data-trigger="hover" data-placement="top" data-content="Descargar PDF."><i class="icon-arrow-down"></i> Factura PDF</a>

                                  <% end %>
                                  <% if singleFacturaEnlazada.status==3 %>
                                      <a href="https://coinless.network.mx/qiwo_log_karts/descargarXML?facturaId=<%= singleFacturaEnlazada.token %>" class="btn green btn-xs popovers" data-toggle="modal" data-trigger="hover" data-placement="top" data-content="Descargar XML."><i class="icon-arrow-down"></i> Nota de credito XML</a>
                                      <a href="https://coinless.network.mx/qiwo_log_karts/descargarPDF?facturaId=<%= singleFacturaEnlazada.token %>" class="btn green btn-xs popovers" data-toggle="modal" data-trigger="hover" data-placement="top" data-content="Descargar PDF."><i class="icon-arrow-down"></i> Nota de credito PDF</a>

                                  <% end %>
                               <% end %>
                               <% if estaCancelada==false %>
                               <a href="javascript:cancelQuote(<%= qiwo_client.id %>);" class="btn red btn-xs blue-stripe" rel="nofollow" data-confirm="Si continua se va a desvincular TODA la venta de la factura electrónica, se cancelara ante el SAT la venta y se reintegraran todos los artículos a stock.">Cancelar factura <i class="icon-bitbucket"></i></a>
                               <% end %>
                               <% if qiwo_client.kart_state>2 and qiwo_client.kart_state<4 %>
                               <a href="javascript:generateRollBack(<%= qiwo_client.id %>,<%= qiwo_client.quantity %>);" class="btn btn-primary btn-xs blue-stripe" rel="nofollow" data-confirm="Si continua se van a desvincular los <%= qiwo_client.quantity %> productos vendidos de la factura electrónica en caso de existir, y se notificara al SAT generando una nota de crédito. Adicionalmente en el balance general se realizaran los movimientos de devolucion. Para opciones avanzadas utilice el menú de devoluciones.">Efectuar devolución <i class="icon-signout"></i></a>
                               <% end %>
                               </td>
                               </tr>
                               <div class="modal fade" id="ajax-results-<%= qiwo_client.qiwo_product_id  %>" tabindex="-1" role="basic" aria-hidden="true">
                    <img src="/assets/img/ajax-modal-loading.gif" alt="" class="loading">
                </div>
                <div class="modal fade" id="ajax-comments-internal-<%= qiwo_client.id %>" tabindex="-1" role="basic" aria-hidden="true">
                    <img src="/assets/img/ajax-modal-loading.gif" alt="" class="loading">
                </div>
                               <% end %>
                           
                        </tbody>
                        </table>
                     </div>
                      <div class='apple_pagination'>
    <%= will_paginate @qiwo_clients %>        
</div>      
				</div>
			</div>
			<!-- END PAGE CONTAINER-->    
		</div>
		<!-- END PAGE -->
	</div>
	<!-- END CONTAINER -->
	<!-- BEGIN FOOTER -->
	<div class="footer">
		<div class="footer-inner">
			2020 &copy; Coinless.
		</div>
		<div class="footer-tools">
			<span class="go-top">
			<i class="icon-angle-up"></i>
			</span>
		</div>
	</div>
	