<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @qiwo_client.id %>
</p>

<p>
  <b>User:</b>
  <%= @qiwo_client.user_id %>
</p>

<p>
  <b>Cotizacion number:</b>
  <%= @qiwo_client.cotizacion_number %>
</p>


<%= link_to 'Edit', edit_qiwo_client_path(@qiwo_client) %> |
<%= link_to 'Back', qiwo_clients_path %>
