<h1>Listing mailtemplates</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Usage</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mailtemplates.each do |mailtemplate| %>
  <tr>
    <td><%= mailtemplate.content %></td>
    <td><%= mailtemplate.usage %></td>
    <td><%= link_to 'Show', mailtemplate %></td>
    <td><%= link_to 'Edit', edit_mailtemplate_path(mailtemplate) %></td>
    <td><%= link_to 'Destroy', mailtemplate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mailtemplate', new_mailtemplate_path %>
