<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @mailtemplate.content %>
</p>

<p>
  <b>Usage:</b>
  <%= @mailtemplate.usage %>
</p>


<%= link_to 'Edit', edit_mailtemplate_path(@mailtemplate) %> |
<%= link_to 'Back', mailtemplates_path %>
