<%= simple_form_for(@telegram) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :phone %>
    <%= f.input :auth_code %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
