<h1>Listing telegrams</h1>

<table>
  <tr>
    <th>Phone</th>
    <th>Auth code</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @telegrams.each do |telegram| %>
  <tr>
    <td><%= telegram.phone %></td>
    <td><%= telegram.auth_code %></td>
    <td><%= link_to 'Show', telegram %></td>
    <td><%= link_to 'Edit', edit_telegram_path(telegram) %></td>
    <td><%= link_to 'Destroy', telegram, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Telegram', new_telegram_path %>
