<p id="notice"><%= notice %></p>

<p>
  <b>Phone:</b>
  <%= @telegram.phone %>
</p>

<p>
  <b>Auth code:</b>
  <%= @telegram.auth_code %>
</p>


<%= link_to 'Edit', edit_telegram_path(@telegram) %> |
<%= link_to 'Back', telegrams_path %>
