<%= simple_form_for(@redpack) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :originated_from %>
    <%= f.input :delivered_to %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
