<p id="notice"><%= notice %></p>

<p>
  <b>Originated from:</b>
  <%= @redpack.originated_from %>
</p>

<p>
  <b>Delivered to:</b>
  <%= @redpack.delivered_to %>
</p>


<%= link_to 'Edit', edit_redpack_path(@redpack) %> |
<%= link_to 'Back', redpacks_path %>
