<%= simple_form_for(@qiwo_order) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :owner_user_id %>
    <%= f.input :salesforce_user_id %>
    <%= f.input :order_state %>
    <%= f.input :factura_id %>
    <%= f.input :qiwo_enterprise_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
