    <%= render "shared/topmenu" %>
    <!-- END HEADER -->
    <!-- BEGIN CONTAINER -->
    <div class="clearfix"></div>
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
       <%= render "shared/leftmenu" %>  
        <!-- END SIDEBAR -->
        <!-- BEGIN PAGE -->
        <div class="page-content">
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <%= render "shared/colorsettings" %>
            <!-- BEGIN PAGE CONTAINER-->
                <!-- BEGIN PAGE HEADER-->
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN STYLE CUSTOMIZER -->
                        <h3 class="page-title">
                            Mis ventas directas <small>Vista general</small>
                        </h3>
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                                <a href="index.html">Inicio</a> 
                                <i class="icon-angle-right"></i>
                            </li>
                            <li><a href="#">Ventas directas</a></li>
                            <li class="pull-right">
                     <div id="dashboard-report-range" class="dashboard-date-range tooltips" data-placement="top" data-original-title="Change dashboard date range">
                        <i class="icon-calendar"></i>
                        <span></span>
                        <i class="icon-angle-down"></i>
                     </div>
                  </li>
                        </ul>
                        <!-- END PAGE TITLE & BREADCRUMB-->
                    </div>
                </div>
                
                <div class="row">
                  <div class="col-lg-12 news-blocks">
                        <span>Instrucciones</span>
                        
                        <i class="icon-tags"></i>
                        <p>En esta sección, podrás visualizar las ventas realizadas por el punto de venta, asi como poder cancelar o facturar.
                        </p>
                        
                        <img src="/white_logo_transparent.png" alt="Qiwo" class="top-news-icon" style="width:50px;height:50px" />
                        <a class="fancybox-media" href="" id="welcome-video"><h4><i class="icon-youtube-play"></i> Video introductorio para crear tu tienda</h4></a>
                     </div>
                     </div>


                <!-- END PAGE HEADER-->
                <div>
                    <div class="dd" id="nestable_list_orders">
                        <ol class="dd-list">
                        <% @qiwo_orders.each do |singleOrder| %>
                        <% whoSold=Sys_User.where(:id=>singleOrder.salesforce_user_id).last %>
                        <% elementosDeOrden=QiwoLogKart.where(:qiwo_order_id=>singleOrder.id) %>
                        <% totalDeVenta=number_with_precision(QiwoLogKart.where(:qiwo_order_id=>singleOrder.id).sum(:final_total),:precision=>2) %>

                        <li class="dd-item dd3-item" data-id="<%= singleOrder.id %>">
                              <div class="dd-handle dd3-handle"></div>
                                <div class="dd3-content popovers" data-trigger="hover" data-placement="left" data-html="true" data-content="<img class='avatar img-responsive' alt='' src='<%= whoSold.avatar %>' />Folio de venta: O-<%= singleOrder.id %><br>Vendido por: <%= whoSold.name %> <%= whoSold.last_name %>">Orden <%= singleOrder.id %> , Total: $<%= totalDeVenta %>
                                <% facturaEnOrden=QiwoFacturas.where(:qiwo_order_id=>singleOrder.id) %>
                                <% if singleOrder.order_state>10 and singleOrder.order_state<=13 and facturaEnOrden.length==0 %>
                                    <a href="javascript:makeQuotation(<%= singleOrder.id %>);" class="btn btn-xs green" data-toggle="modal"><i class="icon-list-ol"></i> Facturable</a>
                                    
                                <% end %>
                                <% controlCancel=false %>
                                <% facturaEnOrden.each do |singleFacturaEnOrden| %>
                                    <% if singleFacturaEnOrden.status==2 
                                        controlCancel=true 
                                    end %>
                                    <% if singleFacturaEnOrden.status==1 %>
                                        / <a href="https://coinless.network/qiwo_log_karts/descargarXML?facturaId=<%= singleFacturaEnOrden.token %>">Factura XML</a> / <a href="https://coinless.network/qiwo_log_karts/descargarPDF?facturaId=<%= singleFacturaEnOrden.token %>">Factura PDF</a>
                                    <% end %>
                                    <% if singleFacturaEnOrden.status==3 %>
                                        / <a href="https://coinless.network/qiwo_log_karts/descargarXML?facturaId=<%= singleFacturaEnOrden.token %>">Nota credito XML</a> / <a href="https://coinless.network/qiwo_log_karts/descargarPDF?facturaId=<%= singleFacturaEnOrden.token %>">Nota credito PDF</a>
                                    <% end %>
                                    
                                <% end %>
                                <% if controlCancel==false and facturaEnOrden.length>0 and elementosDeOrden.length>0%>
                                <a href="javascript:cancelQuote(<%= elementosDeOrden[0].id %>);" class="btn red btn-xs " rel="nofollow" data-confirm="Si continua se va a desvincular TODA la venta de la factura electrónica, se cancelara ante el SAT la venta y se reintegraran todos los artículos a stock.">Cancelar factura <i class="icon-bitbucket"></i></a> 
                                <% end %>
                                </div>
                                
                                <% if elementosDeOrden.length>0 %>
                                    <ol class="dd-list">
                                    <% elementosDeOrden.each do |singleElementoDeOrden| %>
                                    <% producto=QiwoProduct.where(:id=>singleElementoDeOrden.qiwo_product_id).last %>
                                        <% if producto!=nil %>
                                        
                                            <li class="dd-item dd3-item" data-id="<%= singleElementoDeOrden.id %>">
                                                <div class="dd-handle dd3-handle"></div>
                                                <div class="dd3-content"><%= singleElementoDeOrden.quantity %> x <%= producto.name %> / Total: $<%= singleElementoDeOrden.final_total %> 
                                                <% if singleElementoDeOrden.quantity>0 and singleOrder.order_state>10 and singleOrder.order_state<=13 %>
                                                <a href="javascript:generateRollBack(<%= singleElementoDeOrden.id %>,<%= singleElementoDeOrden.quantity %>);" class="btn btn-primary btn-xs blue-stripe" rel="nofollow" data-confirm="Si continua se van a desvincular los <%= singleElementoDeOrden.quantity %> productos vendidos de la factura electrónica en caso de existir, y se notificara al SAT generando una nota de crédito. Adicionalmente en el balance general se realizaran los movimientos de devolucion. Para opciones avanzadas utilice el menú de devoluciones.">Efectuar devolución <i class="icon-signout"></i></a>
                                                <% end %>
                                                </div>
                                            </li>
                                        <% end %>
                                    <% end %>
                                    </ol>
                                <% end %>
                                
                                
                           </li>
                        <% end %>
                        </ol>
                     </div>
                     </div>
            
                    
                                            <!-- Only required for left/right tabs -->
                        
                                            
                                                
                                            
                        <div class='apple_pagination'>
                            <%= will_paginate @qiwo_orders %>        
                        </div>                    
                    
                    
                    
            <!-- END PAGE CONTAINER-->    
        
        <!-- END PAGE -->
    </div>
    </div>
            <!-- END PAGE CONTAINER-->    
        
        <!-- END PAGE -->

    
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div id="responsiv" class="modal fade" tabindex="-1" role="basic" aria-hidden="true">
                     <div class="modal-dialog modal-full">
                    <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h3>Factura electronica</h3>
                    <span>Coinless le permite buscar usando el RFC para simplificar la captura de datos, en caso de no encontrar información complete los datos requeridos.</span>
                  </div>
                  <div class="modal-body">


                                        
                <!-- BEGIN FORM-->
                                        <%= render "qiwo_enterprises/form" %>
                <!-- END FORM-->
                       
                    </div>
                       
            </div>
                </div>    
        </div>
<div class="modal fade" id="ajax-edit-product" tabindex="-1" role="basic" aria-hidden="true">
                        <img src="assets/img/ajax-modal-loading.gif" alt="" class="loading">
    </div>
    <div class="footer">
        <div class="footer-inner">
            2020 &copy; Coinless.
        </div>
        <div class="footer-tools">
            <span class="go-top">
            <i class="icon-angle-up"></i>
            </span>
        </div>
    </div>
    
