<p id="notice"><%= notice %></p>

<p>
  <b>Owner user:</b>
  <%= @qiwo_order.owner_user_id %>
</p>

<p>
  <b>Salesforce user:</b>
  <%= @qiwo_order.salesforce_user_id %>
</p>

<p>
  <b>Order state:</b>
  <%= @qiwo_order.order_state %>
</p>

<p>
  <b>Factura:</b>
  <%= @qiwo_order.factura_id %>
</p>

<p>
  <b>Qiwo enterprise:</b>
  <%= @qiwo_order.qiwo_enterprise_id %>
</p>


<%= link_to 'Edit', edit_qiwo_order_path(@qiwo_order) %> |
<%= link_to 'Back', qiwo_orders_path %>
