<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <title>Blog post editor</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/js/ckeditor/ckeditor.js"></script>
  <link rel="stylesheet" href="/js/ckeditor/sample.css">
  <style type="text/css">
  input[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
input[type="text"]:focus,
input[type="text"].focus {
  font-size:24px;
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}
input[type="submit"] {
  color: #6496c8;
  background: rgba(0,0,0,0);
  border: solid 5px #6496c8;
}
input[type="submit"]:hover,
input[type="submit"].hover {
  border-color: #346392;
  color: #346392;
}
input[type="submit"]:active,
input[type="submit"].active {
  border-color: #27496d;
  color: #27496d;
}
.title-class{
  width: 98%;
}

  </style>
</head>
<body>
  
<% if @blog.id!="" and @blog.id!=nil %>
  <form accept-charset="UTF-8" action="/blogs/<%=@blog.id%>" method="POST" enctype="multipart/form-data">
  <input name="_method" type="hidden" value="put" />
  <% else %>
<form accept-charset="UTF-8" action="/blogs" method="POST" enctype="multipart/form-data">
  <% end %>
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token.to_s %>" />
    <p>
      <label for="editor1">
        <input type="text" name="blog[title]" value="<%= @blog.title %>" placeholder="Título del articulo" class="title-class">
      </label>
      <textarea class="ckeditor" cols="80" id="editor1" name="blog[content]" rows="100" style="height=500px;"><%= @blog.content %>
      </textarea>
      <input type="checkbox" name="" value="Publicar al guardar" checked editable="false">
    </p>
    <p >
      <input type="submit" value="Guardar">
    </p>
  </form>
  
</body>
</html>
