<div class="modal-dialog">
    <div class="modal-content">                             
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">Imagen de portada</h4>
        </div>
<div class="modal-body">
    
<%= simple_form_for Yo.find_by_id(1),:html => {:class=>"form-horizontal portlet-body form"} do |f| %>

    
    <% currentPicture=Sys_User.find_by_id(session[:activeUser].id)
    if currentPicture.blogfrontpage=="" or currentPicture.blogfrontpage==nil
        currentPicture.blogfrontpage="Ninguna"
    end
    if currentPicture.blogname=="" or currentPicture.blogname==nil
         currentPicture.blogname="Blog"
     end %>

    <%= f.input :userid,required: true,input_html: { class:'col-md-12 form-control tags medium',id:'tags_me',:value =>  currentPicture.blogfrontpage  },:as=>:text,:label=>'URL de la imagen que se usará como portada' %>
    <%= f.input :id,required: true,input_html: { class:'col-md-12 form-control tags medium',id:'tags_me',:value =>  currentPicture.blogname  },:as=>:text,:label=>'Nombre de tu blog' %>

<div class="modal-footer">
            <button type="button" class="btn default" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn blue">Guardar cambios</button>
        </div>
<% end %>
        </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
    </div>
<script>
     $('#tags_me').tagsInput();
   </script>