

    <%= render "shared/topmenu" %>
    <!-- END HEADER -->
    <!-- BEGIN CONTAINER -->
    <div class="clearfix"></div>
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
       <%= render "shared/leftmenu" %>  
        <!-- END SIDEBAR -->
        <!-- BEGIN PAGE -->
        <div class="page-content">
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <%= render "shared/colorsettings" %>
            <!-- BEGIN PAGE CONTAINER-->
                <!-- BEGIN PAGE HEADER-->
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN STYLE CUSTOMIZER -->
                        <h3 class="page-title">
                            Editorial <small>Vista general</small>
                        </h3>
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                                <a href="index.html">Inicio</a> 
                                <i class="icon-angle-right"></i>
                            </li>
                            <li><a href="#">Escriba, edite y hable de sus productos</a></li>
                            <li class="pull-right">
                     <div id="dashboard-report-range" class="dashboard-date-range tooltips" data-placement="top" data-original-title="Change dashboard date range">
                        <i class="icon-calendar"></i>
                        <span></span>
                        <i class="icon-angle-down"></i>
                     </div>
                  </li>
                        </ul>
                        <!-- END PAGE TITLE & BREADCRUMB-->
                    </div> 
                </div>
                <!-- END PAGE HEADER-->
            <div class="row">
                  <div class="col-lg-12 news-blocks">
                        <span>Instrucciones</span>
                        
                        <i class="icon-tags"></i>
                        <p>En esta sección de Coinless podrás escribir de tus productos en formato blog y promocionarlos dentro de una publicación.
                        </p>
                        
                         <img src="/white_logo_transparent.png" alt="Qiwo" class="top-news-icon" style="width:50px;height:50px" />
                        
                     </div>
                     </div>
                 
                                    
                              <div class="input-group">
                                   <button class="btn blue" type="button" onclick="javascript:openBlogEditor()">Crear nueva entrada</button>
                                   <a href="/portada/<%= session[:activeUser].id %>" data-target="#ajax" data-toggle="modal" class="btn green" type="button" >Imagen de portada</a>

                              </div>
                
                  
                     <table class="table" >
                              <thead>

                                 <tr>
                                    <th>Título</th>
                                    <th>Autor</th>
                                    <th>URL</th>
                                    <th>Fecha publicación</th>
                                    <th>Publicado</th>
                                    <th>Acciones</th>
                                    
                                 </tr>
                              </thead>
                              <tbody id="currentReturn">
                                <% @blogs.each do |singleEntry| %>
                                <tr>
                                    <td><%= singleEntry.title %></td>
                                    <td><%= Sys_User.where(:id=>singleEntry.authors).last.name %> <%= Sys_User.where(:id=>singleEntry.authors).last.last_name %></td>
                                    <td><a href="https://coinless.network/articulo/<%= singleEntry.uri %>">https://coinless.network/articulo/<%= singleEntry.uri %></a></td>
                                    <td><%= singleEntry.created_at %></td>
                                    <td><input type="checkbox" name="" value="" checked editable="false"> </td>
                                    <td><a href="javascript:void(0)" onclick="window.open('/blogs/<%= singleEntry.id%>/edit', 'Blog editor', 'width=900, height=750');">Editar</a>  <a href="/">Borrar</a></td>
                                    
                                    
                                 </tr>
                                <% end %>
                              </tbody>
                           </table>
                  
              
               
                <div class='apple_pagination'>
    <%= will_paginate @blogs %>        
</div>       
               <div class="row margin-bottom-40">
                
                </div>
                    
                    
                <!-- end of window -->    
            </div>
            <!-- END PAGE CONTAINER-->    
        
        <!-- END PAGE -->
    </div>
    
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
<div class="modal fade" id="ajax-edit-product" tabindex="-1" role="basic" aria-hidden="true">
                        <img src="assets/img/ajax-modal-loading.gif" alt="" class="loading">

    </div>
    
    
    <div class="footer">
        <div class="footer-inner">
            2020 &copy; Coinless.
        </div>
        <div class="footer-tools">
            <span class="go-top">
            <i class="icon-angle-up"></i>
            </span>
        </div>
    </div>
    
