<% if request.env['PATH_INFO'].index("articulo")!=nil %>
<%= render "shared/topmenu" %>


        	
     <% currentArticleAvatar=Sys_User.find_by_id(@blog.authors) 
  if currentArticleAvatar.avatar!="" and currentArticleAvatar.avatar!=nil
  	currentArticleAvatar.avatar=currentArticleAvatar.avatar[0..-7]+"large"
  end%>   
          
        <div class="qiwocontainer qiwoblog">
<div class="row-blog row-hero">
<% if currentArticleAvatar.blogfrontpage!="" and currentArticleAvatar.blogfrontpage!=nil %>
  <div class="col-md-12 hero" style='background: url("<%= currentArticleAvatar.blogfrontpage %>") no-repeat center center fixed;'>
  <% else %>
<div class="col-md-12 hero">
  <% end %>
    <div class="hero-text">
      <h1><%= @blog.title %></h1>
      <h3><%= Sys_User.find_by_id(@blog.authors).blogname %></h3>
  </div>
</div> 
  <div class="row-blog">
  
    <div id="author" style='background: url("<%= currentArticleAvatar.avatar %>") no-repeat center center;'>
  </div>
    <h4 id="name" class="col-sm-6 col-sm-offset-3">por <%= Sys_User.find_by_id(@blog.authors).name %> <%= Sys_User.find_by_id(@blog.authors).last_name %> en  <%= @blog.created_at.strftime("%d/%m/%Y") %></h4>
  <div class="row-blog">
    <div class="body-text col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1" style="font-family: 'Roboto', sans-serif !important;font-size: 14px !important;">
      <%
      toReplace=@blog.content.html_safe.scan(/\{{(.*?)\}}/)
      htmlToShow=@blog.content.html_safe
      toReplace.each do |singlePattern|
      	currentProduct=singlePattern[0].gsub("qiwo-product=","").to_i
      	singleSearch=QiwoProduct.find_by_id(currentProduct)
      	if singleSearch==nil
      		next
      	end
        htmlToInsert=nil
        doc  = Nokogiri::HTML htmlToShow
        els  = doc.search "[text()*='"+singlePattern[0]+"']"
        if els.first.to_s.index("text-align:right")!=nil
          htmlToInsert='<ul>
        <li class="prod-thumb qiwoli" style="float: right;">'  
        else
          htmlToInsert='<ul>
        <li class="prod-thumb qiwoli" style="float: left;">'
      end
      	
      	 if singleSearch.image_id_file_name==nil or singleSearch.image_id_file_name=="" 
      	 	htmlToInsert=htmlToInsert+'<img src="/assets/img/label_tag.png" alt="" >'
      	 else
      	 	htmlToInsert=htmlToInsert+'<img id="cover" src="/system/qiwo_products/image_ids/000/000/'
      	 	if singleSearch.id<10  
      	 		htmlToInsert=htmlToInsert+'00'
      	 	elsif singleSearch.id<100
      	 	 htmlToInsert=htmlToInsert+'0' 
      	 	end
      	 	htmlToInsert=htmlToInsert+singleSearch.id.to_s+'/medium/'+singleSearch.image_id_file_name+'" alt="" >'
      	 end
      	htmlToInsert=htmlToInsert+'<div class="prod-info"><h4 class="qiwoh4">'+singleSearch.name+'</h4>
      <div class="buy-section clearfix">
        <h3 class="prod-price"><sup>$</sup>'+number_with_precision(singleSearch.sale_price+(singleSearch.tax==1? getTax(singleSearch.sale_price) : 0),precision:2)+'</h3>
        <a href="javascript:openProductWindow('+singleSearch.id.to_s+');" class="buttonq">Comprar</a>
      </div>
    </div>
  </li>
</ul>' 

htmlToShow[singlePattern[0]]=htmlToInsert
%>



      <%end
      %>
      <!-- start -->

      <!-- end -->
      <%= htmlToShow.gsub("{{","").gsub("}}","").html_safe%>  
        
     
    </div>
    </div>
        

<% toReplace.each do |singlePattern|
      	currentProduct=singlePattern[0].gsub("qiwo-product=","").to_i
      	singleSearch=QiwoProduct.find_by_id(currentProduct) 
      	if singleSearch==nil
      		next
      	end
      	%>

<div class="mikes-modal" id="product-popup-<%= singleSearch.id  %>">
                <% if singleSearch.image_id_file_name==nil or singleSearch.image_id_file_name=="" %>
                <img src="/assets/img/label_tag.png" alt="" >
                <% else %>

                
                  
                      
                      
                        <img id="cover" src="/system/qiwo_products/image_ids/000/000/<% if singleSearch.id<10 %><%= '00' %><% elsif singleSearch.id<100 %><%= '0' %><% end %><%= singleSearch.id %>/medium/<%= singleSearch.image_id_file_name %>" alt="" >
                        <% if singleSearch.image_one_file_name!=nil %>
                          <img id="cover" src="<%= singleSearch.image_one.url %>" alt="" >
                        <% end %>
                        <% if singleSearch.image_two_file_name!=nil %>
                          <img id="cover" src="<%= singleSearch.image_two.url %>" alt="" >
                        <% end %>
                        <% if singleSearch.image_three_file_name!=nil %>
                          <img id="cover" src="<%= singleSearch.image_three.url %>" alt="" >
                        <% end %>
                      
                
                <% end %>
  <div id="example" style="position: absolute;top: 0px;left: 0px;padding: 0px;"><h3><span class="label label-warning">Un producto de <%= QiwoEnterprise.find_by_id(singleSearch.business_source).name %></span></h3></div>
                              
  <div class="description">
    <h1 style="">$<%= number_with_precision(singleSearch.sale_price+(singleSearch.tax==1? getTax(singleSearch.sale_price) : 0),precision:2) %> MXN <%= singleSearch.name %></h1>
    <p><%= singleSearch.description %></p>
    <div class="form-group">
                              
                              <div class="col-md-9">
                                 <div id="spinner3<%=singleSearch.id %>">
                                    <div class="input-group" style="width:150px;">
                                       <input type="text" class="spinner-input form-control" maxlength="3" readonly>
                                       <div class="spinner-buttons input-group-btn">                   
                                          <button type="button" class="btn spinner-up default">                       
                                          <i class="icon-angle-up"></i>                    
                                          </button>                     
                                          <button type="button" class="btn spinner-down default">                        
                                          <i class="icon-angle-down"></i>                     
                                          </button>                  
                                       </div>
                                    </div>
                                 </div>
                                 <span class="help-block">
                                 <%= singleSearch.stock_items %> unidades disponibles.
                                 </span>
                              </div>
                              <a href="javascript:addToKart(<%= singleSearch.id %>,$('#spinner3<%=singleSearch.id %>').spinner('value'));" class="btn green">Agregar al carrito<i class="icon-shopping-cart"></i></a>
                              
                           </div>
    <script type="text/javascript">
                        $( "#spinner3<%=singleSearch.id %>" ).spinner({min: 0, max: <%= singleSearch.stock_items %>});
                     </script>  

<p><a href="javascript:sendit(<%= singleSearch.id %>);" class="btn blue">Enviar a mi telefono <i class="icon-facebook"></i></a>
                                 <% if QiwoEnterprise.find_by_id(singleSearch.business_source).location!=nil %>
                                  <a href="http://maps.google.com/?q=<%= QiwoEnterprise.find_by_id(singleSearch.business_source).location.split("\n").join(",") %>" target="_blank" class="btn green">Abrir en mapa<i class="icon-map-marker"></i></a>
                                  <% end %>
                                  </p>

                                  
                                 
                                  <br>
                                   <p> <i class="icon-map-marker"></i><%= QiwoEnterprise.find_by_id(singleSearch.business_source).location %></p>
                                   <br>






<br>
                                 <div class="caption"><i class="icon-comments"></i>Comentarios</div>
                                  <% comentariosProduct=QiwoReview.find_all_by_product_id(singleSearch.id) %>
                                  <% if comentariosProduct.length>3 %>
                            <div  style="height: 435px;overflow: auto;" >
                         <% else %>
                            <div  style="height: 100px;overflow: auto;" >
                         <% end %>
                        <ul class="chats" id="comments-prod-<%= singleSearch.id %>">
                            <% isInorOut="in" %>
                            <% comentariosProduct.each do |singlecomment| %>
                            <% userInComment=Sys_User.find_by_id(singlecomment.user_id) %>
                            
                           <li class="<%= isInorOut %>">
                               <% if isInorOut=="in" %>
                               <% isInorOut="out" %>
                               <% else %>
                               <% isInorOut="in" %>
                               <% end %>
                              <img class="avatar img-responsive" alt="" src="<%= userInComment.avatar %>" />
                              <div class="message">
                                 <span class="arrow"></span>
                                 <a href="#" class="name"><%= userInComment.name %><%= userInComment.last_name %></a>
                                 <span class="datetime"> at <%= singlecomment.created_at %></span>
                                 <span class="body">
                                 <%= singlecomment.review %>
                                 </span>
                              </div>
                           </li>
                           <% end %>
                        </ul>
                     </div>

                     <% if session[:activeUser]!=nil %>
                    
                     <div class="chat-form">
                        <div class="input-cont">   
                           <input class="form-control" type="text" placeholder="Escribe un comentario..." id="new-comment-<%= singleSearch.id %>"/>
                        </div>
                        <div class="btn-cont"> 
                           <span class="arrow"></span>
                           <a href="javascript:submitComment('<%= singleSearch.id %>',<%= singleSearch.id %>,'xor');" class="btn blue icn-only"><i class="icon-ok icon-white"></i></a>
                        </div>
                     </div>
                    <% else %>
                        <div class="chat-form">
                        <div class="input-cont">   
                           <input class="form-control disabled" type="text" placeholder="Inicia sesión para comentar" disabled  />
                        </div>
                        <div class="btn-cont"> 
                           <span class="arrow"></span>
                           <a href="" class="btn blue icn-only disabled"><i class="icon-ok icon-white"></i></a>
                        </div>
                     </div>     
                     
                    <% end %>

<br>
<br>

<div>
                        <img src="http://finance.avafin.com/images/paypal-icon.gif" alt="">
                        <img src="/assets/img/visa_logo.png" alt="">
                        <img src="/assets/img/oxxo_logo.png" alt="">
                        <img src="/assets/img/mastercard_logo.png" alt="">
                        <img src="/assets/img/banorte_logo.png" alt=""></div>
                              
                           </div>

  </div>

  
</div>
<% end %>

<% else %>
<script type="text/javascript">
	window.close();
</script>

<% end %>