<%= simple_form_for(@qiwo_tool) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :id %>
    <%= f.input :user_id %>
    <%= f.input :toolname %>
    <%= f.input :apikey %>
    <%= f.input :apisecret %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
