    <%= render "shared/topmenu" %>
    <!-- END HEADER -->
    <!-- BEGIN CONTAINER -->
    <div class="clearfix"></div>
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
       <%= render "shared/leftmenu" %>  
        <!-- END SIDEBAR -->
        <!-- BEGIN PAGE -->
        <div class="page-content">
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <%= render "shared/colorsettings" %>
            <!-- BEGIN PAGE CONTAINER-->
                <!-- BEGIN PAGE HEADER-->
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN STYLE CUSTOMIZER -->
                        <h3 class="page-title">
                            Mis Apps <small>Vista general</small>
                        </h3>
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                                <a href="index.html">Inicio</a> 
                                <i class="icon-angle-right"></i>
                            </li>
                            <li><a href="#">Herramientas</a></li>
                            <li class="pull-right">
                           
                           </li>
                        </ul>

                        <!-- END PAGE TITLE & BREADCRUMB-->
                    </div>
                </div>
                <!-- END PAGE HEADER-->
                <button type="button" class="btn green" onclick="javascript:saveMerchantTools();"><i class="icon-save"></i> Guardar cambios</button>
                <div class="portlet box blue">
                  <div class="portlet-title">
                     <div class="caption"><i class="icon-reorder"></i>Paypal</div>
                     <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                     </div>
                  </div>
                  <div class="portlet-body">
                     
                     <p class="text-primary">Para aceptar pagos con paypal necesitas la siguiente información</p>
                     <div class="portlet-body form">
                              <!-- BEGIN FORM-->
                              <form action="#" class="form-horizontal">
                                 
                                    
                                    <div class="form-group">
                                       <label  class="col-md-3 control-label">Usuario API (User API)</label>
                                       <div class="col-md-4">
                                          <div class="input-group">
                                             <span class="input-group-addon"><i class="icon-caret-right"></i></span>
                                             <input type="email" class="form-control" placeholder="Usuario" id="paypal_user" value="<%= @qiwo_tools[0].apikey %>">
                                          </div>
                                       </div>
                                    </div>

                                    <div class="form-group">
                                       <label  class="col-md-3 control-label">Contraseña API (Password API)</label>
                                       <div class="col-md-4">
                                          <div class="input-group">
                                             <span class="input-group-addon"><i class="icon-caret-right"></i></span>
                                             <input type="email" class="form-control" placeholder="Contraseña" id="paypal_password" value="<%= @qiwo_tools[0].apisecret %>">
                                          </div>
                                       </div>
                                    </div>

                                    <div class="form-group">
                                       <label  class="col-md-3 control-label">Firma digital (Signature)</label>
                                       <div class="col-md-4">
                                          <div class="input-group">
                                             <span class="input-group-addon"><i class="icon-caret-right"></i></span>
                                             <input type="email" class="form-control" placeholder="Signature" id="paypal_signature" value="<%= @qiwo_tools[0].signature %>">
                                          </div>
                                       </div>
                                    </div>
                                    
                              </form>
                              <!-- END FORM--> 
                           </div>

                  </div>
               </div>
           
           <div class="portlet box blue">
                  <div class="portlet-title">
                     <div class="caption"><i class="icon-reorder"></i>Conekta.io</div>
                     <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                     </div>
                  </div>
                  <div class="portlet-body">
                     
                     <p class="text-warning">Conekta es un servicio de México que te permite recibir pagos de varias formas como OXXO, Transferencia bancaria, entre otros. Agrega aquí los datos que se te piden a continuación para recibir pagos desde Qiwo.</p>
                     <form action="#" class="form-horizontal">
                                 
                                    
                                    <div class="form-group">
                                       <label  class="col-md-3 control-label">Llave publica</label>
                                       <div class="col-md-4">
                                          <div class="input-group">
                                             <span class="input-group-addon"><i class="icon-caret-right"></i></span>
                                             <input type="email" class="form-control" placeholder="Llave privada" id="conekta_private" value="<%= @qiwo_tools[1].apikey %>">
                                          </div>
                                       </div>
                                    </div>

                                    <div class="form-group">
                                       <label  class="col-md-3 control-label">Llave privada</label>
                                       <div class="col-md-4">
                                          <div class="input-group">
                                             <span class="input-group-addon"><i class="icon-caret-right"></i></span>
                                             <input type="email" class="form-control" placeholder="Llave publica" id="conekta_public" value="<%= @qiwo_tools[1].apisecret %>">
                                          </div>
                                       </div>
                                    </div>

                                    
                              </form>
                  </div>
               </div>
                
              <div class="portlet box blue">
                  <div class="portlet-title">
                     <div class="caption"><i class="icon-reorder"></i>OpenPay</div>
                     <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                     </div>
                  </div>
                  <div class="portlet-body">
                     
                     <p class="text-warning">OpenPay es un servicio de México que te permite recibir pagos de varias formas como farmacias del ahorro, tiendas EXTRA, Transferencia bancaria, entre otros. Agrega aquí los datos que se te piden a continuación para recibir pagos desde Qiwo.</p>
                     <form action="#" class="form-horizontal">
                                 
                                    <div class="form-group">
                                       <label  class="col-md-3 control-label">ID de usuario</label>
                                       <div class="col-md-4">
                                          <div class="input-group">
                                             <span class="input-group-addon"><i class="icon-caret-right"></i></span>
                                             <input type="email" class="form-control" placeholder="Llave publica" id="openpay_id" value="<%= @qiwo_tools[2].signature %>">
                                          </div>
                                       </div>
                                    </div>
                                    <div class="form-group">
                                       <label  class="col-md-3 control-label">Llave privada</label>
                                       <div class="col-md-4">
                                          <div class="input-group">
                                             <span class="input-group-addon"><i class="icon-caret-right"></i></span>
                                             <input type="email" class="form-control" placeholder="Llave privada" id="openpay_private" value="<%= @qiwo_tools[2].apisecret %>">
                                          </div>
                                       </div>
                                    </div>

                                    <div class="form-group">
                                       <label  class="col-md-3 control-label">Llave publica</label>
                                       <div class="col-md-4">
                                          <div class="input-group">
                                             <span class="input-group-addon"><i class="icon-caret-right"></i></span>
                                             <input type="email" class="form-control" placeholder="Llave publica" id="openpay_public" value="<%= @qiwo_tools[2].apikey %>">
                                          </div>
                                       </div>
                                    </div>


                                    
                              </form>
                  </div>
               </div>
               <div class="portlet box blue">
                  <div class="portlet-title">
                     <div class="caption"><i class="icon-reorder"></i>Factura electrónica</div>
                     <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                     </div>
                  </div>
                  <div class="portlet-body">
                     
                     <p class="text-warning">Para que su negocio pueda generar facturas electronicas debe subir los siguientes archivos e identificar la información correspondiente. Asegurese de que los archivos sean correctos pues se pueden generar facturas erroneas.</p>


                    
                                       <% @newImage=SatDocument.new 
                                       %>

      <%= simple_form_for @newImage, :url => "/sat_documents", :html => { :multipart => true } do |form| %>
                     <div class="form-horizontal">
                      <div class="form-group">
                                    
                                       <label  class="col-md-3 control-label">Documentos</label>
                                       <div class="col-md-4">
                                        <ul class="list-group">
                                        <% if @empresasConFactura==nil or @empresasConFactura.length==0 %>
                            <li class="list-group-item"> :(<span class="badge badge-danger">No hay documentos registrados aún para tu(s) negocios.</span></li>
                        <% else %>
                        <% @empresasConFactura.each do |singleDocs| %>
                        <% documentosFactura=SatDocument.where(:qiwo_enterprise_id=>singleDocs.id,:is_active=>1).last %>
                            <li class="list-group-item"><%= singleDocs.name %>  <span class="badge badge-success">actualizados el <%= singleDocs.updated_at %></span><br>  API Token: <%=singleDocs.apitoken %>
                            </li>
                            <% end %>
                        <% end %>
                     </ul>
                                       </div>
                                    </div>
                                 
                                  <div class="form-group">
                                    
                                       <label  class="col-md-3 control-label">Negocio</label>
                                       <div class="col-md-4">
                                       <%= form.input :qiwo_enterprise_id, required:true,label:false,:collection => QiwoEnterprise.where(:user_owner=>session[:activeUser]).where("schedule is not null"),:label_method => :name, :value_method => :id,input_html: { class:'col-md-3 form-control' } %>
                                       </div>
                                    </div>
                                    <div class="form-group">
                                    
                                       <label  class="col-md-3 control-label">Contraseña del archivo .key</label>
                                       <div class="col-md-4">
                                          <div class="input-group">
                                             <span class="input-group-addon"><i class="icon-caret-right"></i></span>
                                             <input type="text" class="form-control" placeholder="Contraseña" id="sat_key" name="sat_key" value="">

                                          </div>
                                       </div>
                                    </div>
                                    <div class="form-group">
                                       <label  class="col-md-3 control-label">Certificado (.cer)</label>
                                       <div class="col-md-4">
                                          <div class="input-group">
                                             <span class="input-group-addon"><i class="icon-caret-right"></i></span>
      
  
  <%= form.input :cer_file,:as=>:file, input_html: {:accept=> ('*/*.cer'),:style=>"display: none;" },label:false %>
  <input class="w-button button_submit_search" type="button" value="Sube archivo .cer" data-wait="Please wait..." onclick="document.getElementById('sat_document_cer_file').click();"/>

                                          </div>
                                       </div>
                                    </div>

                                    <div class="form-group">
                                       <label  class="col-md-3 control-label">Llave del certificado (.key)</label>
                                       <div class="col-md-4">
                                          <div class="input-group">
                                             <span class="input-group-addon"><i class="icon-caret-right"></i></span>
                                             <%= form.input :key_file,:as=>:file , input_html: {:accept=> ('*/*.key'), :onchange=>"javascript:this.form.submit();",:style=>"display: none;" },label:false %>
                                             
  <input class="w-button button_submit_search" type="button" value="Sube archivo .key" data-wait="Please wait..." onclick="document.getElementById('sat_document_key_file').click();"/>
                                          </div>
                                       </div>
                                    </div>


                                    
                              </div>
                  </div>
                  <% end %>
               </div>
              

              <div class="portlet box blue">
                  <div class="portlet-title"> 
                     <div class="caption"><i class="icon-reorder"></i>Aftership</div>
                     <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                     </div>
                  </div>
                  <div class="portlet-body">
                     
                     <p class="text-warning">Aftership le permite que sus clientes sin necesidad de estar revisando el status de envio de sus paquetes constantemente, Qiwo a traves de aftership les envia un email para notificarles de los cambios en la entrega de sus paquetes.</p>
                     <form action="#" class="form-horizontal">
                                 
                        <div class="form-group">
                           <label  class="col-md-3 control-label">API key</label>
                           <div class="col-md-4">
                              <div class="input-group">
                                 <span class="input-group-addon"><i class="icon-caret-right"></i></span>
                                 <input type="email" class="form-control" placeholder="Llave publica" id="aftership_id" value="<%= @qiwo_tools[3].apisecret %>">
                              </div>
                           </div>
                        </div>
                                    


                                    
                              </form>
                  </div>
               </div>

               <div class="portlet box blue">
                  <div class="portlet-title">
                     <div class="caption"><i class="icon-reorder"></i>FirstData</div>
                     <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                     </div>
                  </div>
                  <div class="portlet-body">
                     
                     <p class="text-warning">FirstData.</p>
                     <form action="#" class="form-horizontal">
                                 
                                    <div class="form-group">
                                       <label  class="col-md-3 control-label">ID de usuario</label>
                                       <div class="col-md-4">
                                          <div class="input-group">
                                             <span class="input-group-addon"><i class="icon-caret-right"></i></span>
                                             <input type="text" class="form-control" placeholder="StoreId" id="firstdata_storeid" value="<%= @qiwo_tools[4].store_id %>">
                                          </div>
                                       </div>
                                    </div>
                                    <div class="form-group">
                                       <label  class="col-md-3 control-label">Shared Secret</label>
                                       <div class="col-md-4">
                                          <div class="input-group">
                                             <span class="input-group-addon"><i class="icon-caret-right"></i></span>
                                             <input type="text" class="form-control" placeholder="Shared secret" id="firstdata_sharedsecret" value="<%= @qiwo_tools[4].signature %>">
                                          </div>
                                       </div>
                                    </div>

                                    <div class="form-group">
                                       <label  class="col-md-3 control-label">API key</label>
                                       <div class="col-md-4">
                                          <div class="input-group">
                                             <span class="input-group-addon"><i class="icon-caret-right"></i></span>
                                             <input type="text" class="form-control" placeholder="API key" id="firstdata_apikey" value="<%= @qiwo_tools[4].apikey %>">
                                          </div>
                                       </div>
                                    </div>

                                    <div class="form-group">
                                       <label  class="col-md-3 control-label">API secret</label>
                                       <div class="col-md-4">
                                          <div class="input-group">
                                             <span class="input-group-addon"><i class="icon-caret-right"></i></span>
                                             <input type="text" class="form-control" placeholder="API secret" id="firstdata_apisecret" value="<%= @qiwo_tools[4].apisecret %>">
                                          </div>
                                       </div>
                                    </div>


                                    
                              </form>
                  </div>
               </div>
                    
                <!-- end of window -->    
            </div>
               
            <!-- END PAGE CONTAINER-->    
        
        <!-- END PAGE -->
    </div>
    
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
<div class="modal fade" id="ajax-edit-product" tabindex="-1" role="basic" aria-hidden="true">
                        <img src="assets/img/ajax-modal-loading.gif" alt="" class="loading">
    </div>
    </div>
    
    
