<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @qiwo_tool.id %>
</p>

<p>
  <b>User:</b>
  <%= @qiwo_tool.user_id %>
</p>

<p>
  <b>Toolname:</b>
  <%= @qiwo_tool.toolname %>
</p>

<p>
  <b>Apikey:</b>
  <%= @qiwo_tool.apikey %>
</p>

<p>
  <b>Apisecret:</b>
  <%= @qiwo_tool.apisecret %>
</p>

<p>
  <b>Description:</b>
  <%= @qiwo_tool.description %>
</p>


<%= link_to 'Edit', edit_qiwo_tool_path(@qiwo_tool) %> |
<%= link_to 'Back', qiwo_tools_path %>
