<div class="modal-dialog">
    <div class="modal-content">                             
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">Agrega tus insumos</h4>
        </div>
<div class="modal-body">
    
<%= simple_form_for @qiwo_tag,:html => {:class=>"form-horizontal portlet-body form"} do |f| %>

    

    <%= f.input :tag_name,required: true,input_html: { class:'col-md-12 form-control tags medium',id:'tags_me' },:as=>:text,:label=>'Insumos que consume mi empresa' %>

<div class="modal-footer">
            <button type="button" class="btn default" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn blue">Guardar cambios</button>
        </div>
<% end %>
        </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
    </div>
<script>
     $('#tags_me').tagsInput();
   </script>