<h1>Listar qiwo_tags</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Tag name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @qiwo_tags.each do |qiwo_tag| %>
  <tr>
    <td><%= qiwo_tag.id %></td>
    <td><%= qiwo_tag.tag_name %></td>
    <td><%= link_to 'Show', qiwo_tag %></td>
    <td><%= link_to 'Edit', edit_qiwo_tag_path(qiwo_tag) %></td>
    <td><%= link_to 'Destroy', qiwo_tag, :method=>:delete%></td>
    <td><a href="#" onclick="new Ajax.Request('/qiwo_tags/1', {asynchronous:true, evalScripts:true, method:'delete'});); return false;">Delete</a></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Qiwo tag', new_qiwo_tag_path %>
