<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @qiwo_tag.id %>
</p>

<p>
  <b>Tag name:</b>
  <%= @qiwo_tag.tag_name %>
</p>


<%= link_to 'Edit', edit_qiwo_tag_path(@qiwo_tag) %> |
<%= link_to 'Back', qiwo_tags_path %>
