<%= simple_form_for(@shipping_guide) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :id %>
    <%= f.input :id_from %>
    <%= f.input :id_to %>
    <%= f.input :real_guide %>
    <%= f.input :status_guide %>
    <%= f.input :label_guide %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
