<h1>Listing shipping_guides</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Id from</th>
    <th>Id to</th>
    <th>Real guide</th>
    <th>Status guide</th>
    <th>Label guide</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shipping_guides.each do |shipping_guide| %>
  <tr>
    <td><%= shipping_guide.id %></td>
    <td><%= shipping_guide.id_from %></td>
    <td><%= shipping_guide.id_to %></td>
    <td><%= shipping_guide.real_guide %></td>
    <td><%= shipping_guide.status_guide %></td>
    <td><%= shipping_guide.label_guide %></td>
    <td><%= link_to 'Show', shipping_guide %></td>
    <td><%= link_to 'Edit', edit_shipping_guide_path(shipping_guide) %></td>
    <td><%= link_to 'Destroy', shipping_guide, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shipping guide', new_shipping_guide_path %>
