<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @shipping_guide.id %>
</p>

<p>
  <b>Id from:</b>
  <%= @shipping_guide.id_from %>
</p>

<p>
  <b>Id to:</b>
  <%= @shipping_guide.id_to %>
</p>

<p>
  <b>Real guide:</b>
  <%= @shipping_guide.real_guide %>
</p>

<p>
  <b>Status guide:</b>
  <%= @shipping_guide.status_guide %>
</p>

<p>
  <b>Label guide:</b>
  <%= @shipping_guide.label_guide %>
</p>


<%= link_to 'Edit', edit_shipping_guide_path(@shipping_guide) %> |
<%= link_to 'Back', shipping_guides_path %>
