<div class="modal-dialog">
    <div class="modal-content">                             
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">Comentarios de la venta</h4>
        </div>
<div class="modal-body">
Recuerde evitar compartir información personal como números de tarjeta de credito,debito entre otros. Aunque ambos comprador/vendedor pueden ponerse en contacto por otros medios, Qiwo utiliza estos mensajes para darle puntuación de confianza a sus usuarios.

<div  style="height: 300px;overflow: auto;" >

                        
                        <ul class="chats" id="comments-prod-internal-<%= @qiwo_review_d %>">
                        <% if @qiwo_review !=nil %>
                         <% comentariosProduct=QiwoReview.find_all_by_sale_id(@qiwo_review.sale_id) %>
                            <% isInorOut="in" %>
                            <% comentariosProduct.each do |singlecomment| %>
                            <% userInComment=Sys_User.find_by_id(singlecomment.user_id) %>
                            
                           <li class="<%= isInorOut %>">
                               <% if isInorOut=="in" %>
                               <% isInorOut="out" %>
                               <% else %>
                               <% isInorOut="in" %>
                               <% end %>
                              <img class="avatar img-responsive" alt="" src="<%= userInComment.avatar %>" />
                              <div class="message">
                                 <span class="arrow"></span>
                                 <a href="#" class="name"><%= userInComment.name %> <%= userInComment.last_name %></a>
                                 <span class="datetime"> en <%= singlecomment.created_at %></span>
                                 <span class="body">
                                 <%= singlecomment.review %>
                                 </span>
                              </div>
                           </li>
                           <% end %>
                           <% end %>
                        </ul>

                     </div>
<% if session[:activeUser]!=nil %>
                    
                     <div class="chat-form">
                        <div class="input-cont">   
                           <input class="form-control" type="text" placeholder="Escribe un comentario..." id="new-comment-internal-<%= @qiwo_review_d %>"/>
                        </div>
                        <div class="btn-cont"> 
                           <span class="arrow"></span>
                           <a href="javascript:isubmitComment('<%= @qiwo_review_d %>',<%= @qiwo_review_d %>,'yes');" class="btn blue icn-only"><i class="icon-ok icon-white"></i></a>
                        </div>
                     </div>
                    <% else %>
                        <div class="chat-form">
                        <div class="input-cont">   
                           <input class="form-control disabled" type="text" placeholder="Inicia sesión para comentar" disabled  />
                        </div>
                        <div class="btn-cont"> 
                           <span class="arrow"></span>
                           <a href="" class="btn blue icn-only disabled"><i class="icon-ok icon-white"></i></a>
                        </div>
                     </div>       
                    <% end %>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal-dialog -->
<script type="text/javascript">


</script>