<h1>Listing qiwo_reviews</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Store</th>
    <th>Product</th>
    <th>User</th>
    <th>Review</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @qiwo_reviews.each do |qiwo_review| %>
  <tr>
    <td><%= qiwo_review.id %></td>
    <td><%= qiwo_review.store_id %></td>
    <td><%= qiwo_review.product_id %></td>
    <td><%= qiwo_review.user_id %></td>
    <td><%= qiwo_review.review %></td>
    <td><%= link_to 'Show', qiwo_review %></td>
    <td><%= link_to 'Edit', edit_qiwo_review_path(qiwo_review) %></td>
    <td><%= link_to 'Destroy', qiwo_review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Qiwo review', new_qiwo_review_path %>
