<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @qiwo_review.id %>
</p>

<p>
  <b>Store:</b>
  <%= @qiwo_review.store_id %>
</p>

<p>
  <b>Product:</b>
  <%= @qiwo_review.product_id %>
</p>

<p>
  <b>User:</b>
  <%= @qiwo_review.user_id %>
</p>

<p>
  <b>Review:</b>
  <%= @qiwo_review.review %>
</p>


<%= link_to 'Edit', edit_qiwo_review_path(@qiwo_review) %> |
<%= link_to 'Back', qiwo_reviews_path %>
