<%= simple_form_for(@sat_document) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :id %>
    <%= f.input :key_file %>
    <%= f.input :cer_file %>
    <%= f.input :user_id %>
    <%= f.input :enterprise_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
