<h1>Listing sat_documents</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Key file</th>
    <th>Cer file</th>
    <th>User</th>
    <th>Enterprise</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sat_documents.each do |sat_document| %>
  <tr>
    <td><%= sat_document.id %></td>
    <td><%= sat_document.key_file %></td>
    <td><%= sat_document.cer_file %></td>
    <td><%= sat_document.user_id %></td>
    <td><%= sat_document.enterprise_id %></td>
    <td><%= link_to 'Show', sat_document %></td>
    <td><%= link_to 'Edit', edit_sat_document_path(sat_document) %></td>
    <td><%= link_to 'Destroy', sat_document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sat document', new_sat_document_path %>
