<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @sat_document.id %>
</p>

<p>
  <b>Key file:</b>
  <%= @sat_document.key_file %>
</p>

<p>
  <b>Cer file:</b>
  <%= @sat_document.cer_file %>
</p>

<p>
  <b>User:</b>
  <%= @sat_document.user_id %>
</p>

<p>
  <b>Enterprise:</b>
  <%= @sat_document.enterprise_id %>
</p>


<%= link_to 'Edit', edit_sat_document_path(@sat_document) %> |
<%= link_to 'Back', sat_documents_path %>
