@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,500italic,900,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,300,600,700,800);
* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.qiwocontainer.qiwoblog {
  width: 100%;
  padding: 0;
}

.row-blog {
  margin-left: 0px;
  margin-right: 0px;
}
@media screen and (max-width: 1000px) {
    .row-blog {
  margin-left: 150px;
  margin-right: 150px;
}

}

.row-hero {
  margin-left: -300px !important;
  margin-right: -300px !important;

}

.hero {
  background: url("http://briefca.se/wp-content/themes/hemingway-briefcase/images/header-images/jackie-1.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 500px;
  text-align: center;
  
  flex-direction: column;
  align-items: center;
}
.hero:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.5);
}
.hero .hero-text {
  color: white;
  top: 50%;
  transform: translateY(-50%);

  z-index: 5;
  height: 50px;
  position: relative;
  text-transform: uppercase;
}
.hero .hero-text h1, .hero .hero-text h3 {
  font-weight: 100;
  margin-top: 0px;
}

#author {
  height: 100px;
  width: 100px;
  /*background: url("http://briefca.se/wp-content/themes/hemingway-briefcase/images/headshots/jackie.jpg") no-repeat center center;*/
  background-size: cover;
  border-radius: 50px !important;
  margin: 50px auto 10px;
}

#name {
  text-align: center;
}

.body-text {
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px !important;
  text-align: justify;
  line-height: 30px;
}
.body-text:first-line {
  font-weight: bold !important;
}
.body-text:first-letter {
  font-size: 24px !important;
}

.pull-quote {
  color: firebrick;
  margin: 20px 0px;
  text-align: center;
  font-weight: 300;
  font-style: italic;
}

p {
  margin: 30px 0px;
}

ul {
  margin: 20px auto;
  list-style-type: square;
}
ul li {
  font-weight: 500;
}

.image {
  height: 300px;
  width: 100%;
  background-color: #b22222;
  margin: 30px 0px;
}

.subhead {
  font-size: 200%;
  margin-bottom: -25px;
  text-transform: uppercase;
  font-weight: 300;
}

.qiwoli {
  list-style: none;
  
  padding: 10px;
}

.prod-thumb {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  min-width: 250px;
  max-width: 33%;
  border-radius: 3px;
  box-shadow: none;
  transition: all 200ms ease-in-out, box-shadow 100ms;
}
.prod-thumb img {
  width: 100%;
}
.prod-thumb:after {
  content: "+";
  text-shadow: 0 1px 0 #AC1C1F;
  width: 35px;
  color: #990000;
  font-size: 30px;
  text-indent: 8px;
  line-height: 29px;
  height: 35px;
  position: absolute;
  background-color: #dc3b41;
  display: block;
  border-radius: 50%;
  transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  top: 0;
  right: 0;
}
.prod-thumb:hover {
  padding: 0;
  transition: all 200ms ease-in-out, box-shadow 0ms 200ms;
  box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.3);
}
.prod-thumb:hover:after {
  width: 200%;
  height: 200%;
  top: 50%;
  left: 50%;
  margin-left: -100%;
  margin-top: -100%;
  border-radius: 50%;
  background-color: rgba(220, 59, 65, 0.8);
  transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: 0;
}
.prod-thumb:hover .buy-section {
  background-color: #dc3b41;
}
.prod-thumb:hover h4, .prod-thumb:hover h3, .prod-thumb:hover .buy-section {
  opacity: 1;
  transition: opacity 150ms 200ms ease-in-out;
}

.prod-info {
  transition: all 200ms;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  padding: 10px;
}
.prod-info h4, .prod-info h3 {
  text-align: center;
  opacity: 0;
  transition: opacity 100ms ease-in-out;
  margin: 15px;
}
.prod-info h4 {
  margin-top: 30px;
}
.prod-info h3 {
  font-weight: 100;
  color: #990000;
  -webkit-font-smoothing: antialiased;
  font-size: 2em;
  float: left;
}

.buy-section {
  opacity: 0;
  padding-top: 10px;
  position: absolute;
  bottom: 0px;
  background-color: rgba(220, 59, 65, 0);
  left: 0;
  width: 100%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.buy-section {
  border-top: 1px solid #990000;
  display: block;
  margin-top: 10px;
  padding: 0px 20px;
}

.buttonq {
  float: right !important;
  text-align: center !important;
  color: #e6e6e6 !important;
  width: 40% !important;
  border-radius: 5px !important;
  margin-top: 10px !important;
  text-shadow: 0 1px 0 #ac1c21 !important;
  border: 1px solid #AC1C1F !important;
  background-color: #dc3b41 !important;
  font-size: .75em !important;
  text-transform: uppercase !important;
  letter-spacing: .02em !important;
  display: inline-block !important;
  text-decoration: none !important;
  padding: 15px 10px !important;
  line-height:8px !important;
}
.qiwoh4 {
  font-family: 'Open-Sans', sans-serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: 100;
  text-shadow: 0 1px 0 #ac1c21;
  font-size: 2em;
}