.footerqiwo {
  bottom: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 100%;
  position: fixed;
  background-color: #222;
}
.footer-logo {
  width: 30%;
  float: left;
  opacity: 0.2;
}
.social-wrapper {
  float: right;
  text-align: right;
}
.social-link {
  padding-right: 5px;
  padding-left: 5px;
  opacity: 0.57;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.social-link:hover {
  padding-top: 0px;
  opacity: 1;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.footlogo {
  opacity: 0.5;
}
.footlogo:hover {
  opacity: 1;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.social-icon {
  padding-right: 10px;
  opacity: 0.25;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.social-icon:hover {
  opacity: 1;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.logo-bar {
  padding-left: 30px;
  font-size: 36px;
}
.logolink {
  position: fixed;
  margin-top: 30px;
  margin-right: 0px;
}