body {
  
  background-size: cover;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 12px;
  line-height: 20px;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;
}
h1 {
  margin: 10px 0px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  margin: 10px 0px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin: 10px 0px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
}
.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}
.search_box {
  margin-bottom: 24px;
  padding-top: 146px;
  padding-right: 644px;
  padding-left: 57px;
}
.button_search {
  margin-top: 0px;
  margin-left: 444px;
  padding-top: 0px;
}
.section_two {
  margin-bottom: 8px;
  padding-top: 217px;
  padding-bottom: 0px;
}
.button_submit_search {
  margin-top: 1px;
  margin-bottom: 1px;
  padding-top: 4px;
  padding-bottom: 13px;
}
.logo_text {
  padding-top: 41px;
  font-family: Exo, sans-serif;
  font-size: 42px;
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 479px) {
}