body{
/*background-color: #84d4d5;*/
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.ui-page {
    background: transparent;
}
.ui-content{
    background: transparent;
}
#addEventForm {
    position:relative;
    float:right;
    margin-top: -200px;
    /*border: 2px solid #003B62;*/
    /*font-family: verdana;*/
    /*background-color: #B5CFE0;*/
    padding-left: 10px;
}
a.categoryButtonMenu:visited{
  color: #ffffff;
}
a.categoryButtonMenu:hover {
  color: #333;
  background-color: #e9f1f2;
}
.categoryButtonMenu {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color:#000000;
    color: #ffffff;
}
.welcomeSearchButton{
  margin-top: 280px;
}
#uploadYourPic {
    position: fixed;
    top: 1em;
    right: 1em;
}