
a {
	color: #333;
	text-decoration: none;
}

ol, li {
	margin: 0;
}


.links {
	margin-top: 20px;
	text-align: center;
}

.jaf-container {
	position: relative;
	padding: 0;
}

.jaf-row {
	/*zoom: 1;*/
	min-width: 320px;
}

.folder {
	position: relative;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 25%;
	height: 225px;
	padding: 3% 3% 10px 3%;
	cursor: pointer;
}

.folder::before {
	position: absolute;
	bottom: -1px;
	left: 50%;
	content: '';
	width: 0;
	height: 0;
	margin-left: 7px;
	border-left: 0 solid transparent;
	border-right: 0 solid transparent;
	border-bottom: 0 solid transparent;
	-webkit-transition: bottom 0.2s ease-in;
	-moz-transition: bottom 0.2s ease-in;
	transition: bottom 0.2s ease-in;
}

.folder::after {
	position: absolute;
	bottom: -1px;
	left: 50%;
	content: '';
	width: 0;
	height: 0;
	margin-left: 6px;
	border-left: 0 solid transparent;
	border-right: 0 solid transparent;
	border-bottom: 0 solid transparent;
	-webkit-transition: bottom 0.2s ease-in;
	-moz-transition: bottom 0.2s ease-in;
	transition: bottom 0.2s ease-in;
}

.folder img {
	position: relative;
	margin-top: 0;
	margin-left: 0;
	max-width: 100%;
	background-color: #888;
	border: 1px solid #888;
	box-shadow: 2px 2px 5px #aaa;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.album-name {
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
/*	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;*/
}

.artist-name {
	opacity: 1;	
	margin-bottom: 2px;
	color: #888;
	font-size: 12px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.app-folders-container {
	width: 100%;
	margin: 0 auto;
}

.active-tool {
	z-index: 10;
}

.active-tool::before {
	bottom: -1px;
	margin-left: -7px;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 12px solid rgba(0,0,0,0.3);
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.active-tool::after {
	bottom: -1px;
	margin-left: -6px;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	border-bottom: 11px solid transparent;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.active-tool img {
	max-width: 110%;
	margin-top: -5%;
	margin-left: -5%;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.active-tool .album-name {
	padding-bottom: 6px;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.active-tool .artist-name {
	opacity: 0;
	height: 2px;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.folderContent {
	position: relative;
	z-index: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-width: 320px;
	padding: 20px 0 0 60px;
	background-color: #aaa;
	border: 1px solid rgba(0,0,0,0.3);
	border-width: 1px 0;
}

.folderContent a:hover {
	text-decoration: underline;
}

.folderContent .close {
	position: absolute;
	top: 15px;
	left: 10px;
	padding: 1px 5px 3px;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.3);
	color: rgba(255,255,255,0.5);
	font-weight: bold;
}

.folderContent .close:hover {
	text-decoration: none;
	background-color: rgba(0,0,0,0.6);
	color: rgba(255,255,255,0.5);
}

.multi {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
}

.art-wrap {
	float: right;
	text-align: right;
	/*width: 30%;*/
}

.art-wrap img {
	position: relative;
	z-index: -2;
	display: block;
	width: 100%;
	max-width: 300px;
}

.clear {
	clear: both;
}

@media (max-width: 480px){

	.folder {
		height: 145px;
	}

	.folderContent {
		padding: 20px 40px;
		width: 100%;
	}

}

@media (min-width: 481px) and (max-width: 768px){

	.folder {
		height: 210px;
	}
}

@media (max-width: 768px){

	.multi {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}

	.art-wrap {
		display: none;
	}
}

@media (min-width: 769px){

	.jaf-row {
		width: 800px;
		margin: 0 auto;
	}
}