<%= simple_form_for(@qiwo_counter) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :id %>
    <%= f.input :folio_factura %>
    <%= f.input :ordenes_pos %>
    <%= f.input :facturas_disponibles %>
    <%= f.input :qiwo_enterprise_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
