<h1>Listing qiwo_counters</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Folio factura</th>
    <th>Ordenes pos</th>
    <th>Facturas disponibles</th>
    <th>Qiwo enterprise</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @qiwo_counters.each do |qiwo_counter| %>
  <tr>
    <td><%= qiwo_counter.id %></td>
    <td><%= qiwo_counter.folio_factura %></td>
    <td><%= qiwo_counter.ordenes_pos %></td>
    <td><%= qiwo_counter.facturas_disponibles %></td>
    <td><%= qiwo_counter.qiwo_enterprise_id %></td>
    <td><%= link_to 'Show', qiwo_counter %></td>
    <td><%= link_to 'Edit', edit_qiwo_counter_path(qiwo_counter) %></td>
    <td><%= link_to 'Destroy', qiwo_counter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Qiwo counter', new_qiwo_counter_path %>
