<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @qiwo_counter.id %>
</p>

<p>
  <b>Folio factura:</b>
  <%= @qiwo_counter.folio_factura %>
</p>

<p>
  <b>Ordenes pos:</b>
  <%= @qiwo_counter.ordenes_pos %>
</p>

<p>
  <b>Facturas disponibles:</b>
  <%= @qiwo_counter.facturas_disponibles %>
</p>

<p>
  <b>Qiwo enterprise:</b>
  <%= @qiwo_counter.qiwo_enterprise_id %>
</p>


<%= link_to 'Edit', edit_qiwo_counter_path(@qiwo_counter) %> |
<%= link_to 'Back', qiwo_counters_path %>
