

    <%= render "shared/topmenu" %>
    <!-- END HEADER -->
    <!-- BEGIN CONTAINER -->
    <div class="clearfix"></div>
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
       <%= render "shared/leftmenu" %>  
        <!-- END SIDEBAR -->
        <!-- BEGIN PAGE -->
        <div class="page-content">
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <%= render "shared/colorsettings" %>
            <!-- BEGIN PAGE CONTAINER-->
                <!-- BEGIN PAGE HEADER-->
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN STYLE CUSTOMIZER -->
                        <h3 class="page-title">
                            Cancelación y devoluciones <small>Vista general</small>
                        </h3>
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                                <a href="index.html">Inicio</a> 
                                <i class="icon-angle-right"></i>
                            </li>
                            <li><a href="#">Alteracion de compras,ordenes y facturas</a></li>
                            <li class="pull-right">
                     <div id="dashboard-report-range" class="dashboard-date-range tooltips" data-placement="top" data-original-title="Change dashboard date range">
                        <i class="icon-calendar"></i>
                        <span></span>
                        <i class="icon-angle-down"></i>
                     </div>
                  </li>
                        </ul>
                        <!-- END PAGE TITLE & BREADCRUMB-->
                    </div> 
                </div>
                <!-- END PAGE HEADER-->
            <div class="row">
                  <div class="col-lg-12 news-blocks">
                        <span>Instrucciones</span>
                        
                        <i class="icon-tags"></i>
                        <p>En esta sección de Coinless podrás cancelar las facturas que hayas emitido, asi como realizar devoluciones de mercancía.
                        </p>
                        
                            <img src="/white_logo_transparent.png" alt="Qiwo" class="top-news-icon" style="width:50px;height:50px" />
                        
                     </div>
                     </div>
                 <% #if session[:activeUser].sys_rol==1 %>
                                    
                              <div class="form-group">
                              
                             <label class="control-label col-md-3">Escribe el número de folio de la factura del SAT (las facturas generadas por Coinless empiezan por la letra A, el folio de tu factura electronica puede decir A-1 ó A-32 etc.) o el número de folio de compra de Coinless para realizar cambios (el folio de compra de Coinless lo puedes consultar en la sección de Clientes, al posicionar el ratón sobre una compra te aparece quien lo compró y el número de folio de Coinless).</label>
                              
                              <div class="col-md-6">

                                <div class="input-group">
                                   <input type="text" class="form-control" id="rollBacktxt">
                                   <span class="input-group-btn">
                                   <button class="btn blue" type="button" onclick="javascript:populateRollBacks()">Buscar</button>
                                   </span>
                              </div>
                              <!-- /input-group -->
                           </div>

                           </div>
                  <div class="form-group" style="margin-top:50px;">
                  
                     </div>

                  
                     <table class="table" >
                              <thead>

                                 <tr>
                                    <th>Tienda</th>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Total cobrado</th>
                                    <th>Devolución</th>
                                    <th>Cancelación</th>
                                    
                                 </tr>
                              </thead>
                              <tbody id="currentReturn">
                                
                              </tbody>
                           </table>
                  
              
               <% #end %>   
               <div class="row margin-bottom-40">
                
                </div>
                    
                    
                <!-- end of window -->    
            </div>
            <!-- END PAGE CONTAINER-->    
        
        <!-- END PAGE -->
    </div>
    
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
<div class="modal fade" id="ajax-edit-product" tabindex="-1" role="basic" aria-hidden="true">
                        <img src="assets/img/ajax-modal-loading.gif" alt="" class="loading">

    </div>
    <div class="modal fade form" id="basic-payment" tabindex="-1" role="basic" aria-hidden="true">
                <form action="" role="form" method="POST" id="card-form-payment" onsubmit="javascript:plastizice();return false;" class="form-horizontal" > 
                <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token.to_s %>" />

                        <div class="modal-dialog">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                 <h4 class="modal-title">Procesar pago con Qiwo</h4>
                              </div>
                              <div class="modal-body form-body">
                                <input type="hidden" name="cashtype" value="1" id="cashtype" />
                                <input type="hidden" name="orderaddp" value="1" id="orderaddp" />
                                
                                <div class="progress progress-striped active" id="proc-1" style="display:none;">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                    Procesando pago, espere
                                        <span class="sr-only">60%</span>
                                    </div>
                                </div>

                                  <span class="card-errors"></span>
                                  
                                  <div class="form-group" id="optionEnterpriseGroup">
                                    <label class="col-md-4 control-label"> Cobrar para</label>
                                      <div class="col-lg-6">
                                        <select class="form-control" id="optionEnterprise" name="optionEnterprise" id="optionEnterprise">
                                        
                                  <option value="1">some</option>
                                  
                                  </select>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="col-md-4 control-label"> Monto a cobrar</label>
                                      <div class="col-lg-6">
                                        <input type="text" class="form-control" size="20" id="amountToCharge" name="amountToCharge" />
                                      </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="col-md-4 control-label"> Nombre en la tarjeta</label>
                                      <div class="col-lg-6">
                                        <input type="text" class="form-control" size="20" data-conekta="card[name]" placeholder="Nombre en la tarjeta" id="conname" />
                                      </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="col-md-4 control-label">Número de Tarjeta de Cliente</label>
                                    <div class="col-lg-6">
                                      <input type="text" class="form-control" size="20" data-conekta="card[number]" placeholder="Número de tarjeta" id="connum" />
                                    </div>  
                                  </div>
                                  <div class="form-group">
                                    <label class="col-md-4 control-label"></label>
                                    <div class="col-lg-2">
                                      <input type="text" class="form-control" size="4" data-conekta="card[cvc]" placeholder="CVC" id="concvc" />
                                    </div>  
                                    
                                    <div class="col-lg-2">
                                    <input type="text" class="form-control" size="2" data-conekta="card[exp_month]" placeholder="MM" id="conmm" />
                                      </div>

                                      <div class="col-lg-2">
                                      <input type="text" class="form-control" size="2" data-conekta="card[exp_year]" placeholder="AAAA" id="conyy" />
                                      </div>
                                  </div>
                                  
                                    
                              </div>
                              <div class="modal-footer">
                              <img src="/assets/img/visa_logo.png" alt="">
                              <img src="/assets/img/mastercard_logo.png" alt="">
                                 <button type="button" class="btn default" data-dismiss="modal">Cerrar</button>
                                 <button type="submit" class="btn blue" id="subbtn">Continuar</button>
                              </div>
                           </div>
                           <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                        </form>

                     </div>
    <div class="footer">
        <div class="footer-inner">
            2020 &copy; Coinless.
        </div>
        <div class="footer-tools">
            <span class="go-top">
            <i class="icon-angle-up"></i>
            </span>
        </div>
    </div>
    
