<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @facturacion.id %>
</p>

<p>
  <b>Sys user:</b>
  <%= @facturacion.sys_user_id %>
</p>


<%= link_to 'Edit', edit_facturacion_path(@facturacion) %> |
<%= link_to 'Back', facturacions_path %>
