<%= simple_form_for @qiwo_product, :html => {:multipart => true,:class=>"form-horizontal portlet-body form"} do |f| %>
  
<div class="row">
<div class="col-md-6">


    <%= f.input :name, required:true,label:"Nombre del producto",input_html: { class:'col-md-12 form-control' } %>

    <%= f.input :business_source, required:true,label:"Ubicado en:",:collection => QiwoEnterprise.where(:user_owner=>session[:activeUser]).where("schedule is not NULL"),:label_method => :name, :value_method => :id,input_html: { class:'col-md-12 form-control' } %>



    <%= f.input :image_id,:as=>:file, label: 'Imagen' , input_html: {accept: ('image/*') } %>
    <%= f.input :image_one,:as=>:file, label: 'Imagen 2' , input_html: {accept: ('image/*') } %>
    <%= f.input :image_two,:as=>:file, label: 'Imagen 3' , input_html: {accept: ('image/*') } %>
    <%= f.input :image_three,:as=>:file, label: 'Imagen 4' , input_html: {accept: ('image/*') } %>
    <%= f.input :raw_price,required:true,label:"Precio compra/producción",input_html: { class:'col-md-12 form-control' } %>

    <%= f.input :sku,label:"SKU/Código de barras",input_html: { class:'col-md-12 form-control' } %>

    <%= f.input :sale_price,label:"Precio venta",required:true,input_html: { class:'col-md-12 form-control' } %>
    <%= f.input_field :tax,inline_label:"Grabado con IVA", as: :boolean,input_html: { class:'col-md-12 form-control' } %>
    <%= f.input_field :is_pos,inline_label:"Solo se puede vender por punto de venta, es invisible a las busquedas por internet.", as: :boolean,input_html: { class:'col-md-12 form-control' } %>
    <%= f.input :major_quantity,required:true,label:"Mayoreo a partir de (coloque 0 si no tiene mayoreo)",input_html: { class:'col-md-12 form-control' } %>

    <%= f.input :major_price,label:"Precio mayoreo (coloque 0 si no tiene mayoreo)",required:true,input_html: { class:'col-md-12 form-control' } %>

<% if @qiwo_product.name==nil or @qiwo_product.name=="" %>
    <%= f.input :keywords,required:true,label:"Palabras clave",input_html: { class:'form-control tags',placeholder:"Escriba una palabra y presione enter",id:'tags_2',rows:"2",style:'width:250px' } %>
    <% else %>
    <%= f.input :keywords,label:"Palabras clave",input_html: { class:'form-control tags',placeholder:"Escriba una palabra y presione enter",id:'tags_3',rows:"2" } %>
    <% end %>
    
    </div>
<div class="col-md-6">

    <%= f.input :description,:as=>:text,required:true,label:"Descripción",input_html: { class:'col-md-12 form-control',rows:"3" } %>

    <%= f.input :measure_units,label:"Unidades",:collection => QiwoMeasureUnit.all,:label_method => :unit_display, :value_method => :id,input_html: { class:'col-md-12 form-control' } %>
    <%= f.input :measure_height,label:"Alto cm.",input_html: { class:'col-md-12 form-control' } %>
    <%= f.input :measure_width,label:"Ancho cm.",input_html: { class:'col-md-12 form-control' } %>
    <%= f.input :measure_deep,label:"Fondo cm.",input_html: { class:'col-md-12 form-control' } %>

    <%= f.input :warehouse,required:true,label:"Ubicación o almacen",input_html: { class:'col-md-12 form-control',rows:"2" } %>
    <%= f.input :weight_number,label:"Peso en kg",input_html: { class:'col-md-12 form-control' } %>
    
    
    <%= f.input :stock_items,required:true,label:"Unidades en stock",input_html: { class:'col-md-12 form-control' } %>
    <div class="input-group input-medium date date-picker" data-date="<%=Time.now.strftime('%d-%m-%Y') %>" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                                    <%= f.input :ends_on,as: :string,label:"Expira en ",required: true,input_html: { class: "col-md-12 form-control", value: (DateTime.now+6.month).strftime("%d-%m-%Y")  } %>
                                    
                                    <button class="btn default form-control" type="button"><i class="icon-calendar"></i></button>
                                    
                                 </div>
    <%= f.input_field :nfcTicket,inline_label:"Este producto se reclama usando un scanner NFC", as: :boolean,input_html: { class:'col-md-12 form-control' } %>
    <div class="modal-footer">
        
            <button type="button" class="btn default" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn blue">Guardar</button>
        </div>
    
    </div>

    

  
<% end %>
</div>