<div class="modal-dialog">
    <div class="modal-content">                             
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">Modifica tu producto</h4>
        </div>
<div class="modal-body">
<%= render 'form' %>

 </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
    </div>
<script>
    $('#tags_3').tagsInput();
   </script>
