<h1>Listing qiwo_products</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Location store</th>
    <th>Raw price</th>
    <th>Sale price</th>
    <th>Stock items</th>
    <th>Image</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @qiwo_products.each do |qiwo_product| %>
  <tr>
    <td><%= qiwo_product.id %></td>
    <td><%= qiwo_product.name %></td>
    <td><%= qiwo_product.location_store %></td>
    <td><%= qiwo_product.raw_price %></td>
    <td><%= qiwo_product.sale_price %></td>
    <td><%= qiwo_product.stock_items %></td>
    <td><%= qiwo_product.image_id %></td>
    <td><%= qiwo_product.description %></td>
    <td><%= link_to 'Show', qiwo_product %></td>
    <td><%= link_to 'Edit', edit_qiwo_product_path(qiwo_product) %></td>
    <td><%= link_to 'Destroy', qiwo_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Qiwo product', new_qiwo_product_path %>
