    <%= render "shared/topmenu" %>
	<!-- END HEADER -->
	<!-- BEGIN CONTAINER -->
<div class="clearfix"></div>
	<div class="page-container">
		<!-- BEGIN SIDEBAR -->
	   <%= render "shared/leftmenu" %>	
		<!-- END SIDEBAR -->
		<!-- BEGIN PAGE -->
		<div class="page-content">
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<%= render "shared/colorsettings" %>
				<!-- BEGIN PAGE HEADER-->
				<div class="row">
					<div class="col-md-12">
						<!-- BEGIN STYLE CUSTOMIZER -->
						
						<!-- END BEGIN STYLE CUSTOMIZER -->    
						<!-- BEGIN PAGE TITLE & BREADCRUMB-->
						<h3 class="page-title">
							Coinless productos <small>Administre sus negocios</small>
						</h3>
						<ul class="page-breadcrumb breadcrumb">
							<li>
								<i class="icon-home"></i>
								<a href="index.html">Inicio</a> 
								<i class="icon-angle-right"></i>
							</li>
							<li><a href="#">Mi negocio</a></li>
							<li class="pull-right">
                     <div id="dashboard-report-range" class="dashboard-date-range tooltips" data-placement="top" data-original-title="Change dashboard date range">
                        <i class="icon-calendar"></i>
                        <span></span>
                        <i class="icon-angle-down"></i>
                     </div>
                  </li>
						</ul>
						<!-- END PAGE TITLE & BREADCRUMB-->
					</div>
				</div>
				<!-- END PAGE HEADER-->
				<div class="row">
                  <div class="col-lg-12 news-blocks">
                        <span>Instrucciones</span>
                        
                        <i class="icon-tags"></i>
                        <p>En esta sección, podrás agregar los productos y servicios.
                        Recuerda que, una de las caracteristicas de Coinless, es su innovador motor de búsqueda sobre todos los productos enlistados.
                        Por lo que debes ser muy claro en el título del producto y en la descripción, para que pueda ser localizado con exactitud.
                        Las imagenes claras y hermosas atraeran á más clientes, por lo tanto resultarán más ganancias =D.
                        Para empezar, haz clic sobre el botón añadir producto y completa todos los campos obligatorios.
                        </p>
                        
                      
                          <img src="/white_logo_transparent.png" alt="Qiwo" class="top-news-icon" style="width:50px;height:50px" />
                        <a class="fancybox-media" href="" id="welcome-video"><h4><i class="icon-youtube-play"></i> Video introductorio para crear productos y marketing en facebook</h4></a>
                        
                     </div>
                     </div>
				<div>
                    <a class="btn red" data-toggle="modal" href="#wide"><i class="icon-dropbox"></i> Añadir producto/servicio</a>
                    <div id="wide" class="modal fade" tabindex="-1" role="basic" aria-hidden="true">
                    <div class="modal-dialog ">
                    <div class="modal-content">

									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
										<h3>Añadir producto</h3>
									</div>
									<div class="modal-body">
                                         

								<!-- BEGIN FORM-->
								    <%= render "form" %>
								<!-- END FORM-->
							        
								    </div>
                        
								</div>
						</div>
									
				</div>
                    <div class="portlet box green" >
							<div class="portlet-title">
								<div class="caption"><i class="icon-globe"></i>Productos en tus negocios</div>
								<div class="tools">
									<a href="javascript:;" class="reload"></a>
									<a href="javascript:;" class="remove"></a>
								</div>
							</div>
							<div class="portlet-body">
								<table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
									<thead>
										<tr>
											<th>Producto</th>
											<th>Negocio</th>
											<th class="hidden-480">Ventas</th>
											<th class="hidden-480">Precio</th>
											<th class="hidden-480">Descuento</th>
                                            <th class="hidden-480">Accion</th>
                                            <th class="hidden-480">Stock</th>
                                            <th class="hidden-480" style="display:none;">extra</th>
                                            <th class="hidden-480" style="display:none;">extra</th>
                                            <th class="hidden-480" style="display:none;">extra</th>
                                            <th class="hidden-480" style="display:none;">extra</th>
										</tr>
									</thead>
									<tbody>
                                        <% @qiwo_products.each do |singleProduct| %>
										<tr>
										<% 
										%>
											<td><%= singleProduct.name %> <% if @likesarray[singleProduct.id]!=nil %> <span class="label label-primary">con <% end %> <%= @likesarray[singleProduct.id].to_s %><% if @likesarray[singleProduct.id]!=nil %> likes en FB </span>
<% end %></td>
											<% empresa=QiwoEnterprise.find_by_id(singleProduct.business_source) 
											if empresa!=nil%>
											<td><%= empresa.name %> </td>
											<% else %>
											<td>SIN EMPRESA</td>
											<% end %>
											<td class="hidden-480"><%= QiwoLogKart.where(:qiwo_product_id=>singleProduct.id,:kart_state=>[2,3]).length %></td>
											<% if singleProduct.sale_price!=nil and singleProduct.sale_price!="" %>
												<td class="hidden-480">$<%= singleProduct.sale_price %></td>	
											<% else %>
												<td class="hidden-480">SIN PRECIO</td>
											<% end %>
											<td>$<a href="#" class="discountcost" id="discount-cost-<%= singleProduct.id %>" data-type="text" data-pk="1" data-placement="right" data-placeholder="Required" data-original-title="Ingresa la cantidad que deseas descontar, Qiwo lo traduce en porcentaje."><%= singleProduct.discount_amount %></a>
                              </td>
                                            <td>
                                            <a href="javascript:openpublish(<%= singleProduct.id %>);" class="btn default btn-xs blue" data-toggle="modal"><i class="icon-facebook"></i> Publicar </a>
                                            <a href="/qiwo_products/<%= singleProduct.id %>/edit" class="btn default btn-xs purple" data-target="#ajax-edit-product" data-toggle="modal"><i class="icon-edit"></i> Editar</a>
                                            <a href="/qiwo_products/<%= singleProduct.id %>" class="btn default btn-xs black" rel="nofollow" data-confirm="Si presiona Aceptar se va a borrar el registro" data-method="delete"><i class="icon-trash"></i> Borrar</a>
                                            </td>
                                            <td class="hidden-480"><%= singleProduct.stock_items %></td>
                                            <td style="display:none;"><%= singleProduct.raw_price %></td>
                                            <td style="display:none;"><%= singleProduct.description %></td>
                                            <td style="display:none;"><%= singleProduct.warehouse %></td>
                                            <td style="display:none;">/system/qiwo_products/image_ids/000/000/<% if singleProduct.id<10 %><%= '00' %><% elsif singleProduct.id<100 %><%= '0' %><% end %><%= singleProduct.id %>/medium/<%= singleProduct.image_id_file_name %></td>
										</tr>
                                        <% end %>
									</tbody>

								</table>
																				 <div class='apple_pagination'>
    <%= will_paginate @qiwo_products %>        
</div>      
							</div>
						</div>

				</div>

			</div>
			<!-- END PAGE CONTAINER-->    

		</div>
		<!-- END PAGE -->
	<!-- END CONTAINER -->
	<!-- BEGIN FOOTER -->
	<div class="modal fade" id="ajax-edit-product" tabindex="-1" role="basic" aria-hidden="true">
                        <img src="assets/img/ajax-modal-loading.gif" alt="" class="loading">
    </div>
    <div class="modal fade " id="ajax-publish-fb" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                    <div class="modal-content">

									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
										<h3>Publica en facebook</h3>
									</div>
									<div class="modal-body">
									<div class="form-group">
                              <label >¿Dónde deseas hacer tu publicación?</label>
                                 <select id="select2_sample2" class="form-control select2">
                                    <optgroup label="Personal">
                                       <option value="1">Mi perfil</option>
                                    </optgroup>
                                    <optgroup label="Páginas que administro">
                                       <% @yoAdministro.each do |singlePage| %>
				                                    	<option value="<%= singlePage['id'] %>"><%= singlePage['name'] %></option>
				                                    <% end %>
                                    </optgroup>
                                    <optgroup label="Páginas que me gustan">
                                        <% @listaDePaginas.each do |singlePage| %>
				                                    	<option value="<%= singlePage['id'] %>"><%= singlePage['name'] %></option>
				                                    <% end %>
                                    </optgroup>
                                 </select>
                           </div>
			                                 <textarea id="maxlength_textarea" class="form-control" maxlength="225" rows="2" placeholder="Maximo 225 caracteres."></textarea>
			                                 <span class="help-block">
			                                 Escribe un comentario referente a este producto.
			                                 </span>
			                              


								<!-- BEGIN FORM-->
								    
								<!-- END FORM-->
							        
								    </div>
								    <div class="modal-footer horizontal ">
                              
                                 <button type="button" class="btn default" data-dismiss="modal">Cerrar</button>
                                 <button type="submit" class="btn blue" id="subbtn" onclick="javascript:letshare();">Publicar</button>
                              </div>
								</div>
						</div>
    </div>
	<div class="footer">
		<div class="footer-inner">
			2020 &copy; Coinless.
		</div>
		<div class="footer-tools">
			<span class="go-top">
			<i class="icon-angle-up"></i>
			</span>
		</div>
	</div>
    
