<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @qiwo_product.id %>
</p>

<p>
  <b>Name:</b>
  <%= @qiwo_product.name %>
</p>

<p>
  <b>Location store:</b>
  <%= @qiwo_product.location_store %>
</p>

<p>
  <b>Raw price:</b>
  <%= @qiwo_product.raw_price %>
</p>

<p>
  <b>Sale price:</b>
  <%= @qiwo_product.sale_price %>
</p>

<p>
  <b>Stock items:</b>
  <%= @qiwo_product.stock_items %>
</p>

<p>
  <b>Image:</b>
  <%= @qiwo_product.image_id %>
</p>

<p>
  <b>Description:</b>
  <%= @qiwo_product.description %>
</p>


<%= link_to 'Edit', edit_qiwo_product_path(@qiwo_product) %> |
<%= link_to 'Back', qiwo_products_path %>
