<%= form_for(@qiwo_coupon) do |f| %>
  <% if @qiwo_coupon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@qiwo_coupon.errors.count, "error") %> prohibited this qiwo_coupon from being saved:</h2>

      <ul>
      <% @qiwo_coupon.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :coupon_name %><br />
    <%= f.text_field :coupon_name %>
  </div>
  <div class="field">
    <%= f.label :porcentage %><br />
    <%= f.number_field :porcentage %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.datetime_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.datetime_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :times_used %><br />
    <%= f.number_field :times_used %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
