<h1>Listing qiwo_coupons</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Coupon name</th>
    <th>Porcentage</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Times used</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @qiwo_coupons.each do |qiwo_coupon| %>
  <tr>
    <td><%= qiwo_coupon.id %></td>
    <td><%= qiwo_coupon.coupon_name %></td>
    <td><%= qiwo_coupon.porcentage %></td>
    <td><%= qiwo_coupon.start_date %></td>
    <td><%= qiwo_coupon.end_date %></td>
    <td><%= qiwo_coupon.times_used %></td>
    <td><%= link_to 'Show', qiwo_coupon %></td>
    <td><%= link_to 'Edit', edit_qiwo_coupon_path(qiwo_coupon) %></td>
    <td><%= link_to 'Destroy', qiwo_coupon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Qiwo coupon', new_qiwo_coupon_path %>
