<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @qiwo_coupon.id %>
</p>

<p>
  <b>Coupon name:</b>
  <%= @qiwo_coupon.coupon_name %>
</p>

<p>
  <b>Porcentage:</b>
  <%= @qiwo_coupon.porcentage %>
</p>

<p>
  <b>Start date:</b>
  <%= @qiwo_coupon.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @qiwo_coupon.end_date %>
</p>

<p>
  <b>Times used:</b>
  <%= @qiwo_coupon.times_used %>
</p>


<%= link_to 'Edit', edit_qiwo_coupon_path(@qiwo_coupon) %> |
<%= link_to 'Back', qiwo_coupons_path %>
