<%= simple_form_for(@qiwo_employee) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :employee_type %>
    <%= f.input :employee_fb_id %>
    <%= f.input :employee_sale_point %>
    <%= f.input :employee_enterprise %>
    <%= f.input :employee_products_permission %>
    <%= f.input :employee_enterprise_permission %>
    <%= f.input :employee_clients_permission %>
    <%= f.input :employee_quotes_permission %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
