

    <%= render "shared/topmenu" %>
    <!-- END HEADER -->
    <!-- BEGIN CONTAINER -->
    <div class="clearfix"></div>
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
       <%= render "shared/leftmenu" %>  
        <!-- END SIDEBAR -->
        <!-- BEGIN PAGE -->
        <div class="page-content">
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <%= render "shared/colorsettings" %>
            <!-- BEGIN PAGE CONTAINER-->
                <!-- BEGIN PAGE HEADER-->
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN STYLE CUSTOMIZER -->
                        <h3 class="page-title">
                            Mis empleados <small>Vista general</small>
                        </h3>
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                                <a href="index.html">Inicio</a> 
                                <i class="icon-angle-right"></i>
                            </li>
                            <li><a href="#">Mis empleados</a></li>
                            <li class="pull-right">
                     <div id="dashboard-report-range" class="dashboard-date-range tooltips" data-placement="top" data-original-title="Change dashboard date range">
                        <i class="icon-calendar"></i>
                        <span></span>
                        <i class="icon-angle-down"></i>
                     </div>
                  </li>
                        </ul>
                        <!-- END PAGE TITLE & BREADCRUMB-->
                    </div> 
                </div>
                <!-- END PAGE HEADER-->
            <div class="row">
                  <div class="col-lg-12 news-blocks">
                        <span>Instrucciones</span>
                        
                        <i class="icon-tags"></i>
                        <p>En esta sección de Coinless podrás definir quienes de tus contactos en facebook trabajan como tus asociados. Solo escribe el nombre y haz click en contratar.
                        Después define que tipo de permisos quieres otorgarle. Para evitar que trabaje contigo, usa el botón de despedir.
                        </p>
                        
                          <img src="/white_logo_transparent.png" alt="Qiwo" class="top-news-icon" style="width:50px;height:50px" />
                        
                     </div>
                     </div>
                <% if session[:activeUser].sys_rol==1 %>
                                    
                                    <div class="form-group">
                              <label class="control-label col-md-3">Escribe el nombre de la persona a contratar</label>
                              <div class="col-md-6">
                                 <input type="hidden" id="select2_fb" class="form-control select2">

                              </div>
                              <select  id="optionEnterprise" name="optionEnterprise" id="optionEnterprise">
                                        <% @misNegocios.each do |singleBiz| %>
                                        <% #negocio=QiwoEnterprise.where(:id=>singleBiz).last %>
                                  <option value="<%= singleBiz.id %>"><%= singleBiz.name %></option>
                                  <% end %>
                                  </select>
                              <a class="btn blue" href="javascript:hireEmployee();"><i class="icon-signin"></i> Contratar</a>
                           </div>
                  <div class="form-group" style="margin-top:50px;">
                  <% if @qiwo_employees.length==0 %>
                 <div class="note note-info">
                        <strong>¡Atención!</strong> No has agregado empleados/asociados a tus negocios.
                     </div>
                     <% end %>
                     </div>

                  
                     <table class="table" >
                              <thead>

                                 <tr>
                                    <th>Acciones</th>
                                    <th>Fotografia</th>
                                    <th>Nombre</th>
                                    <th>Tienda</th>
                                    <th>Ventas este mes</th>
                                    <th>Productos</th>
                                    <th>Ventas</th>
                                    <th>Punto de venta</th>
                                 </tr>
                              </thead>
                              <tbody id="currentEmployees">
                              
                              </tbody>
                           </table>
                  
              
               <% end %>   
               <div class="row margin-bottom-40">
                
                </div>
                    
                    
                <!-- end of window -->    
            </div>
            <!-- END PAGE CONTAINER-->    
        
        <!-- END PAGE -->
    </div>
    
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
<div class="modal fade" id="ajax-edit-product" tabindex="-1" role="basic" aria-hidden="true">
                        <img src="assets/img/ajax-modal-loading.gif" alt="" class="loading">

    </div>
    <div class="modal fade form" id="basic-payment" tabindex="-1" role="basic" aria-hidden="true">
                <form action="" role="form" method="POST" id="card-form-payment" onsubmit="javascript:plastizice();return false;" class="form-horizontal" > 
                <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token.to_s %>" />

                        <div class="modal-dialog">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                 <h4 class="modal-title">Procesar pago con Coinless</h4>
                              </div>
                              <div class="modal-body form-body">
                                <input type="hidden" name="cashtype" value="1" id="cashtype" />
                                <input type="hidden" name="orderaddp" value="1" id="orderaddp" />
                                
                                <div class="progress progress-striped active" id="proc-1" style="display:none;">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                    Procesando pago, espere
                                        <span class="sr-only">60%</span>
                                    </div>
                                </div>

                                  <span class="card-errors"></span>
                                  
                                  <div class="form-group" id="optionEnterpriseGroup">
                                    <label class="col-md-4 control-label"> Cobrar para</label>
                                      <div class="col-lg-6">
                                        <select class="form-control" id="optionEnterprise" name="optionEnterprise" id="optionEnterprise">
                                        
                                  <option value="1">some</option>
                                  
                                  </select>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="col-md-4 control-label"> Monto a cobrar</label>
                                      <div class="col-lg-6">
                                        <input type="text" class="form-control" size="20" id="amountToCharge" name="amountToCharge" />
                                      </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="col-md-4 control-label"> Nombre en la tarjeta</label>
                                      <div class="col-lg-6">
                                        <input type="text" class="form-control" size="20" data-conekta="card[name]" placeholder="Nombre en la tarjeta" id="conname" />
                                      </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="col-md-4 control-label">Número de Tarjeta de Cliente</label>
                                    <div class="col-lg-6">
                                      <input type="text" class="form-control" size="20" data-conekta="card[number]" placeholder="Número de tarjeta" id="connum" />
                                    </div>  
                                  </div>
                                  <div class="form-group">
                                    <label class="col-md-4 control-label"></label>
                                    <div class="col-lg-2">
                                      <input type="text" class="form-control" size="4" data-conekta="card[cvc]" placeholder="CVC" id="concvc" />
                                    </div>  
                                    
                                    <div class="col-lg-2">
                                    <input type="text" class="form-control" size="2" data-conekta="card[exp_month]" placeholder="MM" id="conmm" />
                                      </div>

                                      <div class="col-lg-2">
                                      <input type="text" class="form-control" size="2" data-conekta="card[exp_year]" placeholder="AAAA" id="conyy" />
                                      </div>
                                  </div>
                                  
                                    
                              </div>
                              <div class="modal-footer">
                              <img src="/assets/img/visa_logo.png" alt="">
                              <img src="/assets/img/mastercard_logo.png" alt="">
                                 <button type="button" class="btn default" data-dismiss="modal">Cerrar</button>
                                 <button type="submit" class="btn blue" id="subbtn">Continuar</button>
                              </div>
                           </div>
                           <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                        </form>

                     </div>
    <div class="footer">
        <div class="footer-inner">
            2020 &copy; Coinless.
        </div>
        <div class="footer-tools">
            <span class="go-top">
            <i class="icon-angle-up"></i>
            </span>
        </div>
    </div>
    
