<p id="notice"><%= notice %></p>

<p>
  <b>Employee type:</b>
  <%= @qiwo_employee.employee_type %>
</p>

<p>
  <b>Employee fb:</b>
  <%= @qiwo_employee.employee_fb_id %>
</p>

<p>
  <b>Employee sale point:</b>
  <%= @qiwo_employee.employee_sale_point %>
</p>

<p>
  <b>Employee enterprise:</b>
  <%= @qiwo_employee.employee_enterprise %>
</p>

<p>
  <b>Employee products permission:</b>
  <%= @qiwo_employee.employee_products_permission %>
</p>

<p>
  <b>Employee enterprise permission:</b>
  <%= @qiwo_employee.employee_enterprise_permission %>
</p>

<p>
  <b>Employee clients permission:</b>
  <%= @qiwo_employee.employee_clients_permission %>
</p>

<p>
  <b>Employee quotes permission:</b>
  <%= @qiwo_employee.employee_quotes_permission %>
</p>


<%= link_to 'Edit', edit_qiwo_employee_path(@qiwo_employee) %> |
<%= link_to 'Back', qiwo_employees_path %>
