
<%= simple_form_for @qiwo_user_subscription, :html => {:multipart => true,:class=>"form-horizontal portlet-body form"} do |f| %>
  <%= f.error_notification %>
<div class="row">
<div class="col-md-6">

  
    <%= f.input :id,input_html: { class:'col-md-12 form-control' } %>
    <%= f.input :user_id,input_html: { class:'col-md-12 form-control' }, %>
    <%= f.input :subscription_type,input_html: { class:'col-md-12 form-control' } %>
    <%= f.input :ends_on,input_html: { class:'col-md-12 form-control' } %>
    <%= f.input :payment_gateway,input_html: { class:'col-md-12 form-control' } %>
    <%= f.input :amount_paid,input_html: { class:'col-md-12 form-control' } %>
    <%= f.input :currency,input_html: { class:'col-md-12 form-control' } %>
</div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  </div>
<% end %>
