    <%= render "shared/topmenu" %>
    <!-- END HEADER -->
    <!-- BEGIN CONTAINER -->
    <div class="clearfix"></div>
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
       <%= render "shared/leftmenu" %>  
        <!-- END SIDEBAR -->
        <!-- BEGIN PAGE -->
        <div class="page-content">
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <%= render "shared/colorsettings" %>
            <!-- BEGIN PAGE CONTAINER-->
                <!-- BEGIN PAGE HEADER-->
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN STYLE CUSTOMIZER -->
                        <h3 class="page-title">
                            Mi suscripción <small>Vista general</small>
                        </h3>
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                                <a href="index.html">Inicio</a> 
                                <i class="icon-angle-right"></i>
                            </li>
                            <li><a href="#">Suscripción</a></li>
                            <li class="pull-right">
                     <div id="dashboard-report-range" class="dashboard-date-range tooltips" data-placement="top" data-original-title="Change dashboard date range">
                        <i class="icon-calendar"></i>
                        <span></span>
                        <i class="icon-angle-down"></i>
                     </div>
                  </li>
                        </ul>
                        <!-- END PAGE TITLE & BREADCRUMB-->
                    </div>
                </div>
                <!-- END PAGE HEADER-->
                <% if session[:activeUser].sys_rol==1 %>
                    <div class="portlet box blue">
                  <div class="portlet-title">
                     <div class="caption"><i class="icon-reorder"></i>Nuevo Plan</div>
                     <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                     </div>
                  </div>
                  <div class="portlet-body">
                     
                     <%= render 'qiwo_subscriptions/form' %>
                     
                  </div>
               </div>    
               <% end %>   
               <div class="row margin-bottom-40">
                <%  @qiwo_subscriptions.each do |singleSubscription| %>
                
                        <!-- Pricing -->
                        <div class="col-md-3">
                           <div class="pricing hover-effect">
                              <div class="pricing-head">
                                 <h3><%= singleSubscription.subscription_name %> <span>Planes para usuarios Qiwo</span></h3>
                                 <h4><i>$</i><%= singleSubscription.price %> </h4>Mensual<span></span>
                              </div>
                              <ul class="pricing-content list-unstyled">
                                 <li><i class="icon-tags"></i> <%= singleSubscription.places_allowed %> sucursales/negocios</li>
                                 <li><i class="icon-asterisk"></i> <%= singleSubscription.products_allowed %> productos en lista</li>
                                 
                              </ul>
                              <div class="pricing-footer">
                                  <% descripciones=singleSubscription.description.split("\n")
                                  descripciones.each do |singleDescription| %>
                                  <%= singleDescription %><br>
                                  <% end %>
                                 
                                 <!-- javascript:payMySubscription(<%= singleSubscription.id %>); -->

                                 <a class="btn green" data-toggle="modal" href="#basic-<%= singleSubscription.id%>">
                                 Comprar paquete <i class="m-icon-swapright m-icon-white"></i>
                                 </a>
                                 <% fecha=QiwoUserSubscriptionsController.userSuscriptionFinalDate(session) %>
                                 <% if QiwoUserSubscriptionsController.userSuscriptionPlan(session)!=nil and
                                  QiwoUserSubscriptionsController.userSuscriptionPlan(session)!="" %>
                                  <% if fecha!=nil and QiwoUserSubscriptionsController.userSuscriptionPlan(session).id==singleSubscription.id  %>
                                 <a class="btn red" rel="nofollow" data-confirm="¿Esta seguro de cancelar la suscripcion de su cuenta?. Esto activara automaticamente el plan libre donde solo 2 de sus productos serán visibles al publico y no podrá recibir pagos ni responder preguntas a sus clientes. Si ya cancelaste la suscripción y ya recibiste el email informando acerca de la cancelación y aún ves esta opción activa es por que tu mensualidad anterior aun tiene días antes de terminar. " data-method="delete" href="/qiwo_subscriptions/<%= singleSubscription.id %>">
                                 Cancelar suscripción <i class="m-icon-swapright m-icon-white"></i>
                                 </a>
                                 <% end %> 
                                 <% end %> 
                                 <% if session[:activeUser].sys_rol==1 %>
                                 <a class="btn red" rel="nofollow" data-confirm="Si presiona Aceptar se va a borrar el registro" data-method="delete" href="/qiwo_subscriptions/<%= singleSubscription.id %>">
                                 Borrar paquete <i class="m-icon-swapright m-icon-white"></i>
                                 </a>
                                 <% end %> 
                                 <% if session[:activeUser].sys_rol==1 %>
                                 <a href="/qiwo_subscriptions/<%= singleSubscription.id %>/edit" class="btn red" data-target="#ajax-edit-suscription" data-toggle="modal" >Editar</a>
                                 <% end %>
                            </div>
                        </div>
                    </div>
                <div class="modal fade form" id="basic-<%= singleSubscription.id%>" tabindex="-1" role="basic" aria-hidden="true">
                <form action="" method="POST" id="card-form-<%= singleSubscription.id%>" onsubmit="conektaCardHolder(<%= singleSubscription.id%>);return false;" class="form-horizontal" > 
                        <div class="modal-dialog">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                 <h4 class="modal-title">Procesar pago con Qiwo (<%= singleSubscription.subscription_name %>)</h4>
                              </div>
                              <div class="modal-body form-body">
                                <input type="hidden" name="subscription_type" value="<%= singleSubscription.id %>" />
                                <div class="progress progress-striped active" id="proc-<%= singleSubscription.id %>" style="display:none;">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                    Procesando pago
                                        <span class="sr-only">60% Complete (warning)</span>
                                    </div>
                                </div>

                                  <span class="card-errors"></span>
                                  <div class="form-group">
                                    <label class="col-md-4 control-label"> Nombre en la tarjeta</label>
                                      <div class="col-md-4">
                                        <input type="text" class="form-control" size="20" data-conekta="card[name]"/>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="col-md-4 control-label">Número de Tarjeta de Crédito</label>
                                    <div class="col-md-4">
                                      <input type="text" class="form-control" size="20" data-conekta="card[number]"/>
                                    </div>  
                                  </div>
                                  <div class="form-group">
                                    <label class="col-md-4 control-label">CVC</label>
                                    <div class="col-md-4">
                                      <input type="text" class="form-control" size="4" data-conekta="card[cvc]"/>
                                    </div>  
                                  </div>
                                  <div class="form-group">
                                    <label class="col-md-4 control-label">Mes de Expiración (MM)</label>
                                    <div class="col-md-4">
                                      <input type="text" class="form-control" size="2" data-conekta="card[exp_month]"/>
                                      </div>
                                    </div>
                                    <div class="form-group">
                                    <label class="col-md-4 control-label">Año de Expiración (AAAA)</label>
                                    <div class="col-md-4">
                                      <input type="text" class="form-control" size="2" data-conekta="card[exp_year]"/>
                                      </div>
                                    </div>
                              </div>
                              <div class="modal-footer">
                              <img src="/assets/img/visa_logo.png" alt="">
                        <img src="/assets/img/oxxo_logo.png" alt="">
                        <img src="/assets/img/mastercard_logo.png" alt="">
                        <img src="/assets/img/banorte_logo.png" alt="">
                                 <button type="button" class="btn default" data-dismiss="modal">Cerrar</button>
                                 <button type="submit" class="btn blue">Continuar</button>
                              </div>
                           </div>
                           <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                        </form>

                     </div>
                <% end %>
                </div>
                    
                    
                <!-- end of window -->    
            </div>
            <!-- END PAGE CONTAINER-->    
        
        <!-- END PAGE -->
    </div>
    
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <% if session[:activeUser].sys_rol==1 %>
<div class="modal fade" id="ajax-edit-suscription" tabindex="-1" role="basic" aria-hidden="true">
                        <img src="assets/img/ajax-modal-loading.gif" alt="" class="loading">
<% end %>
    </div>
    <div class="footer">
        <div class="footer-inner">
            2020 &copy; Coinless.
        </div>
        <div class="footer-tools">
            <span class="go-top">
            <i class="icon-angle-up"></i>
            </span>
        </div>
    </div>
    
