<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @qiwo_user_subscription.id %>
</p>

<p>
  <b>User:</b>
  <%= @qiwo_user_subscription.user_id %>
</p>

<p>
  <b>Subscription type:</b>
  <%= @qiwo_user_subscription.subscription_type %>
</p>

<p>
  <b>Ends on:</b>
  <%= @qiwo_user_subscription.ends_on %>
</p>

<p>
  <b>Payment gateway:</b>
  <%= @qiwo_user_subscription.payment_gateway %>
</p>

<p>
  <b>Amount paid:</b>
  <%= @qiwo_user_subscription.amount_paid %>
</p>

<p>
  <b>Currency:</b>
  <%= @qiwo_user_subscription.currency %>
</p>


<%= link_to 'Edit', edit_qiwo_user_subscription_path(@qiwo_user_subscription) %> |
<%= link_to 'Back', qiwo_user_subscriptions_path %>
