<%= simple_form_for(@cfdi_api) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :id %>
    <%= f.input :cfdi_status %>
    <%= f.input :incoming_params %>
    <%= f.input :found_error %>
    <%= f.input :ip_address %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
