<h1>Listing cfdi_apis</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Cfdi status</th>
    <th>Incoming params</th>
    <th>Found error</th>
    <th>Ip address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cfdi_apis.each do |cfdi_api| %>
  <tr>
    <td><%= cfdi_api.id %></td>
    <td><%= cfdi_api.cfdi_status %></td>
    <td><%= cfdi_api.incoming_params %></td>
    <td><%= cfdi_api.found_error %></td>
    <td><%= cfdi_api.ip_address %></td>
    <td><%= link_to 'Show', cfdi_api %></td>
    <td><%= link_to 'Edit', edit_cfdi_api_path(cfdi_api) %></td>
    <td><%= link_to 'Destroy', cfdi_api, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cfdi api', new_cfdi_api_path %>
