<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @cfdi_api.id %>
</p>

<p>
  <b>Cfdi status:</b>
  <%= @cfdi_api.cfdi_status %>
</p>

<p>
  <b>Incoming params:</b>
  <%= @cfdi_api.incoming_params %>
</p>

<p>
  <b>Found error:</b>
  <%= @cfdi_api.found_error %>
</p>

<p>
  <b>Ip address:</b>
  <%= @cfdi_api.ip_address %>
</p>


<%= link_to 'Edit', edit_cfdi_api_path(@cfdi_api) %> |
<%= link_to 'Back', cfdi_apis_path %>
