
<%= simple_form_for @qiwo_enterprise, :html => {:multipart => true,:class=>"form-horizontal portlet-body form"} do |f| %>
<% current_uri = request.env['PATH_INFO'] %>
<% if current_uri.index("qiwo_log_karts")!=nil or current_uri.index("sale_points")!=nil or current_uri.index("qiwo_orders")!=nil%>
<input type="hidden" name="purchase" value="1" id="purchase" />
<% end %>
<% if current_uri.index("qiwo_log_karts")!=nil %>
<input type="hidden" name="delta" value="1" />
<% end %>
<% if current_uri.index("sale_points")!=nil %>
<input type="hidden" name="delta" value="2" />
<% end %>
<% if current_uri.index("qiwo_orders")!=nil%>
<input type="hidden" name="delta" value="3" />
<% end %>
<% if current_uri.index("shipping_delivery")!=nil%>
<input type="hidden" name="delta" value="4" />
<% end %>
<div class="alert alert-danger display-hide">
                              <button class="close" data-dismiss="alert"></button>
                              You have some form errors. Please check below.
                           </div>

                           

<div class="row">
<div class="col-md-6">

<% if current_uri.index("qiwo_enterprises/shipping")!=nil %>
<%= f.input :comercial_name,label:"Nombre",required: true,input_html: { class:'col-md-12 form-control' },placeholder:'ejemplo: Mini Super Express' %>
<% else %>
<%= f.input :comercial_name,label:"Nombre comercial",required: true,input_html: { class:'col-md-12 form-control' },placeholder:'ejemplo: Mini Super Express' %>
<% end %>
<% if current_uri.index("qiwo_enterprises/shipping")==nil %>
<%= f.input :name,label: "Razón social",required: true,input_html: { class:'col-md-12 form-control' },placeholder: 'Mini Super SA de CV ó José Perez Martinez' %>
<% end %>
<div class="row">
<div class="col-md-3">
<%= f.input :calle,label:"Calle",required: true,input_html: { class:'col-md-3 form-control' },placeholder:'ejemplo: Jacarandas' %>
</div>
<div class="col-md-3">
<%= f.input :colonia,label:"Colonia",required: true,input_html: { class:'col-md-3 form-control' },placeholder:'ejemplo: Los arcos' %>
</div>
<div class="col-md-3">
<%= f.input :numexterior,label:"Número exterior",required: true,input_html: { class:'col-md-3 form-control' },placeholder:'ejemplo: 120' %>
</div>
<div class="col-md-3">
<%= f.input :numinterior,label:"Número interior",input_html: { class:'col-md-3 form-control' },placeholder:'ejemplo: A1' %>
</div>
<div class="col-md-3">
<%= f.input :localidad,label:"Localidad",input_html: { class:'col-md-12 form-control' },placeholder:'ejemplo: Delegación Cuahuctemoc' %>
</div>
<div class="col-md-3">
<%= f.input :municipio,label:"Municipio",required: true,input_html: { class:'col-md-12 form-control' },placeholder:'ejemplo: La paz' %>
</div>
<div class="col-md-3">
<%= f.input :estado,label:"Estado",required: true,input_html: { class:'col-md-12 form-control' },placeholder:'ejemplo: Baja California' %>
</div>
<div class="col-md-3">
<%= f.input :pais,label:"País",required: true,input_html: { class:'col-md-3 form-control' },placeholder:'ejemplo: Perú' %>
</div>
<div class="col-md-3">
<%= f.input :mycp,label:"C.P.",required: true,input_html: { class:'col-md-3 form-control' },placeholder:'ejemplo: 78000' %>
</div>
</div>
<% if current_uri.index("qiwo_enterprises/shipping")==nil %>
<%= f.input :rfc,required:true,label:"RFC",input_html: { class:'col-md-12 form-control' },placeholder:'CTR250491TG9' %>
<% end %>



<% if current_uri.index("qiwo_enterprises")!=nil and current_uri.index("qiwo_enterprises/shipping")==nil%>
<%= f.input :regimen, required:true,label:"Régimen fiscal",:collection => QiwoRegimen.all,:label_method => :name, :value_method => :typer,input_html: { class:'col-md-12 form-control' } %>
<%= f.input :schedule,label:"Horario",required: true,placeholder:'ejemplo 8:00 a 14:00',input_html: { class:'col-md-12 form-control' } %>
    <div class="input-group input-medium date date-picker" data-date="<%=Time.now.strftime('%d-%m-%Y') %>" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
        <%= f.input :founded_date,as: :string,label:"Fundado en",required: true,input_html: { class: "col-md-12 form-control", value: Time.now.strftime('%d-%m-%Y')  } %>
        <button class="btn default form-control" type="button"><i class="icon-calendar"></i></button>
    </div>
<% end %>

       </div>
<div class="col-md-6">
<%= f.input :telephones,:as=>:text,input_html: { style:'height:50px',class:'col-md-12 form-control' },label:"Teléfonos",required: true,placeholder:'Sí, tienes más de uno, separalos por coma' %>

<% if current_uri.index("qiwo_enterprises")!=nil and current_uri.index("qiwo_enterprises/shipping")==nil %>
<%= f.input :description,:as =>:text,label: "Descripción del negocio",required: true,input_html: { style:'height:80px',class:'col-md-12 form-control' },placeholder:'Describe la actividad del negocio.' %>
<% end %>
<% if current_uri.index("qiwo_enterprises/shipping")!=nil %>
<%= f.input :description,:as =>:text,label: "Referencias de ubicación",required: true,input_html: { style:'height:80px',class:'col-md-12 form-control' },placeholder:'Describe la actividad del negocio.' %>
<% end %>
<%= f.input :email_sales,:as =>:email,label:"Email de compras",required: true,input_html: { class:'col-md-12 form-control' },placeholder:'compras@mimail.com' %>
<%= f.input :email_buy,:as =>:email,label:"Email de ventas",required: true,input_html: { class:'col-md-12 form-control' },placeholder:'ventas@mimail.com' %>
<% if current_uri.index("sale_points")!=nil %>
<div class="form-group">
                                <label for="tipopago">Forma de pago</label>
                                <input class="form-control" name="tipopago" id="tipopago" placeholder="Forma de pago" required value="Pago en una sola exhibición" />
                            </div>
                            <% end %>
<% if current_uri.index("qiwo_enterprise")!=nil and current_uri.index("qiwo_enterprises/shipping")==nil %>
  <%= f.input :paypal_email,:as =>:email,label:"Paypal email",input_html: { class:'col-md-12 form-control' },placeholder:'paypal@mimail.com' %>
  <%= f.input :bank_clabe,label:"CLABE y Banco",input_html: { class:'col-md-12 form-control' },placeholder:'18 dígitos - Nombre del banco' %>
<% end %>
													
<div class="modal-footer">
            <button type="button" class="btn default" data-dismiss="modal">Cerrar</button>
             <% if current_uri.index("qiwo_enterprises")==nil %>
            <button type="submit" class="btn blue">Generar factura</button>
            <% else %>
            <button type="submit" class="btn blue">Guardar</button>
            <% end %>
        </div>
                        </div>
                        </div>                            
												

  
<% end %>