<% current_uri = request.env['PATH_INFO'] %>
<div class="modal-dialog modal-full">
    <div class="modal-content">                             
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <% if current_uri.index("qiwo_enterprises/shipping")!=nil %>
        <h4 class="modal-title">Dirección de recolección/destino</h4>
        <% else %>
        <h4 class="modal-title">Modifica tu tienda</h4>
        <% end %>
        </div>
<div class="modal-body">
<%= render 'form' %>

 </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
    </div>
<script>
     $('#tags_me').tagsInput();
    $('#tags_1').tagsInput();
    $('#tags_2').tagsInput();
   </script>
