<h1>Listing qiwo_enterprises</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Location lat</th>
    <th>Location lon</th>
    <th>Schedule</th>
    <th>Founded date</th>
    <th>Telephones</th>
    <th>Point sale</th>
    <th>Paypal email</th>
    <th>Bank clabe</th>
    <th>Comercial name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @qiwo_enterprises.each do |qiwo_enterprise| %>
  <tr>
    <td><%= qiwo_enterprise.name %></td>
    <td><%= qiwo_enterprise.location %></td>
    <td><%= qiwo_enterprise.location_lat %></td>
    <td><%= qiwo_enterprise.location_lon %></td>
    <td><%= qiwo_enterprise.schedule %></td>
    <td><%= qiwo_enterprise.founded_date %></td>
    <td><%= qiwo_enterprise.telephones %></td>
    <td><%= qiwo_enterprise.point_sale %></td>
    <td><%= qiwo_enterprise.paypal_email %></td>
    <td><%= qiwo_enterprise.bank_clabe %></td>
    <td><%= qiwo_enterprise.comercial_name %></td>
    <td><%= link_to 'Show', qiwo_enterprise %></td>
    <td><%= link_to 'Edit', edit_qiwo_enterprise_path(qiwo_enterprise) %></td>
    <td><%= link_to 'Destroy', qiwo_enterprise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Qiwo enterprise', new_qiwo_enterprise_path %>
