    <%= render "shared/topmenu" %>
	<!-- END HEADER -->
	<!-- BEGIN CONTAINER -->
    <div class="clearfix"></div>
	<div class="page-container">
		<!-- BEGIN SIDEBAR -->
	   <%= render "shared/leftmenu" %>	
		<!-- END SIDEBAR -->
		<!-- BEGIN PAGE -->
		<div class="page-content">
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <%= render "shared/colorsettings" %>
			<!-- BEGIN PAGE CONTAINER-->
				<!-- BEGIN PAGE HEADER-->
				<div class="row">
					<div class="col-md-12">
						<!-- BEGIN STYLE CUSTOMIZER -->
						<h3 class="page-title">
							Mis negocios y sucursales <small>Vista general</small>
						</h3>
						<ul class="page-breadcrumb breadcrumb">
							<li>
								<i class="icon-home"></i>
								<a href="index.html">Inicio</a> 
								<i class="icon-angle-right"></i>
							</li>
							<li><a href="#">Mi negocio</a></li>
							<li class="pull-right">
                     <div id="dashboard-report-range" class="dashboard-date-range tooltips" data-placement="top" data-original-title="Change dashboard date range">
                        <i class="icon-calendar"></i>
                        <span></span>
                        <i class="icon-angle-down"></i>
                     </div>
                  </li>
						</ul>
						<!-- END PAGE TITLE & BREADCRUMB-->
					</div>
				</div>
				
				<div class="row">
                  <div class="col-lg-12 news-blocks">
                        <span>Instrucciones</span>
                        
                        <i class="icon-tags"></i>
                        <p>En esta sección, podrás añadir los negocios ó sucursales que deseas añadir a Qiwo.
                        Recuerda que, antes de añadir los productos, debes guardar los datos del negocio en esta sección.

                        Para empezar haz clic sobre el botón de añadir y completa todos los campos.
                        </p>
                        
                            <img src="/white_logo_transparent.png" alt="Qiwo" class="top-news-icon" style="width:50px;height:50px" />
                        <a class="fancybox-media" href="" id="welcome-video"><h4><i class="icon-youtube-play"></i> Video introductorio para crear tu tienda</h4></a>
                     </div>
                     </div>


				<!-- END PAGE HEADER-->
				<div>
                    <a href="#responsiv" class="btn blue" data-toggle="modal"><i class="icon-plus"></i> Añadir negocio o sucursal</a>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-advance table-hover">
                        <thead>
                           <tr>
                              <th><i class="icon-building"></i> Nombre negocio</th>
                              <th><i class="icon-laptop"></i> Página de la tienda</th>
                              <th><i class="icon-list"></i> Descripción</th>
                              <th><i class="icon-shopping-cart"></i> Cotización total</th>
                               <th><i class="icon-credit-card"></i> Venta total</th>
                               <th><i class="icon-pencil"></i> Acciones</th>
                              <th></th>
                           </tr>
                        </thead>
                        <tbody>
                             
                        <% @qiwo_enterprises.each do |qiwo_enterprise| %>
                        <% noCompletasArray=QiwoLogKart.where(:store_id=>qiwo_enterprise.id,:kart_state=>1)
                           completadasArray=QiwoLogKart.where(:store_id=>qiwo_enterprise.id,:kart_state=>[2,3]) 
                           perdidas=0
                           ganancias=0
                           noCompletasArray.each do |singleNoCompleta|
                            aunExisteProducto=QiwoProduct.find_by_id(singleNoCompleta.qiwo_product_id)
                            if aunExisteProducto!=nil
                              perdidas=perdidas+((singleNoCompleta.quantity)*QiwoProduct.find_by_id(singleNoCompleta.qiwo_product_id).sale_price.to_i)  
                            end
                           end
                           completadasArray.each do |singleCompleta|
                            aunExisteProducto=QiwoProduct.find_by_id(singleCompleta.qiwo_product_id)
                            if aunExisteProducto!=nil
                           	  ganancias=ganancias+((singleCompleta.quantity)*QiwoProduct.find_by_id(singleCompleta.qiwo_product_id).sale_price.to_i)
                            end
                           end
                           %>

                           <tr>
                              <td><a href="#"><%= qiwo_enterprise.name %></a></td>
                              <td><a href="https://coinless.network/tienda/<%= qiwo_enterprise.unique_uri %>">https://coinless.network/tienda/<%= qiwo_enterprise.unique_uri %></a></td>
                              <td class="hidden-xs"><%= qiwo_enterprise.description %></td>
                              <% if perdidas>0 %>
                              <td><span class="badge badge-danger">$<%= perdidas %></span></td>
                              <% else %>
                              <td>$<%= perdidas %></td>
                              <% end %>
                              
                              <% if ganancias>0 %>
                              <td><span class="badge badge-success">$<%= ganancias %></span></td>
                              <% else %>
                              <td>$<%= ganancias %></td>
                              <% end %>
                              <td><a href="/qiwo_enterprises/<%= qiwo_enterprise.id %>/edit" class="btn default btn-xs green-stripe" data-target="#ajax-edit-product" data-toggle="modal" >Editar</a><a href="/qiwo_enterprises/<%= qiwo_enterprise.id %>" class="btn default btn-xs blue-stripe" rel="nofollow" data-confirm="Si presiona Aceptar se va a borrar el registro" data-method="delete">Borrar</a></td>
                               </tr>
                               <% end %>
                           
                        </tbody>
                        </table>
                     </div>
                  </div>
             <div class='apple_pagination'>
    <%= will_paginate @qiwo_enterprises %>        
</div>     
                    
											<!-- Only required for left/right tabs -->
                        
											
												
											
											
                    
                    
                    <div id="responsiv" class="modal fade" tabindex="-1" role="basic" aria-hidden="true">
                     <div class="modal-dialog modal-full">
                    <div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
										<h3>Agregar negocio ó sucursal</h3>
									</div>
									<div class="modal-body">


                                        
								<!-- BEGIN FORM-->
                                        <%= render "form" %>
								<!-- END FORM-->
							         
								    </div>
                       
						</div>
								</div>		
				</div>
				<!-- end of window -->    
			</div>
			<!-- END PAGE CONTAINER-->    
		
		<!-- END PAGE -->
	</div>
    
	<!-- END CONTAINER -->
	<!-- BEGIN FOOTER -->
<div class="modal fade" id="ajax-edit-product" tabindex="-1" role="basic" aria-hidden="true">
                        <img src="assets/img/ajax-modal-loading.gif" alt="" class="loading">
    </div>
	<div class="footer">
		<div class="footer-inner">
			2020 &copy; Coinless.
		</div>
		<div class="footer-tools">
			<span class="go-top">
			<i class="icon-angle-up"></i>
			</span>
		</div>
	</div>
	
