<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @qiwo_enterprise.name %>
</p>

<p>
  <b>Location:</b>
  <%= @qiwo_enterprise.location %>
</p>

<p>
  <b>Location lat:</b>
  <%= @qiwo_enterprise.location_lat %>
</p>

<p>
  <b>Location lon:</b>
  <%= @qiwo_enterprise.location_lon %>
</p>

<p>
  <b>Schedule:</b>
  <%= @qiwo_enterprise.schedule %>
</p>

<p>
  <b>Founded date:</b>
  <%= @qiwo_enterprise.founded_date %>
</p>

<p>
  <b>Telephones:</b>
  <%= @qiwo_enterprise.telephones %>
</p>

<p>
  <b>Point sale:</b>
  <%= @qiwo_enterprise.point_sale %>
</p>

<p>
  <b>Paypal email:</b>
  <%= @qiwo_enterprise.paypal_email %>
</p>

<p>
  <b>Bank clabe:</b>
  <%= @qiwo_enterprise.bank_clabe %>
</p>

<p>
  <b>Comercial name:</b>
  <%= @qiwo_enterprise.comercial_name %>
</p>


<%= link_to 'Edit', edit_qiwo_enterprise_path(@qiwo_enterprise) %> |
<%= link_to 'Back', qiwo_enterprises_path %>
