.<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js sidebar-large lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js sidebar-large lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js sidebar-large lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js sidebar-large"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Qiwo - Network Cloud Business para PYMES</title>
    <meta name="description" content="Plataforma WebApp para abrir una tienda virtual, con emision de facturación electrónica (CFDI) y punto de venta (POS o TPV) con envios nacionales y internacional. Acepta pagos con diferentes métodos de pago. Personas Fisicas y Morales">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Carrois+Gothic" rel="stylesheet">
    <!-- BEGIN MANDATORY STYLE -->
    <link href="assets/css/icons/fontawesome/font-awesome.css" rel="stylesheet">
    <link href="assets/css/icons/flaticons/flaticon.css" rel="stylesheet">
    <link href="assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/style-video.css" rel="stylesheet">
    <!-- END  MANDATORY STYLE -->
    <!-- BEGIN PAGE LEVEL STYLE -->
    <link href="assets/css/animate.css" rel="stylesheet">
    <link href="assets/plugins/revolution/revolution.css" rel="stylesheet">
    <!-- END PAGE LEVEL STYLE -->
    <script src="assets/plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <script type="text/javascript">
    <% if notice!=nil %>
    alert("<%= notice %>");
    <% end %>
    </script>
</head>

<body class="tour-page" id="animated-page">
    <!-- BEGIN PRELOADER -->
    <section class="preloader">
        <div id="loading-animation">
            <ul class="spinner">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </section>
    <!-- END PRELOADER -->
    <!-- BEGIN TOP NAVBAR -->
    <nav class="navbar navbar-fixed-top" role="navigation" data-0="line-height:85px; height:85px; background-color:rgba(43,46,51,0.3);" data-300="line-height:60px; height:60px; background-color:rgba(43,46,51,1);">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="fa fa-bars c-white"></span>
                </button>
                <h1>
                    <a class="navbar-brand" href="index.html" data-0="line-height:80px" data-300="line-height:58px">
                        <img src="assets/img/qiwo_logo.png" data-0="line-height:80px" data-300="line-height:58px" alt="logo" width="64" height="55"></a>
                    </a>
                </h1>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" data-0="margin-top:20px;" data-300="margin-top:7px;">
                    <li><a href="index.html">Inicio</a>
                    </li>
                    <li class="active"><a href="tour.html">Tour</a>
                    </li>
                    <li><a href="tiendas.html">Tiendas</a>
                    </li>
                    <li><a href="grant_permission.html">Entrar + Precios</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END TOP NAVBAR-->
    <!-- BEGIN TOUR -->
    <section id="tour1">
        <div class="tour-top bg-blue">
            <div class="banner-container">
                <div class="banner">
                    <ul>
                        <!-- SLIDE  -->
                        <li data-transition="fade">
                            <!-- MAIN IMAGE -->
                            <img src="assets/img/tour/tour_bg.png">
                            <!-- LAYERS -->
                            <div class="caption sft" data-x="300" data-y="125" data-speed="600" data-start="500" data-endspeed="600" data-endeasing="easeIn" style="z-index: 3;">
                                <img src="assets/img/mockup_laptop_front.png">
                            </div>
                            <div class="caption sfb" data-x="140" data-y="210" data-speed="800" data-start="1200" data-endspeed="300" data-endeasing="easeIn" data-captionhidden="off" style="z-index: 4;">
                                <img src="assets/img/mockup_ipad.png">
                            </div>
                            <div class="caption sfr" data-x="615" data-y="300" data-speed="800" data-start="1500" data-endspeed="300" data-endeasing="easeIn" data-captionhidden="off" style="z-index: 4;">
                                <img src="assets/img/mockup_phone.png">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tour-title bg-white">
          <h1>La pieza clave de tu negocio</h1>
          <p>Una plataforma SasS para administrar micros, pequeños y medianos negocios.
             </p>
                <a href="http://qiwo.mx/grant_permission_t.html" class="btn btn-blue btn-lg  btn-large">Comprar ahora!</a>
                <br>
                <br>
                <a id="tour1_next" class="control-btn go-down fa fa-chevron-down" href="#"></a>
           
        </div>
    </section>
    <section class="tour-section bg-white animated-section" id="tour2">
        <div class="row side top">
            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                <h1>¿Por que Qiwo?</h1>
                <p>Actualmente los negocios se mueven a través de internet. Tenemos las herramientas necesarias para que tu negocio empiece a vender por internet o desde tu tienda fisica</p>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <i class="glyph-icon flaticon-widgets fa-5x m-b-20"></i>
                <h3>Potencial</h3>
                <p>La plataforma se adapta a algunos giros de negocio. Por ejemplo desde una cafeteria, mini super hasta una empresa de servicio. Personas físicas (Regimen de Incorporación Fiscal, Actividades Empresariales y Profesionales) y Morales son bienvenidas</p>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <i class="glyph-icon flaticon-html9 fa-5x m-b-20"></i>
              <h3>PDF &amp; XML</h3>
              <p>Las facturas que se generen en la plataforma cumplen con los últimos requerimientos por el SAT. El sistema puede enviar las facturas en segundos por email o el cliente puede descargalas una vez pagado su artículo/servicio. Obten folios sin caducidad a un precio especial</p>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <i class="glyph-icon flaticon-tools6 fa-5x m-b-20"></i>
              <h3>Apps</h3>
              <p>Tenemos conexión con diversos sitemas de pago (Conekta y OpenPay), para que tus clientes puedan pagarte en efectivo a través de las diferentes tiendas de conveniencia como Oxxo, 7-Eleven, Farmacias y Otros. También puedes aceptar pagos con tarjetas de crédito, débito y AMMEX. También puedes ligar tu cuenta de PayPal. Además rastreo de paquetes, etc.</p>
            </div>
            <div class="col-lg-12">
                <div class="appear" id='svg-animated'></div>
            </div>
        </div>
    </section>
    <section class="arrows_box">
        <div class="arrows">
            <div id="tour2_next" class="go-down">
                <img src="assets/img/arrow_down.png" alt="">
            </div>
            <div id="tour2_back" class="go-up">
                <img src="assets/img/arrow_up.png" alt="">
            </div>
        </div>
    </section>
    <section class="tour-section animated-section" id="tour3">
        <div class="row">
            <article class="side left col-sm-6">
              <h1>A la medida</h1>
              <p>Cuidamos y ponemos las herramientas necesarias</p>
              <div>
                    <div class="feature">
                      <h4><i class="fa fa-desktop"></i>Controla tu negocio</h4>
                      <p>Conoce en tiempo real, las transacciones de tus compras y ventas. Lleva un control con el inventario cloud </p>
                    </div>
                    <div class="feature">
                      <h4><i class="fa fa-check"></i>Fácil de implementar</h4>
                      <p>Moderniza el centro de operaciones de tus clientes, usando Facebook y Telegram Messenger </p>
                    </div>
                </div>
            </article>
            <figure class="side side-img right col-sm-6">
                <img src="assets/img/mockup_right.png" alt="inbox page" class="img-responsive">
            </figure>
        </div>
    </section>
    <section class="arrows_box">
        <div class="arrows">
            <div id="tour3_next" class="go-down">
                <img src="assets/img/arrow_down.png" alt="">
            </div>
            <div id="tour3_back" class="go-up">
                <img src="assets/img/arrow_up.png" alt="">
            </div>
        </div>
    </section>
    <section class="tour-section animated-section bg-white" id="tour4">
        <div class="row">
            <figure class="side side-img left col-sm-6">
                <img src="assets/img/mockup_left.png" alt="homepage" class="img-responsive">
            </figure>
            <article class="side right col-sm-6">
              <h1>Balance perfecto</h1>
              <p>Tus clientes y tu, quedaran satisfechos de usar una plataforma </p>
              <div>
                    <div class="feature">
                      <h4><i class="fa fa-desktop"></i> Social eCommerce</h4>
                      <p>Promociona tus productos en la red social Facebook<br>
                      </p>
                      <p>&nbsp;</p>
                    </div>
                    <div class="feature">
                      <h4><i class="fa fa-check"></i>Seguridad y Privacidad</h4>
                      <p>Contamos con altos estandares de seguridad y privacidad. Cuidamos la integridad del sistema y de la información</p>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <section class="arrows_box">
        <div class="arrows arrows-last">
            <div id="tour_back_to_top" class="go-up">
                <img src="assets/img/arrow_up.png" alt="">
            </div>
        </div>
    </section>
    <!-- END TOUR -->
    <!-- BEGIN TESTIMONIALS -->
    <section class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="span12 p-t-50 p-b-40">
                    <div id="testimonials" class="owl-carousel">
                        <div class="">
                            <div class="">
                              <h3 class="normal text-center"> Premios</h3>
                              <p class="text-center">
                                    <img src="assets/img/premios.png" alt="Innova Apps BBVA" class="img-circle"></p>
                              <p class="text-center">Tercer lugar en la categoría de relación Clientes / Ventas</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-md-6  col-md-offset-3">
                              <h3 class="normal text-center"> Prensa</h3>
                              <p class="text-center">
                                    <img src="assets/img/prensa.png" alt="Pulso SocialPlusBits" class="img-circle"></p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-md-6  col-md-offset-3">
                              <h3 class="normal text-center"> Parterns</h3>
                              <p class="text-center">
                                    <img src="assets/img/partners.png" alt="Winero" class="img-circle"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END TESTIMONIALS -->
    <!-- BEGIN SUBSCRIBE SECTION -->
    <section id="subscribe" class="subscribe-form">
        <div class="container">
            <div class="row">
                <form action="/suscribir/me" method="post" data-name="Email Form">
                    <div class="col-sm-8">
                        <input type="text" placeholder="Dejános tu email" spellcheck="false">
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-large btn-blue" type="submit">
                            Suscribirse
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- END SUBSCRIBE SECTION -->
    <!-- BEGIN FOOTER -->
    <section id="footer" class="section footer">
        <div class="container">
            <div class="row animated opacity m-b-20" data-andown="fadeIn" data-animation="animation">
                <div class="col-sm-12 align-center">
                    <ul class="social-network social-circle">
                        <li><a href="http://qiwo-mx.tumblr.com/" class="ico" title="Rss"><i class="fa fa-rss"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/qiwo.mx" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://twitter.com/qiwomx" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li></i></a>
                        </li>
                        <li></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row align-center copyright"><script type="text/javascript" src="https://seal.verisign.com/getseal?host_name=qiwo.mx&amp;size=M&amp;use_flash=NO&amp;use_transparent=YES&amp;lang=es"></script>
                <div class="col-sm-12">
                    <p>Derechos Reservados &copy; 2014 Qiwo, una división de Consultware de México, S. de R.L. de C.V. Agustin Vera No 1415 A 2 Col. Del Valle, San Luis Potosí, S.L.P. <a href="legal.html"> Aviso Legal</a> | <a href="privacidad.html"> Aviso de Privacidad</a></p>
                </div>
            </div>
        </div>
    </section>
    <!-- END FOOTER -->
    <!-- BEGIN MANDATORY SCRIPTS -->
    <script src="assets/plugins/jquery-1.11.js"></script>
    <script src="assets/plugins/bootstrap.min.js"></script>
    <script src="assets/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="assets/plugins/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="assets/plugins/skrollr/skrollr.min.js"></script>
    <script src="assets/plugins/jquery-scrollto/jquery.scrollTo-1.4.3.1-min.js"></script>
    <script src="assets/plugins/stellar/stellar.js"></script>
    <script src="assets/plugins/jquery-appear/jquery.appear.js"></script>
    <!-- END MANDATORY SCRIPTS -->
    <!-- BEGIN PAGE PLUGIN SCRIPTS -->
    <script src="assets/plugins/revolution/plugins.min.js"></script>
    <script src="assets/plugins/revolution/jquery.revolution.min.js"></script>
    <script src="assets/plugins/onscroll-effect/js/classie.js"></script>
    <script src="assets/plugins/onscroll-effect/js/cbpScroller.js"></script>
    <script src="assets/plugins/lazylinepainter/jquery.lazylinepainter-1.4.1.min.js"></script>
    <script src="assets/plugins/lazylinepainter/raphael-min.js"></script>
    <!-- END PAGE PLUGIN SCRIPTS -->
    <script src="assets/js/main.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script type="text/javascript" src="js/webflow.js"></script>
  <script type="text/javascript" src="//assets.zendesk.com/external/zenbox/v2.6/zenbox.js"></script>
<style type="text/css" media="screen, projection">
  @import url(//assets.zendesk.com/external/zenbox/v2.6/zenbox.css);
</style>
<script type="text/javascript">
  if (typeof(Zenbox) !== "undefined") {
    Zenbox.init({
      dropboxID:   "20113340",
      url:         "https://qiwo.zendesk.com",
      tabTooltip:  "Ayuda",
      tabImageURL: "https://assets.zendesk.com/external/zenbox/images/tab_es_help_right.png",
      tabColor:    "#A1D22B",
      tabPosition: "Right"
    });
  }
</script>
</body>

</html>