<div class="modal-dialog modal-wide">
    <div class="modal-content">                             
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">Quienes somos</h4>
        </div>
<div class="modal-body">
<h4>Misión</h4>
<blockquote>
<p class="text-info">Crear una red de clientes y proveedores en México utilizando como vinculo la tecnología.</p>
</blockquote>
<h4>Visión (Corto plazo)</h4>
<blockquote>
<p class="text-success">- Ser una empresa innovadora en su clase
- Ser la plataforma web de negocios más importante de productos y servicios en México
- Satisfacción total en nuestros clientes
- Ser una empresa promotora de la economía Mexicana.</p>
</blockquote>
<h4>Valores</h4>
<blockquote>
<p class="text-info">Nuestro equipo está comprometido con lo que más le gusta hacer.</p>
</blockquote>
<h4>Equipo</h4>
<blockquote>
<p class="text-success">
Estamos compuestos de logro y entusiasmo</p>
</blockquote>
<h4>Confianza</h4>
<blockquote>
<p class="text-info">Te extendemos la mano para que vayas a donde quieres ir.</p>
</blockquote>
<h4>Calidad</h4>
<blockquote>
<p class="text-success">
Somos personas que cuidan mucho lo que a ti te importa.</p>
</blockquote>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->