<%= simple_form_for @qiwo_subscription, :html => {:multipart => true,:class=>"form-horizontal form"} do |f| %>

  <%= f.error_notification %>

  
    <%= f.input :subscription_name,input_html: { class:'col-md-12 form-control' },label:"Nombre de suscripcion" %>
    <%= f.input :description,input_html: { class:'col-md-12 form-control',rows:"2"  },label:"Descripcion de suscripcion" %>
    <%= f.input :price,input_html: { class:'col-md-12 form-control' },label:"Precio (sin puntos)" %>
    <%= f.input :places_allowed,input_html: { class:'col-md-12 form-control' },label:"Negocios permitidos" %>
    <%= f.input :products_allowed,input_html: { class:'col-md-12 form-control' },label:"Productos permitidos" %>
    <%= f.input :days_active,input_html: { class:'col-md-12 form-control' },label:"Días activo" %>
    <%= f.input :months_active,input_html: { class:'col-md-12 form-control' },label:"Cada cuantos meses se renueva" %>
    <%= f.input :access_providers,as: :boolean,input_html: { class:'col-md-12 form-control' },label:"¿Tiene permisos para ver proveedores?" %>
    <%= f.input :use_employees,as: :boolean,input_html: { class:'col-md-12 form-control' },label:"¿Permiso para administrar empleados?" %>
    <%= f.input :sale_point,as: :boolean,input_html: { class:'col-md-12 form-control' },label:"¿Punto de venta activo?" %>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>

<% end %>
