<h1>Listing qiwo_subscriptions</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Subscription name</th>
    <th>Price</th>
    <th>Places allowed</th>
    <th>Products allowed</th>
    <th>Days active</th>
    <th>Months active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @qiwo_subscriptions.each do |qiwo_subscription| %>
  <tr>
    <td><%= qiwo_subscription.id %></td>
    <td><%= qiwo_subscription.subscription_name %></td>
    <td><%= qiwo_subscription.price %></td>
    <td><%= qiwo_subscription.places_allowed %></td>
    <td><%= qiwo_subscription.products_allowed %></td>
    <td><%= qiwo_subscription.days_active %></td>
    <td><%= qiwo_subscription.months_active %></td>
    <td><%= link_to 'Show', qiwo_subscription %></td>
    <td><%= link_to 'Edit', edit_qiwo_subscription_path(qiwo_subscription) %></td>
    <td><%= link_to 'Destroy', qiwo_subscription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Qiwo subscription', new_qiwo_subscription_path %>
