<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @qiwo_subscription.id %>
</p>

<p>
  <b>Subscription name:</b>
  <%= @qiwo_subscription.subscription_name %>
</p>

<p>
  <b>Price:</b>
  <%= @qiwo_subscription.price %>
</p>

<p>
  <b>Places allowed:</b>
  <%= @qiwo_subscription.places_allowed %>
</p>

<p>
  <b>Products allowed:</b>
  <%= @qiwo_subscription.products_allowed %>
</p>

<p>
  <b>Days active:</b>
  <%= @qiwo_subscription.days_active %>
</p>

<p>
  <b>Months active:</b>
  <%= @qiwo_subscription.months_active %>
</p>


<%= link_to 'Edit', edit_qiwo_subscription_path(@qiwo_subscription) %> |
<%= link_to 'Back', qiwo_subscriptions_path %>
