<div class="theme-panel hidden-xs hidden-sm">
            <div class="toggler"></div>
            <div class="toggler-close"></div>
            <div class="theme-options">
               <div class="theme-option theme-colors clearfix">
                  <span>Color de página</span>
                  <ul>
                     <li class="color-black current color-default" data-style="default"></li>
                     <li class="color-blue" data-style="blue"></li>
                     <li class="color-brown" data-style="brown"></li>
                     <li class="color-purple" data-style="purple"></li>
                     <li class="color-grey" data-style="grey"></li>
                     <li class="color-white color-light" data-style="light"></li>
                  </ul>
               </div>
               <div class="theme-option">
                  <span>Formato</span>
                  <select class="layout-option form-control input-small">
                     <option value="fluid" selected="selected">Completo</option>
                     <option value="boxed">Pequeño</option>
                  </select>
               </div>
               <div class="theme-option">
                  <span>Encabezado</span>
                  <select class="header-option form-control input-small">
                     <option value="fixed" selected="selected">Empresarial</option>
                     <option value="default">Divertido</option>
                  </select>
               </div>
               <div class="theme-option">
                  <span>Menu lateral</span>
                  <select class="sidebar-option form-control input-small">
                     <option value="fixed">Empresarial</option>
                     <option value="default" selected="selected">Divertido</option>
                  </select>
               </div>
               <div class="theme-option">
                  <span>Pie de página</span>
                  <select class="footer-option form-control input-small">
                     <option value="fixed">Empresarial</option>
                     <option value="default" selected="selected">Divertido</option>
                  </select>
               </div>
            </div>
         </div>
         <% if notice!=nil and notice!="" %>
         <div class="theme-panel">
<div class="alert alert-danger alert-dismissable">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
<i class="icon-bullhorn"></i>
                        <%= notice %>
                     </div>
                     </div>
         <% end %>
