<% current_uri = request.env['PATH_INFO'] %>
<!-- BEGIN SIDEBAR -->
		<div class="page-sidebar navbar-collapse collapse">
			<!-- BEGIN SIDEBAR MENU -->        
			<ul class="page-sidebar-menu">
				<li>
					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
					<div class="sidebar-toggler hidden-phone"></div>
					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
				</li>
				<li>
					<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
					
					<!-- END RESPONSIVE QUICK SEARCH FORM -->
				</li>
				<% misNegocios=QiwoEnterprise.where(:user_owner=>session[:activeUser].id)
    				misNegociosIndex=misNegocios.index_by(&:id).keys
    				misProductos=QiwoProduct.where(:business_source=>misNegociosIndex)
    				misProductosIndex=misProductos.index_by(&:id).keys
    			%>
				<li class="start <% if current_uri=="/yo" %>active<% end %>">
					<a href="/yo" target="_self">
					<i class="icon-home"></i> 
					<span class="title">Escritorio</span>
                    <% if current_uri=="/yo" %>
					<span class="selected"></span>
                    <% end %>
					</a>
				</li>
				
				<% if session[:activeUser].sys_rol==1 or puntoDeVentaAutorizado()==true %>
				<li class="tooltips <% if current_uri=="/sale_points" %>active<% end %>" data-placement="right" data-original-title="Punto de venta de tus productos para ventas en piso y cobro con tarjeta">
					<a href="/sale_points" target="_self">
					<i class="icon-list-alt"></i> 
					<span class="title">Punto de Venta (POS)</span>
                    <% if current_uri=="/sale_points" %>
					<span class="selected"></span>
                    <% end %>
					</a>
				</li>
				
				<li class="tooltips <% if current_uri=="/qiwo_orders" %>active<% end %>" data-placement="right" data-original-title="Estado de las ventas en piso y cobro con tarjeta">
					<a href="/qiwo_orders" target="_self">
					<i class="icon-list-alt"></i> 
					<span class="title">Ordenes</span>
                    <% if current_uri=="/qiwo_orders" %>
					<span class="selected"></span>
                    <% end %>
					</a>
				</li>
				<% end %>
                <li class="tooltips <% if current_uri=="/qiwo_enterprises" %>active<% end %>" data-placement="right" data-original-title="Agrega la descripción de tu negocio aquí">
					<a href="/qiwo_enterprises" target="_self">
					<i class="icon-sun"></i> 
					<span class="title">Mis tiendas</span>
                    <% if current_uri=="/qiwo_enterprises" %>
					<span class="selected"></span>
                    <% end %>
					</a>
				</li>
				
				<li class="tooltips <% if current_uri=="/facturacions" %>active<% end %>" data-placement="right" data-original-title="Realiza cancelaciones y devoluciones en esta pantalla">
					<a href="/facturacions" target="_self">
					<i class="icon-signout"></i> 
					<span class="title">Devoluciones</span>
                    <% if current_uri=="/facturacions" %>
					<span class="selected"></span>
                    <% end %>
					</a>
				</li>
				
				<% if misNegociosIndex.length>0 %>
                <li class="tooltips <% if current_uri=="/qiwo_products" %>active<% end %>" data-placement="right" data-original-title="Agrega los productos de tu negocio aquí">
					<a href="/qiwo_products" target="_self">
					<i class="icon-dropbox"></i> 
					<span class="title">Mis productos/servicios</span>
                    <% if current_uri=="/qiwo_products" %>
					<span class="selected"></span>
                    <% end %>
					</a>
				</li>
				
				
				
                <li class="tooltips" data-placement="right" data-original-title="Cuentanos que clase de productos utilizas para trabajar">
					<a href="/qiwo_tags/<%= session[:activeUser].id %>/edit" data-target="#ajax" data-toggle="modal">
					<i class="icon-tint"></i> 
					<span class="title">Mis insumos</span>
					</a>
				</li>
				<% end %>
				<li class="tooltips" data-placement="right" data-original-title="Ingresa aquí las direcciones de entrega/recolección para pasar por un paquete.">
					<a href="/qiwo_enterprises/shipping/edit" data-target="#ajax" data-toggle="modal">
					<i class="icon-truck"></i> 
					<span class="title">Entrega/Recolección</span>
					</a>
				</li>
				<% if session[:activeUser].sys_rol==1 %>
				<li class="tooltips <% if current_uri=="/qiwo_employees" %>active<% end %>" data-placement="right" data-original-title="Agrega nuevos integrantes a tu equipo de trabajo">
					<a href="/qiwo_employees" target="_self">
					<i class="icon-group"></i> 
					<span class="title">Mis empleados</span>
                    <% if current_uri=="/sale_points" %>
					<span class="selected"></span>
                    <% end %>
					</a>
				</li>
				<li class="tooltips <% if current_uri=="/blogs" %>active<% end %>" data-placement="right" data-original-title="Creación de guias de redpack">
					<a href="/blogs" target="_self">
					<i class="icon-inbox"></i> 
					<span class="title">Blog</span>
                    <% if current_uri=="/blogs" %>
					<span class="selected"></span>
                    <% end %>
					</a>
				</li>
				<% end %>
				<li class="tooltips <% if current_uri=="/redpacks" %>active<% end %>" data-placement="right" data-original-title="Creación de guias de redpack">
					<a href="/redpacks" target="_self">
					<i class="icon-inbox"></i> 
					<span class="title">Redpack</span>
                    <% if current_uri=="/redpacks" %>
					<span class="selected"></span>
                    <% end %>
					</a>
				</li>
				<% if misNegociosIndex.length>1000 %>
                <li class="tooltips <% if current_uri=="/qiwo_categories" %>active<% end %>" data-placement="right" data-original-title="Ve un listado de proveedores con los productos que utilizas">
					<a href="/qiwo_categories" target="_self">
					<i class="icon-sitemap"></i> 
					<span class="title">Proveedores</span>
					<% if current_uri.index("qiwo_categories")!=nil %>
					<span class="selected"></span>
                    <% end %>
					</a>
				</li>
				<% end %>
				<% if misProductosIndex.length>0 %>
                <li class="tooltips <% if current_uri=="/qiwo_clients" %>active<% end %>" data-placement="right" data-original-title="Visualiza las compras que han realizado tus clientes">
					<a href="/qiwo_clients" target="_self">
					<i class="icon-dollar"></i> 
					<span class="title">Clientes</span>
                    <% if current_uri.index("qiwo_client")!=nil %>
					<span class="selected"></span>
                    <% end %>
					</a>
				</li>
				<% end %>
                <li class="tooltips <% if current_uri=="/qiwo_log_karts" %>active<% end %>" data-placement="right" data-original-title="Visualiza las compras que tienes pendientes.">
					<a href="/qiwo_log_karts" target="_self">
					<i class="icon-shopping-cart"></i> 
					<span class="title">Compras/Cotizaciones</span>
                    <% if current_uri=="/qiwo_log_karts" %>
					<span class="selected"></span>
                    <% end %>
					</a>
				</li>
				<li class="tooltips <% if current_uri=="/qiwo_tools" %>active<% end %>" data-placement="right" data-original-title="Configura las herramientas con las que te gustaría recibir tus pagos.">
					<a href="/qiwo_tools" target="_self">
					<i class="icon-usd"></i> 
					<span class="title">Apps</span>
                    <% if current_uri=="/qiwo_tools" %>
					<span class="selected"></span>
                    <% end %>
					</a>
				</li>
				<li class="tooltips <% if current_uri=="/qiwo_user_subscriptions" %>active<% end %>" data-placement="right" data-original-title="Mejora la suscripcion de tu cuenta.">
					<a href="/qiwo_user_subscriptions" target="_self">
					<i class="icon-edit"></i> 
					<span class="title">Mi suscripción</span>
                    <% if current_uri=="/qiwo_user_subscriptions" %>
					<span class="selected"></span>
                    <% end %>
					</a>
				</li>
				<% if session[:activeUser].sys_rol==1 %>
				<li class="tooltips <% if current_uri=="/qiwo_item_tags" %>active<% end %>" data-placement="right" data-original-title="Generar URL cortas para QR">
					<a href="/qiwo_item_tags" target="_self">
					<i class="icon-qrcode"></i> 
					<span class="title">Generar QR</span>
                    <% if current_uri=="/qiwo_item_tags" %>
					<span class="selected"></span>
                    <% end %>
					</a>
				</li>
				<% end %>
				<li class="tooltips " data-placement="right" data-original-title="Consulta el manual para usar Qiwo">
					<a href="https://consultware.zendesk.com/hc/es" target="_parent">
					<i class="icon-stackexchange"></i> 
					<span class="title">Manual</span>
                    
					</a>
				</li>
                
				
			</ul>
			<!-- END SIDEBAR MENU -->
		</div>
		 <div class="modal fade" id="ajax" tabindex="-1" role="basic" aria-hidden="true">
                        <img src="assets/img/ajax-modal-loading.gif" alt="" class="loading">
                     </div>
