<div id="responsive" class="modal hide fade" tabindex="-1" data-width="760">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
										<h3>Responsive & Scrollable</h3>
									</div>
									<div class="modal-body">
										<%= render "qiwo_enterprises/new" %>
									<div class="modal-footer">
										<button type="button" data-dismiss="modal" class="btn">Close</button>
										<button type="button" class="btn blue">Save changes</button>
									</div>
								</div>