	<!-- BEGIN HEADER --> 
	<% empresas=nil
   mis_negocios=nil
   mis_productos=nil
   mis_clientes= nil
   comentarios_productos_ventas=[]
   @comentarios_productos_ventas2=[] %>
	<div class="header navbar navbar-inverse navbar-fixed-top">
		<!-- BEGIN TOP NAVIGATION BAR -->
		<div class="header-inner">
			
				<!-- BEGIN LOGO -->
				<a class="navbar-brand" href="/" target="_self">
				<img src="/white_logo_transparent_white.png" alt="Qiwo" style="width:50px;height:50px;" />
				</a>
				

				<!-- END LOGO -->
				<!-- BEGIN RESPONSIVE MENU TOGGLER -->
				<a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<img src="/assets/img/menu-toggler.png" alt="" />
				</a>          
				<!-- END RESPONSIVE MENU TOGGLER -->            
				<!-- BEGIN TOP NAVIGATION MENU --> 
				
				<ul class="nav navbar-nav pull-right">
				<% if session[:activeUser]!=nil
				 empresas=QiwoEnterprise.select("id,unique_uri").where(:user_owner=>session[:activeUser].id).where("is_shipping IS NULL")
				 folios=nil
				 foliosDeRastreo=0
				 if empresas.length>0
				 	puts empresas.inspect+"     ===>"+request.env['PATH_INFO']
				 	if request.env['PATH_INFO'].index(empresas[0].unique_uri)==nil %>
						<% folios=QiwoCounter.where(:qiwo_enterprise_id=>empresas[0].id).last %>
						<% foliosDeRastreo=ShippingGuide.where(:id_from=>session[:activeUser].id,:id_to=>nil,:gtype=>isInTestModeNumber()).count %> 		
				 	<% end %>

				<li>
				<% if folios!=nil %>
				<a href="https://coinless.network/searches/folios%20cfdi" ><%= folios.facturas_disponibles %> CFDI</a>
				<% else %>
				<a href="https://coinless.network/searches/folios%20cfdi" >Sin CFDI</a>
				<% end %>

				</li>
				<li>
					<a href="https://coinless.network/searches/qiwo" > <%= foliosDeRastreo %> guias.</a>
				</li>
				<li>
					<a href="https://coinless.network/searches/<%= empresas[0].unique_uri %>"><span class="label label-success"><i class="icon-external-link"></i> Mi tienda</span></a>
					</li>

					<% end %>

					<% end %>
					<li class="dropdown" id="header_inbox_bar">
					    
						<% fecha=QiwoUserSubscriptionsController.userSuscriptionFinalDate(session) %>
						<% if fecha!=nil %>
						<a href="/qiwo_user_suscriptions" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"><i class="icon-star"></i><%= QiwoUserSubscriptionsController.userSuscriptionName(session) %> <%= fecha %> días para renovar</a>
						<% else %>
						
						<a href="https://coinless.network/qiwo_user_subscriptions" ><i class="icon-star-half"></i> Cuenta gratuito.</a>
						<% end %>
					</li>

					<!-- END NOTIFICATION DROPDOWN -->
					<!-- BEGIN INBOX DROPDOWN -->
					
	        		   <% if session[:activeUser]!=nil
	        		    #buscar si es propietario de algun producto y almacenarlo en sesiones para no consultar tantas veces
							
    						mis_negocios=empresas.index_by(&:id).keys
    						mis_productos=QiwoProduct.select(:id).where(:business_source=>mis_negocios).index_by(&:id).keys
    						mis_clientes= QiwoLogKart.where(:qiwo_product_id=>mis_productos)
    						# mis_productos.push(nil)
    						# mis_clientes.push(nil)
    						comentarios_productos_ventas=QiwoReview.where(:product_id=>mis_productos).where("user_id!='"+session[:activeUser].id.to_s+"'").last(15).reverse
    						comentarios_productos_ventas.concat(QiwoReview.where(:sale_id=>mis_clientes).where("user_id!='"+session[:activeUser].id.to_s+"'").last(15).reverse)
    						#buscar los comentarios de otras ventas en las que participe
    						mis_compras= QiwoLogKart.select(:id).where(:user_id=>session[:activeUser].id).index_by(&:id).keys
    						comentarios_productos_ventas.concat(QiwoReview.where(:sale_id=>mis_compras).where("user_id!='"+session[:activeUser].id.to_s+"'").last(15).reverse)
    						#mis comentarios en otros productos
    						mis_pre_comentarios=QiwoReview.select(:product_id).where(:user_id=>session[:activeUser].id,:sale_id=>nil).last(15).index_by(&:product_id).keys
    						 comentarios_productos_ventas.concat(QiwoReview.where(:product_id=>mis_pre_comentarios,:sale_id=>nil).where("user_id!='"+session[:activeUser].id.to_s+"'").last(15).reverse)
    						 @comentarios_productos_ventas2=Array.new(comentarios_productos_ventas)
    					end %>
					<li class="dropdown" id="header_inbox_bar">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
						<i class="icon-envelope"></i>
                        <% if session[:activeUser]!=nil %>             
						<span class="badge"><%= comentarios_productos_ventas.length %></span>
                            <% else %>
                            <span class="badge">?</span>
                            <% end %>
						</a>
						<ul class="dropdown-menu extended inbox">
							<li>
							
                                <% if session[:activeUser]!=nil %>             
								<p>Tienes <%= comentarios_productos_ventas.length %> mensajes</p>
                                <% else %>
                                <p>Inicia sesión para ver los mensajes</p>
                                <% end %>
							</li>
							<li>
								<ul class="dropdown-menu-list scroller" style="height:250px">
								<%
									comentarios_productos_ventas.each do |singleMensaje|
									#eliminar mis propios comentarios
									if singleMensaje.user_id!=session[:activeUser].id
								%> 
									<li>
									<% usuariocomment=Sys_User.find_by_id(singleMensaje.user_id) %>
										<!-- <a href="inbox.html?a=view"> -->
										<% if singleMensaje.product_id!=nil and singleMensaje.product_id!="" %>
										<a href="/searches/<%= singleMensaje.product_id  %>/edit"  data-target="#ajax-results-prodt-<%= singleMensaje.product_id  %>" data-toggle="modal" class="btn btn-info">
										<% else %>
										<a href="/qiwo_reviews/<%= singleMensaje.sale_id %>/edit" class="btn btn-info" data-target="#ajax-comments-internalt-<%= singleMensaje.sale_id %>" data-toggle="modal">
										<% end %>		
										<span class="photo"><img src="<%= usuariocomment.avatar %>" alt="" /></span>
										<span class="subject">

										<span class="from"><%= usuariocomment.name %></span>
										<span class="time"><%= singleMensaje.created_at.strftime("%m/%d/%Y") %></span>

										</span>
										<span class="message">
											<%= singleMensaje.review %>		
										</span>  
										</a>
									</li>
									<% end 
									end%>	
								</ul>
							</li>
							<li class="external">
								<!-- <a href="inbox.html">ver todos los mensajes <i class="m-icon-swapright"></i></a> -->
							</li>
						</ul>
					</li>
					<!-- END INBOX DROPDOWN -->
					<!-- BEGIN TODO DROPDOWN -->
					<li class="dropdown" id="header_task_bar">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
						<i class="icon-shopping-cart"></i>
						<% comprasPendientes=nil %>
                            <% if session[:activeUser]!=nil %>
                            <% comprasPendientes=QiwoLogKart.where(:user_id=>session[:activeUser]).where("qiwo_product_id!='-1'") %>
						<span class="badge"><%= comprasPendientes.length %></span>
                            <% else %>
                        <span class="badge">?</span>    
                            <% end %>
						</a>
						<ul class="dropdown-menu extended tasks">
							<li>
							<% if session[:activeUser]!=nil and comprasPendientes!=nil %>
								<% if comprasPendientes.length>0 %>
	                            	<p>Tienes productos pendientes por pagar</p>
	                            <% else %>
	                            	<p>No tienes productos pendientes de pago</p>
                            	<% end %>
                            <% else %>
                        		<p>No hay productos pendientes de pago actualmente</p>
                            <% end %>
							</li>
							<li>
								<ul class="dropdown-menu-list scroller" style="height: 250px;">
								<% if session[:activeUser]!=nil and comprasPendientes!=nil
									comprasPendientes.each do |singlePendingSale|
										currentProduct=QiwoProduct.find_by_id(singlePendingSale.qiwo_product_id)
										if currentProduct==nil
											next
										end
									%>
									<% if singlePendingSale.kart_state==1 %>
			                        <li>  
			                           <a href="/qiwo_log_karts">
			                           <span class="label label-icon label-success"><i class="icon-plus"></i></span>
			                           <%= singlePendingSale.quantity %>x <%= currentProduct.name %>
			                           <span class="time"><%= singlePendingSale.created_at %></span>
			                           </a>
			                        </li>
			                        <% else %>
			                        <li>  
			                           <a href="/qiwo_log_karts">
			                           <span class="label label-icon label-warning"><i class="icon-bell"></i></span>
			                           <%= singlePendingSale.quantity %>x <%= currentProduct.name %>
			                           <span class="time"><%= singlePendingSale.created_at %></span>
			                           </a>
			                        </li>
			                        <% end %>
			                        <% end %>
			                        <% end %>
			                     </ul>
							</li>
							
						</ul>
					</li>
					<!-- END TODO DROPDOWN -->               
					<!-- BEGIN USER LOGIN DROPDOWN -->
					<li class="dropdown user">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <% if session[:activeUser]!=nil %>
                            <% if session[:activeUser].avatar.index("unknown")==nil %>
						<img alt="" src="<%= session[:activeUser].avatar %>&square" style="height:30px;width:30px" />
						<% else %>
						<img alt="" src="<%= session[:activeUser].avatar %>" style="height:30px;width:30px" />
						<% end %>
						<span class="username"><%= session[:activeUser].name %> <%= session[:activeUser].last_name %></span>
                        <% else %>
                        <i class="icon-user"></i>
                        <span class="username">Inicia sessión con facebook</span>
                        <% end %>
                        
						<i class="icon-angle-down"></i>
						</a>
						<ul class="dropdown-menu">
                            <% if session[:activeUser]!=nil %>             
							<li><a href="/yo"><i class="icon-user"></i> Mi escritorio</a></li>
							<!-- <li><a href="page_calendar.html"><i class="icon-calendar"></i> Mi calendario</a></li> -->
							<% else %>
                            <li><a href="/yo"><i class="icon-user"></i> Ingresar ahora</a></li>
                            <% end %>
							<li class="divider"></li>
							<li><a href="javascript:;" id="trigger_fullscreen"><i class="icon-move"></i> Pantalla completa</a></li>
                            <% if session[:activeUser]!=nil %>             
							<li><a href="/dashboard/qiwoLogOut"><i class="icon-key"></i> Cerrar sesión</a></li>
                            <% end %>
						</ul>
					</li>

					<!-- END USER LOGIN DROPDOWN -->
					<!-- END USER LOGIN DROPDOWN -->
				</ul>
				        
				<!-- END TOP NAVIGATION MENU --> 
			

		</div>
		<!-- END TOP NAVIGATION BAR -->
	</div>
	<% comentarios_productos_ventas.each do |qiwo_kart| %>
	<div class="modal fade" id="ajax-results-prodt-<%= qiwo_kart.product_id  %>" tabindex="-1" role="basic" aria-hidden="true">
                    <img src="/assets/img/ajax-modal-loading.gif" alt="" class="loading">
                </div>
                <div class="modal fade" id="ajax-comments-internalt-<%= qiwo_kart.sale_id %>" tabindex="-1" role="basic" aria-hidden="true">
                    <img src="/assets/img/ajax-modal-loading.gif" alt="" class="loading">
                </div>
<% end %>
