<!DOCTYPE HTML>
<!-- saved from url=(0025)http://dashb.webflow.com/ -->
<!DOCTYPE html PUBLIC "" ""><!-- This site was created in Webflow. http://www.webflow.com--><!-- Last Published: Wed Jan 08 2014 15:53:23 GMT+0000 (UTC) --><HTML 
data-wf-site="52c9036ee49ab2e82100017a"><HEAD><META content="IE=11.0000" 
http-equiv="X-UA-Compatible">

<META charset="utf-8"><TITLE>Qiwo - Tu tienda de comercio electrónico.</TITLE>
<META name="description" content="Usa Qiwo para abrir tu tienda virtual por Internet. Haz comercio electrónico de una manera más creativa.">
<META name="viewport" content="width=device-width, initial-scale=1"><LINK href="/frontpage_assets/dashb.webflow.css" 
rel="stylesheet" type="text/css">
<SCRIPT src="/frontpage_assets/webfont.js"></SCRIPT>

<SCRIPT>WebFont.load({
  google: {
    families: ["Montserrat:400,700","Lato:100,300,400,700,900","Bitter:400,700"]
  }
});</SCRIPT>

<SCRIPT>if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';</SCRIPT>
<LINK href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico" rel="icon" 
type="image/x-icon"><LINK href="https://y7v4p6k4.ssl.hwcdn.net/51d1bb05fc804b2621000001/51e06f0756878bb26a000008_webclip-slate.png" 
rel="apple-touch-icon">
<META name="GENERATOR" content="MSHTML 11.00.9600.16476"></HEAD>
<BODY><HEADER class="section">
<DIV class="w-container">
<DIV class="w-row">
<DIV class="w-col w-col-4 subfooter-left"><A class="w-clearfix w-inline-block" 
href="http://www.qiwo.mx"><IMG width="91" class="logo-in-header" alt="52c9120a6df49ae9210001e7_logo%20qiwo_bk.png" 
src="/frontpage_assets/52c9120a6df49ae9210001e7_logo%2520qiwo_bk.png"></A></DIV>
<DIV class="w-col w-col-8 nav-column"><A class="nav-link" href="#page-nav-tienda">TIENDA</A><A 
class="nav-link" href="#page-nav-poceso">proceso</A><A 
class="nav-link" href="#page-nav-display" target="_self">catálogo</A><A 
class="nav-link" href="#page-nav-share" 
target="_self">funciones</A><A class="nav-link color-nav-link login-button" 
href="http://qiwo.mx/yo">inicias + precios</A></DIV></DIV></DIV></HEADER>
<DIV id="page-nav-buscador">
<DIV class="w-container">
<DIV class="w-row">
<DIV class="w-col w-col-6">
<DIV>

<DIV class="w-form" style="">
<DIV class="w-row">
<DIV class="w-col w-col-6">
<h2><small>Esperando </small><br /><strong>tu busqueda</strong></h2>
<FORM name="email-form" accept-charset="UTF-8" action="searches/" method="get" data-name="Email Form" onsubmit="startSearch()">
<INPUT name="search-field" id="search-field" class="w-input" style="width:400px;" autofocus="autofocus" required="required" type="text" placeholder="¿Que estoy buscando?" value="" data-name="search-field"><INPUT class="w-button btn-sm" type="submit" value="Encuentralo" data-wait="Lo encontraremos..."></FORM>
</DIV>
<DIV class="w-col w-col-6 call-to-action" >
<iframe src="//player.vimeo.com/video/85970085" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="margin-left:300px;"></iframe>
</DIV>
</DIV>
<DIV class="w-form-done">
<P>Thank you! Your submission has been received!</P></DIV>
<DIV class="w-form-fail">
<P>Oops! Something went wrong while submitting the form 
:(</P></DIV></DIV></DIV></DIV>
<DIV class="w-col w-col-6"></DIV></DIV></DIV></DIV>
<DIV class="section">
<DIV class="w-container">
<DIV class="w-row">
<DIV class="w-col w-col-6">
<H1>Abre tu propia tienda virtual y empieza a vender por internet.</H1>
<P>Poderosa web app optimizada para funcionar con tu PC, Tablet ó 
Smartphone.<BR><BR>También cuenta con phone app, para localizar tus productos 
desde cualquier teléfono convencional.</P></DIV>
<DIV class="w-col w-col-6 call-to-action"><IMG class="image-qiwo-computer" alt="52c9165649b668996b000001_pantalla_qo.jpg" 
src="/frontpage_assets/52c9165649b668996b000001_pantalla_qo.jpg"></DIV></DIV></DIV></DIV>
<DIV class="color-section-2" id="page-nav-tienda">
<DIV class="w-container">
<DIV class="w-row">
<DIV class="w-col w-col-6"><IMG alt="52c9068fa390924163000297_tienda_qo.jpg" 
src="/frontpage_assets/52c9068fa390924163000297_tienda_qo.jpg"></DIV>
<DIV class="w-col w-col-6">
<H1>Tienda en linea</H1>
<P>Combinamos la más popular red social para que puedas recibir notificaciones y 
estar comunicado con tus clientes desde tu tienda virtual.<BR><BR>Directorio + 
Tienda Virtual = Qiwo</P></DIV></DIV></DIV></DIV>
<DIV class="color-section-3" id="page-nav-poceso">
<DIV class="w-container">
<DIV class="w-row">
<DIV class="w-col w-col-6">
<H1>Proceso de venta</H1>
<P>El cliente busca lo que necesita a través del portal de Qiwo puede cotizarlo 
y comprarlo directamente desde tu catálogo. Puedes aceptar  tarjetas bancarias 
y/o efectivo. Tu cliente estará feliz de tener estas dos opciones de 
pago.</P></DIV>
<DIV class="w-col w-col-6 center"><IMG alt="52c90a136df49ae9210001d7_vender_qo.jpg" 
src="/frontpage_assets/52c90a136df49ae9210001d7_vender_qo.jpg"></DIV></DIV></DIV></DIV>
<DIV class="section" id="page-nav-display">
<DIV class="w-container">
<DIV class="w-row">
<DIV class="w-col w-col-6 center"><IMG width="381" alt="52ca2fec9e10c99776000208_apiladas.jpg" 
src="/frontpage_assets/52ca2fec9e10c99776000208_apiladas.jpg"></DIV>
<DIV class="w-col w-col-6">
<H2>Catálogo de productos</H2>
<P>Muestra tu catálogo de manera creativa. Las fotografías de tus productos 
salen de forma apilada, dandole otro aspecto diferente y nada 
aburrido.</P></DIV></DIV></DIV></DIV>
<DIV class="section grey" id="page-nav-share">
<DIV class="w-container">
<DIV class="w-row">
<DIV class="w-col w-col-6">
<H2>Principales funciones</H2>
<P>Amaras usar Qiwo. Cuenta con un montón de funciones y características únicas 
en su tipo. Jamas querras irte de aquí. </P></DIV>
<DIV class="w-col w-col-6 center">
<UL>
  <LI>
  <DIV>
  <DIV class="list-item-text">Haz a facebook también tu herramienta de trabajo, 
  mantente comunicado con tus clientes, usando facebook messenger o inbox, para 
  que siempre estes al pendiente de ellos.</DIV></DIV></LI>
  <LI>
  <DIV class="list-item-text">Tus clientes pueden cotizar desde tu catálogo. 
  </DIV></LI>
  <LI>
  <DIV class="list-item-text">Visualiza el catálogo de una manera diferente, o 
  si preferies, también tus clientes pueden consultarlo sin tener internet 
  (Versión Pro)</DIV></LI></UL>
<UL>
  <LI>
  <DIV class="list-item-text">Qiwo trabaja  a un  99.3% de efectividad durante 
  todo el año.</DIV></LI>
  <LI>
  <DIV class="list-item-text">Transacciones seguras por protocolo 
SSL.</DIV></LI>
  <LI>
  <DIV class="list-item-text">Comisiones por vender, olvidate de eso, no 
  cobramos comisiones por transacción. Gana mas por ti.</DIV></LI>
  <LI>
  <DIV class="list-item-text">Administra tus ingresos y lleva el control por tu 
  cuenta.</DIV></LI></UL>
<UL>
  <LI>
  <DIV class="list-item-text">Cobra al instante, porque puedes aceptar pagos en 
  linea con las tarjetas que lleven el logo de Visa y Mastercard.  Si tus 
  clientes se sienten mas comodos pagando con PayPal, lo pueden hacer 
  .</DIV></LI>
  <LI>
  <DIV class="list-item-text">Tambien puedes recibir monedas y billetes 
  aceptando pagos en tiendas de conveniencia (Tiendas OXXO).</DIV></LI>
  <LI>
  <DIV class="list-item-text">Puedas accesar desde tu PC, Tablet ó Teléfono 
  Inteligente.</DIV></LI>
  <LI>
  <DIV class="list-item-text">Crea cadena de proveedores.</DIV></LI>
  <LI>
  <DIV class="list-item-text">Sistema inteligente de búsqueda.</DIV></LI>
  <LI>
  <DIV class="list-item-text">Una tarifa baja mensual para operar tu tienda en 
  linea. Pero puedes cancelar cuando quieres, sin penalizaciones. Además te 
  facturamos el servicio.</DIV></LI>
  <LI>
  <DIV class="list-item-text">Sin anuncios publicitarios</DIV>
  <DIV class="list-item-text">Y muchas cosas 
más...</DIV></LI></UL></DIV></DIV></DIV></DIV>
<DIV class="section orange">
<DIV class="w-container">
<DIV class="w-row">
<DIV class="w-col w-col-8">
<H2 class="price-text">Abre tu tienda gratis!</H2></DIV>
<DIV class="w-col w-col-4"><A class="button" href="http://qiwo.mx/grant_permission.html">Empezar 
ahora</A></DIV></DIV></DIV></DIV>
<DIV class="section subfooter white">
<DIV class="w-container">
<DIV class="w-row">
<DIV class="w-col w-col-6 left-column">
<H3>Qiwo se mantiene constantemente actualizado.</H3></DIV>
<DIV class="w-col w-col-6 subfooter-right">
<H3>Mantente al tanto.</H3><A class="w-inline-block social-button" href="mailto:hola@qiwo.mx?subject=Hola!"><IMG 
width="21" alt="52af8da2aed63fb91400000f_email-icon.png" src="/frontpage_assets/52af8da2aed63fb91400000f_email-icon.png"></A><A 
class="w-inline-block social-button" href="https://www.facebook.com/qiwo.mx"><IMG 
width="21" alt="52af8da8aed63fb914000010_facebook-icon.png" src="/frontpage_assets/52af8da8aed63fb914000010_facebook-icon.png"></A><A 
class="w-inline-block social-button" href="https://twitter.com/qiwomx"><IMG 
width="21" alt="52af8db1aed63fb914000011_twitter-icon.png" src="/frontpage_assets/52af8db1aed63fb914000011_twitter-icon.png"></A><A 
class="w-inline-block social-button" href="tel:+524445852985"><IMG width="21" 
alt="52cd6e74e8f219d27000035c_Phone.png" src="/frontpage_assets/52cd6e74e8f219d27000035c_Phone.png"></A></DIV></DIV></DIV></DIV>
<DIV class="section grey footer">
<DIV class="w-container"><IMG width="25" class="logo-in-footer" alt="52c9120a6df49ae9210001e7_logo%20qiwo_bk.png" 
src="/frontpage_assets/52c9120a6df49ae9210001e7_logo%2520qiwo_bk.png">
<DIV class="footer-text">Qiwo es una marca registrada de Consultware. 
<BR>Agustin Vera No 1415 Col. Del Valle, San Luis Potosi, S.L.P.</DIV></DIV>
<DIV>
<DIV class="w-container">
<DIV class="links-footer">
<!-- <A class="footer-link" href="http://www.qiwo.mx/terms_and_conditions.html">Aviso de Privacidad</A>
<A class="footer-link" href="http://qiwo.mx/aviso_legal.html">Términos y Condiciones</A>
<A class="footer-link" href="http://qiwo.mx/who_we_are.html">Quienes Somos</A> -->
</DIV>
</DIV>
</DIV>
</DIV>

 </BODY></HTML>
