   <div>
    <div class="w-container head">
      <div class="w-row">
        <div class="w-col w-col-6">
          <div class="logo_text"><img src="/new-qiwo.png" alt="Qiwo" /></div>
        </div>
        <div class="w-col w-col-6"></div>
      </div>
    </div>
  </div>

  <div class="section_two">
    <div class="w-container">
      <div class="w-row">
      <form accept-charset="UTF-8" action="searches/" method="get" id="form1" onsubmit="startSearch()">
          <div class="w-col w-col-6 w-col-small-6 w-col-tiny-6">
            <input id="search-field" class="w-input" type="text" placeholder="¿Qué buscas?" name="search-field" required="required" data-name="search-field"/>
              
          </div>
          <div class="w-col w-col-6 w-col-small-6 w-col-tiny-6">
            <input class="w-button button_submit_search" type="submit" value="¡Encuentralo!" data-wait="Please wait..."/>
          </div>
        </form>
      </div>
    </div>
  </div>



      <!-- bring categoriess -->

      <div id="addEventForm">
      <% categories=QiwoCategory.limit(6) %>
      <% categories.each do |category| %>
              
          <div ><a class="button categoryButtonMenu" href="/searches/<%= category.category_name %>"><%= category.category_name %></a>
          </div>
      <% end %>
      </div>
      <div id="uploadYourPic">
          <% if session[:activeUser]==nil %>
          <a class="button btn default blue-stripe" href="/grant_permission.html"><i class="icon-facebook-sign icon-white"></i> Iniciar sesión</a>
          <% else %>
          <a class="button btn default blue-stripe" href="/yo"><i class="icon-facebook-sign icon-white"></i> Iniciar sesión</a>
          <% end %>
      <% @newImage=QiwoImage.new %>
      <%= form_for @newImage, :url => "/qiwo_images", :html => { :multipart => true } do |form| %>
  <%= form.file_field :image_url, :style=>"display: none;", :onchange=>"javascript:this.form.submit();" %>
  <input class="w-button button_submit_search" type="button" value="¡Sube una imágen!" data-wait="Please wait..." onclick="document.getElementById('qiwo_image_image_url').click();"/>
<% end %>
</div>    


  