<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Mon Apr 07 2014 06:25:39 GMT+0000 (UTC) -->
<html data-wf-site="52c8fbc2a390924163000236">
<head>
  <meta charset="utf-8">
  <title>Qiwo - Cloud Business para Pymes.</title>
  <meta name="description" content="Plataforma WebApp para abrir una tienda virtual, con emision de facturación electrónica (CFDI) y punto de venta (POS o TPV). Acepta pagos con diferentes métodos de pago.">
  <meta name="keywords" content="cfdi, facura, factura electrónica, ecommerce, venta en linea, venta por internet, facebook SSO, Inbox, Telegram">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Webflow">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/webflow.css">
  <link rel="stylesheet" type="text/css" href="css/sys.webflow.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Lato:100,300,400,700,900","Droid Sans:400,700"]
      }
    });
    function startSearch(){
        event.preventDefault();
        window.location.href='/searches/'+$('#search-field').val();
      }
  </script>
  <script type="text/javascript" src="js/modernizr.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="https://y7v4p6k4.ssl.hwcdn.net/520c5ab1eb5a9c3a0d0001f6/520fbaddba989d90390000cb_favivon-mobile.png">
</head>
<body>
<script type="text/javascript">
adroll_adv_id = "BKD7PQGGPFHYBJ64YCIR7Q";
adroll_pix_id = "UZVZQKPJJBH23KNFEOB52K";
(function () {
var oldonload = window.onload;
window.onload = function(){
   __adroll_loaded=true;
   var scr = document.createElement("script");
   var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
   scr.setAttribute('async', 'true');
   scr.type = "text/javascript";
   scr.src = host + "/j/roundtrip.js";
   ((document.getElementsByTagName('head') || [null])[0] ||
    document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
   if(oldonload){oldonload()}};
}());
</script>
  <div class="section header" id="buscador">
    <div class="w-row header">
      <div class="w-col w-col-3 logo-bar">
        <img class="logo-bar" src="images/52c9120a6df49ae9210001e7_logo%2520qiwo_bk.png" width="104" alt="5340bece542f3087520002cd_52c9120a6df49ae9210001e7_logo%2520qiwo_bk.png">
      </div>
      <div class="w-col w-col-9 nav-bar">
      <a class="nav-links" href="http://qiwo-mx.tumblr.com/"><font><font>Blog&nbsp;</font></font></a>
      <a class="nav-links" href="#cuentame"><font><font>cuentame&nbsp;</font></font></a><a class="nav-links" href="#caracteristicas"><font><font>CARACTERÍSTICAS&nbsp;</font></font></a>
      <a class="nav-links" href="#como"><font><font>¿CóMO?&nbsp;</font></font></a>
        <a
        class="nav-links" href="#ejemplo"><font><font>ejemplos&nbsp;</font></font>
          </a><a class="nav-links login" href="http://qiwo.mx/grant_permission.html">entra + PRECIOS</a>
      </div>
    </div>
    <div class="w-container hero-text">
      <div class="w-form">
        <FORM name="email-form" accept-charset="UTF-8" action="searches/" method="get" data-name="Email Form" onsubmit="startSearch()">
          <input class="w-input buscar" type="text" placeholder="Buscar en todas las tiendas" name="search-field" id="search-field" data-name="Buscador"></input>
          <input class="w-button boton_buscador" type="submit" value="Buscar" data-wait="Please wait..."></input>
        </form>
        <div class="w-form-done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail">
          <p>Oops! Something went wrong while submitting the form :(</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section" id="cuentame">
    <div class="w-container service-columns">
      <div class="w-row">
        <div class="w-col w-col-3 services">
          <img class="icon" src="images/invoice.png" alt="5342143d725238ba57000151_invoice.png">
          <h3>FACTURACIÓN ELECTRÓNICA</h3>
          <p>Emite facturas CFDI <A HREF="http://www.sat.gob.mx/informacion_fiscal/factura_electronica/Paginas/pac_facturacion_moderna.aspx">por nuestro PAC de elección No 58077</A> desde el Punto de Venta ó de la Tienda Virtual. <strong>Somos la única tienda virtual en México que puede hacer esto posible</strong>
          </p>
        </div>
        <div class="w-col w-col-3 services">
          <img class="icon" src="images/cloudicon.png" alt="520d87245168b2f23a0003c7_cloudicon.png">
          <h3><font><font>SINCRONIZA CON LA NUBE</font></font></h3>
          <p>Toda la información se guarda en la nube. Tus datos siempre disponibles en cualquier lugar. Además asombrosas aplicaciones para recibir pagos y otras cosas más</p>
        </div>
        <div class="w-col w-col-3 services">
          <img class="icon" src="images/lookicon.png" alt="520d8764ef6b3ef03a00030b_lookicon.png">
          <h3><font><font>BUSQUEDA INTELIGENTE</font></font></h3>
          <p>Encuentra lo que deseas, con el buscador en linea. También fuera de linea, comunicandote con él asistente virutal al&nbsp;(81) 4624-4356, ninguna tienda te ofrece esta opción. Además te ayudamos a buscar nuevos proveedores e insumos desde la plataforma</p>
        </div>
        <div class="w-col w-col-3 services">
          <img class="icon" src="images/photoicon.png" alt="520d870c89434493180004ed_photoicon.png">
          <h3><font><font>CATÁLOGO ILUSTRADO</font></font></h3>
          <p>Sube hasta cuatro fotografías por artÍculo. Tus nuevos clientes podrán valorarte mediante los comentarios de otros clientes</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section dark web" id="caracteristicas">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-8">
          <img src="images/webapp.png" alt="5342132a725238ba57000145_webapp.png">
        </div>
        <div class="w-col w-col-4 portfolio-text">
          <h3>web app</h3>
          <p>Usa cualquier computadora para acceder a la aplicación. Tambien puedes usar hasta una tablet ó un teléfono inteligente.
            <br>
            <br>Recibe notificaciones en tu Inbox de Facebook y Telegram, para que estes siempre comunicado con tus clientes</p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-4">
          <div class="w-container portfolio-text left-up">
            <h3>CARACTERÍSTICAS</h3>
            <p>Plataforma web para hacer comercio electrónico y en sitio (POS, TPV). Además cuentas con varias herramientas que te ayudaran en la operación de tu negocio, tales como:
              <br>
              <br>- Cotizaciones
              <br>- Calendario
              <br>- Empleados
              <br>- Cadena de Suministros&nbsp;
              <br>- Apps
              <br>- Asistente Virtual
              <br>
              <br>&nbsp;&nbsp;&nbsp;y mucho mas...</p>
          </div>
        </div>
        <div class="w-col w-col-8 align-right">
          <a class="w-inline-block" href="#">
            <img src="images/icons.png" alt="520c6a67ddb89f3c0d0002ce_icons.png">
          </a>
        </div>
      </div>
    </div>
    <div class="section dark" id="como">
      <h3 class="center-tittle"><font><font>¿cómo funciona?</font></font></h3>
      <div class="w-container service-columns">
        <div class="w-row">
          <div class="w-col w-col-3 services"><a class="button" href="#">1</a>
            <p>
              <br>Registrate usando tu cuenta de Facebook y Telegram. Nuestros planes van desde 0 pesos. Sin Publicidad de por vida</p>
          </div>
          <div class="w-col w-col-3 services"><a class="button" href="#">2</a>
            <p>
              <br>Agrega algunos productos al inventario. Selecciona como deseas vender el producto (por internet, en tu negocio ó en ambas).</p>
          </div>
          <div class="w-col w-col-3 services"><a class="button" href="#">3</a>
            <p>
              <br>Registrate en alguna de las apps para empezar a recibir pagos con tarjetas bancarias y efectivo en tiendas de coveniencia (Tiendas OXXO y Farmacias)</p>
          </div>
          <div class="w-col w-col-3 services"><a class="button" href="#">4</a>
            <p>
              <br>El sistema te notificará por medio de un Inbox cuando recibas una cotización, pregunta ó el pago de uno de tus productos. Introduce el número de guía y automaticamente detecta el tipo de paqueteria. El cliente podrá darle seguimiento al envio</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section" id="ejemplo">
    <div class="w-container">
      <h3 class="center-tittle"><font><font>¿quieres ver más?</font></font></h3>
      <p class="gallery-text">Revisa las tiendas que estan con nosotros</p>
    </div>
    <div class="w-container gallery">
      <div class="w-row">
        <div class="w-col w-col-4">
          <a class="w-inline-block" href="http://qiwo.mx/searches/tienda-jilipollo" target="_blank">
            <img class="gallery-img" src="images/logo-vert-jilipollo4.png" alt="534212fce5d0ceb20b0001b4_logo-vert-jilipollo4.png">
          </a>
        </div>
        <div class="w-col w-col-4">
          <a class="w-inline-block" href="http://qiwo.mx/searches/tiendaintegralti" target="_blank">
            <img class="gallery-img" src="images/integralti.jpg" alt="53423d79725238ba57000264_logo_qw.jpg">
          </a>
          </div>
        <div class="w-col w-col-4">
          <a class="w-inline-block" href="http://qiwo.mx/searches/happydoggo" target="_blank">
            <img class="gallery-img" src="images/logo_hd.jpg" alt="53438f94de14935a6400007f_logo_hd.jpg">
          </a>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section bg-image" id="page-nav-about">
    <div class="w-container hero-text about-text">
      <h2><font><font>Todas las herramientas que necesitas, para llegar hasta donde quieras.</font></font></h2>
    </div>
  </div>
  <footer class="footer">
    <div class="w-container">
      <div class="social-wrapper">
        <a class="w-inline-block social-link" href="https://www.facebook.com/qiwo.mx">
          <img src="images/gfacebook.png" width="32" alt="520ee7d90875b56c3600006c_gfacebook.png">
        </a>
        <a class="w-inline-block social-link" href="http://www.twitter.com/qiwomx">
          <img src="images/gtwitter.png" width="32" alt="520ee7fc0875b56c36000071_gtwitter.png">
        </a>
      </div><a class="texto_piepagina" href="http://qiwo.mx/aviso_legal.html">Aviso de Privacidad</a><a class="texto_piepagina" href="http://qiwo.mx/terms_and_conditions.html">&nbsp;&nbsp;Terminos y Condiciones</a><a class="texto_piepagina" href="http://qiwo.mx/who_we_are.html">&nbsp;&nbsp;Quienes Somos</a>
      <div
      class="texto_piepagina">Qiwo MX, es una división de Consultware de México, S. de R.L. de C.V. Agustin Vera No 1415 Int A 2 Del Valle, San Luis Potosi, S.L.P.&nbsp;&nbsp;Teléfono 01 (800) 269-1344 Correo: hola@qiwo.mx</div>
    </div>
  </footer>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script type="text/javascript" src="js/webflow.js"></script>
  <script type="text/javascript" src="//assets.zendesk.com/external/zenbox/v2.6/zenbox.js"></script>
<style type="text/css" media="screen, projection">
  @import url(//assets.zendesk.com/external/zenbox/v2.6/zenbox.css);
</style>
<script type="text/javascript">
  if (typeof(Zenbox) !== "undefined") {
    Zenbox.init({
      dropboxID:   "20113340",
      url:         "https://qiwo.zendesk.com",
      tabTooltip:  "Ayuda",
      tabImageURL: "https://assets.zendesk.com/external/zenbox/images/tab_es_help_right.png",
      tabColor:    "#A1D22B",
      tabPosition: "Right"
    });
  }
</script>
</body>
</html>