<!DOCTYPE html>
<html lang="es">

<head>
    <title>Coinless - Procesa pagos con IA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Coinless es una app y un dispositivo electrónico para el procesamiento de pagos online con tecnología QR, Contactless NFC y por reconocimiento facial">
    <meta name="author" content="Coinless">
    <meta name="Robots" content="all"/>
    <meta name="Distribution" content="global"/>
    <meta name="keywords" content="codi, pagos qr"> 
    
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
    <link rel="manifest" href="img/favicon/site.webmanifest">
    <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#ffffff">
    <link rel="alternate" hreflang="es-mx" href="https://coinless.network"/>
    <link rel="canonical" href="https://coinless.network/index.html" />
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    
    <meta property="og:type" content="business.business">
    <meta property="og:title" content="Coinless">
    <meta property="og:description" content="Procesamiento de pagos electrónicos con código QR, NFC y Reconocimiento facial">
    <meta property="og:url" content="https://coinless.network">
    <meta property="og:image" content="https://coinless.network/img/brand/white_logo-min.png">
    <meta property="business:contact_data:street_address" content="Díaz Ordaz 33">
    <meta property="business:contact_data:locality" content="San Pedro Garza García">
    <meta property="business:contact_data:region" content="Nuevo Leon">
    <meta property="business:contact_data:postal_code" content="66215">
    <meta property="business:contact_data:country_name" content="Mexico">
    
    <meta name="twitter:card" content="product">
    <meta name="twitter:site" content="@CoinlessNet">
    <meta name="twitter:title" content="Coinless - Procesador de pagos">
    <meta name="twitter:description" content="Procesamiento de pagos electrónicos con código QR, NFC y Reconocimiento facial">
    <meta name="twitter:image" content="https://coinless.network/img/brand/white_logo-min.png">
    <meta name="twitter:label1" content="Color">
    <meta name="twitter:data1" content="$">
    <meta name="twitter:label2" content="BN">
    <meta name="twitter:data2" content="$">
    <!-- Pixel CSS -->
    <link type="text/css" href="css/pixel.css?v=1.0.1" rel="stylesheet">

</head>

<body>
    <header class="header-global">
        <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light navbar-theme-secondary headroom">
            <div class="container position-relative">
                <a class="navbar-brand mr-lg-5" href="index.html">
                    <img class="navbar-brand-dark" src="img/brand/light.svg" alt="Logo light">
                    <img class="navbar-brand-light" src="img/brand/dark.svg" alt="Logo dark">
                </a>
                <div class="navbar-collapse collapse" id="navbar_global">
                    <div class="navbar-collapse-header">
                        <div class="row">
                            <div class="col-6 collapse-brand">
                                <a href="index.html">
                                    <img src="img/brand/secondary.svg" alt="Logo mobile">
                                </a>
                            </div>
                            <div class="col-6 collapse-close">
                                <a href="#navbar_global" role="button" class="fas fa-times" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation"></a>
                            </div>
                        </div>
                    </div>
                    <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link" data-toggle="dropdown" role="button">
                                <i class="fas fa-angle-down nav-link-arrow"></i>
                                <span class="nav-link-inner-text">Páginas</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="productos.html">Productos</a></li>
                                <li><a class="dropdown-item" href="soluciones.html">Soluciones</a></li>
                                <li><a class="dropdown-item" href="">Tienda</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link" data-toggle="dropdown" role="button">
                                <i class="fas fa-angle-down nav-link-arrow"></i>
                                <span class="nav-link-inner-text">Soporte</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg">
                                <div class="col-auto px-0" data-dropdown-content>
                                    <div class="list-group list-group-flush">
                                        <a href="introduction.html" target="_blank" class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                            <span class="icon icon-sm icon-secondary"><i class="fas fa-file-alt"></i></span>
                                            <div class="ml-4">
                                                <span class="text-dark d-block">Documentación<span class="badge badge-sm badge-secondary ml-2">v1.0</span></span>
                                                <span class="small">Guías de ejemplo</span>
                                            </div>
                                        </a>
                                        <a href="contacto.html" target="_blank" class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                            <span class="icon icon-sm icon-primary"><i class="fas fa-microphone-alt"></i></span>
                                            <div class="ml-4">
                                                <span class="text-dark d-block">Soporte</span>
                                                <span class="small">No más dudas, preguntanos!</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="d-flex align-items-center">
                    <a href="grant_permission.html" target="_blank" role="button" class="btn btn-primary ml-lg-3 animate-up-2">Iniciar Sesión</a>
                    <button class="navbar-toggler ml-2" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <!-- Hero -->
        <div class="section section-xl bg-soft pb-7 overflow-hidden d-flex align-items-center">
            <div class="container z-2">
                <div class="row my-5 my-md-5 justify-content-center text-center">
                    <div class="col-lg-7">
                        <div class="mb-3">
                            <h1 class="text-secondary display-4 font-size-md-down-5 mb-0">Es hora de hacer crecer tu negocio con </h1>
                            <h2 class="text-dark display-1 font-size-md-down-5 my-4">Coinless</h2>
                        </div>
                        <p class="lead">Nuestros dispositivos y módulos te ayudarán a contar con las herramientas necesarias para cobrar digitalmente con códigos QR y reconocimiento facial.</p>
                           <img class="img-fluid" src="img/pages/hero-img.png" alt="Image">
                        <div class="form-group">
                            <div class="d-flex flex-row mt-5 justify-content-center">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pattern bottom" data-negative="false">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 283.5 27.8" preserveAspectRatio="none">
                    <path class="fill-white" d="M283.5,9.7c0,0-7.3,4.3-14,4.6c-6.8,0.3-12.6,0-20.9-1.5c-11.3-2-33.1-10.1-44.7-5.7	s-12.1,4.6-18,7.4c-6.6,3.2-20,9.6-36.6,9.3C131.6,23.5,99.5,7.2,86.3,8c-1.4,0.1-6.6,0.8-10.5,2c-3.8,1.2-9.4,3.8-17,4.7	c-3.2,0.4-8.3,1.1-14.2,0.9c-1.5-0.1-6.3-0.4-12-1.6c-5.7-1.2-11-3.1-15.8-3.7C6.5,9.2,0,10.8,0,10.8V0h283.5V9.7z M260.8,11.3	c-0.7-1-2-0.4-4.3-0.4c-2.3,0-6.1-1.2-5.8-1.1c0.3,0.1,3.1,1.5,6,1.9C259.7,12.2,261.4,12.3,260.8,11.3z M242.4,8.6	c0,0-2.4-0.2-5.6-0.9c-3.2-0.8-10.3-2.8-15.1-3.5c-8.2-1.1-15.8,0-15.1,0.1c0.8,0.1,9.6-0.6,17.6,1.1c3.3,0.7,9.3,2.2,12.4,2.7	C239.9,8.7,242.4,8.6,242.4,8.6z M185.2,8.5c1.7-0.7-13.3,4.7-18.5,6.1c-2.1,0.6-6.2,1.6-10,2c-3.9,0.4-8.9,0.4-8.8,0.5	c0,0.2,5.8,0.8,11.2,0c5.4-0.8,5.2-1.1,7.6-1.6C170.5,14.7,183.5,9.2,185.2,8.5z M199.1,6.9c0.2,0-0.8-0.4-4.8,1.1	c-4,1.5-6.7,3.5-6.9,3.7c-0.2,0.1,3.5-1.8,6.6-3C197,7.5,199,6.9,199.1,6.9z M283,6c-0.1,0.1-1.9,1.1-4.8,2.5s-6.9,2.8-6.7,2.7	c0.2,0,3.5-0.6,7.4-2.5C282.8,6.8,283.1,5.9,283,6z M31.3,11.6c0.1-0.2-1.9-0.2-4.5-1.2s-5.4-1.6-7.8-2C15,7.6,7.3,8.5,7.7,8.6	C8,8.7,15.9,8.3,20.2,9.3c2.2,0.5,2.4,0.5,5.7,1.6S31.2,11.9,31.3,11.6z M73,9.2c0.4-0.1,3.5-1.6,8.4-2.6c4.9-1.1,8.9-0.5,8.9-0.8	c0-0.3-1-0.9-6.2-0.3S72.6,9.3,73,9.2z M71.6,6.7C71.8,6.8,75,5.4,77.3,5c2.3-0.3,1.9-0.5,1.9-0.6c0-0.1-1.1-0.2-2.7,0.2	C74.8,5.1,71.4,6.6,71.6,6.7z M93.6,4.4c0.1,0.2,3.5,0.8,5.6,1.8c2.1,1,1.8,0.6,1.9,0.5c0.1-0.1-0.8-0.8-2.4-1.3	C97.1,4.8,93.5,4.2,93.6,4.4z M65.4,11.1c-0.1,0.3,0.3,0.5,1.9-0.2s2.6-1.3,2.2-1.2s-0.9,0.4-2.5,0.8C65.3,10.9,65.5,10.8,65.4,11.1	z M34.5,12.4c-0.2,0,2.1,0.8,3.3,0.9c1.2,0.1,2,0.1,2-0.2c0-0.3-0.1-0.5-1.6-0.4C36.6,12.8,34.7,12.4,34.5,12.4z M152.2,21.1	c-0.1,0.1-2.4-0.3-7.5-0.3c-5,0-13.6-2.4-17.2-3.5c-3.6-1.1,10,3.9,16.5,4.1C150.5,21.6,152.3,21,152.2,21.1z">
                    </path>
                </svg>
            </div>
        </div>
        <!-- End of Hero section -->
        <!-- Section -->
        <section class="section section-xl">
            <div class="container">
                <div class="row align-items-center justify-content-around">
                    <div class="col-md-6 col-lg-4 mb-5 d-none d-sm-block">
                        <img class="img-fluid" src="img/pages/iphone.png" alt="Image">
                    </div>
                    <div class="col-md-6 col-lg-7">
                        <!-- Icon Box -->
                        <div class="card shadow-soft border-soft mb-4">
                            <div class="card-body">
                                <div class="d-flex p-2">
                                    <div>
                                        <div class="icon text-tertiary">
                                           <i class="fas fa-window-restore"></i>
                                        </div>
                                    </div>
                                    <div class="pl-4">
                                        <h5 class="icon-box-title">Integración Web</h5>
                                        <p class="icon-box-text">Integramos el proceso de pago con la cartera digital y tienda en linea de Coinless.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Icon Box -->
                        <!-- Icon Box -->
                        <div class="card shadow-soft border-soft mb-4">
                            <div class="card-body">
                                <div class="d-flex p-2">
                                    <div>
                                        <div class="icon text-secondary">
                                            <i class="fas fa-qrcode"></i>
                                        </div>
                                    </div>
                                    <div class="pl-4">
                                        <h5 class="icon-box-title">Pagos Contactless</h5>
                                        <p class="icon-box-text">Nuestros módulos funcionan para recibir pagos directamente con código QR y reconocimiento facial, adaptandose a tu solución de punto de venta hasta en un vending machine.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Icon Box -->
                        <!-- Icon Box -->
                        <div class="card shadow-soft border-soft mb-4">
                            <div class="card-body">
                                <div class="d-flex p-2">
                                    <div>
                                        <div class="icon text-warning">
                                            <i class="fas fa-wifi"></i>
                                        </div>
                                    </div>
                                    <div class="pl-4">
                                        <h5 class="icon-box-title">Soluciones Inalámbricas</h5>
                                        <p class="icon-box-text">Nuestros módulos funcionan con WiFi, GSM ó con la red Coinless, cuando tengas limitado el acceso a Internet.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Icon Box -->
                    </div>
                </div>
            </div>
        </section>
        <!-- End of section -->
        <!-- Section -->
        <section class="section section-xl bg-soft">
            <div class="pattern top" data-negative="false">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 283.5 27.8" preserveAspectRatio="none">
                    <path class="fill-white" d="M283.5,9.7c0,0-7.3,4.3-14,4.6c-6.8,0.3-12.6,0-20.9-1.5c-11.3-2-33.1-10.1-44.7-5.7	s-12.1,4.6-18,7.4c-6.6,3.2-20,9.6-36.6,9.3C131.6,23.5,99.5,7.2,86.3,8c-1.4,0.1-6.6,0.8-10.5,2c-3.8,1.2-9.4,3.8-17,4.7	c-3.2,0.4-8.3,1.1-14.2,0.9c-1.5-0.1-6.3-0.4-12-1.6c-5.7-1.2-11-3.1-15.8-3.7C6.5,9.2,0,10.8,0,10.8V0h283.5V9.7z M260.8,11.3	c-0.7-1-2-0.4-4.3-0.4c-2.3,0-6.1-1.2-5.8-1.1c0.3,0.1,3.1,1.5,6,1.9C259.7,12.2,261.4,12.3,260.8,11.3z M242.4,8.6	c0,0-2.4-0.2-5.6-0.9c-3.2-0.8-10.3-2.8-15.1-3.5c-8.2-1.1-15.8,0-15.1,0.1c0.8,0.1,9.6-0.6,17.6,1.1c3.3,0.7,9.3,2.2,12.4,2.7	C239.9,8.7,242.4,8.6,242.4,8.6z M185.2,8.5c1.7-0.7-13.3,4.7-18.5,6.1c-2.1,0.6-6.2,1.6-10,2c-3.9,0.4-8.9,0.4-8.8,0.5	c0,0.2,5.8,0.8,11.2,0c5.4-0.8,5.2-1.1,7.6-1.6C170.5,14.7,183.5,9.2,185.2,8.5z M199.1,6.9c0.2,0-0.8-0.4-4.8,1.1	c-4,1.5-6.7,3.5-6.9,3.7c-0.2,0.1,3.5-1.8,6.6-3C197,7.5,199,6.9,199.1,6.9z M283,6c-0.1,0.1-1.9,1.1-4.8,2.5s-6.9,2.8-6.7,2.7	c0.2,0,3.5-0.6,7.4-2.5C282.8,6.8,283.1,5.9,283,6z M31.3,11.6c0.1-0.2-1.9-0.2-4.5-1.2s-5.4-1.6-7.8-2C15,7.6,7.3,8.5,7.7,8.6	C8,8.7,15.9,8.3,20.2,9.3c2.2,0.5,2.4,0.5,5.7,1.6S31.2,11.9,31.3,11.6z M73,9.2c0.4-0.1,3.5-1.6,8.4-2.6c4.9-1.1,8.9-0.5,8.9-0.8	c0-0.3-1-0.9-6.2-0.3S72.6,9.3,73,9.2z M71.6,6.7C71.8,6.8,75,5.4,77.3,5c2.3-0.3,1.9-0.5,1.9-0.6c0-0.1-1.1-0.2-2.7,0.2	C74.8,5.1,71.4,6.6,71.6,6.7z M93.6,4.4c0.1,0.2,3.5,0.8,5.6,1.8c2.1,1,1.8,0.6,1.9,0.5c0.1-0.1-0.8-0.8-2.4-1.3	C97.1,4.8,93.5,4.2,93.6,4.4z M65.4,11.1c-0.1,0.3,0.3,0.5,1.9-0.2s2.6-1.3,2.2-1.2s-0.9,0.4-2.5,0.8C65.3,10.9,65.5,10.8,65.4,11.1	z M34.5,12.4c-0.2,0,2.1,0.8,3.3,0.9c1.2,0.1,2,0.1,2-0.2c0-0.3-0.1-0.5-1.6-0.4C36.6,12.8,34.7,12.4,34.5,12.4z M152.2,21.1	c-0.1,0.1-2.4-0.3-7.5-0.3c-5,0-13.6-2.4-17.2-3.5c-3.6-1.1,10,3.9,16.5,4.1C150.5,21.6,152.3,21,152.2,21.1z">
                    </path>
                </svg>
            </div>
            
            <div class="container">
                <div class="row align-items-center justify-content-around mt-7">
                    <div class="col-md-6 col-xl-6 mb-5 mb-md-0">
                        <img class="img-fluid" src="img/pages/world.svg" alt="Image">
                    </div>
                    <div class="col-md-6 col-xl-5 text-center text-md-left">
                        <h3 class="mb-3">Sistema de cobros por la nube</h3>
                        <p class="lead">Nuestro servicio realiza el procesamiento de pago de punto a punto entre el comercio y la nube Coinless.</p>
                        <p class="lead">La solicitud de pago generado es encriptado con diferentes candados de seguridad utilizando tecnología de punta.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section -->
        <section class="section section-lg">
        <div class="container">
        <div class="row align-items-center justify-content-around mt-4 mt-lg-7">
                    <div class="col-md-6 col-xl-5 text-center text-md-left">
                        <h3 class="mb-3">La red</h3>
                        <p class="lead">Con los módulos Coinless, puedes tener tus unidades de negocio conectadas a la red más grande de pagos por internet con pagos en tiempo real y transacciones seguras. </p>
                        <p class="lead">Los dispositivos y modulos de Coinless abarcan un sin número aplicaciones.
                        </p>
                    </div>
                    <div class="col-md-6 col-xl-6 mt-5 mt-md-0">
                        <img class="img-fluid" src="img/pages/task.svg" alt="Image">
                    </div>
                </div>
            </div>
           </section>
        <!-- End of section -->
    </main>
    <!-- Footer -->
    <footer class="footer section-lg bg-soft text-dark overflow-hidden">
        <div class="pattern top" data-negative="false">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 283.5 27.8" preserveAspectRatio="none">
                <path class="fill-white" d="M283.5,9.7c0,0-7.3,4.3-14,4.6c-6.8,0.3-12.6,0-20.9-1.5c-11.3-2-33.1-10.1-44.7-5.7	s-12.1,4.6-18,7.4c-6.6,3.2-20,9.6-36.6,9.3C131.6,23.5,99.5,7.2,86.3,8c-1.4,0.1-6.6,0.8-10.5,2c-3.8,1.2-9.4,3.8-17,4.7	c-3.2,0.4-8.3,1.1-14.2,0.9c-1.5-0.1-6.3-0.4-12-1.6c-5.7-1.2-11-3.1-15.8-3.7C6.5,9.2,0,10.8,0,10.8V0h283.5V9.7z M260.8,11.3	c-0.7-1-2-0.4-4.3-0.4c-2.3,0-6.1-1.2-5.8-1.1c0.3,0.1,3.1,1.5,6,1.9C259.7,12.2,261.4,12.3,260.8,11.3z M242.4,8.6	c0,0-2.4-0.2-5.6-0.9c-3.2-0.8-10.3-2.8-15.1-3.5c-8.2-1.1-15.8,0-15.1,0.1c0.8,0.1,9.6-0.6,17.6,1.1c3.3,0.7,9.3,2.2,12.4,2.7	C239.9,8.7,242.4,8.6,242.4,8.6z M185.2,8.5c1.7-0.7-13.3,4.7-18.5,6.1c-2.1,0.6-6.2,1.6-10,2c-3.9,0.4-8.9,0.4-8.8,0.5	c0,0.2,5.8,0.8,11.2,0c5.4-0.8,5.2-1.1,7.6-1.6C170.5,14.7,183.5,9.2,185.2,8.5z M199.1,6.9c0.2,0-0.8-0.4-4.8,1.1	c-4,1.5-6.7,3.5-6.9,3.7c-0.2,0.1,3.5-1.8,6.6-3C197,7.5,199,6.9,199.1,6.9z M283,6c-0.1,0.1-1.9,1.1-4.8,2.5s-6.9,2.8-6.7,2.7	c0.2,0,3.5-0.6,7.4-2.5C282.8,6.8,283.1,5.9,283,6z M31.3,11.6c0.1-0.2-1.9-0.2-4.5-1.2s-5.4-1.6-7.8-2C15,7.6,7.3,8.5,7.7,8.6	C8,8.7,15.9,8.3,20.2,9.3c2.2,0.5,2.4,0.5,5.7,1.6S31.2,11.9,31.3,11.6z M73,9.2c0.4-0.1,3.5-1.6,8.4-2.6c4.9-1.1,8.9-0.5,8.9-0.8	c0-0.3-1-0.9-6.2-0.3S72.6,9.3,73,9.2z M71.6,6.7C71.8,6.8,75,5.4,77.3,5c2.3-0.3,1.9-0.5,1.9-0.6c0-0.1-1.1-0.2-2.7,0.2	C74.8,5.1,71.4,6.6,71.6,6.7z M93.6,4.4c0.1,0.2,3.5,0.8,5.6,1.8c2.1,1,1.8,0.6,1.9,0.5c0.1-0.1-0.8-0.8-2.4-1.3	C97.1,4.8,93.5,4.2,93.6,4.4z M65.4,11.1c-0.1,0.3,0.3,0.5,1.9-0.2s2.6-1.3,2.2-1.2s-0.9,0.4-2.5,0.8C65.3,10.9,65.5,10.8,65.4,11.1	z M34.5,12.4c-0.2,0,2.1,0.8,3.3,0.9c1.2,0.1,2,0.1,2-0.2c0-0.3-0.1-0.5-1.6-0.4C36.6,12.8,34.7,12.4,34.5,12.4z M152.2,21.1	c-0.1,0.1-2.4-0.3-7.5-0.3c-5,0-13.6-2.4-17.2-3.5c-3.6-1.1,10,3.9,16.5,4.1C150.5,21.6,152.3,21,152.2,21.1z">
                </path>
            </svg>
        </div>
        <div class="container z-2">
            <div class="content">
                <div class="row mt-5 mt-lg-7 justify-content-between">
                    <div class="col-md-5">
                        <a class="footer-brand mr-lg-5" href="index.html">
                            <img src="img/brand/dark.svg" alt="Footer logo">
                        </a>
                        <p class="text-gray mt-4">Transacciones electrónicas de pago seguras.
                        </p>
                        <p class="text-gray">Lo mejor de la tecnología en pagos y cobros en tiempo real.</p>
                        <ul class="social-buttons mb-5 mb-lg-0">
                            <li>
                                <a href="https://twitter.com/CoinlessNet" target="_blank" class="btn btn-lg btn-link text-gray" data-toggle="tooltip" data-placement="top" title="Follow us on Twitter">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/coinlessmx/" target="_blank" class="btn btn-lg btn-link text-gray" data-toggle="tooltip" data-placement="top" title="Like us on Facebook">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/coinlessnet" target="_blank" class="btn btn-lg btn-link text-gray" data-toggle="tooltip" data-placement="top" title="Star us on Github">
                                    <i class="fab fa-github"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/channel/UCk883dUFXQEfbeb79W2l67Q" target="_blank" class="btn btn-lg btn-link text-gray" data-toggle="tooltip" data-placement="top" title="Watch tutorials">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-2 mb-5 mb-lg-0">
                        <h6>Info</h6>
                        <ul class="links-vertical">
                            <li><a class="text-gray" href="blog" target="_blank">Blog</a></li>
                            <li><a class="text-gray" href="coinless-qr.html" target="_blank">¿Por qué Coinless?</a></li>
                            <li><a class="text-gray" href="nosotros.html" target="_blank">Nosotros</a></li>
                            <li><a class="text-gray" href="contacto.html" target="_blank">Contacto</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-2 mb-5 mb-lg-0">
                        <h6>Páginas</h6>
                        <ul class="links-vertical">
                            <li><a class="text-gray" href="index.html">Inicio</a></li>
                            <li><a class="text-gray" href="productos.html">Productos</a></li>
                            <li><a class="text-gray" href="soluciones.html">Soluciones</a></li>
                            <li><a class="text-gray" href="">Tienda</a></li>
                            
                        </ul>
                    </div>
                    <div class="col-6 col-md-3 mb-5 mb-lg-0">
                        <h6>Otros</h6>
                        <ul class="links-vertical">
                            <li><a class="text-gray" target="_blank" href="docs/documentacion.html">Documentación
                                    <span class="badge badge-sm badge-primary ml-2">v1.0</span></a></li>
                            <li><a class="text-gray" target="_blank" href="/changelogs.html">Changelogs</a></li>
                            <li><a class="text-gray" target="_blank" href="/contacto.html">Soporte</a></li>
                            <li><a class="text-gray" target="_blank" href="">Licencia</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <div class="copyright mt-4 text-center text-gray">
                &#xA9;
                <script>
                    document.write(new Date().getFullYear())
                </script> <a href="https://coinless.network" target="_blank">Coinless</a>. Todos los derechos reservados.
            </div>
        </div>
    </footer>
    <!-- End of Footer -->

    <!-- Core -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/bootstrap.min.js"></script>
    <script src="vendor/headroom/headroom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js"></script>

    <!-- Vendor JS -->
    <script src="vendor/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
    <script src="vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="vendor/smooth-scroll/smooth-scroll.polyfills.min.js"></script>
    <script src="vendor/prism/prism.js"></script>
    
    

    
<!--Start of Tawk.to Script-->
<script>
  function initFreshChat() {
    window.fcWidget.init({
      token: "0706927b-f553-43d9-b072-1aa5a56cb4da",
      host: "https://wchat.freshchat.com"
    });
  }
  function initialize(i,t){var e;i.getElementById(t)?initFreshChat():((e=i.createElement("script")).id=t,e.async=!0,e.src="https://wchat.freshchat.com/js/widget.js",e.onload=initFreshChat,i.head.appendChild(e))}function initiateCall(){initialize(document,"freshchat-js-sdk")}window.addEventListener?window.addEventListener("load",initiateCall,!1):window.attachEvent("load",initiateCall,!1);
</script>
<!--End of Tawk.to Script-->


    
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-57589704-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-57589704-2');
</script>
    
    <!-- pixel JS -->
    <script src="/js/pixel.js"></script>
    <script src="/js/main.js"></script>
    
    <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "url": "https://coinless.network",
  "name": "Coinless México.",
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "4",
    "reviewCount": "276",
    "bestRating": "5",
    "worstRating": "1"
  }
}
</script>

</body>

</html>