<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Coinless - Pagos Inteligentes</title>
    <link rel=icon href="https://cdn.coinless.network/assets/img/favicon.png" sizes="20x20" type="image/png">

    <!-- Vendor Stylesheet -->
    <link rel="stylesheet" href="https://cdn.coinless.network/assets/css/vendor.css">
    <!-- animate -->
    <link rel="stylesheet" href="https://cdn.coinless.network/assets/css/animate.css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="https://cdn.coinless.network/assets/css/owl.carousel.min.css">
    <!-- lineawesome -->
    <link rel="stylesheet" href="https://cdn.coinless.network/assets/css/line-awesome.min.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="https://cdn.coinless.network/assets/css/magnific-popup.css">
    <!-- signin Stylesheet -->
    <link rel="stylesheet" href="https://cdn.coinless.network/assets/css/signin.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="https://cdn.coinless.network/assets/css/style.css">
    <!-- responsive Stylesheet -->
    <link rel="stylesheet" href="https://cdn.coinless.network/assets/css/responsive.css">
    
    
        <!-- Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="Coinless">
    <meta property="og:description" content="Procesamiento de pagos electrónicos con código QR y NFC">
    <meta property="og:url" content="https://coinless.network">
    <meta property="og:image" content="https://coinless.network/https://cdn.coinless.network/assets/img/favicon.png">
    <meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="630" />
    <meta property="og:site_name" content="Coinless" />
	<meta property="og:locale" content="es_MX" />
    <meta property="business:contact_data:street_address" content="Díaz Ordaz 33">
    <meta property="business:contact_data:locality" content="San Pedro Garza García">
    <meta property="business:contact_data:region" content="Nuevo Leon">
    <meta property="business:contact_data:postal_code" content="66215">
    <meta property="business:contact_data:country_name" content="Mexico">
    
    <!-- Twitter -->
    <meta name="twitter:card" content="product">
    <meta name="twitter:site" content="@CoinlessNet">
    <meta name="twitter:title" content="Coinless - Procesador de pagos">
    <meta name="twitter:description" content="Procesamiento de pagos electrónicos con código QR y NFC">
    <meta name="twitter:image" content="https://coinless.network/https://cdn.coinless.network/assets/img/favicon.png">
    <meta name="twitter:label1" content="Color">
    <meta name="twitter:data1" content="$">
    <meta name="twitter:label2" content="BN">
    <meta name="twitter:data2" content="$">
    
    
</head>

<body>

    <!-- preloader area start -->
    <div class="preloader" id="preloader">
        <div class="preloader-inner">
            <div class="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
        </div>
    </div>
    <!-- preloader area end -->


    <!-- Signin Popup -->
    <div class="sen-user-modal">
        <!-- this is the entire modal form, including the background -->
        <div class="sen-user-modal-container">
            <!-- this is the container wrapper -->
            <ul class="sen-switcher">
                <li><a href="#0">Entrar</a></li>
                <li><a href="#0">Registrarse</a></li>
            </ul>

            <div id="sen-login">
                <!-- log in form -->
                <form class="sen-form">
                    <p class="fieldset">
                        <label class="image-replace sen-email" for="signin-email">E-mail</label>
                        <input class="full-width has-padding has-border" id="signin-email" type="email" placeholder="E-mail">
                        <span class="sen-error-message">Error!</span>
                    </p>

                    <p class="fieldset">
                        <label class="image-replace sen-password" for="signin-password">Password</label>
                        <input class="full-width has-padding has-border" id="signin-password" type="text" placeholder="Password">
                        <a href="#0" class="hide-password">Ocutlar</a>
                        <span class="sen-error-message">Error!</span>
                    </p>

                    <p class="fieldset">
                        <input type="checkbox" id="remember-me" checked>
                        <label for="remember-me">Recordarme</label>
                    </p>

                    <p class="fieldset">
                        <input class="full-width" type="submit" value="Login">
                    </p>
                </form>

                <p class="sen-form-bottom-message"><a href="#0">¿Olvidaste el password?</a></p>
                <!-- <a href="#0" class="sen-close-form">Close</a> -->
            </div>
            <!-- sen-login -->

            <div id="sen-signup">
                <!-- sign up form -->
                <form class="sen-form">
                    <p class="fieldset">
                        <label class="image-replace sen-username" for="signup-username">Usuario</label>
                        <input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Username">
                        <span class="sen-error-message">Error message here!</span>
                    </p>

                    <p class="fieldset">
                        <label class="image-replace sen-email" for="signup-email">E-mail</label>
                        <input class="full-width has-padding has-border" id="signup-email" type="email" placeholder="E-mail">
                        <span class="sen-error-message">Error message here!</span>
                    </p>

                    <p class="fieldset">
                        <label class="image-replace sen-password" for="signup-password">Contraseña</label>
                        <input class="full-width has-padding has-border" id="signup-password" type="text" placeholder="Password">
                        <a href="#0" class="hide-password">Ocultar</a>
                        <span class="sen-error-message">Error!</span>
                    </p>

                    <p class="fieldset">
                        <input type="checkbox" id="accept-terms">
                        <label for="accept-terms">Estoy de acuerdo con los <a href="#0">Términos</a></label>
                    </p>

                    <p class="fieldset">
                        <input class="full-width has-padding" type="submit" value="Create account">
                    </p>
                </form>

                <!-- <a href="#0" class="sen-close-form">Close</a> -->
            </div>
            <!-- sen-signup -->

            <div id="sen-reset-password">
                <!-- reset password form -->
                <p class="sen-form-message">¿Perdiste tu contraseña? Por favor, introduzca su dirección de correo electrónico. Recibirás un enlace para crear una nueva contraseña.</p>

                <form class="sen-form">
                    <p class="fieldset">
                        <label class="image-replace sen-email" for="reset-email">E-mail</label>
                        <input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail">
                        <span class="sen-error-message">Error!</span>
                    </p>

                    <p class="fieldset">
                        <input class="full-width has-padding" type="submit" value="Reset password">
                    </p>
                </form>

                <p class="sen-form-bottom-message"><a href="#0">Regresa para Iniciar Sesión</a></p>
            </div>
            <!-- sen-reset-password -->
            <a href="#0" class="sen-close-form">Cerrar</a>
        </div>
        <!-- sen-user-modal-container -->
    </div>
    <!-- sen-user-modal -->
    <!-- //.End  Signin Popup -->
    <!-- navbar start -->
    <div class="navbar-area navbar-area-2">
        <div class="navbar-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7 text-sm-left text-center">
                        <ul class="topbar-left">
                            <li class="topbar-single-info"><i class="fa fa-envelope"></i>info@coinless.network</li>
                            <li class="topbar-single-info ml-3 ml-lg-0"><i class="fa fa-phone"></i>+528180992734</li>
                        </ul>
                    </div>
                    <div class="col-sm-5 text-sm-right text-center">
                        <ul class="topbar-right float-md-right">
                            <li class="topbar-single-info">
                                <span class="d-none d-lg-inline-block">Invest Offer</span>
                            </li>
                            <li class="topbar-single-info topbar-social-icon"><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                            <li class="topbar-single-info topbar-social-icon"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="topbar-single-info topbar-social-icon"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li class="topbar-single-info topbar-social-icon"><a href="#"><i class="fa fa-instagram mr-0"></i></a></li>
                            <li class="topbar-single-info topbar-signin sign-nav ml-3 ml-lg-0">
                                <a href="#"><i class="fa fa-user-o"></i>Sign in</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-area navbar-expand-lg nav-transparent">
            <div class="container nav-container nav-white">
                <div class="responsive-mobile-menu">
                    <button class="menu toggle-btn d-block d-lg-none" data-toggle="collapse" data-target="#investon_main_menu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-left"></span>
                        <span class="icon-right"></span>
                    </button>
                </div>
                <div class="logo">
                    <a href="index.html"> <img src="https://cdn.coinless.network/assets/img/logo-coinless-app.png"  alt="logo"></a>
                </div>
                <div class="collapse navbar-collapse" id="investon_main_menu">
                    <ul class="navbar-nav menu-open">
                        <li class="menu-item-has-children current-menu-item">
                            <a href="#">Inicio</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Productos</a>
                            <ul class="sub-menu">
                                <li><a href="investment.html"><i class="fa fa-long-arrow-right"></i>Wallet</a></li>
                                <li><a href="investor.html"><i class="fa fa-long-arrow-right"></i>Terminal Punto de Venta</a></li>
                                <li><a href="user-panel.html"><i class="fa fa-long-arrow-right"></i>E-commerce</a></li>
                                <li><a href="user-panel.html"><i class="fa fa-long-arrow-right"></i>Punto de Venta</a></li>
                                  <li><a href="user-panel.html"><i class="fa fa-long-arrow-right"></i>Módulos Vending Machine</a></li>
                                <li><a href="user-panel.html"><i class="fa fa-long-arrow-right"></i>Access Pass</a></li>
                                 <li><a href="user-panel.html"><i class="fa fa-long-arrow-right"></i>Pago Enlace</a></li>
                                  <li><a href="user-panel.html"><i class="fa fa-long-arrow-right"></i>Promociones</a></li>
                                <li><a href="user-panel.html"><i class="fa fa-long-arrow-right"></i>Recompensas</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Recursos</a>
                            <ul class="sub-menu">
                                <li><a href="case.html"><i class="fa fa-long-arrow-right"></i>Documentación</a></li>
                                <li><a href="case-details.html"><i class="fa fa-long-arrow-right"></i>Blog</a></li>
                                <li><a href="case-details.html"><i class="fa fa-long-arrow-right"></i>Planes</a>
                                <li><a href="case-details.html"><i class="fa fa-long-arrow-right"></i>Beneficios</a></li>
                            </ul>
                        </li>
                       
                        <li class="menu-item-has-children">
                            <a href="#">Empresa</a>
                            <ul class="sub-menu">
                                <li><a href="404.html"><i class="fa fa-long-arrow-right"></i>Nosotros</a></li>
                                <li><a href="faq.html"><i class="fa fa-long-arrow-right"></i>Clientes</a></li>
                                <li><a href="privacy.html"><i class="fa fa-long-arrow-right"></i>Carreras</a></li>
                                <li><a href="privacy.html"><i class="fa fa-long-arrow-right"></i>Directrices de marca</a></li>
                                <li><a href="privacy.html"><i class="fa fa-long-arrow-right"></i>Ventas</a></li>
                                <li><a href="privacy.html"><i class="fa fa-long-arrow-right"></i>Soporte</a></li>
                                <li><a href="privacy.html"><i class="fa fa-long-arrow-right"></i>Legal</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!-- navbar end -->

    <!-- banner area start -->
    <!-- banner area start -->
    <div class="banner-area banner-video">
        <div class="container-fluid">
            <div class="row">
                <div class="banner-video-area">
                    <video autoplay muted loop id="myVideo">
                                <source src="https://cdn.coinless.network/assets/video/investment.mp4" type="video/mp4">
                            </video>
                </div>
                <!--// Banner Video End-->
                <div class="slider-content-area">
                    <div class="slider-content">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-12">
                                    <h2>Conecta con tus clientes.</h2>
                                    <h4 class="offer-text">Exploremos oportunidades</h4>
                                    <p class="text">Coinless ayuda a las startups y empresas a mejorar la experiencia del cliente con novedosas formas para solicitar pagos tipo contactless, online y offline, para mejorar el procesamiento de pagos flexible.
                                    </p>
                                    <div class="btn-wrapper animated fadeInUpBig text-left">
                                        <a href="#" class="btn btn-basic">Pruebalo gratis</a>
                                        <a href="" class="video-popup mfp-iframe play-icon-pulse"><i class="fa fa-play"></i></a>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <!--Scroll Down-->
                <div class="scroll-down-area">
                    <div class="scroll-bottom">
                        <a href="#service"></a>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <!-- banner area end -->
    <!-- banner area end -->

    <!-- work area start -->
    <div class="work-area common-pd-2 bg-none">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="single-work text-center mg-top-180">
                        <span class="common-icon-circle bg-smile-green"><img src="https://cdn.coinless.network/assets/img/icon/01.png" alt="icon"></span>
                        <h4><a href="#">Vende</a></h4>
                        <p>Vende desde tu tienda física, por internet a través de la tienda virtual o por el wallet de Coinless.</p>
                        <a class="btn btn-plus" href="#"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="single-work text-center">
                                <span class="common-icon-circle bg-pink"><img src="https://cdn.coinless.network/assets/img/icon/02.png" alt="icon"></span>
                                <h4><a href="#">Administra</a></h4>
                                <p>Automatiza y moderniza los procesos de cobranza de tu negocio para mejor el control   de pagos.</p>
                                <a class="btn btn-plus" href="#"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="single-work text-center">
                                <span class="common-icon-circle bg-yellow"><img src="https://cdn.coinless.network/assets/img/icon/04.png" alt="icon"></span>
                                <h4><a href="#">Cobra</a></h4>
                                <p>
                                Recibe pagos rápidos y seguros desde las diferentes plataformas favoritas de tus clientes.</p>
                                <a class="btn btn-plus" href="#"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-12 mb-5 mb-mg-0">
                            <div class="single-input-wrap text-center text-lg-right">
                                <input placeholder="Abre una cuenta - Coloca tu email" type="text" class="single-input">
                                <a class="btn btn-basic" href="#">Vamos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- work area end -->

    <!-- featured area start -->
    <div class="featured-area left-line-bg common-pd-bottom-3" style="background-image: url(https://cdn.coinless.network/assets/img/shape/pen.png);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-9 text-lg-left text-center">
                    <div class="section-title">
                        <h5 class="subtitle"><span></span>Ventas más fáciles y seguras</h5>
                        <h3 class="title">Así de fácil!</h3>
                        <p>La manera más práctica de vender con cualquier tarjeta bancaria y generar recompensas en los comercios afiliados.</p>
                    </div>
                    <div class="single-input-wrap">
                        <a class="btn btn-basic" href="#">Descargar Wallet</a>
                    </div>
                </div>
                <div class="col-lg-5 col-6 align-self-center banner-thumb-wrap">
                    <div class="thumb item-bounce">
                        <img src="https://cdn.coinless.network/assets/img/feature/02.png" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- featured area end -->

    <div class="shape-4" style="background-image: url(https://cdn.coinless.network/assets/img/shape/4.png);">
        <!-- fact-count area start -->
        <div class="fact-count-area common-pd-bottom">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-fact-count text-center">
                            <div class="thumb">
                                <img src="https://cdn.coinless.network/assets/img/fact/01.png" alt="icon">
                            </div>
                            <h4 class="fact-title">Clientes felices</h4>
                            <h2 class="counter">476</h2>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-fact-count text-center">
                            <div class="thumb">
                                <img src="https://cdn.coinless.network/assets/img/fact/01.png" alt="icon">
                            </div>
                            <h4 class="fact-title">Años en servicio</h4>
                            <h2 class="counter">5</h2>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-fact-count text-center">
                            <div class="thumb">
                                <img src="https://cdn.coinless.network/assets/img/fact/02.png" alt="icon">
                            </div>
                            <h4 class="fact-title">Transacciones

Plataforma</h4>
                            <h2 class="counter">54,535</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- fact-count area end -->

        <!-- video-area start -->
        <div class="video-area-2 common-pd-bottom right-line-bg" style="background-image: url(https://cdn.coinless.network/assets/img/shape/pen-2.png);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="section-title">
                            <h5 class="subtitle"><span></span>Controla y automatiza los procesos de venta.</h5>
                            <h3 class="title">Soluciones</h3>
                            <p>Organiza y controla tus productos en un solo lugar y mejora la productividad de tu negocio.</p>
                        </div>
                        <a class="btn btn-basic top-right-radius-0" href="#">Saber más</a>
                        <a class="video-play-btn" href="" data-effect="mfp-zoom-in"><i class="fa fa-play"></i></a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-about text-center bg-gradient">
                            <div class="thumb">
                                <img src="https://cdn.coinless.network/assets/img/process/factura.png" alt="icon">
                            </div>
                            <h5><a href="#">Facturación e Inventario</a></h5>
                            <p>Genera y timbra facturas al instante y mejora la organización y conoce el estatus de cada uno de tus productos de forma más efciente.</p>
                            <a class="btn btn-plus" href="#"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-about text-center bg-purple">
                            <div class="thumb">
                                <img src="https://cdn.coinless.network/assets/img/process/calculadora.png" alt="icon">
                            </div>
                            <h5><a href="#">Soluciones de pago</a></h5>
                            <p>Concilia pagos al instante con los diversos sistemas de pago flexible para tus clientes.</p>
                            <a class="btn btn-plus" href="#"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- video-area end -->
    </div>

    

    <div class="shape-2" style="background-image: url(https://cdn.coinless.network/assets/img/shape/2.png);">
        <!-- why-choose-us-area start -->
        <div class="why-choose-us-area pd-bottom-85">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 align-self-center">
                        <div class="thumb item-bounce d-none d-lg-block">
                            <img src="https://cdn.coinless.network/assets/img/why-choose-us/01.png" alt="img">
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="single-facility media">
                            <span class="number">1</span>
                            <div class="thumb align-self-center">
                                <img src="https://cdn.coinless.network/assets/img/icon/tree.png" alt="icon">
                            </div>
                            <div class="facility-details media-body">
                                <h5>Marketing</h5>
                                <p>Promociona tus productos en internet, redes sociales o en el wallet de Coinless, resalta tu negocio a otro nivel.</p>
                            </div>
                        </div>
                        <div class="single-facility media">
                            <span class="number">2</span>
                            <div class="thumb align-self-center">
                                <img src="https://cdn.coinless.network/assets/img/icon/tree.png" alt="icon">
                            </div>
                            <div class="facility-details media-body">
                                <h5>Comunicación</h5>
                                <p>Mejora las relaciones con clientes con los diferentes canales de comunicación (WhatsApp, SMS y Email).</p>
                            </div>
                        </div>
                        <div class="single-facility media">
                            <span class="number">3</span>
                            <div class="thumb align-self-center">
                                <img src="https://cdn.coinless.network/assets/img/icon/tree.png" alt="icon">
                            </div>
                            <div class="facility-details media-body">
                                <h5>Ventas</h5>
                                <p>Aumenta la productividd para hacer crecer su marca y la base de clientes.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- why-choose-us-area end -->

        <!-- pricing-area start -->
        <div class="pricing-area pd-bottom-85">
            <div class="container">
                <div class="row justify-content-start">
                    <div class="col-lg-12">
                        <div class="section-title text-lg-left text-center">
                            <h5 class="subtitle"><span></span>Precios<h5>
                            <h3 class="title">Nuestras ofertas</h3>
                            <div class="row">
                                <div class="col-lg-8">
                                    <p class="mb-0">Coinless es un SaaS que se renta opcionalmente junto con un dispositivo portátil para escaneo de productos y solicitar pagos inteligentes.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="pricing-tab">
                            <nav>
                                <div class="nav nav-tabs text-center" id="nav-tab">
                                    <a class="btn ml-0 nav-item nav-link active" id="nav-monthly-tab" data-toggle="tab" href="#nav-monthly">Mensual</a>
                                    <a class="btn nav-item nav-link" id="nav-yearly-tab" data-toggle="tab" href="#nav-yearly">Anual</a>
                                </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-monthly">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-4 col-md-6">
                                            <div class="single-pricing-wrap text-center">
                                                <span class="animate-dots"></span>
                                                <div class="price">Gratis</div>
                                                <div class="thumb">
                                                    <img src="https://cdn.coinless.network/assets/img/pricing/01.png" alt="icon">
                                                </div>
                                                <h5>Emprendedor</h5>
                                                <ul>
                                                    <li><a href="#">30 Facturas Electrónicas al mes</a></li>
                                                    <li><a href="#">Tienda en Linea</a></li>
                                                    <li><a href="#">Acceso a Terminal Punto de Venta</a></li>
                                                    <li><a href="#">Administración de Inventario</a></li>
                                                    <li><a href="#">Gestión de Ingresos y Egresos</a></li>
                                                </ul>
                                                <a class="btn btn-plus" href="#"><i class="fa fa-plus"></i></a>
                                                <a class="btn btn-white" href="#">Lo quiero!</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="single-pricing-wrap text-center">
                                                <span class="animate-dots"></span>
                                                <div class="price">$79</div>
                                                <div class="thumb">
                                                    <img src="https://cdn.coinless.network/assets/img/pricing/01.png" alt="icon">
                                                </div>
                                                <h5>Básico</h5>
                                                <ul>
                                                    <li><a href="#">60 Facturas Electrónicas al mes</a></li>
                                                    <li><a href="#">Tienda en Linea</a></li>
                                                    <li><a href="#">Acceso a Terminal Punto de Venta</a></li>
                                                    <li><a href="#">Administración de Inventario</a></li>
                                                    <li><a href="#">Gestión de Ingresos y Egresos</a></li>
                                                </ul>
                                                <a class="btn btn-plus" href="#"><i class="fa fa-plus"></i></a>
                                                <a class="btn btn-white" href="#">Lo quiero!</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="single-pricing-wrap text-center">
                                                <span class="animate-dots"></span>
                                                <div class="price">$119</div>
                                                <div class="thumb">
                                                    <img src="https://cdn.coinless.network/assets/img/pricing/01.png" alt="icon">
                                                </div>
                                                <h5>Estándar</h5>
                                                <ul>
                                                    <li><a href="#">100 Facturas Electrónicas al mes</a></li>
                                                    <li><a href="#">Tienda en Linea</a></li>
                                                    <li><a href="#">Acceso a Terminal Punto de Venta</a></li>
                                                    <li><a href="#">Administración de Inventario</a></li>
                                                    <li><a href="#">Gestión de Ingresos y Egresos</a></li>
                                                </ul>
                                                <a class="btn btn-plus" href="#"><i class="fa fa-plus"></i></a>
                                                <a class="btn btn-white" href="#">Lo quiero!</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav-yearly">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-4 col-md-6">
                                            <div class="single-pricing-wrap text-center">
                                                <span class="animate-dots"></span>
                                                <div class="price">Gratis</div>
                                                <div class="thumb">
                                                    <img src="https://cdn.coinless.network/assets/img/pricing/01.png" alt="icon">
                                                </div>
                                                <h5>Emprendedor</h5>
                                                <ul>
                                                    <li><a href="#">360 Facturas Electrónicas al año</a></li>
                                                    <li><a href="#">Tienda en Linea</a></li>
                                                    <li><a href="#">Acceso a Terminal Punto de Venta</a></li>
                                                    <li><a href="#">Administración de Inventario</a></li>
                                                    <li><a href="#">Gestión de Ingresos y Egresos</a></li>
                                                </ul>
                                                <a class="btn btn-plus" href="#"><i class="fa fa-plus"></i></a>
                                                <a class="btn btn-white" href="#">Lo quiero!</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="single-pricing-wrap text-center">
                                                <span class="animate-dots"></span>
                                                <div class="price">$849</div>
                                                <div class="thumb">
                                                    <img src="https://cdn.coinless.network/assets/img/pricing/01.png" alt="icon">
                                                </div>
                                                <h5>Básico</h5>
                                                <ul>
                                                    <li><a href="#">720 Facturas Electrónicas al año</a></li>
                                                    <li><a href="#">Tienda en Linea</a></li>
                                                    <li><a href="#">Acceso a Terminal Punto de Venta</a></li>
                                                    <li><a href="#">Administración de Inventario</a></li>
                                                    <li><a href="#">Gestión de Ingresos y Egresos</a></li>
                                                </ul>
                                                <a class="btn btn-plus" href="#"><i class="fa fa-plus"></i></a>
                                                <a class="btn btn-white" href="#">Lo quiero!</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="single-pricing-wrap text-center">
                                                <span class="animate-dots"></span>
                                                <div class="price">$1,289</div>
                                                <div class="thumb">
                                                    <img src="https://cdn.coinless.network/assets/img/pricing/01.png" alt="icon">
                                                </div>
                                                <h5>Estándar</h5>
                                                <ul>
                                                     <li><a href="#">1,200 Facturas Electrónicas al año</a></li>
                                                    <li><a href="#">Tienda en Linea</a></li>
                                                    <li><a href="#">Acceso a Terminal Punto de Venta</a></li>
                                                    <li><a href="#">Administración de Inventario</a></li>
                                                    <li><a href="#">Gestión de Ingresos y Egresos</a></li>
                                                </ul>
                                                <a class="btn btn-plus" href="#"><i class="fa fa-plus"></i></a>
                                                <a class="btn btn-white" href="#">Lo quiero!</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- pricing-area end -->
    </div>

    <!-- history-area start -->
    <div class="history-area pd-bottom-85">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="section-title text-lg-left text-center">
                        <h5 class="subtitle"><span></span>Solucion de pagos inteligentes</h5>
                        <h3 class="title">¿Por qué Coinless?</h3>
                        <p>Principales razones por las que las empresas eligen Coinless</p>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="text-center text-lg-left">
                                 <li><a href="#">Facturación Electrónica</a></li>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="text-center text-lg-left">
                                <li><a href="#">Gestón de Cobranza</a></li>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="text-center text-lg-left">
                                <li><a href="#">Sistema de Pago Flexibles</a></li>
                            </div>
                        </div>
                    </div>
                    
                       <div class="row">
                        <div class="col-sm-4">
                            <div class="text-center text-lg-left">
                             <li><a href="#">Punto de Venta</a></li>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="text-center text-lg-left">
                         <li><a href="#">Terminal Punto de Venta</a></li>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="text-center text-lg-left">
                                   <li><a href="#">Gestión de Inventario</a></li>
                            </div>
                        </div>
                    </div>
                       <div class="row">
                        <div class="col-sm-4">
                            <div class="text-center text-lg-left">
                              <li><a href="#">Sistema de Promociones</a></li>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="text-center text-lg-left">
                               <li><a href="#">Sistema de Recompensas</a></li>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="text-center text-lg-left">
                               <li><a href="#">Módulos Vending Machine</a></li>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-lg-5 d-lg-block d-none align-self-center">
                    <div class="thumb item-bounce">
                        <img src="https://cdn.coinless.network/assets/img/history/01.png" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- history-area end -->

    
    
    <!-- check-profit-area start -->
    <div class="check-profit-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <form>
                        <div class="title text-center">
                            <h5>Pagos QR</h5>
                        </div>
                     <div class="item"><img src="https://cdn.coinless.network/assets/img/device/img_devices.png" alt="img"></div>
                        
                    </form>
                </div>
                <div class="col-lg-6 align-self-center">
                    <div class="payment-method-wrap">
                        <h2>Terminal Punto de Venta</h2>
                        <p>La terminal de Coinless es portatil y muy fácil de usar, desde ahí puedes puedes escanear los productos para inventariar o para solicitar el pago de la orden. Además de todas las funcionalidades para hacer crecer tu negocio.</p>
                        <ul class="payment-card">
                            <li>
                                <a href="#"><img src="https://cdn.coinless.network/assets/img/payment-card/01.png" alt="img"></a>
                            </li>
                            <li>
                                <a href="#"><img src="https://cdn.coinless.network/assets/img/payment-card/05.png" alt="img"></a>
                            </li>
                            <li>
                                <a href="#"><img src="https://cdn.coinless.network/assets/img/payment-card/02.png" alt="img"></a>
                            </li>
                            <li>
                                <a href="#"><img src="https://cdn.coinless.network/assets/img/payment-card/03.png" alt="img"></a>
                            </li>
                            <li>
                                <a href="#"><img src="https://cdn.coinless.network/assets/img/payment-card/04.png" alt="img"></a>
                            </li>
                            <li>
                                <a href="#"><img src="https://cdn.coinless.network/assets/img/payment-card/06.png" alt="img"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- check-profit-area end -->

    <div class="shape-3" style="background-image: url(https://cdn.coinless.network/assets/img/shape/3.png);">
        <!-- testimonial-area start -->
        <div class="testimonial-area pd-top-80 common-pd-bottom left-bottom-line-bg" style="background-image: url(https://cdn.coinless.network/assets/img/shape/pen.png);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="testimonial-main-slider">
                            <div class="item">
                                <div class="single-main-client">
                                    <div class="section-title text-lg-left text-center">
                                        <h5 class="subtitle"><span></span>Nuestros clientes</h5>
                                        <h3 class="title">y su experiencia con Coinless</h3>
                                        <p>Adaptarnos a las necesidades de nuestros clientes nos abre una ventana de oportunidades comerciales.</p>
                                    </div>
                                    <div class="client-info text-lg-left text-center">
                                        <h6>Cron Mickey</h6>
                                        <p>Cliente</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="single-main-client">
                                    <div class="section-title text-lg-left text-center">
                                        <h5 class="subtitle"><span></span>Nuestros clientes</h5>
                                        <h3 class="title">y su experiencia con Coinless</h3>
                                        <p>Empoderamos el acceso de pago para nuestros clientes de una manera más simple y dinámica.</p>
                                    </div>
                                    <div class="client-info text-lg-left text-center">
                                        <h6>Cron Mickey</h6>
                                        <p>Cliente</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="single-main-client">
                                    <div class="section-title text-lg-left text-center">
                                        <h5 class="subtitle"><span></span>Nuestros clientes</h5>
                                        <h3 class="title">y su experiencia con Coinless</h3>
                                        <p>Wow, es muy fácil de usar y, lo mejor que es Gratis.</p>
                                    </div>
                                    <div class="client-info text-lg-left text-center">
                                        <h6>Cron Mickey</h6>
                                        <p>Cliente</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="single-main-client">
                                    <div class="section-title text-lg-left text-center">
                                        <h5 class="subtitle"><span></span>Nuestros clientes</h5>
                                        <h3 class="title">y su experiencia con Coinless</h3>
                                        <p>Habiamos probado otras alternativas pero sus terminales y modulos de pago son fenomales para nuestro giro.</p>
                                    </div>
                                    <div class="client-info text-lg-left text-center">
                                        <h6>Cron Mickey</h6>
                                        <p>Cliente</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <div class="testimonial-thumb-slider-wrap">
                            <img class="testimonial-thumb-slider--img testimonial-thumb-slider--img-1" src="https://cdn.coinless.network/assets/img/team/01.png" alt="img">
                            <img class="testimonial-thumb-slider--img testimonial-thumb-slider--img-2" src="https://cdn.coinless.network/assets/img/team/02.png" alt="img">
                            <img class="testimonial-thumb-slider--img testimonial-thumb-slider--img-3" src="https://cdn.coinless.network/assets/img/team/03.png" alt="img">
                            <img class="testimonial-thumb-slider--img testimonial-thumb-slider--img-4" src="https://cdn.coinless.network/assets/img/team/04.png" alt="img">

                            <div class="testimonial-thumb-slider-img testimonial-thumb-slider">
                                <div class="item">
                                    <div class="single-thumb-client">
                                        <img src="https://cdn.coinless.network/assets/img/team/01.png" alt="img">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="single-thumb-client">
                                        <img src="https://cdn.coinless.network/assets/img/team/02.png" alt="img">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="single-thumb-client">
                                        <img src="https://cdn.coinless.network/assets/img/team/03.png" alt="img">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="single-thumb-client">
                                        <img src="https://cdn.coinless.network/assets/img/team/03.png" alt="img">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- testimonial-area end -->
    </div>

    <div class="shape-5" style="background-image: url(https://cdn.coinless.network/assets/img/shape/5.png);">
        <!-- client area start -->
        <div class="partner-area common-pd-bottom-4 right-bottom-line-bg" style="background-image: url(https://cdn.coinless.network/assets/img/shape/pen-3.png);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="partner-slider owl-carousel owl-theme">
                            <div class="item">
                                <a href="#"><img src="https://cdn.coinless.network/assets/img/partner/03x.png" alt="client"></a>
                            </div>
                            <div class="item">
                                <a href="#"><img src="https://cdn.coinless.network/assets/img/partner/02x.png" alt="client"></a>
                            </div>
                            <div class="item">
                                <a href="#"><img src="https://cdn.coinless.network/assets/img/partner/03x.png" alt="client"></a>
                            </div>
                            <div class="item">
                                <a href="#"><img src="https://cdn.coinless.network/assets/img/partner/04x.png" alt="client"></a>
                            </div>
                            <div class="item">
                                <a href="#"><img src="https://cdn.coinless.network/assets/img/partner/03x.png" alt="client"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- client area end -->
    </div>

    <!-- footer area start -->
    <footer class="footer-area">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="footer-widget widget widget-about-us">
                            <a href="index.html" class="footer-logo">
                                <img src="https://cdn.coinless.network/assets/img/logo-coinless.svg" width="214" height="35" alt="footer logo">
                            </a>
                            <p>La solución perfecta para recibir pagos tipo contactless, en linea y offline, además de las herramientas necesarias para conectar con tus clientes.</p>
                            <ul class="footer-social social-area-2">
                                <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-4">
                        <div class="footer-widget widget widget_nav_menu">
                            <h4 class="widget-title">Productos <span class="dot">.</span></h4>
                            <ul>
                                <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Wallet</a></li>
                                <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Terminal Punto de Venta</a></li>
                                <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>E-commerce</a></li>
                                <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Punto de Venta Light</a></li>
                                <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Módulos Vending Machine</a></li>
                                 <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Access Pass</a></li>
                                 <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Pago Enlace</a></li>
                                 <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Promociones</a></li>
                                  <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Recompensas</a></li>
                                
                            </ul>
                        </div>
                    </div>
                    
                     <div class="col-lg-3 col-sm-6">
                        <div class="footer-widget widget widget_nav_menu">
                            <h4 class="widget-title">Recursos<span class="dot">.</span></h4>
                            <ul>
                                <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Documentación</a></li>
                                <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Blog</a></li>
                                <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Planes</a></li>
                                <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Beneficios</a></li>

                            </ul>
                        </div>
                    </div>
                    
        
                <div class="col-lg-3 col-sm-6">
                        <div class="footer-widget widget widget_nav_menu">
                            <h4 class="widget-title">Empresa<span class="dot">.</span></h4>
                            <ul>
                                <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Nosotros</a></li>
                                <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Clientes</a></li>
                                <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Carreras</a></li>
                                <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Directrices de marca</a></li>
                                <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Ventas</a></li>
                                <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Soporte</a></li>
                                <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Legal</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 text-lg-left text-center">
                        <ul class="footer-menu">
                            <li><a href="#">Terminos y Condiciones</a></li>
                            <li><a href="#">Privacidad</a></li>
                            <li><a href="#">Contacto</a></li>
                            <li><a href="#">Nosotros</a></li>
                  
                        </ul>
                    </div>
                    <div class="col-lg-5 text-center text-lg-right">
                        <p class="copyright">@ 2020. Coinless. Todos los derechos reservados</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer area end -->

    <!-- back to top area start -->
    <div class="back-to-top">
        <span class="back-top"><i class="fa fa-angle-up"></i></span>
    </div>
    <!-- back to top area end -->


    <!-- vendor js here -->
    <script src="https://cdn.coinless.network/assets/js/vendor.js"></script>
    <!--signin -->
    <script src="https://cdn.coinless.network/assets/js/signin.js"></script>
    <!--coundown timer JS-->
    <script src="https://cdn.coinless.network/assets/js/countdown-timer.js"></script>
    <!-- magnific popup -->
    <script src="https://cdn.coinless.network/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- counterup -->
    <script src="https://cdn.coinless.network/assets/js/jquery.counterup.min.js"></script>
    <!-- waypoint -->
    <script src="https://cdn.coinless.network/assets/js/jquery.waypoints.js"></script>
    <!-- main js  -->
    <script src="https://cdn.coinless.network/assets/js/main.js"></script>
</body>


</html>

</html>