<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js sidebar-large lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js sidebar-large lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js sidebar-large lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js sidebar-large"> <!--<![endif]-->

<head>
    <!-- BEGIN META SECTION -->
    <meta charset="utf-8">
    <title>Qiwo -  Network Cloud Business para Pymes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="Plataforma WebApp para abrir una tienda virtual, con emision de facturación electrónica (CFDI) y punto de venta (POS o TPV) con envios nacionales y internacional. Acepta pagos con diferentes métodos de pago. Personas Fisicas y Morales" name="description" />
    <meta content="themes-lab" name="author" />
    <!-- END META SECTION -->
    <!-- BEGIN MANDATORY STYLE -->
    
    <link href="assets/css/icons/fontawesome/font-awesome.css" rel="stylesheet">
    <link href="assets/css/icons/flaticons/flaticon.css" rel="stylesheet">
    <link href="assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/style-video.css" rel="stylesheet">
    <!-- END  MANDATORY STYLE -->
    <!-- BEGIN PAGE LEVEL STYLE -->
    <link href="assets/plugins/revolution/revolution.css" rel="stylesheet">
    <link href="assets/video/video-js.min.css" rel="stylesheet">
    <!-- END PAGE LEVEL STYLE -->
    <script src="assets/plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <script type="text/javascript">
    <% if notice!=nil %>
    alert("<%= notice %>");
    <% end %>
    </script>
</head>

<body id="animated-page">

    <!-- BEGIN TOPBAR -->
    <nav class="navbar navbar-fixed-top" role="navigation" data-0="line-height:85px; height:85px; background-color:rgba(43,46,51,0.3);" data-300="line-height:60px; height:60px; background-color:rgba(43,46,51,1);">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="fa fa-bars c-white"></span>
                </button>
                <h1>
                    <a class="navbar-brand" href="index.html" data-0="line-height:80px" data-300="line-height:58px">
                        <img src="assets/img/qiwo_logo.png" data-0="line-height:80px" data-300="line-height:58px" alt="logo" width="64" height="55"></a>
                    </a>
                </h1>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" data-0="margin-top:20px;" data-300="margin-top:7px;">
                    <li class="active"><a href="index.html">Inicio</a>
                    </li>
                    <li><a href="tour.html">Tour</a>
                    </li>
                    <li><a href="tiendas.html">Tiendas</a>
                    </li>
                    <li><a href="grant_permission.html">Entrar + Precios</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END TOPBAR -->
    <!-- BEGIN VIDEO FULLSCREEN -->
    <section>
        <div class="fullwidthbanner-container">
            <div class="fullwidthbanner" id="home">
                <ul>
                    <!-- SLIDE  -->
                    <li data-transition="slotfade-vertical" data-slotamount="5" data-masterspeed="300">
                        <!-- MAIN IMAGE -->
                        <img src="assets/img/bg-blue2.png">
                        <div class="caption sft" data-x="center" data-y="0" data-speed="700" data-start="1400" data-easing="easeOutBack">
                            <h1>Creamos la herramienta Cloud<br> para comercio electronico actual</h1>
                        </div>
                        <div class="caption fade" data-x="center" data-y="210" data-speed="500" data-start="1900" data-easing="easeOutBack">
                            <a href="http://qiwo.mx/grant_permission.html" class="btn btn-transparent btn-lg  btn-large">Unirme</a>
                        </div>
                        <div class="caption lfb" data-x="center" data-y="350" data-speed="800" data-start="1900" data-easing="easeOut">
                            <img src="assets/img/mockup_ipad.png" class="slide-tablet" alt="index1">
                        </div>
                    </li>
                    <li id="video-slide" data-transition="fade" data-slotamount="7" data-masterspeed="500" data-fstransition="fade" data-fsmasterspeed="500" data-fsslotamount="7">
                        <!-- MAIN IMAGE -->
                        <img src="assets/video/preview.jpg" alt="video_forest" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->
                        <div class="tp-caption tp-fade fadeout fullscreenvideo" data-x="0" data-y="0" data-speed="1000" data-start="1100" data-easing="Power4.easeOut" data-endspeed="1500" data-endeasing="Power4.easeIn" data-autoplay="true" data-autoplayonlyfirsttime="false"
                        data-nextslideatend="true" data-forceCover="1" data-dottedoverlay="twoxtwo" data-aspectratio="16:9" data-forcerewind="on" style="z-index: 2">
                            <video class="video-js vjs-default-skin" preload="none" width="100%" height="100%" poster='assets/video/preview.jpg' data-setup="{}">
                                <source src='assets/video/preview.mp4' type='video/mp4' />
                                <source src='assets/video/preview.webm' type='video/webm' />
                                <source src='assets/video/preview.ogv' type='video/ogg' />
                            </video>
                        </div>
                        <div class="caption sft" data-x="center" data-y="150" data-speed="400" data-start="1400" data-easing="easeInQuad" style="z-index:2">
                            <h1>Moviliza tus productos y expande tu negocio</h1>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- END VIDEO FULLSCREEN -->
    <section class="section-txt bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="align-center">
                        <h2 class="slogan">¡Qiwo es gratis!, pero puedes mejorar tu experiencia con un plan de pago.</h2>
                        <p>No cobramos comisión por venta y tus transacciones estan seguras</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- BEGIN SERVICES -->
    <section id="section-services" class="animated-section section p-b-30 bg-white">
        <div class="container">
            <div class="row side top">
                <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 txt-center">
                    <h1>Algunas herramientas para tu negocio</h1>
                    <p class="m-b-40">La platarforma te ayuda a reducir tiempos y costos administrativos. La solución todo en uno.
                    </p>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3"></div>
            </div>
            <div class="row side top">
                <div class="col-md-4">
                    <div class="align-center">
                        <i class="glyph-icon flaticon-ui-elements2 fa-5x m-b-20"></i>
                      <h4 class="text-bold">Web App</h4>
                        <p>Diseño fácil y práctico para usar en cualquier dispositivo, con asombrosas apps para tu negocio. Igresa con Facebook ó Telegram Messenger.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="align-center">
                        <i class="glyph-icon flaticon-viral fa-5x m-b-20"></i>
                        <h4 class="text-bold">Facturación electrónica CFDI 3.2</h4>
                        <p>Tus clientes podrán facturar por si mismos desde la tienda virtual y podrás facturar desde el punto de venta. Sincronización en tiempo real con el inventario y notificación por inbox por bajo stock.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="align-center">
                        <i class="glyph-icon flaticon-gallery fa-5x m-b-20"></i>
                      <h4 class="text-bold">Catálogo en linea</h4>
                      <p>Encuentra nuevos clientes a través de internet. Con la publicación de tus productos ó servicios, tendran la oportunidad de acercarte a ti. Desde la plataforma pueden cotizar y comprar en linea. La paqueteria pasa a recoger tu envio y lo lleva directo a tu cliente, a un precio especial.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END SERVICES -->
    <section id="parallax1" class="section p-t-40 p-b-40" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="align-center p-t-40 p-b-40">
                <blockquote class="bigquote">Network Cloud Business para Pymes</blockquote>
                <p>Únete a la red de empresas</p>
            </div>
        </div>
    </section>
    <!-- BEGIN TESTIMONIALS -->
    <section class="bg-white">
        <div class="container">
            <div class="row">
                <div class="span12 p-t-50 p-b-40">
                    <div id="testimonials" class="owl-carousel">
                        <div class="item">
                            <div class="col-md-6  col-md-offset-3">
                              <h3 class="normal text-center">Estoy muy contento por la rápidez con la que puedo administrar mi negocio a través de Qiwo</h3>
                              <p class="text-center">
                                    <img src="assets/img/testimonial1.jpg" alt="Testimonial 1" class="img-circle">Miguel, cliente, San Luis Potosí</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-md-6  col-md-offset-3">
                                <h3 class="normal text-center">
                                    La herramienta perfecta!                                </h3>
                                <p class="text-center">
                                    <img src="assets/img/testimonial2.jpg" class="img-circle" alt="Testimonial 2">Jorge, cliente, San Luis Potosí
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-md-6  col-md-offset-3">
                              <h3 class="normal text-center"> Nunca creí que existiera en México una plataforma para los emprendedores</h3>
                              <p class="text-center">
                                    <img src="assets/img/testimonial3.jpg" alt="Testimonial 3" class="img-circle">Rafael, cliente, San Luis Potosí</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END TESTIMONIALS -->
    <!-- BEGIN SUBSCRIBE SECTION -->
    <section id="subscribe" class="subscribe-form">
        <div class="container">
            <div class="row">
            <form action="/suscribir/me" method="post" data-name="Email Form">
                
                    <div class="col-sm-8">
                        <input type="email" placeholder="Dejános tu e-mail" spellcheck="false" name="email">
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-large btn-blue" type="submit">
                            Subscribir</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- BEGIN PRENSA SECTION -->
    <!-- END PRENSA SECTION -->
    <!-- END SUBSCRIBE SECTION -->
    <!-- BEGIN FOOTER -->
    <section id="footer" class="section footer">
        <div class="container">
            <div class="row animated opacity m-b-20" data-andown="fadeIn" data-animation="animation">
                <div class="col-sm-12 align-center">
                    <ul class="social-network social-circle">
                        <li><a href="http://qiwo-mx.tumblr.com/" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/qiwo.mx" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://twitter.com/qiwomx" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li></i></a>
                        </li>
                        <li></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row align-center copyright">
           <script type="text/javascript" src="https://seal.verisign.com/getseal?host_name=qiwo.mx&amp;size=M&amp;use_flash=NO&amp;use_transparent=YES&amp;lang=es"></script>
                <div class="col-sm-12">
                    <p>Derechos Reservados &copy; 2014 Qiwo, una división de Consultware de México, S. de R.L. de C.V. Agustin Vera No 1415 A 2 Col. Del Valle, San Luis Potosí, S.L.P. <a href="legal.html"> Aviso Legal</a> | <a href="privacidad.html"> Aviso de Privacidad</a></p>
                </div>
            </div>
        </div>
    </section>
    <a href="#header" class="scrollup"><i class="fa fa-chevron-up"></i></a> 
    <!-- END FOOTER -->
    <!-- BEGIN MANDATORY SCRIPTS -->
    <script src="assets/plugins/jquery-1.11.js"></script>
    <script src="assets/plugins/bootstrap.min.js"></script>
    <script src="assets/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="assets/plugins/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="assets/plugins/skrollr/skrollr.min.js"></script>
    <script src="assets/plugins/jquery-scrollto/jquery.scrollTo-1.4.3.1-min.js"></script>
    <script src="assets/plugins/stellar/stellar.js"></script>
    <script src="assets/plugins/jquery-appear/jquery.appear.js"></script>
    <!-- END MANDATORY SCRIPTS -->
    <!-- BEGIN PAGE PLUGIN SCRIPTS -->
    <script src="assets/plugins/revolution/plugins.min.js"></script>
    <script src="assets/plugins/revolution/jquery.revolution.min.js"></script>
    <script src="assets/plugins/background-video/jquery.backgroundvideo.min.js"></script>
    <script src="assets/plugins/onscroll-effect/js/classie.js"></script>
    <script src="assets/plugins/onscroll-effect/js/cbpScroller.js"></script>
    <script src="assets/video/video.js"></script>
    <!-- END PAGE PLUGIN SCRIPTS -->

    <script src="assets/js/main.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script type="text/javascript" src="js/webflow.js"></script>
  <script type="text/javascript" src="//assets.zendesk.com/external/zenbox/v2.6/zenbox.js"></script>
<style type="text/css" media="screen, projection">
  @import url(//assets.zendesk.com/external/zenbox/v2.6/zenbox.css);
</style>
<script type="text/javascript">
  if (typeof(Zenbox) !== "undefined") {
    Zenbox.init({
      dropboxID:   "20113340",
      url:         "https://qiwo.zendesk.com",
      tabTooltip:  "Ayuda",
      tabImageURL: "https://assets.zendesk.com/external/zenbox/images/tab_es_help_right.png",
      tabColor:    "#A1D22B",
      tabPosition: "Right"
    });
  }
</script>
</body>

</html>