<%= form_for(@yo) do |f| %>
  <% if @yo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@yo.errors.count, "error") %> prohibited this yo from being saved:</h2>

      <ul>
      <% @yo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :userid %><br />
    <%= f.text_field :userid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
