<h1>Listing yos</h1>

<table>
  <tr>
    <th>Userid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @yos.each do |yo| %>
  <tr>
    <td><%= yo.userid %></td>
    <td><%= link_to 'Show', yo %></td>
    <td><%= link_to 'Edit', edit_yo_path(yo) %></td>
    <td><%= link_to 'Destroy', yo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Yo', new_yo_path %>
