    <%= render "shared/topmenu" %>
	<!-- END HEADER -->
	<!-- BEGIN CONTAINER -->
<div class="clearfix"></div>
	<div class="page-container">
		<!-- BEGIN SIDEBAR -->
	   <%= render "shared/leftmenu" %>	
		<!-- END SIDEBAR -->
		<!-- BEGIN PAGE -->
		<div class="page-content">
			<!-- BEGIN STYLE CUSTOMIZER -->
			<%= render "shared/colorsettings" %>
			<!-- END BEGIN STYLE CUSTOMIZER -->    
			<div class="row">
            <div class="col-md-12">
               <!-- BEGIN PAGE TITLE & BREADCRUMB-->
               <h3 class="page-title">
                  Escritorio <small>Estadisticas</small>
               </h3>
               <ul class="page-breadcrumb breadcrumb">
                  <li>
                     <i class="icon-home"></i>
                     <a href="index.html">Inicio</a> 
                     <i class="icon-angle-right"></i>
                  </li>
                  <li><a href="#">Escritorio</a></li>
                  <li class="pull-right">
                     <div id="dashboard-report-range" class="dashboard-date-range tooltips" data-placement="top" data-original-title="Change dashboard date range">
                        <i class="icon-calendar"></i>
                        <span></span>
                        <i class="icon-angle-down"></i>
                     </div>
                  </li>
               </ul>
               <!-- END PAGE TITLE & BREADCRUMB-->
            </div>
         </div>
         <div class="row">
                  <div class="col-lg-12 news-blocks">
                        <span>¡Bienvenido!</span>
                        </i>
                        <% if session[:activeUser].sys_rol==1 and isInTestMode()==true %>
                         <input type="button" class="btn red btn-block" value="MODO DE PRUEBA">
                         <% end %>
                        <p>Bienvenido a Coinless en esta sección podrás ver los comentarios que se han hecho en tus productos y en tus ventas abiertas
                        El calendario te permitirá ver las fechas en las que se han realizado eventos importantes como ventas, comentarios y suscripciones.
                        El menú a tu izquierda te permitirá realizar movimientos con la plataforma de forma fácil y rápida</p>
                        
                        
                            <img src="/white_logo_transparent.png" alt="Qiwo" class="top-news-icon" style="width:50px;height:50px" />
                        
                        <a class="fancybox-media" href="" id="welcome-video"><h4><i class="icon-youtube-play"></i> Bienvenido</h4></a>
                        <a class="fancybox-media" href=""><h4><i class="icon-youtube-play"></i> Video introductorio</h4></a>
                     </div>

             </div>
         
				<!-- END PAGE HEADER-->
				<div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
               <div class="dashboard-stat blue">
                  <div class="visual">
                     <i class="icon-comments"></i>
                  </div>
                  <div class="details">
                     <div class="number">
                        <% if session[:activeUser].sys_rol==1 %>
                        <%= QiwoReview.all.count %>
                        <% else %>
                        <%= @openComments %> 
                         <% end %>
                     </div>
                     <div class="desc">                           
                        Comentarios 
                     </div>
                  </div>
                  <a class="more" href="#">
                  | <i class="m-icon-swapright m-icon-white"></i>
                  </a>                 
               </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
               <div class="dashboard-stat green">
                  <div class="visual">
                     <i class="icon-shopping-cart"></i>
                  </div>
                  <div class="details">
                      <% if session[:activeUser].sys_rol==1 %>
                        <div class="number"><%= QiwoLogKart.where(:kart_state=>1).count %></div>
                        <% else %>
                      <div class="number"><%= @openOrders %></div>
                         
                         <% end %>
                     
                     <div class="desc">Ordenes abiertas</div>
                  </div>
                  <a class="more" href="#">
                  | <i class="m-icon-swapright m-icon-white"></i>
                  </a>                 
               </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
               <div class="dashboard-stat purple">
                  <div class="visual">
                     <i class="icon-globe"></i>
                  </div>
                  <div class="details">
                     <div class="number">$<% if @gananciasGlobales.my_gain!=nil %><%= number_with_precision(@gananciasGlobales.my_gain, precision: 2) %> <% else %> 0 <% end %></div>
                     <div class="desc">Ganancias totales</div>
                  </div>
                  <a class="more" href="#">
                  | <i class="m-icon-swapright m-icon-white"></i>
                  </a>                 
               </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
               <div class="dashboard-stat yellow">
                  <div class="visual">
                     <i class="icon-bar-chart"></i>
                  </div>
                  <div class="details">
                       <% if session[:activeUser].sys_rol==1 %>
                        <div class="number"><%= QiwoLogKart.where(:kart_state=>3).count %></div>
                        <% else %>
                      <div class="number"><%= @completedOrders %></div>
                         
                         <% end %>
                     <div class="desc">Ventas exitosas</div>
                  </div>
                  <a class="more" href="#">
                  | <i class="m-icon-swapright m-icon-white"></i>
                  </a>                 
               </div>
            </div>
         </div>
         <!-- END DASHBOARD STATS -->
         <div class="clearfix"></div>
         <div class="row">
             <div class="col-md-6 col-sm-6">
               <!-- BEGIN PORTLET-->
               <div class="portlet">
                  <div class="portlet-title line">
                     <div class="caption"><i class="icon-comments"></i>Ultimos comentarios</div>
                     <div class="tools">
                        <a href="" class="collapse"></a>
                        <a href="#portlet-config" data-toggle="modal" class="config"></a>
                        <a href="" class="reload"></a>
                        <a href="" class="remove"></a>
                     </div>
                  </div>
                  <div class="portlet-body" id="chats">
                     <div class="scroller" style="height: 435px;" data-always-visible="1" data-rail-visible1="1">
                        <ul class="chats">
                            <% isInorOut="in" %>
                            <% comentariosProduct=QiwoReview.last(15) %>
                            <% if session[:activeUser].sys_rol!=1 %>
                            <% comentariosProduct=@comentarios_productos_ventas2 %>
                            <% end %>
                            <% comentariosProduct.each do |singlecomment| %>
                            <% userInComment=Sys_User.find_by_id(singlecomment.user_id) %>
                           <li class="<%= isInorOut %>">
                               <% if isInorOut=="in" %>
                               <% isInorOut="out" %>
                               <% else %>
                               <% isInorOut="in" %>
                               <% end %>
                              <img class="avatar img-responsive" alt="" src="<%= userInComment.avatar %>" />
                              <div class="message">
                                 <span class="arrow"></span>
                                 <a href="#" class="name"><%= userInComment.name %><%= userInComment.last_name %></a>
                                 <span class="datetime"> en <%= singlecomment.created_at %></span>
                                 <span class="body">
                                 <%= singlecomment.review %>
                                 </span>
                              </div>
                           </li>
                            <% end %>
                        </ul>
                     </div>
                     <% if session[:activeUser].sys_rol==1 %>
                     <div class="chat-form">
                        <div class="input-cont">   
                           <input class="form-control" type="text" placeholder="Enviar mensaje a todos los contactos de facebook" id="qiwotofb" />
                        </div>
                        <div class="btn-cont"> 
                           <span class="arrow"></span>
                           <a href="javascript:postToFacebook($('#qiwotofb').val());" class="btn blue icn-only"><i class="icon-ok icon-white"></i></a>
                        </div>
                     </div>
                     <% end %>
                  </div>
               </div>
               <!-- END PORTLET-->
            </div>
             <div class="col-md-6 col-sm-6">
               <!-- BEGIN PORTLET-->
               <div class="portlet box blue calendar">
                  <div class="portlet-title">
                     <div class="caption"><i class="icon-calendar"></i>Calendario</div>
                  </div>
                  <div class="portlet-body light-grey">
                     <div id="calendar"></div>
                  </div>
               </div>
               <!-- END PORTLET-->
            </div>
         </div>
         <div class="clearfix"></div>
         <div class="row ">
            
               
         </div>
         <div class="clearfix"></div>
        <% if session[:activeUser].sys_rol==1 %>
         <div class="row ">
            <div class="col-md-6 col-sm-6">
               <!-- BEGIN REGIONAL STATS PORTLET-->
               <div class="portlet">
                  <div class="portlet-title">
                     <div class="caption"><i class="icon-globe"></i>Análisis web</div>
                     <div class="tools">
                        <a href="" class="collapse"></a>
                        <a href="#portlet-config" data-toggle="modal" class="config"></a>
                        <a href="" class="reload"></a>
                        <a href="" class="remove"></a>
                     </div>
                  </div>
                  <div class="portlet-body">
                     <div id="region_statistics_loading">
                        <img src="assets/img/loading.gif" alt="loading"/>
                     </div>
                     <div id="region_statistics_content" class="display-none">
                        <div class="btn-toolbar margin-bottom-10">
                           <div class="btn-group" data-toggle="buttons">
                              <a href="" class="btn default btn-sm active">Usuarios</a>
                              <a href="" class="btn default btn-sm">Ordenes</a> 
                           </div>
                           <div class="btn-group pull-right">
                              <a href="" class="btn default btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                              Escoger region <span class="icon-angle-down"></span>
                              </a>
                              <ul class="dropdown-menu pull-right">
                                 <li><a href="javascript:;" id="regional_stat_world">Mundo</a></li>
                                 <li><a href="javascript:;" id="regional_stat_usa">USA</a></li>
                                 <li><a href="javascript:;" id="regional_stat_europe">Europa</a></li>
                                 <li><a href="javascript:;" id="regional_stat_russia">Rusia</a></li>
                                 <li><a href="javascript:;" id="regional_stat_germany">Alemania</a></li>
                              </ul>
                           </div>
                        </div>
                        <div id="vmap_world" class="vmaps display-none"></div>
                        <div id="vmap_usa" class="vmaps display-none"></div>
                        <div id="vmap_europe" class="vmaps display-none"></div>
                        <div id="vmap_russia" class="vmaps display-none"></div>
                        <div id="vmap_germany" class="vmaps display-none"></div>
                     </div>
                  </div>
               </div>
               <!-- END REGIONAL STATS PORTLET-->
            </div>
             <div class="col-md-6 col-sm-6">
               <!-- BEGIN PORTLET-->
               <div class="portlet solid bordered light-grey">
                  <div class="portlet-title">
                     <div class="caption"><i class="icon-bar-chart"></i>Busquedas en el sitio</div>
                     <div class="tools">
                        <div class="btn-group" data-toggle="buttons">
                           <label class="btn default btn-sm active">
                           <input type="radio" name="options" class="toggle" id="option1">Usuarios
                           </label>
                           <label class="btn default btn-sm">
                           <input type="radio" name="options" class="toggle" id="option2">Retroalimentacion
                           </label>
                        </div>
                     </div>
                  </div>
                  <div class="portlet-body">
                     <div id="site_statistics_loading">
                        <img src="assets/img/loading.gif" alt="loading"/>
                     </div>
                     <div id="site_statistics_content" class="display-none">
                        <div id="site_statistics" class="chart"></div>
                     </div>
                  </div>
               </div>
               <!-- END PORTLET-->
            </div>
         </div>
         <div class="clearfix"></div>
         <div class="row ">
            
            <div class="col-md-6 col-sm-6">
               <!-- BEGIN PORTLET-->
               <div class="portlet paddingless">
                  <div class="portlet-title line">
                     <div class="caption"><i class="icon-bell"></i>Eventos</div>
                     <div class="tools">
                        <a href="" class="collapse"></a>
                        <a href="#portlet-config" data-toggle="modal" class="config"></a>
                        <a href="" class="reload"></a>
                        <a href="" class="remove"></a>
                     </div>
                  </div>
                  <div class="portlet-body">
                     <!--BEGIN TABS-->
                     <div class="tabbable tabbable-custom">
                        <ul class="nav nav-tabs">
                           <li class="active"><a href="#tab_1_1" data-toggle="tab">Clientes</a></li>
                           <li><a href="#tab_1_2" data-toggle="tab">Tareas</a></li>
                           <li><a href="#tab_1_3" data-toggle="tab">Usuarios inscritos</a></li>
                        </ul>
                        <div class="tab-content">
                           <div class="tab-pane active" id="tab_1_1">
                              <div class="scroller" style="height: 290px;" data-always-visible="1" data-rail-visible="0">
                                 <ul class="feeds">
                                 <% @qiwoClients.each do |singleClient| %>
                                    <li>
                                       <div class="col1">
                                          <div class="cont">
                                             <div class="cont-col1">
                                                <div class="label label-sm label-success">                        
                                                   <i class="icon-bell"></i>
                                                </div>
                                             </div>
                                             <div class="cont-col2">
                                                <div class="desc">
                                                   <%= singleClient["name"] %>(<%= singleClient["plan"] %>)
                                                   <span class="label label-sm label-danger ">
                                                   <%= singleClient["email"] %>
                                                   <i class="icon-share-alt"></i>
                                                   </span>
                                                   (<%= singleClient["details"] %>)
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="col2">
                                          <div class="label <%= singleClient["active"]=='yes' ? 'label-success' : 'label-danger' %> ">
                                             <%= singleClient["active"]=="yes" ? "Activo" : "Pendiente" %>
                                          </div>
                                       </div>
                                    </li>
                                    <% end %>
                                 </ul>
                              </div>
                           </div>
                           <div class="tab-pane" id="tab_1_2">
                              <div class="scroller" style="height: 290px;" data-always-visible="1" data-rail-visible1="1">
                                 <ul class="feeds">
                                    <li>
                                       <a href="#">
                                          <div class="col1">
                                             <div class="cont">
                                                <div class="cont-col1">
                                                   <div class="label label-sm label-success">                        
                                                      <i class="icon-bell"></i>
                                                   </div>
                                                </div>
                                                <div class="cont-col2">
                                                   <div class="desc">
                                                      Nuevo usuario registrado
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="col2">
                                             <div class="date">
                                                Justo ahora
                                             </div>
                                          </div>
                                       </a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                           <div class="tab-pane" id="tab_1_3">
                              <div class="scroller" style="height: 290px;" data-always-visible="1" data-rail-visible1="1">
                              <% singleRecentUserCounter=true %>
                              <% planes=QiwoSubscription.all %>
                              <% @recentUsers.each do |singleRecentUser| %>
                              <% if singleRecentUserCounter==true %>
                                 <div class="row">
                              <% end %>
                                    <div class="col-md-6 user-info">
                                       <img alt="http://www.facebook.com/<%= singleRecentUser.user_id %>" src="<%= singleRecentUser.avatar %>" class="img-responsive" />
                                       <div class="details">
                                          <div>
                                             <a href="#"><%= singleRecentUser.name %> <%= singleRecentUser.last_name %></a> 
                                             <span class="label label-sm label-success label-mini"><%= singleRecentUser.email %></span>
                                          </div>
                                          <div>Hace <%= ((Time.now-singleRecentUser.created_at)/24/3600).to_i %> días</div>
                                           <div class="form-group">

                              <div class="input-group">
                              <span>Folios CFDI</span>
                                 <input type="text" class="form-control" placeholder="Folios CFDI" value="0" id="cfdiable-<%= singleRecentUser.id %>">
                                 <span class="input-group-btn">
                                 <button class="btn blue" type="button" onclick="javascript:assignCFDI(<%= singleRecentUser.id %>);" data-confirm="Se van a reescribir los folios asignados al usuario, continuar?">Cambiar</button>
                                 </span>
                              </div>
                              <!-- /input-group -->
                           


                                          <label >Cambiar de plan</label>
                                          <select  class="form-control" onchange="javascript:assignPlan(<%= singleRecentUser.id %>);" id="selectable-<%= singleRecentUser.id %>" data-confirm="Se va a cambiar el plan actual del usuario, continuar?">
                                          <% planes.each do |singlePlan| %>

                                             <% if QiwoUserSubscription.where(:user_id=>singleRecentUser.id,:subscription_type=>singlePlan.id).last!=nil %>
                                                <option selected="selected" value="<%= singlePlan.id %>"><%= singlePlan.subscription_name %></option>
                                             <% else %>
                                                <option value="<%= singlePlan.id %>" ><%= singlePlan.subscription_name %></option>
                                             <% end %>
                                             
                                          <% end %>
                                          
                                          </select>
                                       </div>

                                       </div>
                                    </div>
                                  <% if singleRecentUserCounter==false %>
                                    </div>
                                 <% end %>
                                 <% singleRecentUserCounter=!singleRecentUserCounter %>
                              <% end %>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!--END TABS-->
                  </div>
               </div>
               <!-- END PORTLET-->
            </div>
             <div class="col-md-6 col-sm-6">
               <div class="portlet box purple">
                  <div class="portlet-title">
                     <div class="caption"><i class="icon-calendar"></i>Estado del servidor</div>
                     <div class="actions">
                        <a href="javascript:;" class="btn btn-sm yellow easy-pie-chart-reload"><i class="icon-repeat"></i> Actualizar</a>
                     </div>
                  </div>
                  <div class="portlet-body">
                     <div class="row">
                        <div class="col-md-4">
                           <div class="easy-pie-chart">
                              <div class="number transactions" data-percent="55"><span>+55</span>%</div>
                              <a class="title" href="#">RAM <i class="m-icon-swapright"></i></a>
                           </div>
                        </div>
                        <div class="margin-bottom-10 visible-sm"></div>
                        <div class="col-md-4">
                           <div class="easy-pie-chart">
                              <div class="number visits" data-percent="85"><span><%= @mb_available %></span>MB</div>
                              <a class="title" href="#">Espacio libre <i class="m-icon-swapright"></i></a>
                           </div>
                        </div>
                        <div class="margin-bottom-10 visible-sm"></div>
                        <div class="col-md-4">
                           <div class="easy-pie-chart">
                              <div class="number bounce" data-percent="46"><span>-46</span>%</div>
                              <a class="title" href="#">CPU <i class="m-icon-swapright"></i></a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>




               <div class="portlet box purple">
                  <div class="portlet-title">
                     <div class="caption"><i class="icon-calendar"></i>Redpack</div>
                     <div class="actions">
                        <a href="javascript:;" class="btn btn-sm yellow easy-pie-chart-reload"><i class="icon-repeat"></i> </a>
                     </div>
                  </div>
                  <div class="portlet-body">
                  Guias actualmente en el sistema:<%= ShippingGuide.where(:gtype=>1).count %><br>
                  Guias test actualmente en el sistema:<%= ShippingGuide.where(:gtype=>0).count %><br>
                  Guias test actualmente vendidas:<%= ShippingGuide.where(:gtype=>0).where("id_from IS NOT NULL").count %><br>
                  Guias actualmente vendidas:<%= ShippingGuide.where(:gtype=>1).where("id_from IS NOT NULL").count %><br>
                  Guias actualmente usadas:<%= ShippingGuide.where(:gtype=>1).where("id_from IS NOT NULL and id_to IS NOT NULL").count %><br>
                  Guias actualmente sin usar:<%= ShippingGuide.where(:gtype=>1).where("id_from IS NOT NULL and id_to IS NULL").count %><br>
                  <form action="/yo/createGuides" class="form-horizontal">
                                 <div class="form-body">
                                    <div class="form-group">
                                       <label  class="col-md-3 control-label">Guia folio inicial</label>
                                       <div class="col-md-4">
                                          <input type="number" class="form-control" placeholder="000000000000001" name="initialGuide">
                                          <span class="help-block">Introducir el folio inicial del contrato</span>
                                       </div>
                                    </div>

                                    <div class="form-group">
                                       <label  class="col-md-3 control-label">Guia folio final</label>
                                       <div class="col-md-4">
                                          <input type="number" class="form-control" placeholder="000000000000002"  name="endGuide">
                                          <span class="help-block">Introducir el folio final del contrato</span>
                                       </div>
                                    </div>
                                    <div class="form-group">
                                             <label class="control-label">Guias de prueba</label>
                                             <div class="radio-list">
                                                <label class="radio-inline">
                                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="test" checked> Guias de prueba
                                                </label>
                                                <label class="radio-inline">
                                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="production" > Guias de productivo
                                                </label>
                                             </div>
                                          </div>
                                    
                                 <div class="form-actions fluid">
                                    <div class="col-md-offset-3 col-md-9">
                                       <button type="submit" class="btn blue">Enviar</button>
                                       <button type="button" class="btn default">Cancel</button>                              
                                    </div>
                                 </div>
                                 

                              </form> 

                     <!-- <div class="row">
                        <div class="col-md-4">
                           <div class="easy-pie-chart">
                              <div class="number transactions" data-percent="55"><span>+55</span>%</div>
                              <a class="title" href="#">RAM <i class="m-icon-swapright"></i></a>
                           </div>
                        </div>
                        <div class="margin-bottom-10 visible-sm"></div>
                        <div class="col-md-4">
                           <div class="easy-pie-chart">
                              <div class="number visits" data-percent="85"><span></span>MB</div>
                              <a class="title" href="#">Espacio libre <i class="m-icon-swapright"></i></a>
                           </div>
                        </div>
                        <div class="margin-bottom-10 visible-sm"></div>
                        <div class="col-md-4">
                           <div class="easy-pie-chart">
                              <div class="number bounce" data-percent="46"><span>-46</span>%</div>
                              <a class="title" href="#">CPU <i class="m-icon-swapright"></i></a>
                           </div>
                        </div>
                     </div> -->
                  </div>
               </div>




            </div>
         </div>
        <% end %>
         <div class="clearfix"></div>
         <div class="row ">
           
            
         </div>
			</div>
			<!-- END PAGE CONTAINER-->    
		</div>
		<!-- END PAGE -->
	<!-- END CONTAINER -->
	<!-- BEGIN FOOTER -->
	<div class="footer">
		<div class="footer-inner">
			2020 &copy; Coinless.
		</div>
		<div class="footer-tools">
			<span class="go-top">
			<i class="icon-angle-up"></i>
			</span>
		</div>
	</div>
	<!-- END FOOTER -->
	
