<%= form_for(@qiwo_log_kart) do |f| %>
  <% if @qiwo_log_kart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@qiwo_log_kart.errors.count, "error") %> prohibited this qiwo_log_kart from being saved:</h2>

      <ul>
      <% @qiwo_log_kart.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :ip_user %><br />
    <%= f.number_field :ip_user %>
  </div>
  <div class="field">
    <%= f.label :facebook_id %><br />
    <%= f.number_field :facebook_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :cotizacion_number %><br />
    <%= f.number_field :cotizacion_number %>
  </div>
  <div class="field">
    <%= f.label :product_id %><br />
    <%= f.number_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :store_id %><br />
    <%= f.number_field :store_id %>
  </div>
  <div class="field">
    <%= f.label :coupon_id %><br />
    <%= f.number_field :coupon_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
