    <%= render "shared/topmenu" %>
	<!-- END HEADER -->
	<!-- BEGIN CONTAINER -->
    <div class="clearfix"></div>
	<div class="page-container">
		<!-- BEGIN SIDEBAR -->
	   <%= render "shared/leftmenu" %>	
		<!-- END SIDEBAR -->
		<!-- BEGIN PAGE -->
		<div class="page-content">
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<%= render "shared/colorsettings" %>
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<!-- BEGIN PAGE CONTAINER-->
			<div class="container-fluid">
				<!-- BEGIN PAGE HEADER-->
				<div class="row-fluid">
					<div class="span12">
						<!-- BEGIN STYLE CUSTOMIZER -->
						
						<!-- END BEGIN STYLE CUSTOMIZER -->    
						<!-- BEGIN PAGE TITLE & BREADCRUMB-->
						<h3 class="page-title">
							Coinless cotizaciones<small> Administre sus compras pendientes</small>
						</h3>
						<ul class="breadcrumb">
							<li>
								<i class="icon-home"></i>
								<a href="index.html">Inicio</a> 
								<i class="icon-angle-right"></i>
							</li>
							<li><a href="#">Cotizaciones</a></li>
							
						</ul>
						<!-- END PAGE TITLE & BREADCRUMB-->
					</div>
				</div>
				<!-- END PAGE HEADER-->
				 <div class="row">
                  <div class="col-lg-12 news-blocks">
                        <span>Instrucciones</span>
                        
                        <i class="icon-tags"></i>
                        <p>En esta sección, podrás ponerte en contacto con tu vendedor.
                        Todas las intenciones de compra estan enlistadas aquí y no te generan costo, pero te permiten comunicarte en privado con la tienda.
                        Coinless recomienda que tu vendedor tenga activas herramientas de venta para tu protección.
                        </p>
                         <a class="fancybox-media" href="" id="welcome-video"><h4><i class="icon-youtube-play"></i> Video introductorio como comunicarte con tu vendedor y pagar</h4></a>
                        
                        
                       <img src="/white_logo_transparent.png" alt="Qiwo" class="top-news-icon" style="width:50px;height:50px" />
                     </div>   
                     </div>
				<div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-advance table-hover">
                        <thead>
                           <tr>
                              <th><i class="icon-tag"></i> Producto</th>
                              <th class="hidden-xs"><i class="icon-table"></i> Cantidad</th>
                              <th><i class="icon-truck"></i> Costo del envio</th>
                              <th><i class="icon-barcode"></i> Número de guía del envio</th>
                              <th><i class="icon-dollar"></i> Precio por unidad</th>
                               <th><i class="icon-money"></i> Total de transacción</th>
                               <th><i class="icon-file"></i> Factura electrónica</th>
                               <th><i class="icon-envelope"></i> Centro de mensajes</th>
                              <th><i class="icon-info"></i> Métodos de pago</th>
                           </tr>
                        </thead>
                        <tbody>
                        <% 
                        publicKeys=[]
                        @qiwo_log_karts.each do |qiwo_kart| %>
                        <% if qiwo_kart.kart_state==4 %>
                          <tr class="danger">
                        <% else %>
                          <tr>
                        <% end %>
                           
                               <% producto=QiwoProduct.find_by_id(qiwo_kart.qiwo_product_id) 
                               if producto==nil
                                 next
                               end
                               userClient=Sys_User.where(:id=>qiwo_kart.user_id).last
                               %>

                              <td><a href="/searches/<%= qiwo_kart.qiwo_product_id  %>/edit"  data-target="#ajax-results-prod-<%= qiwo_kart.qiwo_product_id  %>" data-toggle="modal" id="modal-href-<%= qiwo_kart.qiwo_product_id  %>" class="popovers" data-html="true" data-trigger="hover" data-placement="right" data-content='<img class="avatar img-responsive" alt="" src="<%= userClient.avatar %>" />Comprado por: <%= userClient.name %> <%= userClient.last_name %></br>Folio de compra: <%= qiwo_kart.id %></br>Fecha: <%= qiwo_kart.created_at.strftime("%d/%m/%Y tiempo %I:%M%p")%>' ><%= producto.name %></a></td>

                              <td class="hidden-xs"><%= qiwo_kart.quantity %></td>
                              <td class="hidden-xs">$<%= qiwo_kart.shipping_cost %></td>
                              <% if qiwo_kart.shipping_guide=="SIN GUIA" %>
                                <td class="hidden-xs"><%= qiwo_kart.shipping_guide %></td>
                              <% else %>
                                <td class="hidden-xs"><a <a href="https://track.aftership.com/<%= qiwo_kart.shipping_guide %>" target="popup" onclick="window.open('https://track.aftership.com//<%= qiwo_kart.shipping_guide %>','name','width=600,height=400')"><%= qiwo_kart.shipping_guide %></a>
</td>
                              <% end %>
                              
                              <% #identificamos el mayoreo en esta parte
                              if producto.major_quantity==nil or producto.major_quantity==""
                              	producto.major_quantity=0
                              	producto.save
                              end
                              if qiwo_kart.quantity>=producto.major_quantity  and producto.major_quantity>0%>
                              <td>$<%= producto.major_price %> <i class="icon-dropbox"></i> MAYOREO<span class="label label-sm label-success label-mini"></span></td>
                            <td>$<%= (producto.major_price.to_i*qiwo_kart.quantity.to_i)+qiwo_kart.shipping_cost %> <span class="label label-sm label-success label-mini"></span></td>  	
                              <% else %>
                              <td>$<%= producto.sale_price+(producto.tax==1? getTax(producto.sale_price) : 0) %><span class="label label-sm label-success label-mini"></span></td>
                            <td>$<%= ((producto.sale_price.to_i+(producto.tax==1? getTax(producto.sale_price) : 0))*qiwo_kart.quantity.to_i)+qiwo_kart.shipping_cost %> <span class="label label-sm label-success label-mini"></span></td>
                              <% end %>
                              <td> 
                              
                              <% if qiwo_kart.kart_state==2 or qiwo_kart.kart_state==3 or qiwo_kart.kart_state==4 %>
                                <% facturado=QiwoFacturas.where(:qiwo_log_kart_id=>qiwo_kart.id)
                                if facturado.length==0 %>
                                    <a href="javascript:makeQuotation(<%= qiwo_kart.id %>);" class="btn green btn-xs popovers" data-toggle="modal" data-trigger="hover" data-placement="top" data-content="Haz click aquí para generar tu factura electronica."><i class="icon-list-ol"></i> Facturable</a>
                                <% else %>
                                    <% facturado.each do |singleFactura| %>
                                      <% if singleFactura.status==1 or singleFactura.status==2 %>
                                      <a href="http://qiwo.mx/qiwo_log_karts/descargarXML?facturaId=<%= singleFactura.token %>" class="btn green btn-xs popovers" data-toggle="modal" data-trigger="hover" data-placement="top" data-content="Descargar XML."><i class="icon-arrow-down"></i> Factura XML</a>
                                      <a href="http://qiwo.mx/qiwo_log_karts/descargarPDF?facturaId=<%= singleFactura.token %>" class="btn green btn-xs popovers" data-toggle="modal" data-trigger="hover" data-placement="top" data-content="Descargar PDF."><i class="icon-arrow-down"></i> Factura PDF</a>

                                  <% end %>
                                  <% if singleFactura.status==3 %>
                                      <a href="http://qiwo.mx/qiwo_log_karts/descargarXML?facturaId=<%= singleFactura.token %>" class="btn green btn-xs popovers" data-toggle="modal" data-trigger="hover" data-placement="top" data-content="Descargar XML."><i class="icon-arrow-down"></i> Nota de credito XML</a>
                                      <a href="http://qiwo.mx/qiwo_log_karts/descargarPDF?facturaId=<%= singleFactura.token %>" class="btn green btn-xs popovers" data-toggle="modal" data-trigger="hover" data-placement="top" data-content="Descargar PDF."><i class="icon-arrow-down"></i> Nota de credito PDF</a>

                                  <% end %>
                                    <% end %>
                                <% end %>
                              <% else %>
                              <a href="#" class="btn red btn-xs popovers" data-toggle="modal" data-trigger="hover" data-placement="top" data-content="No puedes generar factura electrónica pues no se ha detectado que la venta este pagada aún."><i class="icon-remove-sign"></i> No facturable</a>
                              <% end %>
                              </td>
                                                          <td><a href="/qiwo_reviews/<%= qiwo_kart.id %>/edit" class="btn btn-info" data-target="#ajax-comments-internal-<%= qiwo_kart.id %>" data-toggle="modal"><span class="badge badge-warning"><%= QiwoReview.find_all_by_sale_id(qiwo_kart.id).count %></span> <i class="icon-envelope"></i> Contactar vendedor</a></td>

                              <td>
                              <% showContact=nil %>
                              <% tienda=QiwoEnterprise.find_by_id(qiwo_kart.store_id) %>
                              <% if qiwo_kart.kart_state<3 %>
                              
                              <% if tienda!=nil %>
                              <% paypaltool=QiwoTool.where(:toolname=>"paypal",:user_id=>tienda.user_owner).last %>
                              <% conektatool=QiwoTool.where(:toolname=>"conekta",:user_id=>tienda.user_owner).last %>
                              <% openpaytool=QiwoTool.where(:toolname=>"openpay",:user_id=>tienda.user_owner).last %>

                              <% if paypaltool==nil
                              	paypaltool=QiwoTool.new(:toolname=>"paypal",:user_id=>tienda.user_owner)
                              	paypaltool.save
                              	conektatool=QiwoTool.new(:toolname=>"conekta",:user_id=>tienda.user_owner)
                              	conektatool.save
                                openpaytool=QiwoTool.new(:toolname=>"openpay",:user_id=>tienda.user_owner)
                                openpaytool.save
                              end
                              errorsInPaypal=1
                              if paypaltool.apikey!=nil and paypaltool.signature!=nil and paypaltool.apisecret!=nil and paypaltool.apikey!="" and paypaltool.signature!="" and paypaltool.apisecret!="" 
                                errorsInPaypal=nil
                              end

                              
								#buscar la llave del dueño
								#puts charge[:payment_method][:barcode]+"==========="+charge[:payment_method][:barcode_url]
                               %>

							<% if errorsInPaypal==nil %>
							<% showContact=true %>
                              <a href="<%= qiwo_kart.paypal %>" class="popovers" data-trigger="hover" data-placement="top" data-content="Este producto se puede pagar por paypal, haz click aquí para proceder con la transacción."><img src="/images/ppcom.png" alt=""></a>
                
              <% end %>
                              <% if conektatool.apikey!=nil and conektatool.apisecret!=nil and conektatool.apikey!="" and conektatool.apisecret!="" %>
                              <% showContact=true 
                              publicKeys[qiwo_kart.id]=conektatool.apisecret %>
                              
                              <a href="javascript:oxxoPayment(<%= qiwo_kart.id %>);" class="popovers" data-trigger="hover" data-placement="top" data-content="Este producto se puede pagar en cualquier OXXO, haz click aquí y te enviaremos un codigo de barras a tu Messenger de facebook"><img src="/assets/img/oxxo_logo.png" alt=""></a>
                              <a href="#basic-card-<%= qiwo_kart.id %>" data-toggle="modal" class="popovers" data-trigger="hover" data-placement="top" data-content="Este producto se puede pagar con tarjeta de credito o debito VISA ó MasterCard, haz click para enviar el pago."><img src="/assets/img/visa_mc_logo.png" alt=""></a>

                              <a href="javascript:banortePayment(<%= qiwo_kart.id %>);" class="popovers" data-trigger="hover" data-placement="top" data-content="Este producto se puede pagar usando una deposito bancario, haz click aquí para enviarte los datos a tu Messenger de facebook" ><img src="/assets/img/banorte_logo.png" alt=""></a>
                              
                              <% else
                              publicKeys[qiwo_kart.id]=''
                              end %>
                              <% end %>
                              <% if openpaytool!=nil %>
                               <% if openpaytool.apisecret!=nil and openpaytool.apikey!=nil && openpaytool.apisecret!="" and openpaytool.apikey!="" 
                                showContact=true %>
                              <a href="javascript:openpay(<%= qiwo_kart.id %>,1);" class="popovers" data-trigger="hover" data-placement="top" data-content="Este producto se puede pagar en cualquier farmacia del ahorro,7Eleven,Extra,Farmacias benavides. Haz click aquí para enviarte el codigo de barras a tu Facebook messenger" ><img src="/images/tienda_conveniencia.fw.png" alt=""></a>
                               <a href="#basic-cardo-<%= qiwo_kart.id %>"  data-trigger="hover" data-toggle="modal" class="popovers" data-placement="top" data-content="Este producto se puede pagar con tarjeta de credito usando OpenPay" ><img src="/images/openpay_card.fw.png" alt=""></a>
                              <% end %>
                              <% end %>
                                <% if showContact==nil and tienda!=nil %>
                                <img src="/banco.png" alt="">Contactame por mi email de ventas <%= tienda.email_buy %>

                                <% end %>
                              <% else %>
                              <% if qiwo_kart.kart_state==4 %>
                                <i class="icon-thumbs-up"></i> <strong>CANCELADO</strong>
                              <% else %>
                                <i class="icon-thumbs-up"></i> <strong>PAGADO</strong>
                              <% end %>
                              
                              <% end %>
                              </td>
                               </tr>
                               <% end %>
                        </tbody>
                        </table>
                     </div>
                      <div class='apple_pagination'>
    <%= will_paginate @qiwo_log_karts %>        
</div>      
				</div>
			</div>
			<!-- END PAGE CONTAINER-->    
		</div>
		<!-- END PAGE -->
	</div>
	<!-- END CONTAINER -->
	<!-- BEGIN FOOTER -->
	<div class="footer">
		<div class="footer-inner">
			2014 &copy; Qiwo by Consultware.
		</div>
		<div class="footer-tools">
			<span class="go-top">
			<i class="icon-angle-up"></i>
			</span>
		</div>
	</div>
	<div id="responsiv" class="modal fade" tabindex="-1" role="basic" aria-hidden="true">
                     <div class="modal-dialog modal-full">
                    <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h3>Factura electronica</h3>
                    <span>Qiwo le permite buscar usando el RFC para simplificar la captura de datos, en caso de no encontrar información complete los datos requeridos.</span>
                  </div>
                  <div class="modal-body">


                                        
                <!-- BEGIN FORM-->
                                        <%= render "qiwo_enterprises/form" %>
                <!-- END FORM-->
                       
                    </div>
                       
            </div>
                </div>    
        </div>
<% indexKey=0
@qiwo_log_karts.each do |qiwo_kart| %>
<div class="modal fade form" id="basic-card-<%= qiwo_kart.id%>" tabindex="-1" role="basic" aria-hidden="true">

                <form action="/qiwo_log_karts/thirdPartySale.json" method="POST" id="card-form-<%= qiwo_kart.id%>" onsubmit="conektaCardHolder(<%= qiwo_kart.id%>);return false;" class="form-horizontal" > 
                <input type="hidden" name="delta" value="<%= qiwo_kart.id%>" />
                <input type="hidden" id="public-key-<%= qiwo_kart.id%>" value="<%= publicKeys[qiwo_kart.id] %>" />
                        <div class="modal-dialog">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                 <h4 class="modal-title">Procesar pago directo con Qiwo <% qiwoEnterpriseSource=QiwoEnterprise.find_by_id(qiwo_kart.store_id)
                                 if qiwoEnterpriseSource!=nil %>
                                 	(<%= qiwoEnterpriseSource.name %>)</h4>
                                 	<% else -%>
                                 	</h4>
                                 	<% end -%>
                              </div>
                              <div class="modal-body form-body">

                                

                                <div class="progress progress-striped active" id="proc-<%= qiwo_kart.id %>" style="display:none;">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                    Procesando pago
                                        <span class="sr-only">60% Complete (warning)</span>
                                    </div>
                                </div>

                                  <span class="card-errors"></span>
                                  <div class="form-group">
                                    <label class="col-md-4 control-label"> Nombre en la tarjeta</label>
                                      <div class="col-lg-6">
                                        <input type="text" class="form-control" size="20" data-conekta="card[name]"/>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="col-md-4 control-label">Número de Tarjeta de Crédito</label>
                                    <div class="col-lg-6">
                                      <input type="text" class="form-control" size="20" data-conekta="card[number]"/>
                                    </div>  
                                  </div>
                                  <div class="form-group">
                                    <label class="col-md-4 control-label"></label>
                                    <div class="col-lg-2">
                                      <input type="text" class="form-control" size="4" data-conekta="card[cvc]" placeholder="CVC"/>
                                    </div>  
                                  
                                    
                                    <div class="col-lg-2">
                                      <input type="text" class="form-control" size="2" data-conekta="card[exp_month]" placeholder="MM"/>
                                      </div>
                                  
                                    
                                    <div class="col-lg-2">
                                      <input type="text" class="form-control" size="2" data-conekta="card[exp_year]" placeholder="AAAA"/>
                                      </div>
                                    </div>
                              </div>
                              <div class="modal-footer">
                              <img src="/assets/img/visa_logo.png" alt="">
                        <img src="/assets/img/oxxo_logo.png" alt="">
                        <img src="/assets/img/mastercard_logo.png" alt="">
                        <img src="/assets/img/banorte_logo.png" alt="">
                                 <button type="button" class="btn default" data-dismiss="modal">Cerrar</button>
                                 <button type="submit" class="btn blue">Continuar</button>
                              </div>
                           </div>
                           <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                        </form>


                     </div>


<% businessID=QiwoEnterprise.where(:id=>qiwo_kart.store_id).last %>
<% if businessID !=nil %>
<% openpayForThisSale=QiwoTool.where(:user_id=>businessID.user_owner,:toolname=>'openpay').where('apikey IS NOT NULL').where('signature IS NOT NULL').where('apisecret IS NOT NULL').last %>
<% end %>
<% if openpayForThisSale!=nil %>
<div class="modal fade form" id="basic-cardo-<%= qiwo_kart.id%>" tabindex="-1" role="basic" aria-hidden="true">

                <form action="/qiwo_log_karts/thirdPartySale.json" method="POST" id="card-formo-<%= qiwo_kart.id%>" onsubmit="openpayCardHolder(<%= qiwo_kart.id%>);return false;" class="form-horizontal" > 
                <input type="hidden" name="delta" value="<%= qiwo_kart.id%>" />
                <input type="hidden" id="deltadevice" name="deltadevice" value="xx" />
                <input type="hidden" id="ouid" name="ouid" value="<%= openpayForThisSale.signature %>" />
                <input type="hidden" id="opub" name="opub" value="<%= openpayForThisSale.apikey %>" />
                <input type="hidden" id="otoken" name="otoken" value="" />
                <input type="hidden" id="public-key-<%= qiwo_kart.id %>" value="<%= publicKeys[qiwo_kart.id] %>" />
                        <div class="modal-dialog">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                 <h4 class="modal-title">Procesar pago directo con Qiwo <% qiwoEnterpriseSource=QiwoEnterprise.find_by_id(qiwo_kart.store_id)
                                 if qiwoEnterpriseSource!=nil %>
                                  (<%= qiwoEnterpriseSource.name %>)</h4>
                                  <% else -%>
                                  </h4>
                                  <% end -%>
                              </div>
                              <div class="modal-body form-body">

                                

                                <div class="progress progress-striped active" id="proc-<%= qiwo_kart.id %>" style="display:none;">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                    Procesando pago
                                        <span class="sr-only">60% Complete (warning)</span>
                                    </div>
                                </div>

                                  <span class="card-errors"></span>
                                  <div class="form-group">
                                    <label class="col-md-4 control-label"> Nombre en la tarjeta</label>
                                      <div class="col-lg-6">
                                        <input type="text" class="form-control" size="20" data-openpay-card="holder_name" id="opname" />
                                      </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="col-md-4 control-label">Número de Tarjeta de Crédito</label>
                                    <div class="col-lg-6">
                                      <input type="text" class="form-control" size="20" data-openpay-card="card_number" id="opcard" />
                                    </div>  
                                  </div>
                                  <div class="form-group">
                                    <label class="col-md-4 control-label"></label>
                                    <div class="col-lg-2">
                                      <input type="text" class="form-control" size="4" data-openpay-card="cvv2" placeholder="CVC" id="opcvv" />
                                    </div>  
                                  
                                    
                                    <div class="col-lg-2">
                                      <input type="text" class="form-control" size="2" data-openpay-card="expiration_month" placeholder="MM" id="opmm" />
                                      </div>
                                  
                                    
                                    <div class="col-lg-2">
                                      <input type="text" class="form-control" size="2" data-openpay-card="expiration_year" placeholder="AA" id="opaa" />
                                      </div>
                                    </div>
                                    <div class="form-group">
                                    <label class="col-md-4 control-label">Calle</label>
                                    <div class="col-lg-6">
                                      <input type="text" class="form-control" size="4" data-openpay-card-address="line1" id="opline1" />
                                    </div>  
                                    </div>
                                    <div class="form-group">
                                    <label class="col-md-4 control-label">Número</label>
                                    <div class="col-lg-3">
                                      <input type="text" class="form-control" size="2"  placeholder="" data-openpay-card-address="line2" id="opline2" />
                                      </div>
                                  
                                    
                                    <div class="col-lg-3">
                                      <input type="text" class="form-control" size="2"  placeholder="CP" data-openpay-card-address="postal_code" id="opcp" />
                                      </div>
                                    </div>

                                    <div class="form-group">
                                    <label class="col-md-4 control-label">Ciudad</label>
                                    <div class="col-lg-6">
                                      <input type="text" class="form-control" size="4"  placeholder="" data-openpay-card-address="city" id="opcity" />
                                    </div>  
                                  </div>
                                  <div class="form-group">
                                    <label class="col-md-4 control-label">Estado</label>
                                    <div class="col-lg-6">
                                      <input type="text" class="form-control" size="2"  placeholder="" data-openpay-card-address="state" id="opstate" />
                                      </div>
                                  </div>
                                  <!-- <div class="form-group">
                                    <label class="col-md-4 control-label">País</label>
                                    <div class="col-lg-2">
                                      <input type="text" class="form-control" size="2" data-openpay-card-address="country_code" id="opcountry" />
                                      </div>
                                    </div> -->



                              </div>
                              <div class="modal-footer">
                              <img src="/images/openpay_card.fw.png" alt="">
                              <img src="/assets/img/visa_logo.png" alt="">
                              <img src="/assets/img/mastercard_logo.png" alt="">
                                 <button type="button" class="btn default" data-dismiss="modal">Cerrar</button>
                                 <button type="submit" class="btn blue">Continuar</button>
                              </div>
                           </div>
                           <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                        </form>

                        
                     </div>
<% end %>


	<div class="modal fade" id="ajax-results-prod-<%= qiwo_kart.qiwo_product_id  %>" tabindex="-1" role="basic" aria-hidden="true">
                    <img src="/assets/img/ajax-modal-loading.gif" alt="" class="loading">
                </div>
                <div class="modal fade" id="ajax-comments-internal-<%= qiwo_kart.id %>" tabindex="-1" role="basic" aria-hidden="true">
                    <img src="/assets/img/ajax-modal-loading.gif" alt="" class="loading">
                </div>
<% indexKey=indexKey+1
end %>