<h1>Listing qiwo_log_karts</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Ip user</th>
    <th>Facebook</th>
    <th>User</th>
    <th>Cotizacion number</th>
    <th>Product</th>
    <th>Store</th>
    <th>Coupon</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @qiwo_log_karts.each do |qiwo_log_kart| %>
  <tr>
    <td><%= qiwo_log_kart.id %></td>
    <td><%= qiwo_log_kart.ip_user %></td>
    <td><%= qiwo_log_kart.facebook_id %></td>
    <td><%= qiwo_log_kart.user_id %></td>
    <td><%= qiwo_log_kart.cotizacion_number %></td>
    <td><%= qiwo_log_kart.product_id %></td>
    <td><%= qiwo_log_kart.store_id %></td>
    <td><%= qiwo_log_kart.coupon_id %></td>
    <td><%= link_to 'Show', qiwo_log_kart %></td>
    <td><%= link_to 'Edit', edit_qiwo_log_kart_path(qiwo_log_kart) %></td>
    <td><%= link_to 'Destroy', qiwo_log_kart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Qiwo log kart', new_qiwo_log_kart_path %>
