<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @qiwo_log_kart.id %>
</p>

<p>
  <b>Ip user:</b>
  <%= @qiwo_log_kart.ip_user %>
</p>

<p>
  <b>Facebook:</b>
  <%= @qiwo_log_kart.facebook_id %>
</p>

<p>
  <b>User:</b>
  <%= @qiwo_log_kart.user_id %>
</p>

<p>
  <b>Cotizacion number:</b>
  <%= @qiwo_log_kart.cotizacion_number %>
</p>

<p>
  <b>Product:</b>
  <%= @qiwo_log_kart.product_id %>
</p>

<p>
  <b>Store:</b>
  <%= @qiwo_log_kart.store_id %>
</p>

<p>
  <b>Coupon:</b>
  <%= @qiwo_log_kart.coupon_id %>
</p>


<%= link_to 'Edit', edit_qiwo_log_kart_path(@qiwo_log_kart) %> |
<%= link_to 'Back', qiwo_log_karts_path %>
