<%= form_for(@qiwo_product_category) do |f| %>
  <% if @qiwo_product_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@qiwo_product_category.errors.count, "error") %> prohibited this qiwo_product_category from being saved:</h2>

      <ul>
      <% @qiwo_product_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.number_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :product_id %><br />
    <%= f.number_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :store_id %><br />
    <%= f.number_field :store_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
