<h1>Listing qiwo_product_categories</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Category</th>
    <th>Product</th>
    <th>Store</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @qiwo_product_categories.each do |qiwo_product_category| %>
  <tr>
    <td><%= qiwo_product_category.id %></td>
    <td><%= qiwo_product_category.category_id %></td>
    <td><%= qiwo_product_category.product_id %></td>
    <td><%= qiwo_product_category.store_id %></td>
    <td><%= link_to 'Show', qiwo_product_category %></td>
    <td><%= link_to 'Edit', edit_qiwo_product_category_path(qiwo_product_category) %></td>
    <td><%= link_to 'Destroy', qiwo_product_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Qiwo product category', new_qiwo_product_category_path %>
