<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @qiwo_product_category.id %>
</p>

<p>
  <b>Category:</b>
  <%= @qiwo_product_category.category_id %>
</p>

<p>
  <b>Product:</b>
  <%= @qiwo_product_category.product_id %>
</p>

<p>
  <b>Store:</b>
  <%= @qiwo_product_category.store_id %>
</p>


<%= link_to 'Edit', edit_qiwo_product_category_path(@qiwo_product_category) %> |
<%= link_to 'Back', qiwo_product_categories_path %>
