<%= simple_form_for(@print_factura) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :id %>
    <%= f.input :factura %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
