<h1>Listing print_facturas</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Factura</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @print_facturas.each do |print_factura| %>
  <tr>
    <td><%= print_factura.id %></td>
    <td><%= print_factura.factura %></td>
    <td><%= link_to 'Show', print_factura %></td>
    <td><%= link_to 'Edit', edit_print_factura_path(print_factura) %></td>
    <td><%= link_to 'Destroy', print_factura, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Print factura', new_print_factura_path %>
