<!DOCTYPE html><html> <head>  <meta charset="utf-8" />  <title>A-004</title>  <style>html, body, div, span, td, p {   font-family: inherit;   font-size: inherit;  } .page-settings {  font-family: Arial, Helvetica Neue, Sans;  font-size: 9pt; } pre { margin:0; padding:0;}
.simpletable, .noborder {   border-collapse: collapse;  margin-bottom: 10px; } .simpletable td {  border: 1pt solid #777;  vertical-align: top;  padding: 4px; } .noborder td {  vertical-align: top; }
	/*
		common style for whole page
		This should include:
		+ page size related settings
		+ font family settings
		+ line spacing settings
	*/
	@media screen {
		body {
			width: 8.3in;
		}
	}

	html, body, div, span, td {
		font-family: "Helvetica", "Arial", sans-serif;
		font-size: 12px;
	}

	body {
		padding: 10px;
		margin: auto;
		font-size: 12px;
		line-height: 150%;
	}

	.common {
		font-family: "Helvetica", "Arial", sans-serif !important;
		font-size: 12px;
		padding: 10px 0px;
	}

	table {
		border-collapse: collapse;
		width: 100%;
		vertical-align: top;
		border-style: none !important;
	}

	table td {
		padding: 2px 0px;
		border-style: none !important;
	}
	
	table h1, h2, h3, h4, h5, h6 {
		padding: 0px;
		margin: 0px;
	}

	table.header-table td {
		vertical-align: top;
	}

	table.header-table h1 {
		text-transform: uppercase;
		color: white;
		font-size: 55px;
		font-style: italic;
	}

	table.header-table thead tr:nth-child(1) div {
		height: 24px;
		background-color: #696969;
		vertical-align: middle;
		padding: 12px 0px 0px 0px;
		width: 100%;
	}

	div.page-body table td:nth-child(6),
	div.page-body table td:nth-child(7) {
		text-align: right;
	}

	div.page-body table tr td {
		background-color: #DCDCDC !important;
	}

	div.page-body table tr:nth-child(1) td {
		background-color: #696969 !important;
		color: white !important;
	}

	table.footer-table td {
		vertical-align: top;
	}

	table.footer-table td table td:nth-child(2),
	table.footer-table td table td:nth-child(3) {
		text-align: right;
	}

	table.footer-table tfoot td {
		background-color: #696969;
		height: 10px;
	}

	.imp-details {
		background-color: #DCDCDC;
	}
</style> </head> <body><div class="page-settings"><div style="max-width: 100%">   <p style="MARGIN: 0cm 0cm 0pt" class="MsoNoSpacing">
        <b style="mso-bidi-font-weight: normal"><span style="FONT-FAMILY: 'Arial','sans-serif'; BACKGROUND: white; mso-fareast-language: ES"><%= @xml["Emisor"][0]["nombre"] %></span></b><b style="mso-bidi-font-weight: normal"><span style="FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-language: ES">
        <o:p></o:p>
        </span></b>
    </p>
    <p style="MARGIN: 0cm 0cm 0pt" class="MsoNoSpacing">
        <span style="FONT-FAMILY: 'Arial','sans-serif'; FONT-SIZE: 9pt; mso-fareast-language: ES"><%= @xml["Emisor"][0]["DomicilioFiscal"][0]["calle"] %> No <%= @xml["Emisor"][0]["DomicilioFiscal"][0]["noExterior"] %> <%= @xml["Emisor"][0]["DomicilioFiscal"][0]["noInterior"] %> Colonia <%= @xml["Emisor"][0]["DomicilioFiscal"][0]["colonia"] %> C.P. <%= @xml["Emisor"][0]["DomicilioFiscal"][0]["codigoPostal"] %><o:p></o:p>
        </span>
    </p>
    <p style="MARGIN: 0cm 0cm 0pt" class="MsoNoSpacing">
        <span style="FONT-FAMILY: 'Arial','sans-serif'; FONT-SIZE: 9pt; mso-fareast-language: ES"><%= @xml["Emisor"][0]["DomicilioFiscal"][0]["municipio"] %>, <%= @xml["Emisor"][0]["DomicilioFiscal"][0]["estado"] %>, <%= @xml["Emisor"][0]["DomicilioFiscal"][0]["pais"] %><o:p></o:p>
        </span>
    </p>
    <p style="MARGIN: 0cm 0cm 0pt" class="MsoNoSpacing">
        <b style="mso-bidi-font-weight: normal"><span style="FONT-FAMILY: 'Arial','sans-serif'; BACKGROUND: white; FONT-SIZE: 9pt; mso-fareast-language: ES">RFC:
        <%= @xml["Emisor"][0]["rfc"] %><br>
        <%= @xml["Emisor"][0]["RegimenFiscal"][0]["Regimen"] %><o:p></o:p>
        </span></b>
    </p>
    <p>
        &nbsp;
    </p>
</div><!--
	Sample Print Format for ERPNext
	Please use at your own discretion
	For suggestions and contributions:
		https://github.com/webnotes/erpnext-print-templates

	Freely usable under MIT license
-->

<!-- Style Settings -->



<!-- Javascript -->
<script>
	si_std = {
		print_item_table: function() {
			var table = print_table(
				'Sales Invoice',
				doc.name,
				'entries',
				'Sales Invoice Item',
				[// Here specify the table columns to be displayed
					'SR', 'item_name', 'description', 'qty', 'stock_uom',
					'export_rate', 'export_amount'
				],
				[// Here specify the labels of column headings
					'Sr', 'Item Name', 'Description', 'Qty',
					'UoM', 'Basic Rate', 'Amount'
				],
				[// Here specify the column widths
					'3%', '20%', '37%', '5%',
					'5%', '15%', '15%'
				],
				null,
				null,
				{
					'description' : function(data_row) {
						if(data_row.adj_rate) {
							var to_append = '<div style="padding-left: 15px;"><i>Discount: ' + 
								data_row.adj_rate + '% on ' + doc.currency + ' ' +
								fmt_money(data_row.ref_rate) + '</i></div>';
							if(data_row.description.indexOf(to_append)==-1) {
								return data_row.description + to_append;
							} else { return data_row.description; }
						} else {
							return data_row.description;
						}
					}
				}
			);

			// This code takes care of page breaks
			if(table.appendChild) {
				out = table.innerHTML;
			} else {
				out = '';
				for(var i=0; i < (table.length-1); i++) {
					out += table[i].innerHTML + 
						'<div style = "page-break-after: always;" \
						class = "page_break"></div>\
						<div class="page-settings"></div>';
				}
				out += table[table.length-1].innerHTML;
			}
			return out;
		},


		print_other_charges: function(parent) {
			var oc = getchildren('Sales Taxes and Charges', doc.name, 'other_charges');
			var rows = '<table width=100%>\n';
			for(var i=0; i<oc.length; i++) {
				if(!oc[i].included_in_print_rate) {
					rows +=
						'<tr>\n' +
							'\t<td>' + oc[i].description + '</td>\n' +
							'\t<td></td>\n' +
							'\t<td width=38%>' + fmt_money(oc[i].tax_amount) + '</td>\n' +
						'</tr>\n';
				}
			}
			return rows + '</table>\n';
		}
	};
</script>


<!-- Page Layout Settings -->
<div class="common page-header">
	<!-- 
		Page Header will contain
			+ table 1
				+ table 1a
					- Name
					- Address
					- Contact
					- Mobile No
				+ table 1b
					- Voucher Date
					- Due Date
	-->
	<table class="header-table" cellspacing="0">
		<thead>
			<tr><td colspan="2"><div><span><h1><%= @nombre_comercial %></h1></span></div></td></tr>
			<tr><td colspan="2"><div style="height:15px"></div></td></tr>
		</thead>
		<tbody>
			<tr>
				<td width="60%"><table width="100%" cellspacing="0"><tbody>
					<tr>
						<td width="39%"><b>Nombre</b></td>
						<td><span><%= @xml["Receptor"][0]["nombre"] %></span></td>
					</tr>
					<tr>
						<td><b>Dirección</b></td>
						<td><span><%= @xml["Receptor"][0]["Domicilio"][0]["calle"] %> No <%= @xml["Receptor"][0]["Domicilio"][0]["noExterior"] %> <%= @xml["Receptor"][0]["Domicilio"][0]["noInterior"] %><br>
						<%= @xml["Receptor"][0]["Domicilio"][0]["colonia"] %><br>
						<%= @xml["Receptor"][0]["Domicilio"][0]["municipio"] %><br>
						<%= @xml["Receptor"][0]["Domicilio"][0]["estado"] %><br>
						C.P. <%= @xml["Receptor"][0]["Domicilio"][0]["codigoPostal"] %><br>
						<%= @xml["Receptor"][0]["Domicilio"][0]["pais"] %><br>
						<br>
						</span></td>
					</tr>
					<tr>
						<td><b>RFC</b></td>
						<td><span><%= @xml["Receptor"][0]["rfc"] %><br></span></td>
					</tr>
				</tbody></table></td>
				<td><table width="100%" cellspacing="0"><tbody>
					<tr class="imp-details">
						<td><b>Factura No.</b></td>
						<td><span><%= @xml["serie"] %>-<%= @xml["folio"] %></span></td>
					</tr>
					<tr>
						<td width="40%"><b>Emitida</b></td>
						<td><span><%= @xml["fecha"] %></span></td>
					</tr><tr>
                    </tr><tr>
        				<td width="40%"><span></span></td>
						<td><span></span></td>
					</tr><tr>
					</tr>

					<tr>
						<td><b>Timbrada</b></td>
						<td><span><%= @xml["Complemento"][0]["TimbreFiscalDigital"][0]["FechaTimbrado"] %></span></td>
					</tr>
					<tr>
				</tr>
				<tr>
						<td><b>No Serie del CSD del Emisor</b></td>
						<td><span><%= @xml["noCertificado"] %></span></td>
					</tr>
					<tr>
				</tr>

				<tr>
						<td><b>Folio fiscal</b></td>
						<td><span><%= @xml["Complemento"][0]["TimbreFiscalDigital"][0]["UUID"] %></span></td>
					</tr>
					<tr>
				</tr>

				<tr>
						<td><b>No de Serie del CSD del SAT</b></td>
						<td><span><%= @xml["Complemento"][0]["TimbreFiscalDigital"][0]["noCertificadoSAT"] %></span></td>
					</tr>
					<tr>
				</tr>
				<tr>
						<td><b>Lugar de expedición</b></td>
						<td><span><%= @xml["LugarExpedicion"] %></span></td>
					</tr>
					<tr>
				</tr>
				</tbody></table></td>
			</tr>
		</tbody>
		<tfoot>
		
		</tfoot>
	</table>
</div>
<div class="common page-body">
	<!-- 
		Page Body will contain
			+ table 2
				- Sales Invoice Data
	-->
	<span><table style="width: 100%; border-collapse: collapse; margin-bottom: 10px; margin-top: 10px; table-layout: fixed; "><tbody><tr><td style="border: 1px solid rgb(153, 153, 153); padding: px; vertical-align: top; background-color: rgb(221, 221, 221); font-weight: bold; word-wrap: break-word; width: 60px; ">Partida</td><td style="border: 1px solid rgb(153, 153, 153); padding: 3px; vertical-align: top; background-color: rgb(221, 221, 221); font-weight: bold; word-wrap: break-word; width: 20%; ">Nombre del elemento</td><td style="border: 1px solid rgb(153, 153, 153); padding: 3px; vertical-align: top; background-color: rgb(221, 221, 221); font-weight: bold; word-wrap: break-word; width: 37%; ">Descripción</td><td style="border: 1px solid rgb(153, 153, 153); padding: 3px; vertical-align: top; background-color: rgb(221, 221, 221); font-weight: bold; word-wrap: break-word; width: 60px; text-align: right; ">Cantidad</td><td style="border: 1px solid rgb(153, 153, 153); padding: 3px; vertical-align: top; background-color: rgb(221, 221, 221); font-weight: bold; word-wrap: break-word; width: 60px; ">Unidad</td><td style="border: 1px solid rgb(153, 153, 153); padding: 3px; vertical-align: top; background-color: rgb(221, 221, 221); font-weight: bold; word-wrap: break-word; width: 15%; text-align: right; ">Descuento</td><td style="border: 1px solid rgb(153, 153, 153); padding: 3px; vertical-align: top; background-color: rgb(221, 221, 221); font-weight: bold; word-wrap: break-word; width: 15%; text-align: right; ">Subtotal</td></tr>
	

	<% contador=1
	fullsubtotal=0
	fullgrandtotal=0
	fulltaxes=0
	fulldescuento=0
	@compra.each do |singleCompra| 
		fulldescuento=fulldescuento+singleCompra.discount
		fulltaxes=fulltaxes+singleCompra.final_tax
		fullgrandtotal=fullgrandtotal+singleCompra.final_total
		fullsubtotal=fullsubtotal+singleCompra.final_sale%>
		<tr>
	<td style="border: 1px solid rgb(153, 153, 153); padding: 3px; vertical-align: top; word-wrap: break-word; width: 3%; "><%= contador %></td><td style="border: 1px solid rgb(153, 153, 153); padding: 3px; vertical-align: top; word-wrap: break-word; width: 20%; "><%= QiwoProduct.find_by_id(singleCompra.qiwo_product_id).name %></td><td style="border: 1px solid rgb(153, 153, 153); padding: 3px; vertical-align: top; word-wrap: break-word; width: 37%; "><%= QiwoProduct.find_by_id(singleCompra.qiwo_product_id).description %></td><td style="border: 1px solid rgb(153, 153, 153); padding: 3px; vertical-align: top; word-wrap: break-word; width: 5%; "><div style="text-align: right"><%= singleCompra.quantity %></div></td><td style="border: 1px solid rgb(153, 153, 153); padding: 3px; vertical-align: top; word-wrap: break-word; width: 5%; ">
	<% if QiwoProduct.find_by_id(singleCompra.qiwo_product_id).measure_units!=nil and QiwoProduct.find_by_id(singleCompra.qiwo_product_id).measure_units!="" %>
	<%= QiwoMeasureUnit.find_by_id(QiwoProduct.find_by_id(singleCompra.qiwo_product_id).measure_units).label_es %>
	<% else %>
	No Aplica
	<% end %>
	</td><td style="border: 1px solid rgb(153, 153, 153); padding: 3px; vertical-align: top; word-wrap: break-word; width: 15%; "><div style="text-align: right">$ <%= singleCompra.discount %></div></td><td style="border: 1px solid rgb(153, 153, 153); padding: 3px; vertical-align: top; word-wrap: break-word; width: 15%; "><div style="text-align: right">$ <%= singleCompra.final_sale %></div></td>
	</tr>
	<% 
	contador=contador+1
	end %>
	

	</tbody></table></span>
</div>
<div class="common page-footer">
	<!-- 
		Page Footer will contain
			+ table 3
				- Terms and Conditions
				- Total Rounded Amount Calculation
				- Total Rounded Amount in Words
	-->
	<table class="footer-table" width="100%" cellspacing="0">
		<thead>
			
		</thead>
		<tbody>
			<tr>
				<td width="60%" style="padding-right: 10px;">
					<b>Información adicional</b><br>
					<span>Forma de pago: <%= @xml["condicionesDePago"].capitalize %>  <br>
					Método de pago: No identificado <% @xml["formaDePago"].capitalize %><br>

<!-- Condición de pago: <br> -->
Este documento es una representación impresa de un CFDI
</span>
				</td>
				<td>
					<table cellspacing="0" width="100%"><tbody>
						<tr>
							<td>SubTotal</td>
							<td></td>
							<td width="38%"><span>$ <%= number_with_precision(fullsubtotal,precision:2) %></span></td>
						</tr>
						<tr><td colspan="3"><span><table width="100%">
<tbody><tr>
	<td>IVA 16%</td>
	<td></td>
	<td width="38%">$ <%= number_with_precision(fulltaxes,precision:2) %></td>
</tr>
</tbody></table>
</span></td></tr>
						<tr>
							<td>Total</td>
							<td></td>
							<td><span>$ <%= number_with_precision(fullgrandtotal,precision:2) %></span></td>
						</tr>
						<tr style="font-weight: bold" class="imp-details">
							<!-- <td>Rounded Total</td>
							<td><span>MXN</span></td>
							<td><span>1,159.0000</span></td> -->
						</tr>
					</tbody></table>
					<br><b>En letra</b><br>
					<i><span><%= numero_a_palabras(fullgrandtotal).capitalize %> pesos <%= ((fullgrandtotal-fullgrandtotal.to_i)*100).round %>/100 M.N.</span></i>
				</td>
			</tr>		
		</tbody>
		<tfoot>
			<tr><td colspan="2"><div></div></td></tr><tr>

		</tr></tfoot>
	</table>
	<br>

	<img src="http://www.barcodes4.me/barcode/qr/qr.png?value=%3Fre%3D<%= @xml["Emisor"][0]["rfc"] %>%26rr%3D<%= @xml["Receptor"][0]["rfc"] %>%26tt%3D<%= "0"*(10-fullgrandtotal.to_i.to_s.length)+fullgrandtotal.to_i.to_s+"."+((fullgrandtotal-fullgrandtotal.to_i)*100).round.to_s+("0"*(6-((fullgrandtotal-fullgrandtotal.to_i)*100).round.to_s.length)).to_s %>%26id%3D<%= @xml["Complemento"][0]["TimbreFiscalDigital"][0]["UUID"] %>&size=4&ecclevel=0"><br><br>

	<strong>Cadena original del complemento de certificación digital del SAT</strong><br>
||1.0|<%= @xml["Complemento"][0]["TimbreFiscalDigital"][0]["UUID"] %>|<%= @xml["Complemento"][0]["TimbreFiscalDigital"][0]["FechaTimbrado"] %>|<%= @xml["sello"][0,100] %><br>
<%= @xml["sello"][101,200] %>|<%= @xml["noCertificado"] %>||<br><br>

<strong>Sello del SAT</strong><br>
 <%= @xml["Complemento"][0]["TimbreFiscalDigital"][0]["selloSAT"][0,100] %><br>
 <%= @xml["Complemento"][0]["TimbreFiscalDigital"][0]["selloSAT"][101,200] %><br>
 <%= @xml["Complemento"][0]["TimbreFiscalDigital"][0]["selloSAT"][201,300] %><br>

<strong>Sello digital del CFDI</strong><br>
<%= @xml["sello"][0,100] %><br>
<%= @xml["sello"][101,200] %><br><br>






</div>
</div>

 </body></html>
