<%= simple_form_for(@sale_point) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :product_id %>
    <%= f.input :client_ref %>
    <%= f.input :client_ref_num %>
    <%= f.input :order_ref %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
