

    <%= render "shared/topmenu" %>
    <!-- END HEADER -->
    <!-- BEGIN CONTAINER -->
    <div class="clearfix"></div>
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
       <%= render "shared/leftmenu" %>  
        <!-- END SIDEBAR -->
        <!-- BEGIN PAGE -->
        <div class="page-content">
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <%= render "shared/colorsettings" %>
            <!-- BEGIN PAGE CONTAINER-->
                <!-- BEGIN PAGE HEADER-->
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN STYLE CUSTOMIZER -->
                        <h3 class="page-title">
                            Punto de venta y cobro con tarjeta <small>Vista general</small>
                        </h3>
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                                <a href="index.html">Inicio</a> 
                                <i class="icon-angle-right"></i>
                            </li>
                            <li><a href="#">Punto de venta</a></li>
                            <li class="pull-right">
                     <div id="dashboard-report-range" class="dashboard-date-range tooltips" data-placement="top" data-original-title="Change dashboard date range">
                        <i class="icon-calendar"></i>
                        <span></span>
                        <i class="icon-angle-down"></i>
                     </div>
                  </li>
                        </ul>
                        <!-- END PAGE TITLE & BREADCRUMB-->
                    </div> 
                </div>
                <!-- END PAGE HEADER-->

                <% if session[:activeUser].sys_rol==1 or puntoDeVentaAutorizado()==true %>
                 <div class="btn-group" id="ordersPanel">

                 <% if @ordenesAbiertas.length>=1
                 for ordenIndex in 0..@ordenesAbiertas.length-1 %>
                  <script>
                    cstate[<%= @ordenesAbiertas[ordenIndex].id %>]=<%= @ordenesAbiertas[ordenIndex].order_state %>;
                  </script>

                 <% if ordenIndex==0 %>

                 <script>
                    currentSelectedOrder=<%= @ordenesAbiertas[ordenIndex].id %>;
                  </script>
                   <button type="button" class="btn btn-default" onclick="javascript:changeOrder(<%= @ordenesAbiertas[ordenIndex].id %>)">Orden <%= @ordenesAbiertas[ordenIndex].id %></button>
                <% else %>
                    <button type="button" class="btn btn-default" onclick="javascript:changeOrder(<%= @ordenesAbiertas[ordenIndex].id %>)"><%= @ordenesAbiertas[ordenIndex].id %></button>
                <% end %>
                <% end 
                end%>
                                    </div>
                                    <a class="btn blue" href="javascript:reloadOrders();"><i class="icon-chevron-left"></i><i class="icon-plus"></i> Crear nueva orden</a>
                                    <a class="btn yellow" href="javascript:makeCardPayment()"><i class="icon-credit-card"></i> Crear cobro con tarjeta</a>
                  <div class="portlet box blue">
                  <div class="portlet-title">
                     <div class="caption" id="orderViewTitle"></div>
                     <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                     </div>
                  </div>
                  <div class="portlet-body">
                     <table class="table table-striped table-bordered table-advance table-hover">
                           <thead>
                              <tr>
                              <th><i class="icon-rocket"></i> Acciones</th>
                                 <th><i class="icon-table"></i> Producto</th>
                                 <th><i class="icon-building"></i> Negocio</th>
                                 <th><i class="icon-tag"></i> Precio individual</th>
                                 <th><i class="icon-tasks "></i> Cantidad</th>
                                 <th><i class="icon-money"></i> Total</th>
                              </tr>
                           </thead>
                           <tbody id="orderItemsPanel">

                           </tbody>
                        </table>

                     
                     
                  </div>
               </div>
               <div class="row">
            <div class="col-md-6">

            <div class="portlet purple box">
                  <div class="portlet-title">
                     <div class="caption"><i class="icon-cogs"></i>Productos de mi negocio</div>
                     <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                        <a href="#portlet-config" data-toggle="modal" class="config"></a>
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                     </div>
                  </div>

                  <div class="portlet-body">
                   <div class="form-group">
                              <label class="control-label col-md-3">Busqueda rápida</label>
                              <div class="col-md-6">
                                 <input type="hidden" id="select2_sample6" class="form-control select2">
                              </div>
                           </div>
                  <div class="form-group" style="margin-top:50px;">
                 <div class="note note-info">
                        <strong>¡Atención!</strong> Los siguientes 10 productos son los más vendidos en tu establecimiento.
                     </div>
                     </div>

                  
                     <table class="table">
                              <thead>

                                 <tr>
                                    <th>Acciones</th>
                                    
                                    <th>#SKU</th>
                                    <th>Producto</th>
                                    <th>Precio</th>
                                    
                                 </tr>
                              </thead>
                              <tbody>
                              <% for indexSale in 0..@mayoresVentas.length-1 %>
                                 <tr>
                                 <td>
                                  <a class="btn blue" href="javascript:alterOrderItem(<%= @mayoresVentas[indexSale].id %>,1)"><i class="icon-plus"></i></a>
                                  </td>
                                    <td><%= @mayoresVentas[indexSale].sku %></td>
                                    <td><%= @mayoresVentas[indexSale].name %></td>
                                    <td>$<%= @mayoresVentas[indexSale].sale_price %></td>
                                    
                                 </tr>
                                 <% end %>
                              </tbody>
                           </table>

                  </div>
               </div>
               </div>

                <div class="col-md-6">
               <div class="portlet yellow box">
                  <div class="portlet-title">
                     <div class="caption"><i class="icon-cogs"></i>Codigo de barras</div>
                     <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                        <a href="#portlet-config" data-toggle="modal" class="config"></a>
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                     </div>
                  </div>

                  <div class="portlet-body">
                     <form role="form" onsubmit="javascript:searchSKU();return false;">
                        <div class="form-body">
                           <div class="form-group">
                              <label for="exampleInputEmail1">Ingresa referencia</label>
                              <input class="form-control" id="mask_number" type="text" placeholder="Codigo de barras o SKU" />
                              
                              <span class="help-block">Presiona enter para agregar el producto a la cuenta actual</span>
                           </div>
                        </div>
                        <div class="form-actions">
                           <button type="submit" class="btn blue">Agregar</button>
                           <button type="button" class="btn default">Cancelar</button>                              
                        </div>
                     </form>

                  </div>
               </div>


            </div>
            </div>
               <% end %>   
               <div class="row margin-bottom-40">
                
                </div>
                    
                    
                <!-- end of window -->    
            </div>
            <!-- END PAGE CONTAINER-->    
        
        <!-- END PAGE -->
    </div>
    
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
<div class="modal fade" id="ajax-edit-product" tabindex="-1" role="basic" aria-hidden="true">
                        <img src="assets/img/ajax-modal-loading.gif" alt="" class="loading">

    </div>
    <div class="modal fade form" id="basic-payment" tabindex="-1" role="basic" aria-hidden="true">
                <form action="" role="form" method="POST" id="card-form-payment" onsubmit="javascript:plastizice();return false;" class="form-horizontal" > 
                <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token.to_s %>" />

                        <div class="modal-dialog">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                 <h4 class="modal-title">Procesar pago con Coinless</h4>
                              </div>
                              <div class="modal-body form-body">
                                <input type="hidden" name="cashtype" value="1" id="cashtype" />
                                <input type="hidden" name="orderaddp" value="1" id="orderaddp" />
                                
                                <div class="progress progress-striped active" id="proc-1" style="display:none;">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                    Procesando pago, espere
                                        <span class="sr-only">60% Complete (warning)</span>
                                    </div>
                                </div>

                                  <span class="card-errors"></span>
                                  
                                  <div class="form-group" id="optionEnterpriseGroup">
                                    <label class="col-md-4 control-label"> Cobrar para</label>
                                      <div class="col-lg-6">
                                        <select class="form-control" id="optionEnterprise" name="optionEnterprise" id="optionEnterprise">
                                        <% @negociosPuntoDeVenta.each do |singleBiz| %>
                                        <% negocio=QiwoEnterprise.where(:id=>singleBiz).last %>
                                        <% if negocio.schedule!=nil %>
                                          <option value="<%= negocio.id %>"><%= negocio.name %></option>
                                      <% end %>
                                  <% end %>
                                  </select>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="col-md-4 control-label"> Monto a cobrar</label>
                                      <div class="col-lg-6">
                                        <input type="text" class="form-control" size="20" id="amountToCharge" name="amountToCharge" />
                                      </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="col-md-4 control-label"> Nombre en la tarjeta</label>
                                      <div class="col-lg-6">
                                        <input type="text" class="form-control" size="20" data-conekta="card[name]" placeholder="Nombre en la tarjeta" id="conname" />
                                      </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="col-md-4 control-label">Número de Tarjeta de Cliente</label>
                                    <div class="col-lg-6">
                                      <input type="text" class="form-control" size="20" data-conekta="card[number]" placeholder="Número de tarjeta" id="connum" />
                                    </div>  
                                  </div>
                                  <div class="form-group">
                                    <label class="col-md-4 control-label"></label>
                                    <div class="col-lg-2">
                                      <input type="text" class="form-control" size="4" data-conekta="card[cvc]" placeholder="CVC" id="concvc" />
                                    </div>  
                                    
                                    <div class="col-lg-2">
                                    <input type="text" class="form-control" size="2" data-conekta="card[exp_month]" placeholder="MM" id="conmm" />
                                      </div>

                                      <div class="col-lg-2">
                                      <input type="text" class="form-control" size="2" data-conekta="card[exp_year]" placeholder="AAAA" id="conyy" />
                                      </div>
                                  </div>
                                  
                                    
                              </div>
                              <div class="modal-footer">
                              <img src="/assets/img/visa_logo.png" alt="">
                              <img src="/assets/img/mastercard_logo.png" alt="">
                                 <button type="button" class="btn default" data-dismiss="modal">Cerrar</button>
                                 <button type="submit" class="btn blue" id="subbtn">Continuar</button>
                              </div>
                           </div>
                           <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                        </form>

                     </div>
    <div class="footer">
        <div class="footer-inner">
            2020 &copy; Coinless.
        </div>
        <div class="footer-tools">
            <span class="go-top">
            <i class="icon-angle-up"></i>
            </span>
        </div>
    </div>

    <div id="responsiv" class="modal fade" tabindex="-1" role="basic" aria-hidden="true">
                     <div class="modal-dialog modal-full">
                    <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h3>Factura electronica</h3>
                    <span>Coinless le permite buscar usando el RFC para simplificar la captura de datos, en caso de no encontrar información complete los datos requeridos.</span>
                  </div>
                  <div class="modal-body">


                                        
                <!-- BEGIN FORM-->
                                        <%= render "qiwo_enterprises/form" %>
                <!-- END FORM-->
                       
                    </div>
                       
            </div>
                </div>    
        </div>
    
