<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @sale_point.product_id %>
</p>

<p>
  <b>Client ref:</b>
  <%= @sale_point.client_ref %>
</p>

<p>
  <b>Client ref num:</b>
  <%= @sale_point.client_ref_num %>
</p>

<p>
  <b>Order ref:</b>
  <%= @sale_point.order_ref %>
</p>


<%= link_to 'Edit', edit_sale_point_path(@sale_point) %> |
<%= link_to 'Back', sale_points_path %>
