<h1>Listing qiwo_log_visits</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Ip user</th>
    <th>User</th>
    <th>Facebook</th>
    <th>Date visit</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @qiwo_log_visits.each do |qiwo_log_visit| %>
  <tr>
    <td><%= qiwo_log_visit.id %></td>
    <td><%= qiwo_log_visit.ip_user %></td>
    <td><%= qiwo_log_visit.user_id %></td>
    <td><%= qiwo_log_visit.facebook_id %></td>
    <td><%= qiwo_log_visit.date_visit %></td>
    <td><%= link_to 'Show', qiwo_log_visit %></td>
    <td><%= link_to 'Edit', edit_qiwo_log_visit_path(qiwo_log_visit) %></td>
    <td><%= link_to 'Destroy', qiwo_log_visit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Qiwo log visit', new_qiwo_log_visit_path %>
