<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @qiwo_log_visit.id %>
</p>

<p>
  <b>Ip user:</b>
  <%= @qiwo_log_visit.ip_user %>
</p>

<p>
  <b>User:</b>
  <%= @qiwo_log_visit.user_id %>
</p>

<p>
  <b>Facebook:</b>
  <%= @qiwo_log_visit.facebook_id %>
</p>

<p>
  <b>Date visit:</b>
  <%= @qiwo_log_visit.date_visit %>
</p>


<%= link_to 'Edit', edit_qiwo_log_visit_path(@qiwo_log_visit) %> |
<%= link_to 'Back', qiwo_log_visits_path %>
