<%= simple_form_for(@nfc_reader) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :id %>
    <%= f.input :nfc_type %>
    <%= f.input :last_token %>
    <%= f.input :static_token %>
    <%= f.input :blocked %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
