<h1>Listing nfc_readers</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Nfc type</th>
    <th>Last token</th>
    <th>Static token</th>
    <th>Blocked</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @nfc_readers.each do |nfc_reader| %>
  <tr>
    <td><%= nfc_reader.id %></td>
    <td><%= nfc_reader.nfc_type %></td>
    <td><%= nfc_reader.last_token %></td>
    <td><%= nfc_reader.static_token %></td>
    <td><%= nfc_reader.blocked %></td>
    <td><%= link_to 'Show', nfc_reader %></td>
    <td><%= link_to 'Edit', edit_nfc_reader_path(nfc_reader) %></td>
    <td><%= link_to 'Destroy', nfc_reader, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Nfc reader', new_nfc_reader_path %>
