<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @nfc_reader.id %>
</p>

<p>
  <b>Nfc type:</b>
  <%= @nfc_reader.nfc_type %>
</p>

<p>
  <b>Last token:</b>
  <%= @nfc_reader.last_token %>
</p>

<p>
  <b>Static token:</b>
  <%= @nfc_reader.static_token %>
</p>

<p>
  <b>Blocked:</b>
  <%= @nfc_reader.blocked %>
</p>


<%= link_to 'Edit', edit_nfc_reader_path(@nfc_reader) %> |
<%= link_to 'Back', nfc_readers_path %>
