
<div class="modal-dialog">
    <div class="modal-content">                             
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">URL para tag</h4>
        </div>
<div class="modal-body">
<%= simple_form_for @qiwo_item_tag, :html => {:multipart => true,:class=>"form-horizontal portlet-body form"} do |f| %>
<div class="row">
<div class="col-md-6">
  
  
    <%= f.input :store_id, :collection => QiwoEnterprise.all,:label_method => :name, :value_method => :id,input_html: { class:'col-md-12 form-control' },label:"Ridirigir a productos de este negocio" %>
  
    
    <%= f.input :product_id,input_html: { class:'col-md-12 form-control' },label:"Dirigir a este producto (no obligatorio)" %>
  
    <%= f.input :tag_id,input_html: { class:'col-md-12 form-control' },label: "Referencia adicional (sin uso todavía)" %>
  
  </div>
  </div>

<div class="modal-footer">
            <button type="button" class="btn default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn blue">Save changes</button>
        </div>
    <% end %>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
    </div><!-- /.modal-dialog -->
