

    <%= render "shared/topmenu" %>
    <!-- END HEADER -->
    <!-- BEGIN CONTAINER -->
    <div class="clearfix"></div>
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
       <%= render "shared/leftmenu" %>  
        <!-- END SIDEBAR -->
        <!-- BEGIN PAGE -->
        <div class="page-content">
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <%= render "shared/colorsettings" %>
            <!-- BEGIN PAGE CONTAINER-->
                <!-- BEGIN PAGE HEADER-->
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN STYLE CUSTOMIZER -->
                        <h3 class="page-title">
                            Registro codigo QR <small>Vista general</small>
                        </h3>
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                                <a href="index.html">Inicio</a> 
                                <i class="icon-angle-right"></i>
                            </li>
                            <li><a href="#">QR</a></li>
                            <li class="pull-right">
                     <div id="dashboard-report-range" class="dashboard-date-range tooltips" data-placement="top" data-original-title="Change dashboard date range">
                        <i class="icon-calendar"></i>
                        <span></span>
                        <i class="icon-angle-down"></i>
                     </div>
                  </li>
                        </ul>
                        <!-- END PAGE TITLE & BREADCRUMB-->
                    </div>
                </div>
                <!-- END PAGE HEADER-->
                <% if session[:activeUser].sys_rol==1 %>
                    <div class="portlet box blue">
                  <div class="portlet-title">
                     <div class="caption"><i class="icon-reorder"></i>Nuevo Plan</div>
                     <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                     </div>
                  </div>
                  <div class="portlet-body">
                     
                     <%= render 'qiwo_item_tags/form' %>
                     
                  </div>
               </div>    
               <% end %>   
               <div class="row margin-bottom-40">
                <table class="table">
  <tr>
    <th>ID</th>
    <th>Tienda</th>
    <th>Producto</th>
    <th>Referencia adicional</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @qiwo_item_tags.each do |qiwo_item_tag| %>
  <tr>
    <td><%= qiwo_item_tag.id %></td>
    <% if qiwo_item_tag.store_id==nil or qiwo_item_tag.store_id=="" or QiwoEnterprise.where(:id=>qiwo_item_tag.store_id).last==nil%>
    <td>SIN TIENDA</td>  
    <% else %>
    <td><%= QiwoEnterprise.where(:id=>qiwo_item_tag.store_id).last.name %></td>  
    <% end %>
    
    <td><%= qiwo_item_tag.product_id %></td>
    <td><%= qiwo_item_tag.tag_id %></td>
    <td><%= link_to 'Show', qiwo_item_tag %></td>
    <td><%= link_to 'Edit', edit_qiwo_item_tag_path(qiwo_item_tag) %></td>
    <td><%= link_to 'Destroy', qiwo_item_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
                </div>
                    
                    
                <!-- end of window -->    
            </div>
            <!-- END PAGE CONTAINER-->    
        
        <!-- END PAGE -->
    </div>
    
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
<div class="modal fade" id="ajax-edit-product" tabindex="-1" role="basic" aria-hidden="true">
                        <img src="assets/img/ajax-modal-loading.gif" alt="" class="loading">

    </div>
    <div class="footer">
        <div class="footer-inner">
            2020 &copy; Coinless.
        </div>
        <div class="footer-tools">
            <span class="go-top">
            <i class="icon-angle-up"></i>
            </span>
        </div>
    </div>
    
