<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @qiwo_item_tag.id %>
</p>

<p>
  <b>Store:</b>
  <%= @qiwo_item_tag.store_id %>
</p>

<p>
  <b>Product:</b>
  <%= @qiwo_item_tag.product_id %>
</p>

<p>
  <b>Tag:</b>
  <%= @qiwo_item_tag.tag_id %>
</p>


<%= link_to 'Edit', edit_qiwo_item_tag_path(@qiwo_item_tag) %> |
<%= link_to 'Back', qiwo_item_tags_path %>
