<%= simple_form_for(@payment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :amount %>
    <%= f.input :token %>
    <%= f.input :identifier %>
    <%= f.input :payer_id %>
    <%= f.input :recurring %>
    <%= f.input :digital %>
    <%= f.input :popup %>
    <%= f.input :completed %>
    <%= f.input :canceled %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
