<h1>Listing payments</h1>

<table>
  <tr>
    <th>Amount</th>
    <th>Token</th>
    <th>Identifier</th>
    <th>Payer</th>
    <th>Recurring</th>
    <th>Digital</th>
    <th>Popup</th>
    <th>Completed</th>
    <th>Canceled</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @payments.each do |payment| %>
  <tr>
    <td><%= payment.amount %></td>
    <td><%= payment.token %></td>
    <td><%= payment.identifier %></td>
    <td><%= payment.payer_id %></td>
    <td><%= payment.recurring %></td>
    <td><%= payment.digital %></td>
    <td><%= payment.popup %></td>
    <td><%= payment.completed %></td>
    <td><%= payment.canceled %></td>
    <td><%= link_to 'Show', payment %></td>
    <td><%= link_to 'Edit', edit_payment_path(payment) %></td>
    <td><%= link_to 'Destroy', payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Payment', new_payment_path %>
