<%= simple_form_for @search, :html => {:multipart => true,:class=>"form-horizontal portlet-body form"} do |f| %>
  
<div class="row">
<div class="col-md-6">

    <%= f.input :name, required:true,label:"Nombre",input_html: { class:'col-md-12 form-control' } %>

    <%= f.input :business_source, required:true,label:"Negocio",:collection => QiwoEnterprise.where(:user_owner=>session[:activeUser]),:label_method => :name, :value_method => :id,input_html: { class:'col-md-12 form-control' } %>

    <%= f.input :sale_price,label:"Precio venta",required:true,input_html: { class:'col-md-12 form-control' } %>

    <%= f.input :major_quantity,required:true,label:"Mayoreo a partir de",input_html: { class:'col-md-12 form-control' } %>

    <%= f.input :major_price,label:"Precio myoreo",required:true,input_html: { class:'col-md-12 form-control' } %>

    <%= f.input :stock_items,required:true,label:"Unidades en stock",input_html: { class:'col-md-12 form-control' } %>
    </div>
<div class="col-md-6">

    <%= f.input :description,:as=>:text,required:true,label:"Descripcion",input_html: { class:'col-md-12 form-control',rows:"3" } %>
    <%= f.input :keywords,required:true,label:"Palabras clave",input_html: { class:'form-control tags medium',placeholder:"Escriba una palabra y presione enter",id:'tags_2',rows:"3" } %>
    <div class="modal-footer">
        
            <button type="button" class="btn default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn blue">Enviar a mi telefono<i class="icon-facebook-sign"></i> </button>
        </div>
    
    </div>

    

  
<% end %>
</div>