<img src='http://s3.amazonaws.com/ultimate_whip/garage_photos/photos/000/000/079/large/38779594009_original.jpeg?1349826286'>

<div class="description">
  <h1>Title of Modal</h1>
  <p>Put whatever content you need here. I personally used it for comments and tags :)</p>
</div>