
<div class="modal-dialog">
    <div class="modal-content">                             
        
            <div class="modal-body">
                <div class="thumbnail">
                <div style="position: relative; ">

                <% if @search.discount_amount>0 %>
                <div class="wrapper">
                    <div class="ribbon-wrapper-green">
                          <div class="ribbon-green">¡Este producto tiene descuento!
                          <br />¡<%= number_with_precision((@search.discount_amount*100)/@search.sale_price.to_i,precision:2) %>%!
                          </div>
                      </div>
                </div>
                <% end %>
                          <% if @search.image_id_file_name==nil or @search.image_id_file_name=="" %>
                              <img src="/assets/img/label_tag.png" alt="" style="width: 100%; ">
                              <% else %>

                              
                                <div class="theme-default">
                                <div id="slider" class="nivoSlider"> 
                                    
                                    
                                      <img src="/system/qiwo_products/image_ids/000/000/<% if @search.id<10 %><%= '00' %><% elsif @search.id<100 %><%= '0' %><% end %><%= @search.id %>/medium/<%= @search.image_id_file_name %>" alt="" style="width: 100%; ">
                                      <% if @search.image_one_file_name!=nil %>
                                        <img src="<%= @search.image_one.url %>" alt="" style="width: 100%; ">
                                      <% end %>
                                      <% if @search.image_two_file_name!=nil %>
                                        <img src="<%= @search.image_two.url %>" alt="" style="width: 100%; ">
                                      <% end %>
                                      <% if @search.image_three_file_name!=nil %>
                                        <img src="<%= @search.image_three.url %>" alt="" style="width: 100%; ">
                                      <% end %>
                                    
                              </div>
                              <div id="htmlcaption" class="nivo-html-caption">
                                  
                              </div>
                          </div>


                             
                                
                              





                              <% end %>
                              <div id="example" style="position: absolute;top: 0px;left: 0px;padding: 0px;"><h3><span class="label label-warning">Un producto de <%= QiwoEnterprise.find_by_id(@search.business_source).name %></span></h3></div>
                              </div>
                              <div class="caption">
                                 
                                 <p><a href="javascript:sendit(<%= @search.id %>);" class="btn blue">Enviar a mi telefono <i class="icon-facebook"></i></a>
                                 <% if QiwoEnterprise.find_by_id(@search.business_source).location!=nil %>
                                  <a href="http://maps.google.com/?q=<%= QiwoEnterprise.find_by_id(@search.business_source).location.split("\n").join(",") %>" target="_blank" class="btn green">Abrir en mapa<i class="icon-map-marker"></i></a>
                                  <% end %>
                                  </p>

                                  <h3>$<%= number_with_precision(@search.sale_price+(@search.tax==1? getTax(@search.sale_price) : 0),precision:2) %> MXN <%= @search.name %> </h3>
                                 <p><%= @search.description %></p>
                                  <br>
                                   <p> <i class="icon-map-marker"></i><%= QiwoEnterprise.find_by_id(@search.business_source).location %></p>
                                   <br>

                                  
                                 <div class="form-group">
                              
                              <div class="col-md-9">
                                 <div id="spinner3">
                                    <div class="input-group" style="width:150px;">
                                       <input type="text" class="spinner-input form-control" maxlength="3" readonly>
                                       <div class="spinner-buttons input-group-btn">                   
                                          <button type="button" class="btn spinner-up default">                       
                                          <i class="icon-angle-up"></i>                    
                                          </button>                     
                                          <button type="button" class="btn spinner-down default">                        
                                          <i class="icon-angle-down"></i>                     
                                          </button>                  
                                       </div>
                                    </div>
                                 </div>
                                 <span class="help-block">
                                 Con un máximo de: <%= @search.stock_items %>
                                 </span>
                              </div>
                              <a href="javascript:addToMyKart();" class="btn green">Agregar al carrito<i class="icon-shopping-cart"></i></a>
                              
                           </div>

                                  <br>
                                 <div class="caption"><i class="icon-comments"></i>Comentarios</div>
                                  <% comentariosProduct=QiwoReview.find_all_by_product_id(@search.id) %>
                                  <% if comentariosProduct.length>3 %>
                            <div  style="height: 435px;overflow: auto;" >
                         <% else %>
                            <div  style="height: 100px;overflow: auto;" >
                         <% end %>
                        <ul class="chats" id="comments-prod-<%= @search.id %>">
                            <% isInorOut="in" %>
                            <% comentariosProduct.each do |singlecomment| %>
                            <% userInComment=Sys_User.find_by_id(singlecomment.user_id) %>
                            
                           <li class="<%= isInorOut %>">
                               <% if isInorOut=="in" %>
                               <% isInorOut="out" %>
                               <% else %>
                               <% isInorOut="in" %>
                               <% end %>
                              <img class="avatar img-responsive" alt="" src="<%= userInComment.avatar %>" />
                              <div class="message">
                                 <span class="arrow"></span>
                                 <a href="#" class="name"><%= userInComment.name %><%= userInComment.last_name %></a>
                                 <span class="datetime"> at <%= singlecomment.created_at %></span>
                                 <span class="body">
                                 <%= singlecomment.review %>
                                 </span>
                              </div>
                           </li>
                           <% end %>
                        </ul>
                     </div>
                    <% if session[:activeUser]!=nil %>
                    
                     <div class="chat-form">
                        <div class="input-cont">   
                           <input class="form-control" type="text" placeholder="Escribe un comentario..." id="new-comment-<%= @search.id %>"/>
                        </div>
                        <div class="btn-cont"> 
                           <span class="arrow"></span>
                           <a href="javascript:submitComment('<%= @search.id %>',<%= @search.id %>,'xor');" class="btn blue icn-only"><i class="icon-ok icon-white"></i></a>
                        </div>
                     </div>
                    <% else %>
                        <div class="chat-form">
                        <div class="input-cont">   
                           <input class="form-control disabled" type="text" placeholder="Inicia sesión para comentar" disabled  />
                        </div>
                        <div class="btn-cont"> 
                           <span class="arrow"></span>
                           <a href="" class="btn blue icn-only disabled"><i class="icon-ok icon-white"></i></a>
                        </div>
                     </div>       
                    <% end %>
               

                                 
                                  <a href="#" class="btn red" data-dismiss="modal" aria-hidden="true">Cerrar</a>
                              </div>
                              <div>Aceptamos 
                        <img src="http://finance.avafin.com/images/paypal-icon.gif" alt="">
                        <img src="/assets/img/visa_logo.png" alt="">
                        <img src="/assets/img/oxxo_logo.png" alt="">
                        <img src="/assets/img/mastercard_logo.png" alt="">
                        <img src="/assets/img/banorte_logo.png" alt=""></div>
                              
                           </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<script type="text/javascript"> 
function addToMyKart(){
  addToKart(<%= @search.id %>,$('#spinner3').spinner('value'));
}


      startImgSlider();

FormComponents.init();
</script>

