<%= render "shared/topmenu" %>

<section class="hbox stretch">
    <!-- .aside -->
    
    <!-- /.aside -->
    <!-- .vbox -->
    <section id="content">
      <section class="vbox">
        <header class="header">
          <p>Galería</p>
        </header>
        <section class="scrollable">
          <div class="text-center m-t-lg clearfix wrapper-lg animated fadeInRightBig" id="galleryLoading">
            <h1 class="white">Coinless Resultados <i class="icon-cloud"></i></h1>
            <h3 class="text-muted">Resultados</h3>
            <p class="m-t-lg"><i class="icon-spinner icon-spin icon-2x"></i></p>
          </div>
          <div id="gallery" class="gallery hide">
            
          </div>
        </section>
      </section>
      <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
    </section>
    <!-- /.vbox -->
  </section>