<%= render "shared/topmenu" %>

<section class="hbox stretch">
    <!-- .aside -->
    
    <!-- /.aside -->
    <!-- .vbox -->
    <section id="content">
      <section class="vbox">
        <header class="header">
          <p>Productos</p>
        </header>
        <section class="scrollable">
        <% if @productSearch.length>0 %>
          <div class="text-center m-t-lg clearfix wrapper-lg animated fadeInRightBig" id="galleryLoading">
          
            <h1 class="white">Coinless resultados <i class="icon-cloud"></i></h1>
            <h3 style="color:white;">Resultados listos </h3>
            <p class="m-t-lg"><i class="icon-spinner icon-spin icon-2x"></i></p>
            
          </div>
          <% else %>
 <div class="text-center m-t-lg clearfix wrapper-lg animated">
          
            <h1 class="white">Coinless resultados <i class="icon-cloud"></i></h1>
            <h3 style="color:white;">No se encontraron resultados relacionados =(</h3>
            <p class="m-t-lg"><i class="icon-spinner icon-spin icon-2x"></i></p>
            
          </div>
            <% end %>
          <div <% if @productSearch.length>0 %>id="gallery" class="gallery hide"<% end %>>
          <% @productSearch.each do |singleSearch| %> 
            <div class="item" onclick="javascript:openProductWindow(<%= singleSearch.id  %>)">
            <% if singleSearch.image_id_file_name==nil or singleSearch.image_id_file_name=="" or (singleSearch.image_id_file_name.downcase.index("jpg")==nil and singleSearch.image_id_file_name.downcase.index("png")==nil and singleSearch.image_id_file_name.downcase.index("tiff")==nil and singleSearch.image_id_file_name.downcase.index("gif")==nil) %>
            <img src="/assets/img/label_tag.png" alt="" style="width: 100%; ">
            <% else %>
            
            
              <img src="/system/qiwo_products/image_ids/000/000/<% if singleSearch.id<10 %><%= '00' %><% elsif singleSearch.id<100 %><%= '0' %><% end %><%= singleSearch.id %>/medium/<%= singleSearch.image_id_file_name %>" />
              
              <% end %>
              <!-- <a href="/searches/<%= singleSearch.id  %>/edit" id="open-product-window"></a> -->
               <% statusStore="CERRADO" %>
               <% initialSchedule="-" %>
               <% endSchedule="-" %>
               <% ti = Time.now  %>
               <% empresaHorario=QiwoEnterprise.find_by_id(singleSearch.business_source)
               if empresaHorario!=nil
                   %>
               <% currentSchedule=empresaHorario.schedule %>
               <% if currentSchedule!=nil %>
               <% currentScheduleSplit=currentSchedule.split(" a ") %>
               <% if currentScheduleSplit.length==2 %>
               <% initialSchedule=currentScheduleSplit[0].split(":")[0] %>
               <% endSchedule=currentScheduleSplit[1].split(":")[0] %>
               <% if endSchedule.to_i<12 %>
               <% endSchedule=endSchedule.to_i+12 %>
               <% end %>
               <% if ti.hour>=initialSchedule.to_i and ti.hour<=endSchedule.to_i %>
               <% statusStore="ABIERTO" %>
               <% end %>
               <% elsif currentScheduleSplit.length>2 %>
               <% currentScheduleSplit=currentSchedule.split(":") %>

               <% initialSchedule=currentScheduleSplit[0][-2..-1] %>
               <% endSchedule=currentScheduleSplit[1][-2..-1] %>
               <% if endSchedule.to_i<12 %>
               <% endSchedule=endSchedule.to_i+12 %>
               <% end %>
               <% if ti.hour>=initialSchedule.to_i and ti.hour<=endSchedule.to_i %>
               <% statusStore="ABIERTO" %>
               <% end %>
               <% end %>
               <% end %>
               <% end %>
               <% if statusStore=="ABIERTO" %>
                <h5>$<%= number_with_precision(singleSearch.sale_price+(singleSearch.tax==1? getTax(singleSearch.sale_price) : 0),precision:2) %> <%= singleSearch.name %> MXN - Puede estar: <span class="badge badge-success"><%= statusStore %></span></h5>
               <% else %>
               <h5>$<%= number_with_precision(singleSearch.sale_price+(singleSearch.tax==1? getTax(singleSearch.sale_price) : 0),precision:2) %> <%= singleSearch.name %> MXN - Puede estar: <span class="badge badge-danger"><%= statusStore %></span></h5>
               <% end %>
              
              <div class="desc">
                  <h4>$<%= number_with_precision(singleSearch.sale_price+(singleSearch.tax==1? getTax(singleSearch.sale_price) : 0),precision:2) %> <%= singleSearch.name %></h4>
                  <p><%= singleSearch.description %></p>
                  <span><%= singleSearch.created_at %></span>
              </div>
            </div>
          <% end %> 
          </div>
        </section>
      </section>
      <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
    </section>
    <!-- /.vbox -->
  </section>
<% @productSearch.each do |singleSearch| %> 
 <!-- <div class="modal fade" id="ajax-results-<%= singleSearch.id  %>" tabindex="-1" role="basic" aria-hidden="true">
                    <img src="/assets/img/ajax-modal-loading.gif" alt="" class="loading">
                </div> -->


                <div class="mikes-modal" id="product-popup-<%= singleSearch.id  %>">
                <% if singleSearch.image_id_file_name==nil or singleSearch.image_id_file_name=="" %>
                <img id="cover" src="/assets/img/label_tag.png" alt="" >
                <% else %>

                
                  
                      
                      
                        <img id="cover" src="/system/qiwo_products/image_ids/000/000/<% if singleSearch.id<10 %><%= '00' %><% elsif singleSearch.id<100 %><%= '0' %><% end %><%= singleSearch.id %>/medium/<%= singleSearch.image_id_file_name %>" alt="" >
                        <% if singleSearch.image_one_file_name!=nil %>
                          <img id="cover" src="<%= singleSearch.image_one.url %>" alt="" >
                        <% end %>
                        <% if singleSearch.image_two_file_name!=nil %>
                          <img id="cover" src="<%= singleSearch.image_two.url %>" alt="" >
                        <% end %>
                        <% if singleSearch.image_three_file_name!=nil %>
                          <img id="cover" src="<%= singleSearch.image_three.url %>" alt="" >
                        <% end %>
                      
                
                <% end %>
  <div id="example" style="position: absolute;top: 0px;left: 0px;padding: 0px;"><h3><span class="label label-warning">Un producto de <%= QiwoEnterprise.find_by_id(singleSearch.business_source).name %></span></h3></div>
                              
  <div class="description">
    <h1>$<%= number_with_precision(singleSearch.sale_price+(singleSearch.tax==1? getTax(singleSearch.sale_price) : 0),precision:2) %> MXN <%= singleSearch.name %></h1>
    <p><%= singleSearch.description %></p>
    <div class="form-group">
                              
                              <div class="col-md-9">
                                 <div id="spinner3<%=singleSearch.id %>">
                                    <div class="input-group" style="width:150px;">
                                       <input type="text" class="spinner-input form-control" maxlength="3" readonly>
                                       <div class="spinner-buttons input-group-btn">                   
                                          <button type="button" class="btn spinner-up default">                       
                                          <i class="icon-angle-up"></i>                    
                                          </button>                     
                                          <button type="button" class="btn spinner-down default">                        
                                          <i class="icon-angle-down"></i>                     
                                          </button>                  
                                       </div>
                                    </div>
                                 </div>
                                 <span class="help-block">
                                 <%= singleSearch.stock_items %> unidades disponibles.
                                 </span>
                              </div>
                              <a href="javascript:addToKart(<%= singleSearch.id %>,$('#spinner3<%=singleSearch.id %>').spinner('value'));" class="btn green">Agregar al carrito<i class="icon-shopping-cart"></i></a>
                              
                           </div>
    <script type="text/javascript">
                        $( "#spinner3<%=singleSearch.id %>" ).spinner({min: 0, max: <%= singleSearch.stock_items %>});
                     </script>  

<p><a href="javascript:sendit(<%= singleSearch.id %>);" class="btn blue">Enviar a mi telefono <i class="icon-facebook"></i></a>
                                 <% if QiwoEnterprise.find_by_id(singleSearch.business_source).location!=nil %>
                                  <a href="http://maps.google.com/?q=<%= QiwoEnterprise.find_by_id(singleSearch.business_source).location.split("\n").join(",") %>" target="_blank" class="btn green">Abrir en mapa<i class="icon-map-marker"></i></a>
                                  <% end %>
                                  </p>

                                  
                                 
                                  <br>
                                   <p> <i class="icon-map-marker"></i><%= QiwoEnterprise.find_by_id(singleSearch.business_source).location %></p>
                                   <br>






<br>
                                 <div class="caption"><i class="icon-comments"></i>Comentarios</div>
                                  <% comentariosProduct=QiwoReview.find_all_by_product_id(singleSearch.id) %>
                                  <% if comentariosProduct.length>3 %>
                            <div  style="height: 435px;overflow: auto;" >
                         <% else %>
                            <div  style="height: 100px;overflow: auto;" >
                         <% end %>
                        <ul class="chats" id="comments-prod-<%= singleSearch.id %>">
                            <% isInorOut="in" %>
                            <% comentariosProduct.each do |singlecomment| %>
                            <% userInComment=Sys_User.find_by_id(singlecomment.user_id) %>
                            
                           <li class="<%= isInorOut %>">
                               <% if isInorOut=="in" %>
                               <% isInorOut="out" %>
                               <% else %>
                               <% isInorOut="in" %>
                               <% end %>
                              <img class="avatar img-responsive" alt="" src="<%= userInComment.avatar %>" />
                              <div class="message">
                                 <span class="arrow"></span>
                                 <a href="#" class="name"><%= userInComment.name %><%= userInComment.last_name %></a>
                                 <span class="datetime"> at <%= singlecomment.created_at %></span>
                                 <span class="body">
                                 <%= singlecomment.review %>
                                 </span>
                              </div>
                           </li>
                           <% end %>
                        </ul>
                     </div>

                     <% if session[:activeUser]!=nil %>
                    
                     <div class="chat-form">
                        <div class="input-cont">   
                           <input class="form-control" type="text" placeholder="Escribe un comentario..." id="new-comment-<%= singleSearch.id %>"/>
                        </div>
                        <div class="btn-cont"> 
                           <span class="arrow"></span>
                           <a href="javascript:submitComment('<%= singleSearch.id %>',<%= singleSearch.id %>,'xor');" class="btn blue icn-only"><i class="icon-ok icon-white"></i></a>
                        </div>
                     </div>
                    <% else %>
                        <div class="chat-form">
                        <div class="input-cont">   
                           <input class="form-control disabled" type="text" placeholder="Inicia sesión para comentar" disabled  />
                        </div>
                        <div class="btn-cont"> 
                           <span class="arrow"></span>
                           <a href="" class="btn blue icn-only disabled"><i class="icon-ok icon-white"></i></a>
                        </div>
                     </div>     
                     
                    <% end %>

<br>
<br>

<div>
                        <img src="http://finance.avafin.com/images/paypal-icon.gif" alt="">
                        <img src="/assets/img/visa_logo.png" alt="">
                        <img src="/assets/img/oxxo_logo.png" alt="">
                        <img src="/assets/img/mastercard_logo.png" alt="">
                        <img src="/assets/img/banorte_logo.png" alt=""></div>
                              
                           </div>

  </div>

  
</div>


<% end %> 