<%= form_for(@qiwo_log_search) do |f| %>
  <% if @qiwo_log_search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@qiwo_log_search.errors.count, "error") %> prohibited this qiwo_log_search from being saved:</h2>

      <ul>
      <% @qiwo_log_search.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :ip_user %><br />
    <%= f.number_field :ip_user %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :facebook_id %><br />
    <%= f.number_field :facebook_id %>
  </div>
  <div class="field">
    <%= f.label :date_search %><br />
    <%= f.datetime_select :date_search %>
  </div>
  <div class="field">
    <%= f.label :search_term %><br />
    <%= f.text_field :search_term %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
