<h1>Listing qiwo_log_searches</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Ip user</th>
    <th>User</th>
    <th>Facebook</th>
    <th>Date search</th>
    <th>Search term</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @qiwo_log_searches.each do |qiwo_log_search| %>
  <tr>
    <td><%= qiwo_log_search.id %></td>
    <td><%= qiwo_log_search.ip_user %></td>
    <td><%= qiwo_log_search.user_id %></td>
    <td><%= qiwo_log_search.facebook_id %></td>
    <td><%= qiwo_log_search.date_search %></td>
    <td><%= qiwo_log_search.search_term %></td>
    <td><%= link_to 'Show', qiwo_log_search %></td>
    <td><%= link_to 'Edit', edit_qiwo_log_search_path(qiwo_log_search) %></td>
    <td><%= link_to 'Destroy', qiwo_log_search, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Qiwo log search', new_qiwo_log_search_path %>
