<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @qiwo_log_search.id %>
</p>

<p>
  <b>Ip user:</b>
  <%= @qiwo_log_search.ip_user %>
</p>

<p>
  <b>User:</b>
  <%= @qiwo_log_search.user_id %>
</p>

<p>
  <b>Facebook:</b>
  <%= @qiwo_log_search.facebook_id %>
</p>

<p>
  <b>Date search:</b>
  <%= @qiwo_log_search.date_search %>
</p>

<p>
  <b>Search term:</b>
  <%= @qiwo_log_search.search_term %>
</p>


<%= link_to 'Edit', edit_qiwo_log_search_path(@qiwo_log_search) %> |
<%= link_to 'Back', qiwo_log_searches_path %>
