<%= form_for(@qiwo_image) do |f| %>
  <% if @qiwo_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@qiwo_image.errors.count, "error") %> prohibited this qiwo_image from being saved:</h2>

      <ul>
      <% @qiwo_image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br />
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :fron_page %><br />
    <%= f.number_field :fron_page %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :allowed %><br />
    <%= f.number_field :allowed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
