<h1>Listing qiwo_images</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Image url</th>
    <th>Fron page</th>
    <th>User</th>
    <th>Allowed</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @qiwo_images.each do |qiwo_image| %>
  <tr>
    <td><%= qiwo_image.id %></td>
    <td><%= qiwo_image.image_url %></td>
    <td><%= qiwo_image.fron_page %></td>
    <td><%= qiwo_image.user_id %></td>
    <td><%= qiwo_image.allowed %></td>
    <td><%= link_to 'Show', qiwo_image %></td>
    <td><%= link_to 'Edit', edit_qiwo_image_path(qiwo_image) %></td>
    <td><%= link_to 'Destroy', qiwo_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Qiwo image', new_qiwo_image_path %>
