
<% if @proveedor=="oxxo" %>
Paga en OXXO con el servicio de Qiwo integrado.
<table border="1">
<tr>
<td><img  src="https://www2.oxxo.com:8443/HTP/barcode/genbc?data=<%= @fake_id %>&height=50&width=1&type=Code128" alt=""></td>
</tr>
<tr>
<td><b><%= @fake_id %></b></td>
</tr>
</table>
<% else %>
Paga en Farmacias del ahorro,BENAVIDES,EXTRA con el servicio de Qiwo integrado.
<table border="1">
<tr>
<td><img  src="https://sandbox-api.openpay.mx/barcode/<%= @fake_id %>?width=1&height=45&text=false" alt=""></td>
</tr>
<tr>
<td><b><%= @fake_id %></b></td>
</tr>
</table>
<% end %>
