<h1>Listing qiwo_cfdis</h1>

<table>
  <tr>
    <th>Originated from</th>
    <th>Originated to</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @qiwo_cfdis.each do |qiwo_cfdi| %>
  <tr>
    <td><%= qiwo_cfdi.originated_from %></td>
    <td><%= qiwo_cfdi.originated_to %></td>
    <td><%= link_to 'Show', qiwo_cfdi %></td>
    <td><%= link_to 'Edit', edit_qiwo_cfdi_path(qiwo_cfdi) %></td>
    <td><%= link_to 'Destroy', qiwo_cfdi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Qiwo cfdi', new_qiwo_cfdi_path %>
