<p id="notice"><%= notice %></p>

<p>
  <b>Originated from:</b>
  <%= @qiwo_cfdi.originated_from %>
</p>

<p>
  <b>Originated to:</b>
  <%= @qiwo_cfdi.originated_to %>
</p>


<%= link_to 'Edit', edit_qiwo_cfdi_path(@qiwo_cfdi) %> |
<%= link_to 'Back', qiwo_cfdis_path %>
