<%= simple_form_for(@cartera_cliente) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :negocio %>
    <%= f.input :contacto_email %>
    <%= f.input :contacto_name %>
    <%= f.input :telefono %>
    <%= f.input :location_lat %>
    <%= f.input :location_lon %>
    <%= f.input :observaciones %>
    <%= f.input :visitado %>
    <%= f.input :is_client %>
    <%= f.input :next_visit %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
