<h1>Listing cartera_clientes</h1>

<table>
  <tr>
    <th>Negocio</th>
    <th>Contacto email</th>
    <th>Contacto name</th>
    <th>Telefono</th>
    <th>Location lat</th>
    <th>Location lon</th>
    <th>Observaciones</th>
    <th>Visitado</th>
    <th>Is client</th>
    <th>Next visit</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cartera_clientes.each do |cartera_cliente| %>
  <tr>
    <td><%= cartera_cliente.negocio %></td>
    <td><%= cartera_cliente.contacto_email %></td>
    <td><%= cartera_cliente.contacto_name %></td>
    <td><%= cartera_cliente.telefono %></td>
    <td><%= cartera_cliente.location_lat %></td>
    <td><%= cartera_cliente.location_lon %></td>
    <td><%= cartera_cliente.observaciones %></td>
    <td><%= cartera_cliente.visitado %></td>
    <td><%= cartera_cliente.is_client %></td>
    <td><%= cartera_cliente.next_visit %></td>
    <td><%= link_to 'Show', cartera_cliente %></td>
    <td><%= link_to 'Edit', edit_cartera_cliente_path(cartera_cliente) %></td>
    <td><%= link_to 'Destroy', cartera_cliente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cartera cliente', new_cartera_cliente_path %>
