<p id="notice"><%= notice %></p>

<p>
  <b>Negocio:</b>
  <%= @cartera_cliente.negocio %>
</p>

<p>
  <b>Contacto email:</b>
  <%= @cartera_cliente.contacto_email %>
</p>

<p>
  <b>Contacto name:</b>
  <%= @cartera_cliente.contacto_name %>
</p>

<p>
  <b>Telefono:</b>
  <%= @cartera_cliente.telefono %>
</p>

<p>
  <b>Location lat:</b>
  <%= @cartera_cliente.location_lat %>
</p>

<p>
  <b>Location lon:</b>
  <%= @cartera_cliente.location_lon %>
</p>

<p>
  <b>Observaciones:</b>
  <%= @cartera_cliente.observaciones %>
</p>

<p>
  <b>Visitado:</b>
  <%= @cartera_cliente.visitado %>
</p>

<p>
  <b>Is client:</b>
  <%= @cartera_cliente.is_client %>
</p>

<p>
  <b>Next visit:</b>
  <%= @cartera_cliente.next_visit %>
</p>


<%= link_to 'Edit', edit_cartera_cliente_path(@cartera_cliente) %> |
<%= link_to 'Back', cartera_clientes_path %>
