<%= form_for(@qiwo_category) do |f| %>
  <% if @qiwo_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@qiwo_category.errors.count, "error") %> prohibited this qiwo_category from being saved:</h2>

      <ul>
      <% @qiwo_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :category_name %><br />
    <%= f.text_field :category_name %>
  </div>
  <div class="field">
    <%= f.label :parent_category %><br />
    <%= f.number_field :parent_category %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
