    <%= render "shared/topmenu" %>
  <!-- END HEADER -->
  <!-- BEGIN CONTAINER -->
    <div class="clearfix"></div>
  <div class="page-container">
    <!-- BEGIN SIDEBAR -->
     <%= render "shared/leftmenu" %>  
    <!-- END SIDEBAR -->
    <!-- BEGIN PAGE -->
    <div class="page-content">
      <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <%= render "shared/colorsettings" %>
      <!-- BEGIN PAGE CONTAINER-->
        <!-- BEGIN PAGE HEADER-->
        <div class="row">
          <div class="col-md-12">
            <!-- BEGIN STYLE CUSTOMIZER -->
            <h3 class="page-title">
              Mis proveedores <small>Vista general</small>
            </h3>
            <ul class="page-breadcrumb breadcrumb">
              <li>
                <i class="icon-home"></i>
                <a href="index.html">Qiwo</a> 
                <i class="icon-angle-right"></i>
              </li>
              <li><a href="#">Quien me puede surtir</a></li>
              <li class="pull-right">
                     <div id="dashboard-report-range" class="dashboard-date-range tooltips" data-placement="top" data-original-title="Change dashboard date range">
                        <i class="icon-calendar"></i>
                        <span></span>
                        <i class="icon-angle-down"></i>
                     </div>
                  </li>
            </ul>
            <!-- END PAGE TITLE & BREADCRUMB-->
          </div>
        </div>
        
        <div class="row">
                  <div class="col-lg-12 news-blocks">
                        <span>Instrucciones</span>
                        
                        <i class="icon-tags"></i>
                        <p>En esta sección, podrás ver propuestas de todos los proveedores del negocio, a nivel regional y nacional. 
                        Además tienes la certeza de que Qiwo te recomiende estos productos por su nivel de confianza y venta.
                        La prioridad es que esten cerca del negocio, cuenten con disponibilidad y que la venta sea de confianza.
                        </p>
                        
                        <img src="/logo_qiwo_small.png" alt="Qiwo" class="top-news-icon" />
                        
                     </div>
                     </div>


        <!-- END PAGE HEADER-->
        <div>
             <div class="tiles">
             <% 
             alturas=["double-down","","double"]
             colores=["bg-blue","bg-green"]
             @qiwo_providers.each do |singleProvider| %>
             <div class="tile <%= alturas[rand(alturas.length)] %> <%= colores[rand(colores.length)] %>">
               <div class="tile-body">
               <% if singleProvider.image_id_file_name!="" and singleProvider.image_id_file_name!=nil %>
                  <img src="/system/qiwo_products/image_ids/000/000/<% if singleProvider.id<10 %><%= '00' %><% elsif singleProvider.id<100 %><%= '0' %><% end %><%= singleProvider.id %>/medium/<%= singleProvider.image_id_file_name %>" />
                  <% else %>

                  <% end %>
               </div>
               <div class="tile-object">
                  <div class="name">
                     <%= singleProvider.name %>
                  </div>
                  <div class="number">
                     $<%= singleProvider.sale_price %>
                  </div>
               </div>
            </div>
             <% end %>

           
            
            <!-- <div class="tile image selected">
               <div class="tile-body">
                  <img src="assets/img/gallery/image2.jpg" alt="">
               </div>
               <div class="tile-object">
                  <div class="name">
                     Media
                  </div>
               </div>
            </div> -->
            
            
           
         </div>
       
                  </div>
                    
        <!-- end of window -->    
      </div>
      <!-- END PAGE CONTAINER-->    
    
    <!-- END PAGE -->
  </div>
    
  <!-- END CONTAINER -->
  <!-- BEGIN FOOTER -->
<div class="modal fade" id="ajax-edit-product" tabindex="-1" role="basic" aria-hidden="true">
                        <img src="assets/img/ajax-modal-loading.gif" alt="" class="loading">
    </div>
  <div class="footer">
    <div class="footer-inner">
      2014 &copy; Qiwo by Consultware.
    </div>
    <div class="footer-tools">
      <span class="go-top">
      <i class="icon-angle-up"></i>
      </span>
    </div>
  </div>
  
