<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @qiwo_category.id %>
</p>

<p>
  <b>Category name:</b>
  <%= @qiwo_category.category_name %>
</p>

<p>
  <b>Parent category:</b>
  <%= @qiwo_category.parent_category %>
</p>


<%= link_to 'Edit', edit_qiwo_category_path(@qiwo_category) %> |
<%= link_to 'Back', qiwo_categories_path %>
