<h1>Listing qiwo_ranks</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Store</th>
    <th>Product</th>
    <th>User</th>
    <th>Rank</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @qiwo_ranks.each do |qiwo_rank| %>
  <tr>
    <td><%= qiwo_rank.id %></td>
    <td><%= qiwo_rank.store_id %></td>
    <td><%= qiwo_rank.product_id %></td>
    <td><%= qiwo_rank.user_id %></td>
    <td><%= qiwo_rank.rank %></td>
    <td><%= link_to 'Show', qiwo_rank %></td>
    <td><%= link_to 'Edit', edit_qiwo_rank_path(qiwo_rank) %></td>
    <td><%= link_to 'Destroy', qiwo_rank, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Qiwo rank', new_qiwo_rank_path %>
