<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @qiwo_rank.id %>
</p>

<p>
  <b>Store:</b>
  <%= @qiwo_rank.store_id %>
</p>

<p>
  <b>Product:</b>
  <%= @qiwo_rank.product_id %>
</p>

<p>
  <b>User:</b>
  <%= @qiwo_rank.user_id %>
</p>

<p>
  <b>Rank:</b>
  <%= @qiwo_rank.rank %>
</p>


<%= link_to 'Edit', edit_qiwo_rank_path(@qiwo_rank) %> |
<%= link_to 'Back', qiwo_ranks_path %>
