<%= simple_form_for(@qiwo_measure_unit) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :id %>
    <%= f.input :label_es %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
