<h1>Listing qiwo_measure_units</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Label es</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @qiwo_measure_units.each do |qiwo_measure_unit| %>
  <tr>
    <td><%= qiwo_measure_unit.id %></td>
    <td><%= qiwo_measure_unit.label_es %></td>
    <td><%= link_to 'Show', qiwo_measure_unit %></td>
    <td><%= link_to 'Edit', edit_qiwo_measure_unit_path(qiwo_measure_unit) %></td>
    <td><%= link_to 'Destroy', qiwo_measure_unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Qiwo measure unit', new_qiwo_measure_unit_path %>
