<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @qiwo_measure_unit.id %>
</p>

<p>
  <b>Label es:</b>
  <%= @qiwo_measure_unit.label_es %>
</p>


<%= link_to 'Edit', edit_qiwo_measure_unit_path(@qiwo_measure_unit) %> |
<%= link_to 'Back', qiwo_measure_units_path %>
