<h1>Listing qiwo_profiles</h1>

<table>
  <tr>
    <th>Id</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @qiwo_profiles.each do |qiwo_profile| %>
  <tr>
    <td><%= qiwo_profile.id %></td>
    <td><%= link_to 'Show', qiwo_profile %></td>
    <td><%= link_to 'Edit', edit_qiwo_profile_path(qiwo_profile) %></td>
    <td><%= link_to 'Destroy', qiwo_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Qiwo profile', new_qiwo_profile_path %>
