<!DOCTYPE html>
<html>
<head>
  <title>Coinless</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta content="width=device-width, initial-scale=1.0" name="viewport" />
   <meta content="" name="description" />
   <meta name="comodo_si_verification" content="6955029" />
   <meta content="" name="author" />
   <meta name="MobileOptimized" content="320">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link href="/assets/css/pages/news.css" rel="stylesheet" type="text/css"/>
    <link href="/css/paginate_style.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/js/sweetalert/sweet-alert.css">
   
    <% current_uri = request.env['PATH_INFO'] %>
<!--    <%= current_uri  %>-->
    <% if current_uri.index("qiwo_user_subscription")!=nil %>
    <link href="assets/css/pages/pricing-tables.css" rel="stylesheet" type="text/css"/>
   <% end %> 
    <% if current_uri.index("sale_points")!=nil or current_uri.index("qiwo_employees")!=nil%>
      <link rel="stylesheet" type="text/css" href="assets/plugins/select2/select2_metro.css" />

    <% end %> 
    
    <% if current_uri.index("searches")!=nil or current_uri.index("tienda")!=nil or current_uri.index("articulo")!=nil %>
    <!--    searches -->
   
    <link rel="stylesheet" href="/css/font.css" type="text/css" cache="false" />
    <link rel="stylesheet" href="/js/prettyphoto/prettyPhoto.css" type="text/css" cache="false" />
    <link rel="stylesheet" href="/js/grid/gallery.css" type="text/css" cache="false" />
    <link rel="stylesheet" href="/css/plugin.css" type="text/css" />
    <link rel="stylesheet" href="/css/app.css" type="text/css" />
    <link rel="stylesheet" href="/js/modal-fb/mikes-modal.css" type="text/css" />
    <!--[if lt IE 9]>
      <script src="js/ie/respond.min.js" cache="false"></script>
      <script src="js/ie/html5.js" cache="false"></script>
      <script src="js/ie/fix.js" cache="false"></script>
    <![endif]-->
      <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/plugins/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link rel="/stylesheet" href="/css/animate.css" type="text/css" />
        <link href="/assets/css/style-metro.css" rel="stylesheet" type="text/css"/>
      
      
      <link href="/assets/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color"/>
      <link href="/assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
  

   
  
   <!-- BEGIN THEME STYLES --> 
   <link href="/assets/css/style-metronic.css" rel="stylesheet" type="text/css"/>
   <link href="/assets/css/style.css" rel="stylesheet" type="text/css"/>
   <link href="/assets/css/style-responsive.css" rel="stylesheet" type="text/css"/>
   <link href="/assets/css/plugins.css" rel="stylesheet" type="text/css"/>
   <link href="/assets/css/pages/tasks.css" rel="stylesheet" type="text/css"/>
   <link rel="stylesheet" href="/js/nivo/themes/default/default.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/js/nivo/themes/light/light.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/js/nivo/themes/dark/dark.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/js/nivo/themes/bar/bar.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/js/nivo/nivo-slider.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/js/nivo/style.css" type="text/css" media="screen" />


    
    
    <% if request.user_agent.include?("iPhone") || request.user_agent.include?("Android") %>
        <link href="/assets/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" />
    <% end %>
    <% elsif current_uri=="/" %>
      <link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
      <link rel="stylesheet" type="text/css" href="/css/qiwo.webflow.css">
      <link rel="stylesheet" type="text/css" href="/css/normalize.css">
      <link rel="stylesheet" type="text/css" href="/css/webflow.css">
      <script type="text/javascript" src="/js/webflow.js"></script>
      <link rel="stylesheet" href="/css/qiwo_style.css" />
    <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
      <link href="assets/css/style-metronic.css" rel="stylesheet" type="text/css"/>
   <link href="assets/css/style.css" rel="stylesheet" type="text/css"/>
   <link href="assets/css/style-responsive.css" rel="stylesheet" type="text/css"/>
   <link href="assets/css/plugins.css" rel="stylesheet" type="text/css"/>
   <link href="assets/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color"/>
   <link href="assets/css/custom.css" rel="stylesheet" type="text/css"/>
   <script
   src="https://code.jquery.com/jquery-2.2.4.min.js"
   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
   crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ujs/1.2.2/rails.min.js"></script> 
    
    <% else %>
         <!-- BEGIN GLOBAL MANDATORY STYLES -->          
   
    
   <!-- END PAGE LEVEL PLUGIN STYLES -->
    <% if current_uri.index("qiwo_enterprisess")!=nil%>          
       <link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
   <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
   <link href="assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
   <!-- END GLOBAL MANDATORY STYLES -->
   <!-- BEGIN PAGE LEVEL STYLES -->
   <link rel="stylesheet" type="text/css" href="assets/plugins/bootstrap-fileupload/bootstrap-fileupload.css" />
   <link rel="stylesheet" type="text/css" href="assets/plugins/gritter/css/jquery.gritter.css" />
   <link rel="stylesheet" type="text/css" href="assets/plugins/select2/select2_metro.css" />
   <link rel="stylesheet" type="text/css" href="assets/plugins/clockface/css/clockface.css" />
   <link rel="stylesheet" type="text/css" href="assets/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" />
   <link rel="stylesheet" type="text/css" href="assets/plugins/bootstrap-datepicker/css/datepicker.css" />
   <link rel="stylesheet" type="text/css" href="assets/plugins/bootstrap-timepicker/compiled/timepicker.css" />
   <link rel="stylesheet" type="text/css" href="assets/plugins/bootstrap-colorpicker/css/colorpicker.css" />
   <link rel="stylesheet" type="text/css" href="assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" />
   <link rel="stylesheet" type="text/css" href="assets/plugins/bootstrap-datetimepicker/css/datetimepicker.css" />
   <link rel="stylesheet" type="text/css" href="assets/plugins/jquery-multi-select/css/multi-select.css" />
   <link rel="stylesheet" type="text/css" href="assets/plugins/bootstrap-switch/static/stylesheets/bootstrap-switch-metro.css"/>
   <link rel="stylesheet" type="text/css" href="assets/plugins/jquery-tags-input/jquery.tagsinput.css" />
   <link rel="stylesheet" type="text/css" href="assets/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css">
   <!-- END PAGE LEVEL STYLES -->
   <!-- BEGIN THEME STYLES --> 
   <link href="assets/css/style-metronic.css" rel="stylesheet" type="text/css"/>
   <link href="assets/css/style.css" rel="stylesheet" type="text/css"/>
   <link href="assets/css/style-responsive.css" rel="stylesheet" type="text/css"/>
   <link href="assets/css/plugins.css" rel="stylesheet" type="text/css"/>
   <link href="assets/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color"/>
   <link href="assets/css/custom.css" rel="stylesheet" type="text/css"/>
   <script
   src="https://code.jquery.com/jquery-2.2.4.min.js"
   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
   crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ujs/1.2.2/rails.min.js"></script> 
    

   <% else %>
   
        <link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
       <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
       <link href="assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
       <!-- END GLOBAL MANDATORY STYLES -->
       <!-- BEGIN PAGE LEVEL PLUGIN STYLES --> 
       <link href="assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" type="text/css"/>
       <link href="assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
       <link href="assets/plugins/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" type="text/css"/>
       <% if session[:activeUser]!=nil %>
       <% if session[:activeUser].sys_rol==1 %>
       <link href="assets/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css"/>
       <% end %>
       <% end %>
       <link href="assets/plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css"/>
       <link rel="stylesheet" type="text/css" href="assets/plugins/jquery-tags-input/jquery.tagsinput.css" />
       <% if current_uri.index("qiwo_products")!=nil or current_uri.index("qiwo_enterprises")!=nil %>
    <link rel="stylesheet" type="text/css" href="assets/plugins/bootstrap-datepicker/css/datepicker.css" />
   <link rel="stylesheet" type="text/css" href="assets/plugins/bootstrap-timepicker/compiled/timepicker.css" />
   <link rel="stylesheet" type="text/css" href="assets/plugins/bootstrap-colorpicker/css/colorpicker.css" />
   <link rel="stylesheet" type="text/css" href="assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" />
   <link rel="stylesheet" type="text/css" href="assets/plugins/bootstrap-datetimepicker/css/datetimepicker.css" />
       <link rel="stylesheet" type="text/css" href="assets/plugins/select2/select2_metro.css" />
       <link rel="stylesheet" href="assets/plugins/data-tables/DT_bootstrap.css" />
       <% end %>
        <!-- BEGIN THEME STYLES --> 
       <link href="assets/css/style-metronic.css" rel="stylesheet" type="text/css"/>
       <link href="assets/css/style.css" rel="stylesheet" type="text/css"/>
       <link href="assets/css/style-responsive.css" rel="stylesheet" type="text/css"/>
       <link href="assets/css/plugins.css" rel="stylesheet" type="text/css"/>
       <link href="assets/css/pages/tasks.css" rel="stylesheet" type="text/css"/>
       <link href="assets/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color"/>
       <link href="assets/css/custom.css" rel="stylesheet" type="text/css"/>
       <!-- END THEME STYLES -->
       <!-- END PAGE LEVEL STYLES -->
        <link rel="shortcut icon" href="favicon.ico" />
      <!-- END PAGE LEVEL PLUGINS -->
       <link rel="stylesheet" type="text/css" href="assets/plugins/jquery-multi-select/css/multi-select.css" />
       <link rel="stylesheet" type="text/css" href="assets/plugins/bootstrap-switch/static/stylesheets/bootstrap-switch-metro.css"/>
       <link rel="stylesheet" type="text/css" href="assets/plugins/jquery-tags-input/jquery.tagsinput.css" />
       <link rel="stylesheet" type="text/css" href="assets/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css">
    
      <!-- BEGIN PAGE LEVEL STYLES -->
      <script
   src="https://code.jquery.com/jquery-2.2.4.min.js"
   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
   crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ujs/1.2.2/rails.min.js"></script> 

    <% end %>
   
    
    <% end %>
    
    <% if current_uri.index("qiwo_orders")!=nil %>
      <link rel="stylesheet" type="text/css" href="assets/plugins/jquery-nestable/jquery.nestable.css" />
    <% end %>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    
    <script>
    $('body').on('hidden.bs.modal', '.modal', function () {
      $(this).removeData('bs.modal');
    });
    var currentSelectedOrder=0;
    var currentOrderTotal=0;
    var cstate=[];
      WebFont.load({
        google: {
          families: ["Lato:100,300,400,700,900","Exo:100,200,300,400,500,600,700,800,900"]
        }
      });

      function holamundo(){
      /* stop form from submitting normally */
      event.preventDefault();

      /* get some values from elements on the page: */
      var $form = $('#form1'),
          url = $form.attr( 'action' );
      }
      function startSearch(){
        event.preventDefault();
        window.location.href='/searches/'+$('#search-field').val();
      }
    </script>

<style>
.validatr-message{
	z-index: 300;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
<% if current_uri!="/" %>
body {
  <% @trials=0  %>
  <% if 2>4 %>
  <% imagenes=QiwoImage.where(:allowed=>1)
  @randomize=rand(1..imagenes.length-1)
  @imagen=imagenes[@randomize]
   %>
        <% if @imagen!=nil  %>
            <% if @imagen.id<10  %>
               <% @randomize="00"+@imagen.id.to_s  %>
            <% elsif @randomize<100  %>
               <% @randomize="0"+@imagen.id.to_s  %>
            <% end %>
        
            <% if @imagen.allowed==1 %>
               background-image: <%=   "url(/system/qiwo_images/image_urls/000/000/"+@randomize.to_s+"/original/"+@imagen.image_url_file_name+");" %>
            <% else %>
               background-image: url(/system/qiwo_images/image_urls/000/000/021/original/5956734962_d54ce628d5_o.jpg);
            <% end %>
        <% end %>
  <% else %>
  <% if current_uri.index("articulo")==nil %>
     background-image: url(/images/blanco_perlado.jpg);
  <% end %>
  <% end %>
  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-repeat: no-repeat;
background-size: cover;
}
<% end %>


  @-webkit-keyframes pulse {
 from {
   opacity: 0.2;
    // font-size: 100%;
 }
 to {
   opacity: 1.0;
    // font-size: 200%;
 }
}

.pulse {
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
    text-align: center;
}
.wrapper-with-ribbon {
width: 189px;
height: 300px;
background: #ddd;
position: relative;
margin: 20px;
}

.ribbon-wrapper-green {
width: 180px;
height: 172px;
overflow: hidden;
position: absolute;
top: -4px;
right: -4px;
}

.ribbon-green {
  font: bold 12px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 45px;
  width: 235px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
    white-space: nowrap;
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}
  </style>
  

  
    
  <%= csrf_meta_tags %>
  <% if current_uri.index("articulo")!=nil %>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/blog-qiwo.css" type="text/css" cache="false" /> 

    <% end %>
</head>

    <% if current_uri.index("searches")==nil and current_uri!="/" and current_uri.index("tienda")==nil and current_uri.index("articulo")==nil%>
        <body class="page-header-fixed <%= current_uri.index('sale_points')!=nil ? 'page-sidebar-closed' : '' %>">
        
    <% else %>
        <body>            
    <% end %>

  <% if current_uri.index("searches")!=nil or current_uri=="/" or current_uri.index("tienda")!=nil or current_uri.index("articulo")!=nil%>
   <script src="/js/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/js/bootstrap.js"></script>
    <script src="/js/libs/underscore-min.js"></script> 
    <script src="/assets/plugins/jquery-1.10.2.min.js" type="text/javascript"></script>
   <script src="/assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>     
   <script src="/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
   <script src="/assets/plugins/bootstrap/js/bootstrap2-typeahead.min.js" type="text/javascript"></script>
   <script src="/assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript" ></script>
   <script src="/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
   <script src="/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>  
   <script src="/assets/plugins/jquery.cookie.min.js" type="text/javascript"></script>
   <script src="/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript" ></script>
   <!-- END CORE PLUGINS -->
  <script src="/js/app.js"></script>
    <script src="/js/app.plugin.js"></script>
    <script src="/js/app.data.js"></script>
    
    <script src="/js/prettyphoto/jquery.prettyPhoto.js" cache="false"></script>  
    <script src="/js/grid/jquery.grid-a-licious.min.js" cache="false"></script>
    <script src="/js/grid/gallery.js" cache="false"></script>
    
   <!-- BEGIN PAGE LEVEL PLUGINS -->
   <script type="text/javascript" src="/assets/plugins/fuelux/js/spinner.min.js"></script>
   <script src="/assets/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js" type="text/javascript" ></script>
  
   <!-- END PAGE LEVEL PLUGINS -->
   <!-- BEGIN PAGE LEVEL SCRIPTS -->
   <script src="/assets/scripts/app.js"></script>
   <script src="/assets/scripts/form-components.js?hash=20201026"></script>
   
   <script type="text/javascript" src="/js/nivo/jquery.nivo.slider.js"></script>
<script src="/js/modal-fb/mikes-modal.min.js"></script>
  <% end %>

   
<%= yield %>

<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
   <!-- BEGIN CORE PLUGINS -->   
   <!--[if lt IE 9]>
   <script src="assets/plugins/respond.min.js"></script>
   <script src="assets/plugins/excanvas.min.js"></script> 
   <![endif]-->

    <% if current_uri.index("qiwo_enterprisess")!=nil%>
        <!--[if lt IE 9]>
   <script src="assets/plugins/respond.min.js"></script>
   <script src="assets/plugins/excanvas.min.js"></script> 
   <![endif]-->   
   <script src="assets/plugins/jquery-1.10.2.min.js" type="text/javascript"></script>
   <script src="assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>     
   <script src="assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
   <script src="assets/plugins/bootstrap/js/bootstrap2-typeahead.min.js" type="text/javascript"></script>
   <script src="assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript" ></script>
   <script src="assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
   <script src="assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>  
   <script src="assets/plugins/jquery.cookie.min.js" type="text/javascript"></script>
   <script src="assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript" ></script>
   <!-- END CORE PLUGINS -->
   <!-- BEGIN PAGE LEVEL PLUGINS -->
   <script type="text/javascript" src="assets/plugins/fuelux/js/spinner.min.js"></script>
   <script type="text/javascript" src="assets/plugins/ckeditor/ckeditor.js"></script>  
   <script type="text/javascript" src="assets/plugins/bootstrap-fileupload/bootstrap-fileupload.js"></script>
   <script type="text/javascript" src="assets/plugins/select2/select2.min.js"></script>
   <script type="text/javascript" src="assets/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script> 
   <script type="text/javascript" src="assets/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
   <script type="text/javascript" src="assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
   <script type="text/javascript" src="assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
   <script type="text/javascript" src="assets/plugins/clockface/js/clockface.js"></script>
   <script type="text/javascript" src="assets/plugins/bootstrap-daterangepicker/moment.min.js"></script>
   <script type="text/javascript" src="assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script> 
   <script type="text/javascript" src="assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>  
   <script type="text/javascript" src="assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
   <script type="text/javascript" src="assets/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>   
   <script type="text/javascript" src="assets/plugins/jquery.input-ip-address-control-1.0.min.js"></script>
   <script type="text/javascript" src="assets/plugins/jquery-multi-select/js/jquery.multi-select.js"></script>
   <script type="text/javascript" src="assets/plugins/jquery-multi-select/js/jquery.quicksearch.js"></script>   
   <script src="assets/plugins/jquery.pwstrength.bootstrap/src/pwstrength.js" type="text/javascript" ></script>
   <script src="assets/plugins/bootstrap-switch/static/js/bootstrap-switch.min.js" type="text/javascript" ></script>
   <script src="assets/plugins/jquery-tags-input/jquery.tagsinput.min.js" type="text/javascript" ></script>
   <script src="assets/plugins/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript" ></script>
   <script src="assets/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js" type="text/javascript" ></script>
   <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
      <script src="assets/scripts/form-validation.js"></script> 
   <!-- END PAGE LEVEL PLUGINS -->
   <!-- BEGIN PAGE LEVEL SCRIPTS -->
   <script src="assets/scripts/app.js"></script>
   <script src="assets/scripts/form-components.js"></script>     

   <% elsif current_uri!="/" and current_uri.index("searches")==nil and current_uri.index("tienda")==nil and current_uri.index("articulo")==nil%>
       <script src="assets/plugins/jquery-1.10.2.min.js" type="text/javascript"></script>
       <script src="assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>   
       <!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
       <script src="assets/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
       <script src="assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="assets/plugins/bootstrap/js/bootstrap2-typeahead.min.js" type="text/javascript"></script>
       <script src="assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript" ></script>
       <script src="assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
       <script src="assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>  
       <script src="assets/plugins/jquery.cookie.min.js" type="text/javascript"></script>
       <script src="assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript" ></script>

       <% if current_uri.index("sale_points")!=nil or current_uri.index("qiwo_employees")!=nil %>
    <script type="text/javascript" src="assets/plugins/select2/select2.min.js"></script>
  <% end %>
       <!-- END CORE PLUGINS -->
       <!-- BEGIN PAGE LEVEL PLUGINS -->
       <% if session[:activeUser]!=nil %>
        <% if current_uri.index("dashboard")!=nil and session[:activeUser].sys_rol==1%>
           <script src="assets/plugins/jqvmap/jqvmap/jquery.vmap.js" type="text/javascript"></script>   
           <script src="assets/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js" type="text/javascript"></script>
           <script src="assets/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js" type="text/javascript"></script>
           <script src="assets/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js" type="text/javascript"></script>
           <script src="assets/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js" type="text/javascript"></script>
           <script src="assets/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js" type="text/javascript"></script>
           <script src="assets/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js" type="text/javascript"></script>  
        <% end %>
      <% end %>
       <script src="assets/plugins/flot/jquery.flot.js" type="text/javascript"></script>
       <script src="assets/plugins/flot/jquery.flot.resize.js" type="text/javascript"></script>
       <script src="assets/plugins/jquery.pulsate.min.js" type="text/javascript"></script>
       <script src="assets/plugins/gritter/js/jquery.gritter.js" type="text/javascript"></script>
   
   

       <!-- IMPORTANT! fullcalendar depends on jquery-ui-1.10.3.custom.min.js for drag & drop support -->
       <script src="assets/plugins/fullcalendar/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
       <script src="assets/plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.js" type="text/javascript"></script>
       <script src="assets/plugins/jquery.sparkline.min.js" type="text/javascript"></script>  
       <!-- END PAGE LEVEL PLUGINS -->
       <!-- BEGIN PAGE LEVEL SCRIPTS -->
       
      <% if current_uri.index("qiwo_products")!=nil or current_uri.index("qiwo_enterprises")!=nil %>
            <script type="text/javascript" src="assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
           <script type="text/javascript" src="assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
           <script type="text/javascript" src="assets/plugins/clockface/js/clockface.js"></script>
           <script type="text/javascript" src="assets/plugins/bootstrap-daterangepicker/moment.min.js"></script>
           <script type="text/javascript" src="assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script> 
           <script type="text/javascript" src="assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>  
           <script type="text/javascript" src="assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
            <script type="text/javascript" src="assets/plugins/select2/select2.min.js"></script>
           <script type="text/javascript" src="assets/plugins/data-tables/jquery.dataTables.min.js"></script>
           <script type="text/javascript" src="assets/plugins/data-tables/DT_bootstrap.js"></script>
           <script src="assets/scripts/table-advanced.js"></script>
           <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

      <script src="assets/scripts/form-validation.js"></script> 
      <script type="text/javascript" src="assets/plugins/validatr.js"></script>
      <% end %>
   <!-- END PAGE LEVEL SCRIPTS -->
   
       <script type="text/javascript" src="assets/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>   
       <script src="/assets/plugins/bootstrap-switch/static/js/bootstrap-switch.min.js" type="text/javascript" ></script>
       <script src="/assets/plugins/jquery-tags-input/jquery.tagsinput.min.js" type="text/javascript" ></script>
       <script src="/assets/plugins/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript" ></script>
       <script src="/assets/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js" type="text/javascript" ></script>
        <script src="/assets/scripts/app.js" type="text/javascript"></script>
        <% @jssession=true %>
       <%= javascript_include_tag "index.js" %>
       <% if current_uri.index("blog")==nil %>
       <script src="/assets/scripts/tasks.js" type="text/javascript"></script>
        <script src="/assets/scripts/form-components.js?hash=20201026"></script>
        <script type="text/javascript" src="assets/plugins/select2/select2_locale_es.js"></script>
        <% end %>
   <% end %>
   <% if current_uri.index("blog")==nil %>
   <script type="text/javascript" src="/assets/plugins/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>

  <!-- Add fancyBox main JS and CSS files -->
  <script type="text/javascript" src="/assets/plugins/fancybox/source/jquery.fancybox.js?v=2.1.5"></script>
  <link rel="stylesheet" type="text/css" href="/assets/plugins/fancybox/source/jquery.fancybox.css?v=2.1.5" media="screen" />

  <!-- Add Button helper (this is optional) -->
  <link rel="stylesheet" type="text/css" href="/assets/plugins/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" />
  <script type="text/javascript" src="/assets/plugins/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>

  <!-- Add Thumbnail helper (this is optional) -->
  <link rel="stylesheet" type="text/css" href="/assets/plugins/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" />
  <script type="text/javascript" src="/assets/plugins/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

  <!-- Add Media helper (this is optional) -->
  <script type="text/javascript" src="/assets/plugins/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
   <script type="text/javascript" src="/assets/plugins/bootstrap-editable/bootstrap-editable/js/bootstrap-editable.min.js"></script>

   <script type="text/javascript" src="/assets/plugins/jquery.mockjax.js"></script>
       <script src="/assets/scripts/form-editable.js"></script>
    <% end %>
    <% if current_uri.index("qiwo_orders")!=nil%>
    <script src="/assets/plugins/jquery-nestable/jquery.nestable.js"></script>
    <script src="/assets/scripts/ui-nestable.js"></script>
    <% end %>
   <!-- END PAGE LEVEL PLUGINS -->
    <script src="/js/sweetalert/sweet-alert.min.js"></script>
   <script>
   (function() {
      var proxied = window.alert;
      window.alert = function() {
        // do something here
        return swal(arguments[0]);
        //return proxied.apply(this, arguments);
      };
    })();
    </script> 
<% if current_uri!="/" and current_uri.index("searches")==nil and current_uri.index("tienda")==nil and current_uri.index("tienda")==nil and current_uri.index("articulo")==nil%>

   <script>
   
   var sample_data={};
   var pageviews=[];
   <% if session[:activeUser]!=nil %>
       <% if current_uri.index("dashboard")!=nil and session[:activeUser].sys_rol==1%>
       sample_data = {<% @mapa.each do |key, value| %>
                          "<%= key.to_s  %>":"<%= value.to_s  %>",
                          <% end %>
                          "<%= 'xx' %>":"<%= 0 %>"
                         };
      pageviews = [
           <% ccontrol=1 %>
           <% @visitasraw.each do |key, value| %>
                          [<%= ccontrol  %>,<%= value  %>],
           <% ccontrol=ccontrol+1 %>
                          <% end %>
           [<%= ccontrol  %>, 0]
            ];
       <% end %>
       <% end %>
      jQuery(document).ready(function() {
        <% if current_uri.index("blog")==nil %>
        $('.fancybox-media')
        .attr('rel', 'media-gallery')
        .fancybox({
          padding:0,
          'width':980,
          openEffect : 'none',
          closeEffect : 'none',
          prevEffect : 'none',
          nextEffect : 'none',

          arrows : false,
          helpers : {
            media : {},
            buttons : {}
          }

        });
        <% end %>
        <% #si no tiene empresas ni productos abrimos la publicidad 
        if QiwoEnterprise.where(:user_owner=>session[:activeUser].id).length==0 %>
        $('#welcome-video').trigger('click');
      <% end %>
      <% if current_uri.index("blog")==nil %>
         App.init(); // initlayout and core plugins
       <% end -%>
        <% if current_uri.index("product")!=nil%>
         TableAdvanced.init();
        <% end %>
        <% if current_uri.index("qiwo_enterprises")!=nil or current_uri.index("qiwo_product")!=nil%>
         FormComponents.init();
         FormValidation.init();
         $('form').validatr();
         
        <% end %>
        <% if current_uri.index("sale_points")!=nil %>
        FormComponents.init2();
        reloadOrderItems();
        <% end %>

        <% if current_uri.index("qiwo_employees")!=nil %>
        FormComponents.init2();
        populateEmployees();
        <% end %>
        <% if current_uri.index("qiwo_orders")!=nil%>
        UINestable.init();
        <% end %>
        <% if current_uri.index("dashboard")!=nil%>
         Index.init();
         <% if session[:activeUser]!=nil %>
         <% if session[:activeUser].sys_rol==1 %>
         Index.initJQVMAP(); // init index page's custom scripts

         <% end %>
         <% end %>
         Index.initCalendar(); // init index page's custom scripts
         Index.initCharts(); // init index page's custom scripts
         
         Index.initMiniCharts();
         Index.initDashboardDaterange();
         Index.initIntro();
         Tasks.initDashboardWidget();
         <% end %>
         <% if current_uri.index("blog")==nil %>
         FormEditable.init();
         $('body').on('hidden.bs.modal', '.modal', function () {
          $(this).removeData('bs.modal');
        });
         <% end %>

      });
      <% if current_uri.index("qiwo_product")!=nil%>
      var mdef=0;
       function letshare(){
        $.post( "/qiwo_products/compartir.json",{utf8:"✓",authenticity_token:'<%= form_authenticity_token.to_s %>',para:$("#maxlength_textarea").val(),pagid:$("#select2_sample2").val(),prdef:mdef})
          .done(function( data ) {
          $("#maxlength_textarea").val("");
          $("#ajax-publish-fb").modal("hide");    
           alert("El mensaje se envió a facebook");
        });
      }
      function openpublish(sor){
        mdef=sor;
        $("#ajax-publish-fb").modal("show");
      }
<% end %>
   </script>
<% end %>


   <script>
   <% if session[:activeUser]!=nil %>
       <% if session[:activeUser].sys_rol==1 %>
function postToFacebook(idmessage){
  alert(idmessage);
  $.post( "/yo/sendMessageToAll.json",{utf8:"✓",authenticity_token:'<%= form_authenticity_token.to_s %>',idmessage:idmessage})
    .done(function( data ) {
     alert("done");
  });
}
    function assignCFDI(usr){
      
      $.post( "/yo/reassignCFDI.json",{utf8:"✓",authenticity_token:'<%= form_authenticity_token.to_s %>',usuario:usr,folios:$('#cfdiable-'+usr).val()})
        .done(function( data ) {
         alert("Se realizó el cambio");
      });
    }
    function assignPlan(usr){
     
      $.post( "/yo/reassignPlan.json",{utf8:"✓",authenticity_token:'<%= form_authenticity_token.to_s %>',usuario:usr,plan:$('#selectable-'+usr).val()})
        .done(function( data ) {
         alert("Se realizó el cambio");
      });
    }
<% end %>
<% end %>

       <% if session[:activeUser]!=nil %>
           function addToKart(productid,quantityd){
            $.post( "/qiwo_log_karts.json", 
                 { qiwo_log_kart:{product_id: productid },kart_quantity:quantityd,utf8:"✓",authenticity_token:'<%= form_authenticity_token.to_s %>'})
            .done(function( data ) {
              if(data=="NOT"){
                alert("¡Ups! parece que el vendedor no tiene la cantidad que solicitaste");
              } else {
                alert("Se agregaron "+quantityd.toString()+" elementos a tu carrito.");
              }
            });
           }
           function sendit(productid){
           alert("Se envió un mensaje a tu Facebook inbox de este producto.");
       $.post( "/searches/sendToInbox.json",{utf8:"✓",authenticity_token:'<%= form_authenticity_token.to_s %>',prodid:productid})
            .done(function( data ) {
             alert("done");
          });
           }
      function submitComment(commentElementId,productId,isonsale){
          if($('#new-comment-'+commentElementId).val().length>2){
          $.post( "/qiwo_reviews.json", 
                 { qiwo_review:{product_id: productId, review: $('#new-comment-'+commentElementId).val() },commentonsale:isonsale,utf8:"✓",authenticity_token:'<%= form_authenticity_token.to_s %>'})
            .done(function( data ) {
             var inj='<li class="in">';
            inj+='<img class="avatar img-responsive" alt="" src="<%= session[:activeUser].avatar %>" />'
            inj+='<div class="message">';
            inj+='<span class="arrow"></span>';
            inj+='<a href="#" class="name"><%= session[:activeUser].name %><%= session[:activeUser].last_name %></a>';
            inj+='<span class="datetime"> en justo ahora</span>';
            inj+='<span class="body">';
            inj+=$('#new-comment-'+commentElementId).val()+'</span></div></li>';
            $("#comments-prod-"+commentElementId).append(inj);
            $('#new-comment-'+commentElementId).val("");
          });
              }
      }
       <% else %>
           function sendit(productid){
           alert("Primero debes loggearte mediante tu cuenta de facebook para enviartelo por inbox.");
           }
       function addToKart(productid){
           alert("Primero debes loggearte mediante tu cuenta de facebook para agregar este producto a tu carrito de compras.");
           }
       <% end %>
   </script> 

<% if session[:activeUser]!=nil and current_uri.index("searches")==nil and current_uri.index("tienda")==nil and current_uri.index("articulo")==nil%>
   <script>
   function makeQuotation(sale){
    $("#purchase").val(sale);
    $("#responsiv").modal("show");
   }
function oxxoPayment(saleType){
  alert("Se envió la referencia del pago con un codigo de barras a tu Messenger de facebook para que lo puedas pagar rápidamente en oxxo.");
$.post( "/qiwo_log_karts/oxxoPayment.json",{utf8:"✓",authenticity_token:'<%= form_authenticity_token.to_s %>',saleid:saleType})
            .done(function( data ) {
             
          });
}
function openpay(dl,whereto){
  $.post( "/qiwo_log_karts/basicPayments.json",{utf8:"✓",authenticity_token:'<%= form_authenticity_token.to_s %>',opaytype:whereto,delta:dl})
            .done(function( data ) {
             
          });
}
function banortePayment(saleType){
  alert("Se envió la referencia del pago a tu Messenger de facebook para que lo puedas pagar rápidamente en el banco Banorte.");
  $.post( "/qiwo_log_karts/banortePayment.json",{utf8:"✓",authenticity_token:'<%= form_authenticity_token.to_s %>',saleid:saleType})
            .done(function( data ) {
             
          });
}
function isubmitComment(commentElementId,productId,isonsale){
          if($('#new-comment-internal-'+commentElementId).val().length>2){
          $.post( "/qiwo_reviews.json", 
                 { qiwo_review:{product_id: productId, review: $('#new-comment-internal-'+commentElementId).val() },commentonsale:isonsale,utf8:"✓",authenticity_token:'<%= form_authenticity_token.to_s %>'})
            .done(function( data ) {
             var inj='<li class="in">';
            inj+='<img class="avatar img-responsive" alt="" src="<%= session[:activeUser].avatar %>" />'
            inj+='<div class="message">';
            inj+='<span class="arrow"></span>';
            inj+='<a href="#" class="name"><%= session[:activeUser].name %><%= session[:activeUser].last_name %></a>';
            inj+='<span class="datetime"> en justo ahora</span>';
            inj+='<span class="body">';
            inj+=$('#new-comment-internal-'+commentElementId).val()+'</span></div></li>';
            $("#comments-prod-internal-"+commentElementId).append(inj);
            $('#new-comment-internal-'+commentElementId).val("");
          });
              }
      }

function saleCompleted(productid){
       $.post( "/qiwo_clients/markAsCompleted.json",{utf8:"✓",authenticity_token:'<%= form_authenticity_token.to_s %>',prodid:productid})
            .done(function( data ) {
             alert("done");
          });
           }
function cancelQuote(productid){
       $.post( "/qiwo_clients/cancelarFactura.json",{utf8:"✓",authenticity_token:'<%= form_authenticity_token.to_s %>',prodid:productid})
            .done(function( data ) {
             alert("La factura electrónica se ha cancelado ante el SAT.");
          });
           }

      </script> 
  <% end %>
  <% if current_uri.index("qiwo_user_subscriptions")!=nil or current_uri.index("qiwo_log_karts")!=nil or current_uri.index("sale_points")!=nil%>
  <script type="text/javascript" src="https://conektaapi.s3.amazonaws.com/v0.3.0/js/conekta.js"></script>
  <script type="text/javascript" src="https://openpay.s3.amazonaws.com/openpay.v1.min.js"></script>
  <script type="text/javascript" src="https://openpay.s3.amazonaws.com/openpay-data.v1.min.js"></script>
  <script>
  <% if current_uri.index("qiwo_log_karts")!=nil %>

var itmnn=0;
  function openpayCardHolder(itmn){
    var $form = $('#card-formo-'+itmn);
    itmnn=itmn;
    var pk='';
    // Inhabilita el botón submit para prevenir múltiples clics
    var mouid=$form.find('#ouid').val();
    var mopub=$form.find('#opub').val();
    <% if isInTestMode()==true %>
      OpenPay.setSandboxMode(true);
    <% end %>
    OpenPay.setId(mouid);
    OpenPay.setApiKey(mopub);
    var deviceDataId = OpenPay.deviceData.setup();
    $form.find('#deltadevice').val(deviceDataId);
    $form.find('button').prop('disabled', true);
    $form.find('#proc-'+itmn).show();
    var interchangeo={
      "card_number":$form.find('#opcard').val(),
      "holder_name":$form.find('#opname').val(),
      "expiration_year":$form.find('#opaa').val(),
      "expiration_month":$form.find('#opmm').val(),
      "cvv2":$form.find('#opcvv').val(),
      "address":{
         "city":$form.find('#opcity').val(),
         "line3":$form.find('#opline2').val(),
         "postal_code":$form.find('#opcp').val(),
         "line1":$form.find('#opline1').val(),
         "line2":$form.find('#opline2').val(),
         "state":$form.find('#opstate').val(),
         "country_code":"MX"
      }
    };
    OpenPay.token.create(interchangeo, successCard, errorCard);
    // OpenPay.token.extractFormAndCreate(
    //   $('#card-formo-'+itmn),  
    //   successCard, 
    //   errorCard, 
    //   mouid);
    return false;
  }

  function successCard(response){
    
    var $form = $('#card-formo-'+itmnn);
    $form.find('#proc-'+itmnn).hide();
    $form.find('#otoken').val(response.data.id);
    $form.get(0).submit();
  }
  function errorCard(response){
    var $form = $('#card-formo-'+itmnn);
    $form.find('#proc-'+itmnn).hide();
    // Show the errors on the form
    $form.find('.card-errors').html('<div class="alert alert-danger"><strong>¡Error!</strong> '+response.message+'.</div>');
    $form.find('button').prop('disabled', false);
  }
  <% end %>
<% if current_uri.index("qiwo_log_karts")==nil %>
Conekta.setPublishableKey('<%= conektaKeyPublic() %>');
<% end %>

var gplanid;
function conektaCardHolder(planid){
  
  gplanid=planid;

  var $form = $('#card-form-'+gplanid);
  var pk='';
  <% if current_uri.index("qiwo_log_karts")!=nil %>
  pk=$('#public-key-'+gplanid);
  Conekta.setPublishableKey($form.find('#public-key-'+gplanid).val());
    
  <% end %>

  // Inhabilita el botón submit para prevenir múltiples clics
  $form.find('button').prop('disabled', true);
  $form.find('#proc-'+gplanid).show();
  Conekta.token.create($form, conektaSuccessResponseHandler, conektaErrorResponseHandler);
  return false;
}

var conektaSuccessResponseHandler = function(response) {
  var $form = $('#card-form-'+gplanid);
  $form.find('#proc-'+gplanid).hide();
    var token_id = response.id;
    $form.append($('<input type="hidden" name="conektaTokenId" />').val(token_id));
    $form.get(0).submit();
};
var conektaErrorResponseHandler = function(response) {
  var $form = $('#card-form-'+gplanid);
    $form.find('#proc-'+gplanid).hide();
    // Show the errors on the form
    
    $form.find('.card-errors').html('<div class="alert alert-danger"><strong>¡Error!</strong> '+response.message+'.</div>');
    $form.find('button').prop('disabled', false);
};

</script> 
<% end %>
<% if current_uri.index("qiwo_tools")!=nil %>
<script>
function saveMerchantTools(){
  alert("Los cambios a tus Apps se han guardado");
  $.post( "/qiwo_tools/updateMerchantTools.json",{
    utf8:"✓",
    authenticity_token:'<%= form_authenticity_token.to_s %>',
    ppaluser:$('#paypal_user').val(),
    ppalpassword:$('#paypal_password').val(),
    ppalsignature:$('#paypal_signature').val(),
    nektapub:$('#conekta_public').val(),
    nektapri:$('#conekta_private').val(),
    opayid:$('#openpay_id').val(),
    opaypub:$('#openpay_public').val(),
    opaypri:$('#openpay_private').val(),
    aftership:$('#aftership_id').val(),
    fd_storeid:$('#firstdata_storeid').val(),
    fd_apikey:$('#firstdata_apikey').val(),
    fd_sharedsecret:$('#firstdata_sharedsecret').val(),
    fd_apisecret:$('#firstdata_apisecret').val(),
  })
    .done(function( data ) {
     
  });
}

</script> 
<% end %>
<% if current_uri.index("sale_points")!=nil %>
<script>
var loadac="start";

function reloadOrders(){
  currentOrderTotal=0;
  $("#orderViewTitle").html('<i class="icon-reorder"></i>No hay ordenes abiertas aún.');
  $.post( "/sale_points/puntoDeVentaNuevaOrden.json", 
    { cprocess:loadac,utf8:"✓",authenticity_token:'<%= form_authenticity_token.to_s %>'})
        .done(function( data ) {
          cstate=[];
          $("#ordersPanel").html("");
            for(var cc=0;cc<data.length;cc++){
              cstate[data[cc].id]=data[cc].order_state;
              if(cc==0){
                var inj='<button type="button" class="btn btn-default" onclick="javascript:changeOrder('+data[cc].id+')">Orden '+data[cc].id+'</button>';  
              } else {
                var inj='<button type="button" class="btn btn-default" onclick="javascript:changeOrder('+data[cc].id+')">'+data[cc].id+'</button>';
              }
              if (cc==data.length-1){
                currentSelectedOrder=data[cc].id;
                
              }
              $("#ordersPanel").append(inj);
            }
            reloadOrderItems();
        });

  $( "#mask_number" ).focus();
}
var visualOrder="";
function reloadOrderItems(){
  currentOrderTotal=0;
  visualOrder="";
  if(currentSelectedOrder!=0){
    $.post( "/sale_points/puntoDeVentaItems.json", 
    { orderView:currentSelectedOrder,utf8:"✓",authenticity_token:'<%= form_authenticity_token.to_s %>'})
        .done(function( data ) {
        for(var cc=0;cc<data.length;cc++){
          var singleOrderItem='<tr>';
          if(cstate[currentSelectedOrder]<=10){
            singleOrderItem+='<td><a class="btn blue" href="javascript:alterOrderItem('+data[cc].qiwo_product_id+',1)"><i class="icon-plus"></i></a><a class="btn red" href="javascript:alterOrderItem('+data[cc].qiwo_product_id+',0)"><i class="icon-minus"></i></a></td>';
          } else {
            singleOrderItem+='<td></td>';
          }
          singleOrderItem+='<td class="highlight"><a href="#">'+data[cc].name+'</a></td>';
          singleOrderItem+='<td>Mi negocio</td>';
          singleOrderItem+='<td>$'+data[cc].sale_price+'</td>';
          singleOrderItem+='<td>'+data[cc].quantity+'</td>';
          currentOrderTotal+=Number((data[cc].quantity*data[cc].sale_price).toFixed(2));
          singleOrderItem+='<td>$'+(data[cc].quantity*data[cc].sale_price).toFixed(2).toString()+'</td></tr>';
          visualOrder+=singleOrderItem;
        }
       recalculateOrderDetails();
    });
   
  } else {
    $("#orderItemsPanel").html("");
  }
  $( "#mask_number" ).focus();
}
var tmpTipSubtotal=0;
function recalculateOrderDetails(){

  $.post( "/sale_points/puntoDeVentaAlterGetTax.json", 
    { orderadd:currentSelectedOrder,utf8:"✓",authenticity_token:'<%= form_authenticity_token.to_s %>'})
        .done(function( data ) {
          $("#orderItemsPanel").html("");
          $("#orderViewTitle").html('<i class="icon-reorder"></i>Estas viendo la orden '+currentSelectedOrder.toString());
          $("#orderItemsPanel").append(visualOrder);
          var subtotal='<tr><td></td>';
          subtotal+='<td class="highlight"></td>';
          subtotal+='<td></td>';
          subtotal+='<td></td>';
          subtotal+='<td ><strong><h3>Sub total</h3></strong></td>';
          subtotal+='<td><strong><h3>$'+parseFloat(currentOrderTotal).toFixed(2)+'</h3></strong></td></tr>';
          $("#orderItemsPanel").append(subtotal);

          var extratip='<tr><td></td>';
          extratip+='<td class="highlight"></td>';
          extratip+='<td></td>';
          extratip+='<td></td>';
          extratip+='<td><strong><h3><select class="form-control" id="optionTipSelect" onchange="javascript:changeAddons()"><option>Sin Propina</option><option>Con propina 5%</option><option>Con propina 10%</option><option>Con propina 15%</option></select></h3></strong></td>';
          tmpTipSubtotal=Number(currentOrderTotal);
          if(data.tip_option==1){
            tmpTipSubtotal=(Number(currentOrderTotal)+(Number(currentOrderTotal)*.05)).toFixed(2)
          } else if(data.tip_option==2){
            tmpTipSubtotal=(Number(currentOrderTotal)+(Number(currentOrderTotal)*.1)).toFixed(2)
          } else if(data.tip_option==3){
            tmpTipSubtotal=(Number(currentOrderTotal)+(Number(currentOrderTotal)*.15)).toFixed(2)
          }
          extratip+='<td><strong><h3>$'+parseFloat(tmpTipSubtotal).toFixed(2)+'</h3></strong></td></tr>';
          $("#orderItemsPanel").append(extratip);

          // var taxes='<tr><td></td>';
          // taxes+='<td class="highlight"></td>';
          // taxes+='<td></td>';
          // taxes+='<td></td>';
          // taxes+='<td></td>';
          // //taxes+='<td><strong><h3><select class="form-control" id="optionTaxSelect" onchange="javascript:changeAddons()"><option>Sin IVA</option><option selected>Con IVA 16%</option></select></h3></strong></td>' ;
          // if(data.tax_option==1){
          //   tmpTipSubtotal=tmpTipSubtotal+(tmpTipSubtotal*.16)
          // } 
          // taxes+='<td><strong><h3>$'+tmpTipSubtotal.toString()+'</h3></strong></td></tr>';
          // $("#orderItemsPanel").append(taxes);

          var grandtotal='<tr><td></td>';
          if(cstate[currentSelectedOrder]<=10){
            grandtotal+='<td><a class="btn red" href="javascript:cancelOrder()" data-confirm="¡Atención! La cuenta se va a cerrar SIN haberse cobrado, ¿Desea continuar?">Cancelar cuenta</a></td>';
            grandtotal+='<td><a class="btn green" href="javascript:closeCashOrder()" data-confirm="La cuenta se va a marcar como pagada considerando que cobraste en efectivo, ¿Desea continuar?">Pagar cuenta con efectivo</a></td>';
            grandtotal+='<td><a class="btn green" href="javascript:closeCardOrder();">Pagar cuenta usando tarjeta</a></td>';
          } else {
            grandtotal+='<td><a class="btn red" href="javascript:closeForder();" data-confirm="¡Atención! La cuenta se va a marcar como cerrada y no podrá facturar desde el punto de venta, ¿Desea continuar?">Cerrar cuenta</a></td>';
            grandtotal+='<td><a class="btn green" href="javascript:makeQuotation('+currentSelectedOrder+');">Facturar cuenta</a></td>';
            grandtotal+='<td></td>';
          }
          grandtotal+='<td><strong><h3>Gran total</h3></strong></td>';

          grandtotal+='<td><strong><h3>$'+tmpTipSubtotal.toString()+'</h3></strong></td></tr>';
          $("#orderItemsPanel").append(grandtotal);
          $("#optionTipSelect").prop("selectedIndex",data.tip_option);
          $("#optionTaxSelect").prop("selectedIndex",data.tax_option);
    });
  $( "#mask_number" ).focus();
}
function changeAddons(){
  $.post( "/sale_points/puntoDeVentaAlterSetTax.json", 
    { orderadd:currentSelectedOrder,tipSelected:$("#optionTipSelect").prop("selectedIndex"),taxSelected:$("#optionTaxSelect").prop("selectedIndex"),utf8:"✓",authenticity_token:'<%= form_authenticity_token.to_s %>'})
        .done(function( data ) {
          reloadOrderItems();
    });
}
function changeOrder(numOrder){
  currentSelectedOrder=numOrder;
  reloadOrderItems();
}
function alterOrderItem(itemNumber,actionnum){
  //alert("add item to order "+itemNumber.toString()+" action "+actionnum.toString());
  if(currentSelectedOrder!=0){
    $.post( "/sale_points/puntoDeVentaAlterItems.json", 
    { moreless:actionnum,productadd:itemNumber,orderadd:currentSelectedOrder,utf8:"✓",authenticity_token:'<%= form_authenticity_token.to_s %>'})
        .done(function( data ) {
        reloadOrderItems();
    });
   
  } else {
    alert("Debes crear una orden de venta antes de agregar productos.")
  }
}
function searchSKU(){
  if(currentSelectedOrder!=0){
    $.post( "/sale_points/puntoDeVentaSKU.json", 
    { q:$("#mask_number").val(),orderadd:currentSelectedOrder,utf8:"✓",authenticity_token:'<%= form_authenticity_token.to_s %>'})
        .done(function( data ) {
          if (data.length==0) {
            alert("¡Cuidado! este codigo de barras no se encontró, pero aun puedes buscar el articulo en el cuadro de la izquierda.")
          };
        reloadOrderItems();
    });
   
  } else {
    alert("Debes crear una orden de venta antes de agregar productos.")
  }
  $("#mask_number").val("");
}
function cancelOrder(){
  if(currentSelectedOrder!=0){
    
    $.post( "/sale_points/puntoDeVentaCloseOrder.json", 
    { closeType:"cancel",orderadd:currentSelectedOrder,utf8:"✓",authenticity_token:'<%= form_authenticity_token.to_s %>'})
        .done(function( data ) {
          loadac="none";
          currentSelectedOrder=0;
          reloadOrders();
          loadac="start";
    });
   
  } else {
    alert("Debes crear una orden de venta antes de cancelarla.")
  }
  
}
function closeCashOrder(){
  if(currentSelectedOrder!=0){
    if(currentOrderTotal>0){
      $.post( "/sale_points/puntoDeVentaCloseOrder.json", 
      { closeType:"closeCash",orderadd:currentSelectedOrder,utf8:"✓",authenticity_token:'<%= form_authenticity_token.to_s %>'})
          .done(function( data ) {
            loadac="none";
            currentSelectedOrder=0;
            reloadOrders();
            loadac="start";
      });
      } else {
        alert("No hay suficientes productos para cobrar");
      }
   
  } else {
    alert("Debes crear una orden de venta antes de cobrar.")
  }
}

function closeForder(){
  if(currentSelectedOrder!=0){
    if(currentOrderTotal>0){
      $.post( "/sale_points/puntoDeVentaCerrarCuenta.json", 
      { closeType:"closeCash",orderadd:currentSelectedOrder,utf8:"✓",authenticity_token:'<%= form_authenticity_token.to_s %>'})
          .done(function( data ) {
            loadac="none";
            currentSelectedOrder=0;
            reloadOrders();
            loadac="start";
      });
      } else {
        alert("No hay suficientes productos para cobrar");
      }
   
  } else {
    alert("Debes crear una orden de venta antes de cobrar.")
  }
}
var pcashtype='';
function closeCardOrder(){
  if(currentOrderTotal>0){
    pcashtype="closecard";
    $('#optionEnterpriseGroup').hide();
    $('#conname').val('');
    $('#connum').val('');
    $('#concvc').val('');
    $('#conmm').val('');
    $('#conyy').val('');
    $('#subbtn').show();
    $('.card-errors').html('');
    $("#amountToCharge").val("$"+tmpTipSubtotal.toString());
    $("#orderaddp").val(currentSelectedOrder);
    $("#amountToCharge").attr('disabled', 'disabled');
    $("#basic-payment").modal("show");
  } else {
    alert("No hay suficientes productos para cobrar");
  }
}
function makeCardPayment(){
  pcashtype="closecardcash";
  $('#conname').val('');
  $('#optionEnterpriseGroup').show();
  $('#connum').val('');
  $('#concvc').val('');
  $('#conmm').val('');
  $('#conyy').val('');
  $('.card-errors').html('');
  $('#subbtn').show();
  $("#amountToCharge").val("");
  $("#amountToCharge").removeAttr('disabled');
  $("#basic-payment").modal("show");
}
var cardDestination=-1;
function plastizice(){
  <% if @public_conekta_key!=nil && @public_conekta_key!="" %>
  var $form = $('#card-form-payment');
  Conekta.setPublishableKey('<%= @public_conekta_key %>');

  // Inhabilita el botón submit para prevenir múltiples clics
  $form.find('button').prop('disabled', true);
  $form.find('#proc-1').show();
  Conekta.token.create($form, conektaSuccessResponseHandler, conektaErrorResponseHandler);
  return false;
  <% elsif @public_firstdata!=nil && @public_firstdata!="" %>
  var tmpOrder=-1;
  if (pcashtype=="closecard") {
    tmpOrder=currentSelectedOrder;
    cardDestination=-1;
  };
  var $form = $('#card-form-payment');
  $.post( "/sale_points/fd_card.json", 
    { cashtype:pcashtype,
      orderaddp:tmpOrder,
      cardd:cardDestination,
      cardch:$("#amountToCharge").val(),
      cname:$("#conname").val(),
      cnumber:$("#connum").val(),
      cvc:$("#concvc").val(),
      cmonth:$("#conmm").val(),
      cyear:$("#conyy").val(),
      utf8:"✓",
      authenticity_token:'<%= form_authenticity_token.to_s %>'})
        .done(function( data ) {
         var obj = jQuery.parseJSON( data );
         if (obj.order_state==1) {
          setTimeout(validatePayment,5000);
          if(tmpOrder==-1){
            payment_ref=obj.payment_ref;
          }
         } else {
          $form.find('#proc-1').hide(); 
         }
         
    });
  <% else %>
  alert("En este momento no cuentas con herramientas de cobro por tarjeta.");
  return false;
  <% end %>  
}
var payment_ref=0;
var conektaSuccessResponseHandler = function(response) {
  var $form = $('#card-form-payment');
  cardDestination=$("#optionEnterprise").val();
  var token_id = response.id;
  $form.append($('<input type="hidden" name="conektaTokenId" />').val(token_id));
  <% #$form.get(0).submit();
  #en lugar de enviar el formulario hacemos la peticion por json
  %>
  var tmpOrder=-1;
  if (pcashtype=="closecard") {
    tmpOrder=currentSelectedOrder;
    cardDestination=-1;
  };
  $.post( "/sale_points/", 
    { cashtype:pcashtype,orderaddp:tmpOrder,cardd:cardDestination,cardch:$("#amountToCharge").val(),conektaTokenId:token_id,utf8:"✓",authenticity_token:'<%= form_authenticity_token.to_s %>'})
        .done(function( data ) {
         var obj = jQuery.parseJSON( data );
         if (obj.order_state==1) {
          setTimeout(validatePayment,5000);
          if(tmpOrder==-1){
            payment_ref=obj.payment_ref;
          }
         } else {
          $form.find('#proc-1').hide(); 
         }
         
    });
};
function validatePayment(){
  var tmpOrder=-1;
  if (pcashtype=="closecard") {
    tmpOrder=currentSelectedOrder;
  } else {
    tmpOrder=payment_ref;
  }
  $.post( "/sale_points/puntoDeVentaValidar.json", 
    { cashtype:pcashtype,cardd:cardDestination,orderaddp:tmpOrder,utf8:"✓",authenticity_token:'<%= form_authenticity_token.to_s %>'})
        .done(function( data ) {
          var $form = $('#card-form-payment');
         if (data.order_state>=12) {
          $form.find('#proc-1').hide();
          $form.find('.card-errors').html('<div class="alert alert-success"><strong>¡Perfecto!</strong> El cargo se efectuó correctamente</div>');
          $form.find('#conname').val('');
          $form.find('#connum').val('');
          $form.find('#concvc').val('');
          $form.find('#conmm').val('');
          $form.find('#conyy').val('');
          $form.find('#subbtn').hide();
          loadac="none";
          currentSelectedOrder=0;
          reloadOrders();
          loadac="start";
         } else {
            $form.find('#proc-1').hide();
            $form.find('.card-errors').html('<div class="alert alert-danger"><strong>¡Error!</strong> No se pudo concretar el pago con esta tarjeta.</div>');
         }
         $form.find('button').prop('disabled', false);
    });
}
var conektaErrorResponseHandler = function(response) {
  var $form = $('#card-form-payment');
    $form.find('#proc-1').hide();
    // Show the errors on the form
    $form.find('.card-errors').html('<div class="alert alert-danger"><strong>¡Error!</strong>'+response.message+'</div>');
    $form.find('button').prop('disabled', false);
};
</script> 
<% end %>
<% if current_uri.index("facturacions")!=nil or current_uri.index("qiwo_client")!=nil or current_uri.index("qiwo_orders")!=nil%>
<script>
function generateGuide(gitm){
  
  $("#gen-btn-"+gitm).attr('disabled', 'disabled');
  $.post( "/qiwo_clients/attachGuide.json", 
    { delta:gitm,utf8:"✓",authenticity_token:'<%= form_authenticity_token.to_s %>'})
        .done(function( data ) {
          $("#gen-btn-"+gitm).removeAttr('disabled');
          alert(data);
    });
}
function generateRollBack(rbitm,toam){
  var tose=0;
  if (toam==-1) {
    tose=$("#rollBacktxt-"+rbitm).val()
  } else {
    tose=toam;
  }
  $.post( "/facturacions/execRollBack.json", 
    { delta:rbitm,am:tose,utf8:"✓",authenticity_token:'<%= form_authenticity_token.to_s %>'})
        .done(function( data ) {
          populateRollBacks();
          alert("La compra se ha marcado como cancelada, se ha reintegrado la cantidad a stock y la factura electrónica (CFDI) se ha cancelado debidamente ante el SAT.");
    });
}
function populateRollBacks(){
  $.post( "/facturacions/populateRollBack.json", 
    { delta:$("#rollBacktxt").val(),utf8:"✓",authenticity_token:'<%= form_authenticity_token.to_s %>'})
        .done(function( data ) {
          var algo=data;
          
          if(data=="NONE"){
            $("#currentReturn").html('');
            alert("No hay compras cancelables con ese número");
          } else {
            $("#currentReturn").html('');
            for(var cc=0;cc<data.length;cc++){
              $("#currentReturn").append('<tr>');
                var singleOrderItem='<td>'+data[cc].enterprise+'</td>';
                singleOrderItem+='<td>'+data[cc].product+'</td>';
                singleOrderItem+='<td>'+data[cc].quantity+'</td>';
                singleOrderItem+='<td>'+data[cc].total+'</td>';
                singleOrderItem+='<td><div class="col-lg-6"><input type="number" class="form-control" min="1" id="rollBacktxt-'+data[cc].delta+'" placeholder="Cantidad a devolver"></div> <a class="small btn blue" href="javascript:generateRollBack('+"'"+data[cc].delta+"'"+',-1);" data-confirm="Esta a punto de marcar esta compra como una devolución, si la compra tiene una factura, la factura va a generar una nota de credito con el SAT. ¿Deseas continuar con la devolución?">Devolver</a></td>';
                singleOrderItem+='<td><a class="small btn blue" href="javascript:cancelQuote('+"'"+data[cc].delta+"'"+');" data-confirm="Esta a punto de marcar TODA la venta como cancelación, si la venta tiene una factura, la factura se va a cancelar con el SAT. ¿Deseas continuar con la cancelación?">Cancelar</a></td>';
                $("#currentReturn").append(singleOrderItem);
                $("#currentReturn").append('</tr>');
            }
                
          }
        
       
    });
}
</script>
<% end %>
<% if current_uri.index("qiwo_employees")!=nil %>
<script>
function populateEmployees(){
  $.post( "/qiwo_employees/misEmpleados.json", 
    { orderView:currentSelectedOrder,utf8:"✓",authenticity_token:'<%= form_authenticity_token.to_s %>'})
        .done(function( data ) {
          $("#currentEmployees").html('');
        for(var cc=0;cc<data.length;cc++){
          var singleOrderItem='<tr><td><a class="small btn blue" href="javascript:fireDude('+data[cc].mref+');" data-confirm="¿Deseas revocar acceso a esta persona para que administre tus productos?, Si presionas Aceptar esta persona ya no podrá vender o administrar tus productos.">Despedir</a></td>';
          singleOrderItem+='<td><ul class="chats"><li><img class="avatar img-responsive" src="'+data[cc].pic+'" /></li></ul></td>';
          singleOrderItem+='<td>'+data[cc].name+'</td>';
          singleOrderItem+='<td>'+data[cc].store+'</td>';
          singleOrderItem+='<td>$'+data[cc].sales+'</td>';
          singleOrderItem+='<td><select ><option value="1">Ninguno</option><option value="1">Solo visualizar</option><option value="1">Visualizar y modificar</option></select></td>';
          singleOrderItem+='<td><select ><option value="1">Ninguno</option><option value="1">Solo visualizar</option><option value="1">Visualizar y modificar</option></select></td>';
          singleOrderItem+='<td><select ><option value="1">Ninguno</option><option value="1">Solo visualizar</option><option value="1">Visualizar y modificar</option></select></td>';
          $("#currentEmployees").append(singleOrderItem);
        }
       
    });
}
var usertohire='';
function alterOrderItem(fbu,fbo){
  usertohire=fbu;
}
function hireEmployee(){
  $.post( "/qiwo_employees/contratarEmpleado.json", 
    { fbtype:usertohire,stype:$("#optionEnterprise").val(),utf8:"✓",authenticity_token:'<%= form_authenticity_token.to_s %>'})
        .done(function( data ) {
          populateEmployees();
    });
}
function fireDude(ref){
  $.post( "/qiwo_employees/despedirEmpleado.json", 
    { empref:ref,utf8:"✓",authenticity_token:'<%= form_authenticity_token.to_s %>'})
        .done(function( data ) {
          populateEmployees();
    });
}

</script>
<% end %>
<% if current_uri.index("blog")!=nil and  session[:activeUser]!=nil%>
<script>
function openBlogEditor(){
  var myWindow = window.open("/blogs/new", "Blog editor", "width=900, height=750");
  
}

</script>
<% end %>
<% if current_uri.index("redpack")!=nil %>
<script>
function createNewShippingGuide(){
  $.post( "/redpacks/allowGuide.json", 
    { utf8:"✓",authenticity_token:'<%= form_authenticity_token.to_s %>'})
        .done(function( data ) {
          if(data.type=="Error"){
            alert(data.mensaje);
          } else {
            $('#new_address').modal('show');
            $( "#new_address" ).load( "/qiwo_enterprises/shipping_delivery/edit" );
          }
    });
  
}

</script>
<% end %>
<div id="privacy-policy" class="modal fade" tabindex="-1" role="basic" aria-hidden="true">
        <img src="/assets/img/ajax-modal-loading.gif" alt="" class="loading">
</div>
<div id="termsandconditions" class="modal fade" tabindex="-1" role="basic" aria-hidden="true">
        <img src="/assets/img/ajax-modal-loading.gif" alt="" class="loading">
</div>
<div id="who-we-are" class="modal fade" tabindex="-1" role="basic" aria-hidden="true">
        <img src="/assets/img/ajax-modal-loading.gif" alt="" class="loading">
</div>
<footer >
    <div style="float:left;color:white;">
        <a href="" data-toggle="modal" data-target="#privacidad">
        Coinless® </a> <a href="/terms_and_conditions.html" data-toggle="modal" data-target="#privacidad">| Aviso de privacidad</a> <a href="/aviso_legal.html" data-toggle="modal" data-target="#terminos"> | Terminos y condiciones</a> <a href="/who_we_are.html" data-toggle="modal" data-target="#nosotros"> | Quienes somos</a>
          </div>
    <div >
        <% if current_uri!="/" %>
      <div class="social-wrapper ">
        <a class="w-inline-block social-link" href="https://www.facebook.com/coinlessmx" target="_blank">
          <img src="/images/gfacebook.png" width="32" alt="gfacebook.png">
        </a>
        <!-- <a class="w-inline-block social-link" href="http://#" target="_blank">
          <img src="/images/ggoogle_plus.png" width="32" alt="ggoogle_plus.png">
        </a> -->
        <!-- <a class="w-inline-block social-link" href="http://#" target="_blank">
          <img src="/images/glinkedin.png" width="32" alt="glinkedin.png">
        </a> -->
        <a class="w-inline-block social-link" href="https://twitter.com/coinlessnet" target="_blank">
          <img src="/images/gtwitter.png" width="32" alt="gtwitter.png">
        </a>
      </div>
      <% end %>
    </div>
  </footer>
  <% if current_uri=="/" or current_uri.index("searches")!=nil or current_uri.index("tienda")!=nil or current_uri.index("articulo")!=nil%>
<script src="/assets/scripts/app.js"></script>
<script src="/assets/scripts/form-components.js?hash=20201026"></script> 
<script>
    
jQuery(document).ready(function() {   
         App.init(); // initlayout and core plugins 
         
         FormComponents.init();
        

         
      });
 $(function () {
    var parent = window.top || window;
    if (parent.paypal_flows) {
      $.each(parent.paypal_flows, function (index, flow) {
        if (flow.isOpen()) {
          flow.closeFlow();
        }
      });
    }
    parent.location = "<%= @redirect_uri %>";
  });
  
      function startImgSlider(){
        $('#slider').nivoSlider();
      }

      function openProductWindow(productID){
        
        $("#product-popup-"+productID).mikesModal();
      }
      </script>

<% end %>
<% if current_uri.index("searches")==nil and current_uri.index("tienda")==nil and current_uri.index("articulo")==nil%>
<!-- zen script -->
<% end %>
</body>
</html>
